<% content_for :page_title, @user.name %>
<% content_for :card do %>
  <div class="client-edit">
    <%= form_with model: [:hub, @user], method: :put, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
      <h1><%= @user.name %></h1>
      <p>
        <strong><%= t("general.email") %>:</strong> <%= @user.email %>
      </p>

      <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>

      <h2><%= "Organization Memberships" %></h2>
      <%= f.fields_for :memberships do |ff| %>
        <% render "memberships", f: ff %>
      <% end %>

      <%= link_to_add_fields("Add membership", f, :memberships, { class: "button button--small" }, partial: "hub/users/memberships") %>

      <h2><%= t("general.role") %></h2>

      <%= f.cfa_checkbox(:is_admin, t(".is_admin_label"), options: {classes: ["form-width--long"], disabled: !current_user.is_admin }) %>

      <button class="button" type="submit">
        <%=t("general.save") %>
      </button>
    <% end %>
  </div>
<% end %>
