<% content_for :page_title, @user.name %>
<% content_for :card do %>
  <h1><%= @user.name %></h1>

  <h2>Current role</h2>

  <p><%= [user_role(@user), user_group(@user)].compact.join(", ") %></p>

  <h2>New role</h2>

  <%= form_for(@user, method: :patch, url: update_role_hub_user_path, local: true, builder: VitaMinFormBuilder) do |f| %>

    <%= f.hidden_field :role, value: params.dig(:user, :role) %>
    <% if params.dig(:user, :role) == AdminRole::TYPE %>
      <p><%= t("general.admin") %></p>
    <% end %>

    <% if params.dig(:user, :role) == ClientSuccessRole::TYPE %>
      <p><%= t("general.client_success") %></p>
    <% end %>

    <% if params.dig(:user, :role) == GreeterRole::TYPE %>
      <p><%= t("general.greeter") %></p>
    <% end %>

    <% if params.dig(:user, :role) == CoalitionLeadRole::TYPE %>
      <p><%= t("general.coalition_lead") %></p>
      <%= label_tag(:coalition_id, t("devise.invitations.new.coalition_label")) %>
      <%= select_tag(:coalition_id, options_for_select(@coalitions.all.map { |coalition| [coalition.name, coalition.id] })) %>
    <% end %>

    <% if params.dig(:user, :role) == OrganizationLeadRole::TYPE %>
      <p><%= t("general.organization_lead") %></p>
      <%= label_tag(:organization_id, t("devise.invitations.new.organization_label")) %>
      <%= select_tag(:organization_id, options_for_select(@vita_partners.organizations.map { |org| [org.name, org.id] })) %>
    <% end %>

    <% if params.dig(:user, :role) == SiteCoordinatorRole::TYPE %>
      <p><%= t("general.site_coordinator") %></p>
      <%= label_tag(:site_id, t("devise.invitations.new.site_label")) %>
      <%= select_tag(:site_id, options_for_select(@vita_partners.sites.map { |site| [site.name, site.id] })) %>
    <% end %>

    <% if params.dig(:user, :role) == TeamMemberRole::TYPE %>
      <p><%= t("general.team_member") %></p>
      <%= label_tag(:site_id, t("devise.invitations.new.site_label")) %>
      <%= select_tag(:site_id, options_for_select(@vita_partners.sites.map { |site| [site.name, site.id] })) %>
    <% end %>

    <div>
      <%= f.submit t("general.submit"), class: "button button--primary" %>

      <%= link_to t("general.cancel"), edit_hub_user_path, class: "button" %>
    </div>
  <% end %>
<% end %>
