<% content_for :page_title, @user.name %>
<% content_for :card do %>
  <div class="slab slab--padded">
    <h1><%= @user.name %></h1>

    <h2>Current role</h2>

    <p><%= [user_role_name(@user), user_group(@user)].compact.join(", ") %></p>

    <h2>New role</h2>

    <% errors = @role.errors.full_messages %>
    <% if errors.present? %>
      <ul>
        <% errors.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for(@user, method: :patch, url: update_role_hub_user_path, local: true, builder: VitaMinFormBuilder) do |f| %>

      <%= f.hidden_field :role, value: @role.class.name %>
      <% if @role.is_a?(AdminRole) %>
        <p><%= t("general.admin") %></p>
      <% end %>

      <% if @role.is_a?(StateFileNjStaffRole) %>
        <p><%= t("general.nj_staff") %></p>
      <% end %>

      <% if @role.is_a?(ClientSuccessRole) %>
        <p><%= t("general.client_success") %></p>
      <% end %>

      <% if @role.is_a?(GreeterRole) %>
        <p><%= t("general.greeter") %></p>
      <% end %>

      <% if @role.is_a?(CoalitionLeadRole) %>
        <p><%= role_name_from_role_type(CoalitionLeadRole::TYPE) %></p>
        <div class="form-group">
          <%= label_tag(:coalition_id, t("devise.invitations.new.coalition_label"), class: "form-question") %>
          <div class="form-width--long">
            <% coalition_value = taggable_format( @user.role.is_a?(CoalitionLeadRole) && @user.role.coalition.present? ? [{ value: @user.role.coalition.id, name: @user.role.coalition.name }] : []) %>
            <%= hidden_field_tag(:coalition, coalition_value, class: "select-vita-partner select__element") %>
          </div>
        </div>
      <% end %>

      <% if @role.is_a?(OrganizationLeadRole) %>
        <p><%= role_name_from_role_type(OrganizationLeadRole::TYPE) %></p>
        <div class="form-group">
          <%= label_tag(:organization, t("devise.invitations.new.organization_label"), class: "form-question") %>
          <div class="form-width--long">
            <% org_value = taggable_format( @user.role.is_a?(OrganizationLeadRole) && @user.role.organization.present? ? [{ value: @user.role.organization.id, name: @user.role.organization.name }] : []) %>
            <%= hidden_field_tag(:organization, org_value, class: "select-vita-partner select__element") %>
          </div>
        </div>
      <% end %>

      <% if @role.is_a?(SiteCoordinatorRole) || @role.is_a?(TeamMemberRole) %>
        <p><%= role_name_from_role_type(@role.class.name) %></p>

        <div class="form-group">
          <%= label_tag(:sites, t("devise.invitations.new.site_label"), class: "form-question") %>
          <div class="select form-width--long">
            <% site_value = taggable_format((@role&.respond_to?(:sites) ? @role.sites : []).map { |site| { value: site.id, name: site.name }}) %>
            <%= hidden_field_tag(:sites, site_value, class: "multi-select-vita-partner select__element") %>
          </div>
        </div>
      <% end %>

      <div>
        <%= f.submit t("general.submit"), class: "button button--primary" %>

        <%= link_to t("general.cancel"), edit_hub_user_path, class: "button" %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :script do %>
  <script>
      window.taggableItems = <%= taggable_items_from_role_type(params[:role]) %>;
  </script>
<% end %>
