<% content_for :page_title, @user.name %>
<% content_for :card do %>
  <div class="hub-form">
    <%= form_with model: [:hub, @user], method: :put, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
      <h1><%= @user.name %></h1>
      <p>
        <strong><%= t("general.email") %>:</strong> <%= @user.email %>
      </p>

      <%= f.cfa_input_field(:phone_number, t("general.phone_number"), type: "phone") %>
      <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>

      <h2><%= t("general.role") %></h2>

      <fieldset class="input-group form-group">
        <label class="checkbox">
          <%= check_box_tag("user[is_admin]", true, @user.role_type == "AdminRole", classes: ["form-width--long"], disabled: current_user.role_type != "AdminRole") %>
          <%= t('.is_admin_label') %>
        </label>
      </fieldset>

      <%= f.cfa_checkbox(:is_client_support, t(".is_client_support_label"), options: { classes: ["form-width--long"], disabled: current_user.role_type != "AdminRole" }) %>
      <% if current_user.role_type == "AdminRole" %>
        <div class="reveal">
          <p><a href="#" class="reveal__link">Select supported organizations</a></p>
          <div class="reveal__content">
            <% VitaPartner.all.map do |vita_partner| %>
              <%= f.cfa_checkbox(
                      :supported_organization_ids,
                      vita_partner.name,
                      options: {
                          checked_value: vita_partner.id,
                          unchecked_value: "",
                          multiple: true,
                      }
                  ) %>
            <% end %>
          </div>
        </div>
      <% end %>

      <button class="button" type="submit">
        <%=t("general.save") %>
      </button>
    <% end %>
  </div>
<% end %>
