<% content_for :page_title, @user.name %>
<% content_for :card do %>
  <div class ="slab slab--padded">
    <div>
      <h1><%= @user.name %></h1>

      <% if can?(:edit, @user) %>
        <% if @user.access_locked? %>
          <%= link_to t("hub.unlock_account"), unlock_hub_user_path(id: @user), method: :patch, class: "button button--danger", data: {confirm: t("hub.unlock_confirmation", name: @user.name )} %>
        <% end %>
          <%= link_to t("general.delete"), hub_user_path(id: @user), method: :delete, class: "button button--danger", data: {confirm: t(".delete_confirmation", name: @user.name)} %>
        <% if @user.suspended? %>
          <%= link_to t("hub.unsuspend_account"), unsuspend_hub_user_path(id: @user), method: :patch, class: "button button--danger"%>
        <% else %>
          <%= link_to t("hub.suspend_account"), suspend_hub_user_path(id: @user), method: :patch, class: "button button--danger", data: {confirm: t("hub.suspend_confirmation", name: @user.name )} %>
        <% end %>
      <% end %>

      <%= form_with model: [:hub, @user], method: :put, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card' } do |f| %>
        <div>
          <div class="form-group">
            <%= label_tag(:email, t("general.email"), class: "form-question") %>
            <%= text_field_tag :email, @user.email, disabled: true, class: "text-input form-width--long" %>
            <% unless @user.invitation_accepted? %>
              <%= link_to t("general.resend_invitation"), user_profile_resend_invitation_path(user_id: @user.id), class: "button button--small spacing-above-5", style:"margin-bottom: 0", method: :put %>
            <% end %>
          </div>
        </div>

        <%= f.cfa_input_field(:name, t("general.name"), classes: ['form-width--long']) %>
        <%= f.cfa_input_field(:phone_number, t("general.phone_number"), classes: ['form-width--long']) %>
        <div class="form-width--long">
          <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>
        </div>

        <button class="button button--cta" type="submit">
          <%=t("general.save") %>
        </button>

        <%= link_to t("general.cancel"), hub_users_path, class: "button" %>

        <h2><%= t("general.role") %></h2>

        <p id="current-role"><%= [user_role(@user), user_group(@user)].compact.join(", ") %></p>

        <div style="width: 375px">
          <%= render('components/molecules/reveal', title: t(".reassign")) do %>
            <ul class="list--bulleted">
              <% User.roles.each do |role_type| %>
                <% if can?(:manage, role_type.constantize)  %>
                  <li><%= link_to readable_role_from_role_type(role_type), edit_role_hub_user_path(role: role_type) %></li>
                <% end %>
            <% end %>
            </ul>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
<% end %>
