<% content_for :page_title, @user.name %>
<% content_for :card do %>
  <div class="hub-form">

      <h1><%= @user.name %></h1>

    <%= link_to t("general.delete"), hub_user_path(id: @user), method: :delete, class: "button button--danger", data: {confirm: t(".delete_confirmation", name: @user.name)} %>

    <% if @user.access_locked? %>
      <%= link_to t(".unlock_account"), unlock_hub_user_path(id: @user), method: :patch, class: "button button--danger", data: {confirm: t(".unlock_confirmation", name: @user.name )} %>
    <% end %>

    <%= form_with model: [:hub, @user], method: :put, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
      <p>
        <strong><%= t("general.email") %>:</strong> <%= @user.email %>
      </p>

      <%= f.cfa_input_field(:phone_number, t("general.phone_number"), type: "phone") %>
      <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>

      <h2><%= t("general.role") %></h2>

      <fieldset class="input-group form-group">
        <label class="checkbox">
          <%= check_box_tag("user[is_admin]", true, @user.admin?, classes: ["form-width--long"], disabled: !current_user.admin?) %>
          <%= t('.is_admin_label') %>
        </label>
      </fieldset>

      <div>
        <%= link_to t("general.resend_invitation"), user_profile_resend_invitation_path(user_id: @user.id), class: "button button-small", method: :put %>
      </div>

      <button class="button button--cta" type="submit">
        <%=t("general.save") %>
      </button>

      <%= link_to t("general.cancel"), hub_users_path, class: "button" %>
    <% end %>
  </div>
<% end %>
