<%= content_for :back_to, "profile" %>
<% content_for :page_title, t(".title") %>

<% content_for :card do %>
  <div class="slab">
    <h1 class="h1"><%= t(".title") %></h1>
    <table class="index-table user-table">
      <caption class="index-table__title">
        <%= page_entries_info @users, model: "entry" %>
        <%= will_paginate(
              @users,
              previous_label: "<i class=\"icon icon-keyboard_arrow_left\"></i><span class=\"hide-on-mobile\"> Previous</span>",
              next_label: "<span class=\"hide-on-mobile\">Next </span><i class=\"icon icon-keyboard_arrow_right\"></i>",
              inner_window: 1,
              outer_window: 1,
              param_name: "page",
            ) %>
      </caption>

      <thead class="index-table__head">
      <tr class="index-table__row">
        <th scope="col" class="index-table__header"><%= t("general.name") %></th>
        <th scope="col" class="index-table__header"><%= t("general.email") %></th>
        <th scope="col" class="index-table__header"><%= t("general.role") %></th>
        <th scope="col" class="index-table__header"><%= t("general.organization") %></th>
        <th scope="col" class="index-table__header"><%= t(".needs_to_accept_invite") %></th>
      </tr>
      </thead>

      <tbody class="index-table__body">
      <% @users.each do |user| %>
        <tr id="user-<%= user.id %>" class="index-table__row">
          <th scope="row" class="index-table__row-header">
            <% if can?(:edit, user) %>
              <%= link_to user.name, edit_hub_user_path(id: user) %>
            <% else %>
              <%= user.name %>
            <% end %>
          </th>
          <td class="index-table__cell">
            <%= user.email %>
            <% if user.access_locked? %>
              <span class="locked label label--red"><%= t("general.locked") %></span>
            <% end %>
            <% if user.suspended? %>
              <span class="locked label label--red"><%= t("general.suspended") %></span>
            <% end %>
          </td>
          <td class="index-table__cell"><%= user_role(user) %></td>
          <td class="index-table__cell"><%= user_group(user) || t("general.none") %></td>
          <td class="index-table__cell"><%= t("general.affirmative") if user.invitation_sent_at.present? && user.invitation_accepted_at.nil? %></td>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
<% end %>
