<%= content_for :back_to, "dashboard" %>

<% content_for :page_title, current_user.name %>
<% content_for :card do %>
  <section class="slab slab--padded">

    <h1 class="h1 spacing-below-35"><%= t("general.my_profile") %></h1>
    <div class="field-display">
      <span class="form-question"><%= t("general.name") %></span>
      <span class="label-value"><%= current_user.name %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t("general.email") %></span>
      <span class="label-value"><%= current_user.email %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t("general.role") %></span>
      <span class="label-value"><%= user_role(current_user) %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t("general.organization") %></span>
      <span class="label-value"><%= user_group(current_user) || t("general.none") %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t(".start_date") %></span>
      <span class="label-value"><%= default_date_format(current_user.start_date) %></span>
    </div>

    <ul class="actions spacing-above-25">
      <% if can? :manage, TeamMemberRole %>
        <li class="user-action-link">
          <%= link_to invitations_path, class: "button button--small" do %>
            <%= t("general.invitations") %>
          <% end %>
        </li>
      <% end %>

      <li class="user-action-link">
        <%= link_to hub_clients_path, class: "button button--small" do %>
          <%= t(".clients_link") %>
        <% end %>
      </li>

      <li class="user-action-link">
        <%= link_to hub_users_path, class: "button button--small" do %>
          <%= t(".users_link") %>
        <% end %>
      </li>

      <% if can?(:read, Coalition) || current_user.greeter? %>
        <li class="user-action-link">
          <%= link_to hub_organizations_path, class: "button button--small" do %>
            <%= t("general.organizations") %>
          <% end %>
        </li>
      <% elsif current_user.org_lead? %>
        <li class="user-action-link">
          <%= link_to hub_organization_path(id: current_user.role.organization), class: "button button--small" do %>
            <%= t("general.organization") %>
          <% end %>
        </li>
      <% end %>

      <% if can?(:manage, VitaPartnerState) %>
        <li class="user-action-link">
          <%= link_to hub_state_routings_path, class: "button button--small" do %>
            <%= t("general.routing") %>
          <% end %>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="user-action-link">
          <%= link_to hub_automated_messages_path, class: "button button--small" do %>
            <%= t("hub.automated_messages.index.title") %>
          <% end %>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="user-action-link">
          <%= link_to hub_ctc_admin_tools_path, class: "button button--small" do %>
            CTC Admin Tools
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if false %>
      <%= t("test_key") %>
    <% end %>
  </section>
<% end %>
