<% content_for :page_title, current_user.name %>
<% content_for :card do %>
  <section class="slab">

    <h1 class="h1 spacing-below-35"><%= t("general.my_profile") %></h1>
    <div class="field-display">
      <span class="form-question"><%= t("general.name") %></span>
      <span class="label-value"><%= current_user.name %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t("general.email") %></span>
      <span class="label-value"><%= current_user.email %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t("general.role") %></span>
      <span class="label-value"><%= user_role_name(current_user) %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t("general.organization") %></span>
      <span class="label-value"><%= user_group(current_user) || t("general.none") %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t(".start_date") %></span>
      <span class="label-value"><%= default_date_format(current_user.start_date) %></span>
    </div>

    <% if current_user.admin? %>
      <div class="field-display">
        <span class="form-question">State-File</span>
        <span class="label-value"><%= current_user.role.state_file? %></span>
      </div>

      <div class="field-display">
        <span class="form-question">Engineer</span>
        <span class="label-value"><%= current_user.role.engineer? %></span>
      </div>
    <% end %>

    <% if Flipper.enabled?(:hub_email_notifications) %>
      <h1 class="spacing-below-10"><%= t(".notifications_title") %></h1>
      <p><%= t(".notifications_subtitle") %></p>


      <%= form_with model: @form,
                    url: hub_update_notification_preferences_path,
                    method: :patch,
                    local: true,
                    builder: VitaMinFormBuilder,
                    html: { class: 'form-card' } do |f| %>
        <%= f.hub_checkbox(:client_messages_notification, "<strong>Client Messages</strong>", options: { checked_value: "yes", unchecked_value: "no"  }) %>
        <p style="margin-left: 30px; margin-top: -35px"> <%= t(".client_messages_notification_description") %> </p>
        <%= f.hub_checkbox(:document_uploads_notification, "<strong>Client document uploads</strong>", options: { checked_value: "yes", unchecked_value: "no"  }) %>
        <p style="margin-left: 30px; margin-top: -35px"> <%= t(".document_uploads_notification_description") %></p>
        <%= f.hub_checkbox(:client_assignments_notification, "<strong>Client Assignment</strong>", options: { checked_value: "yes", unchecked_value: "no"  }) %>
        <p style="margin-left: 30px; margin-top: -35px"> <%=t(".client_assignments_notification_description") %></p>
        <%= f.hub_checkbox(:unsubscribe_all, "<strong>Unsubscribe</strong>", options: { checked_value: "yes", unchecked_value: "no" }) %>
        <p style="margin-left: 30px; margin-top: -35px"> <%=t(".unsubscribe_all_description")%></p>

        <%= f.submit(t(".save"), class: "button button--cta button--no-margin") %>
      <% end %>
    <% end %>
  </section>
<% end %>
