<% content_for :page_title, current_user.name %>
<% content_for :card do %>
  <section class="slab">

    <h1 class="h1 spacing-below-35"><%= t("general.my_profile") %></h1>
    <div class="field-display">
      <span class="form-question"><%= t("general.name") %></span>
      <span class="label-value"><%= current_user.name %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t("general.email") %></span>
      <span class="label-value"><%= current_user.email %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t("general.role") %></span>
      <span class="label-value"><%= user_role(current_user) %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t("general.organization") %></span>
      <span class="label-value"><%= user_group(current_user) || t("general.none") %></span>
    </div>
    <div class="field-display">
      <span class="form-question"><%= t(".start_date") %></span>
      <span class="label-value"><%= default_date_format(current_user.start_date) %></span>
    </div>
  </section>
<% end %>
