<% @main_heading = t("views.ctc.questions.restrictions.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <p class="text--bold"><%= t("views.ctc.questions.restrictions.list_title", current_tax_year: MultiTenantService.new(:ctc).current_tax_year)%></p>
  <ul class="list--bulleted">
    <% t("views.ctc.questions.restrictions.list", current_tax_year: MultiTenantService.new(:ctc).current_tax_year).each do |list| %>
      <li><%= list %></li>
    <% end %>
  </ul>

  <%= render('components/molecules/reveal', title: t("views.ctc.questions.restrictions.multiple_support_agreement_reveal.title")) do %>
    <p><%= t("views.ctc.questions.restrictions.multiple_support_agreement_reveal.content.p1") %></p>
    <p><%= t("views.ctc.questions.restrictions.multiple_support_agreement_reveal.content.p2") %></p>
  <% end %>

  <%= link_to next_path, class: "button button--wide text--centered spacing-above-60 button--primary" do %>
    <%= t("general.continue") %>
  <% end %>

  <%= link_to Ctc::Questions::UseGyrController.to_path_helper, class: "button button--wide text--centered ", "data-track-click": "gctc_to_gyr_restrictions" do %>
    <%= t("views.ctc.questions.restrictions.cannot_use_ctc") %>
  <% end %>
<% end %>
