<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <h3 class="section-title">
          <%= image_tag("#{section_title.parameterize}.svg", alt: "") %>
          <%= section_title %>
        </h3>

        <main role="main">

          <h1 class="form-question">Great, let’s save your W-2’s.</h1>
          <p>Unclear about your W2’s? Here’s some helpful information.</p>

          <%# uploaded documents %>
          <% if @documents.present? %>
            <ul class="document-upload-previews">
              <% @documents.each do |document| %>

                <li class="document-preview">
                  <div class="thumbnail"><%= image_tag document.upload.variant(resize: "140x140") %></div>
                  <h3 class="document_filename"><%= document.upload.filename %></h3>
                  <%= link_to(document_path(document, return_path: current_path), method: :delete, data: { confirm: "Are you sure you want to remove \"#{document.upload.filename}\"?" }) do %>
                    Remove
                  <% end %>
                </li>

              <% end %>
            </ul>
          <% end %>

          <%# document upload form %>
          <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, id: "file-upload-form" do |f| %>
            <div class="document-upload with-padding-med">
              <div class="file-upload">
                <%= f.cfa_file_field(:document, "Select a file", classes: ["form__documentuploader"]) %>
                <%= f.label(:document, class: "button is-tablet-hidden--inline", style: "display: none !important;") do %>
                  Select a file
                <% end %>

                <%= f.label(:document, class: "button is-desktop-hidden--inline", style: "display: none !important;") do %>
                  Take a picture
                <% end %>
              </div>
            </div>

            <%= f.button class: "button button--primary" do %>
              Done with this step
            <% end %>
          <% end %>
          <script type="text/javascript" charset="utf-8">
            function submitFileUploadFormImmediately(_event){
              // This will submit the form when called. It will skip any onSubmit listeners.
              document.getElementById('file-upload-form').submit();
            }

            document.getElementById('w2s_form_document').addEventListener('change', submitFileUploadFormImmediately);
          </script>

        </main>
      </div>
    </div>
  </section>
<% end %>
