<p>
  <%= I18n.t("high_support_mailer.01_hi", first_name: @diy_intake.preferred_first_name) %>
</p>

<p>
  <%= I18n.t("high_support_mailer.02_this_is_gyr",
             diy_link: link_to(I18n.t('questions.triage.diy_tile.title'), diy_url),
             guide_link: link_to(I18n.t("high_support_mailer.file_myself_guide_and_video_tutorials"), "https://files.codeforamerica.org/2023/03/07165831/2023-file-myself-with-getyourrefund-client-guide.pdf"),
      ).html_safe %>
</p>

<p>
  <%= I18n.t("high_support_mailer.03_if_you_get_stuck",
             chat_with_us_link: link_to(I18n.t("general.here"), faq_question_url(section_key: :how_does_getyourrefund_work, question_key: :what_is_file_myself_and_how_does_it_work, diy_chat_with_us_token: @diy_intake.token, anchor: :open_intercom)),
             email_us_link: '<a href="mailto:diy@getyourrefund.org">diy@getyourrefund.org</a>',
      ).html_safe
  %>
</p>

<p><%= I18n.t("high_support_mailer.04_we_re_here_to_help") %></p>

<p>GetYourRefund</p>
</br>
<%= auto_link(t("outgoing_email_mailer.user_message.unsubscribe", unsubscribe_link: @unsubscribe_link)) %>
