<% content_for :page_title, t("views.ctc.questions.confirm_information.title") %>

<% content_for :form_card do %>
  <h1 class="h2"><%= content_for(:page_title) %></h1>

  <div class="review-box spacing-below-35">

    <%= render 'primary_filer_info', intake: current_intake, edit_controller: Ctc::Update::PrimaryFilerController %>

    <%= render 'mailing_address', intake: current_intake, edit_controller: Ctc::Update::MailingAddressController %>

    <% if current_intake.filing_jointly? %>
      <%= render 'spouse_info', intake: current_intake, edit_controller: Ctc::Update::SpouseController %>
    <% end %>

    <% qualifying_dependents = current_intake.tax_return(2020).qualifying_dependents %>
    <h2 class="review-box__title"><%= t("views.ctc.questions.confirm_information.your_dependents") %></h2>

    <% if qualifying_dependents.present? %>

      <div class="dependents-info">
        <ul>
          <%=
            render(
                partial: 'ctc/questions/dependents/confirm_dependents/dependent',
                locals: { edit_controller: Ctc::Update::DependentsController },
                collection: qualifying_dependents
            )
          %>
        </ul>
      </div>
    <% else %>
      <div class="review-box__space-between">
        <div><%= I18n.t("views.ctc.questions.dependents.confirm_dependents.no_qualifying_dependents") %></div>
      </div>
    <% end %>

    <% if current_intake.refund_payment_method_direct_deposit? %>
      <div class="review-box__title">
        <h2><%= t("views.ctc.questions.confirm_bank_account.bank_information") %></h2>
      </div>
      <ul class="spacing-below-0">
        <li class="review-box__name"><%= current_intake.bank_account.bank_name %></li>
        <li class="review-box__details"><%= t("general.type") %>: <%= current_intake.bank_account.account_type&.titleize %></li>
        <li class="review-box__details"><%= t("general.bank_account.routing_number") %>: <%= current_intake.bank_account.routing_number %></li>
        <li class="review-box__details"><%= t("general.bank_account.account_number") %>: <%= mask(current_intake.bank_account.account_number, 4) %></li>
      </ul>
    <% end %>
  </div>

  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <p class="spacing-below-35"><%= t("views.ctc.questions.confirm_information.pin_help_text") %></p>
    <%= f.cfa_input_field(:primary_signature_pin, t("views.ctc.questions.confirm_information.labels.signature_pin", name: current_intake.primary_full_name), type: "tel", classes: ["form-width--long"]) %>
    <% if current_intake.filing_jointly? %>
      <%= f.cfa_input_field(:spouse_signature_pin, t("views.ctc.questions.confirm_information.labels.signature_pin", name: current_intake.spouse_full_name), type: "tel", classes: ["form-width--long"]) %>
    <% end %>

    <button class="button button--primary button--wide spacing-above-60" type="submit">
      <%=t("views.ctc.questions.confirm_information.ready_to_file") %>
    </button>
  <% end %>
<% end %>
