<% content_for :page_title, t("views.stimulus.filing_might_help.title") %>

<% content_for :form_card do %>
  <div class="form-card">
    <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
      <h1 class="form-question">
        <%= content_for(:page_title) %>
      </h1>

      <p>
        <%=t("views.stimulus.filing_might_help.info") %>
      </p>

      <div class="text--semibold spacing-below-60">
        <p><%=t("views.stimulus.filing_might_help.list.header") %></p>
        <ul class="checkmark-list blue">
          <li>
            <%=t("views.stimulus.filing_might_help.list.item_1") %>

          </li>
          <li>
            <%=t("views.stimulus.filing_might_help.list.item_2") %>
          </li>
        </ul>
      </div>

      <%= f.button :submit, name: "#{f.object_name}[chose_to_file]", value: "yes", class: "button button--primary button--wide", "aria-describedby": "main-question" do %>
        <%=t("views.stimulus.filing_might_help.button_yes") %>
      <% end %>
      <%= f.button :submit, name: "#{f.object_name}[chose_to_file]", value: "no", class: "button button--wide", "aria-describedby": "main-question" do %>
        <%=t("views.stimulus.filing_might_help.button_no") %>
      <% end %>
    <% end %>
  </div>
<% end %>