<% @main_question = t("views.questions.savings_options.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="h2" id="main-question"><%= @main_question %></h1>

    <div class="form-card__stacked-checkboxes">
      <%= f.cfa_checkbox(
        :savings_split_refund,
        t("views.questions.savings_options.savings_split_refund"),
        options: {
          checked_value: "yes",
          unchecked_value: "no",
          "aria-describedby": "main-question"
        }
      ) %>
      <%= f.cfa_checkbox(
        :savings_purchase_bond,
        t("views.questions.savings_options.savings_purchase_bond"),
        options: {
          checked_value: "yes",
          unchecked_value: "no",
          "aria-describedby": "main-question"
        }
      ) %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      <%=t("general.continue") %>
    </button>
  <% end %>
<% end %>
