<div class="form_13614c-page-links">
  <% if current_page == 1 %>
    1
  <% else %>
    <%= link_to "1", edit_13614c_form_page1_hub_client_path %>
  <% end %>
  |
  <% if current_page == 2 %>
    2
  <% else %>
    <%= link_to "2", edit_13614c_form_page2_hub_client_path %>
  <% end %>
  |
  <% if current_page == 3 %>
    3
  <% else %>
    <%= link_to "3", edit_13614c_form_page3_hub_client_path %>
  <% end %>
 |
  <% if current_page == 4 %>
    4
  <% else %>
    <%= link_to "4", edit_13614c_form_page4_hub_client_path %>
  <% end %>
 |
  <% if current_page == 5 %>
    5
  <% else %>
    <%= link_to "5", edit_13614c_form_page5_hub_client_path %>
  <% end %>

</div>
