<% if @client.archived? %>
  <div class="slab slab--flash flash--warning">
    <div class="grid-flex center-aligned">
      <%= image_tag("icons/warning-triangle.svg", class: "item-15r") %>
      <span><%= t('hub.archived_client_warning') %></span>
    </div>
  </div>
<% end %>

<section class="slab slab--padded">
  <div class="client-header">
    <div class="client-header__left">
      <div class="title-row">
        <h1 class="h1">
          <%= @client.preferred_name %>
        </h1>
        <span class="text--help">#<%= @client.id %></span>
        <%= render "shared/urgent_icon", client: @client %>

        <% if @client.access_locked? %>
          <%= link_to t("hub.unlock_account"), unlock_hub_client_path(id: @client), method: :patch, class: "button button--danger button--small", data: { confirm: t("hub.unlock_confirmation", name: @client.preferred_name) } %>
        <% end %>

        <% if @client.needs_itin_help_yes? %>
          <span class="label"><%= t("hub.itin_applicant") %></span>
        <% end %>
      </div>

      <div class="grid-flex align-center">
        <div class="item-15r"><%= t("general.flagged") %></div>
        <div class="item">
          <label class="toggle-switch">
            <span class="sr-only"><%= t("general.flagged") %></span>
            <input id="toggle-flag" type="checkbox" <%= @client.flagged? && "checked" %> <%= !@client.editable? && "disabled" %> onchange="toggleFlag()">
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <% ctc_dupe_clients = @client.clients_with_dupe_ssn(Intake::CtcIntake).pluck(:id)%>
      <% gyr_dupe_clients = @client.clients_with_dupe_ssn(Intake::GyrIntake).pluck(:id) %>
      <% if ctc_dupe_clients.present? || gyr_dupe_clients.present? %>
        <div class="text--help">
          <div>
            <i class="icon-warning"></i>
            <span class="help-text text--bold"><%= t("hub.has_duplicates") %></span>
          </div>
          <% if ctc_dupe_clients.present? %>
            <div>
              CTC:
              <% ctc_dupe_clients.map.with_index do |client_id, index| %>
                <%= link_to("##{client_id}", hub_client_path(id: client_id)) + ((index == (ctc_dupe_clients.length - 1)) ? "" : ", ") %>
              <% end %>
            </div>
          <% end %>
          <% if gyr_dupe_clients.present? %>
            <div>
              GYR:
              <% gyr_dupe_clients.map.with_index do |client_id, index| %>
                <%= link_to("##{client_id}", hub_client_path(id: client_id)) + ((index == (gyr_dupe_clients.length - 1)) ? "" : ", ") %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="client-header__organization">
        <h2><%= @client.vita_partner&.name || t("hub.not_assigned_html") %></h2>
        <% if @client.editable? %>
          <%= link_to "Edit", edit_organization_hub_client_path(id: @client.id), class: "button button--small" %>
        <% end %>
      </div>

      <div class="text--help"><%= t("hub.last_client_update") + timestamp(@client.updated_at) %></div>

      <%= form_for [:hub, @client], method: :patch, url: flag_hub_client_path(id: @client.id), html: { class: 'toggle-flag' } do |f| %>
        <%= f.hidden_field :action, value: @client.flagged? ? "clear" : "set" %>
      <% end %>
    </div>

    <div class="client-header__right">
      <%= render "shared/tax_return_list", client: @client, status_updatable: @client.hub_status_updatable, tax_return_creatable: @client.editable? %>
    </div>
  </div>
</section>

<% content_for :script do %>
  <script>
      function toggleFlag() {
          document.querySelector("form.toggle-flag").submit();
      }
  </script>
<% end %>
