<div role="alert">
  <h2 class="sr-only"><%= t("hub.bank_accounts.info_displayed") %></h2>
  <div class="field-display">
    <span class="form-question"><%= t("hub.bank_accounts.bank_name") %>:</span>
    <span class="label-value"><%= @bank_account.bank_name %> </span>
  </div>
  <div class="field-display">
    <span class="form-question"><%= t("hub.bank_accounts.account_type") %>:</span>
    <span class="label-value"><%=  t("hub.bank_accounts.#{@bank_account.account_type}", default: "N/A") %> </span>
  </div>
  <div class="field-display">
    <span class="form-question"><%= t("hub.bank_accounts.account_number") %>:</span>
    <span class="label-value"><%= @bank_account.account_number %> </span>
  </div>
  <div class="field-display">
    <span class="form-question"><%= t("hub.bank_accounts.routing_number") %>:</span>
    <span class="label-value"><%= @bank_account.routing_number %> </span>
  </div>
</div>