<div>
  <p>
    <span class="hc-label"><%= "Receive CTC" %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </p>
  <p>
    <span class="hc-label"><%= "Refund delivery method" %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </p>
  <p>
    <span class="hc-label"><%= t("hub.bank_accounts.bank_name") %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </p>
  <p>
    <span class="hc-label"><%= t("hub.bank_accounts.account_type") %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </p>
  <p>
    <span class="hc-label"><%= t("hub.bank_accounts.account_number") %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </p>
  <p>
    <span class="hc-label"><%= t("hub.bank_accounts.routing_number") %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </p>
</div>
