<section class="client-navigation tab-bar is-selected">
  <%= tab_navigation_link(t(".client_profile"), hub_client_path(id: @client)) %>
  <%= tab_navigation_link(t(".client_messages"), hub_client_messages_path(client_id: @client, anchor: "last-item")) %>
  <%= tab_navigation_link(t(".client_documents"), hub_client_documents_path(client_id: @client)) %>
  <%= tab_navigation_link(t(".client_notes"), hub_client_notes_path(client_id: @client, anchor: "last-item")) %>
  <% if can?(:manage, EfileSubmission) && @client.tax_returns.joins(:efile_submissions).size.nonzero? %>
    <%= tab_navigation_link(t(".client_efile"), efile_hub_client_path(id: @client, anchor: "body")) %>
  <% end %>
  <% if @client.efile_security_informations.size.nonzero? %>
    <%= tab_navigation_link(t(".client_security"), security_hub_client_path(id: @client)) %>
  <% end %>
</section>
