<% @title = t("hub.clients.edit_13614c_form_page3.title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="form_13614c slab slab--not-padded">
    <h1><%= @title %></h1>
    <p>Last client 13614-C
      update: <%= @client.last_13614c_update_at&.in_time_zone("America/Los_Angeles")&.strftime("%b %-d %l:%M %p") %></p>

    <%= form_with model: @form,
                  url: edit_13614c_form_page3_hub_client_path,
                  method: :put, local: true, builder: VitaMinFormBuilder,
                  html: { class: 'form-card form-question-13614-page3' } do |f| %>
      <div>
        <div style="display: flex; justify-content: space-between;">
          <h2>Expenses and Tax Related Events: Check only the boxes that apply to you and/or your spouse.</h2>

          <%= render '13614c_page_links', current_page: 3 %>
        </div>

        <hr style="margin-top: 0;"/>

        <!-- ************************************ SECTION ONE ******************************** -->
        <hr style="margin: 5px; height:5px;"/>
        <!-- ************************************ SECTION ONE ******************************** -->

        <h3>Paid any of the following expenses to itemize in 2024?</h3>

        <!-- MORTGAGE -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_mortgage_interest, "(A) Mortgage Interest", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_1098_cb, "(B) W-2s", yes_no_options_for_select) %>
            <%= f.cfa_select(:cv_1098_count, "#", (0..5).map { |num| [num.to_s, num] }, { include_blank: true }) %>
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- STATE / LOCAL TAXES -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_local_tax, "(A) Taxes: state, local, real estate, sales, etc.", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: block; height: 100%;">
            &nbsp;<br>&nbsp;
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- MEDICAL EXPENSES -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_medical_expenses, "(A) Medical, dental, prescription expenses", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_med_expense_standard_deduction_cb, "(B) Standard deduction", yes_no_options_for_select) %>
            <%= f.cfa_select(:cv_med_expense_itemized_deduction_cb, "(A) Itemized deduction", yes_no_options_for_select) %>
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- CHARITABLE CONTRIBUTIONS -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_charitable_contributions, "(A) Charitable contributions", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: block; height: 100%;">
            &nbsp;<br>&nbsp;
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- NOTES PART 1 -->
        <div class="grid" style="background-color:#e5e5e5; padding: 10px; display: block; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_input_field(:cv_14c_page_3_notes_part_1, "Notes/Comments", classes: ["form-width--long"]) %>
        </div>

        <!-- *********************************** SECTION TWO ******************************** -->
        <hr style="margin: 5px; margin-top: 40px; height:5px;"/>
        <!-- *********************************** SECTION TWO ******************************** -->

        <h3>Did any of the following happen during 2024?</h3>

        <!-- STUDENT LOAN INTEREST -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_student_loan_interest, "(B) Student loan interest", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_1098e_cb, "(B) 1098-E", yes_no_options_for_select) %>
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- CHILDCARE -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_dependent_care, "(B) Child and dependent care", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_child_dependent_care_credit_cb, "(B) Child and dependent care credit", yes_no_options_for_select) %>
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- RETIREMENT CONTRIB -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_retirement_contributions, "(B/A) Contributions to a retirement account", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:contributed_to_ira, "(B/A) IRA (Basic if a Roth IRA or 401K)", yes_no_options_for_select) %>
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- SCHOOL SUPPLIES -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_school_supplies, "(B) School supplies by a teacher, teacher’s aide or other educator", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_edu_expenses_deduction_cb, "(B) Educator expenses deduction", yes_no_options_for_select) %>
            <%= f.cfa_input_field(:cv_edu_expenses_deduction_amt, "$", classes: ["form-width--short"]) %>
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- ALIMONY - 1ST ROW -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_alimony, "(B) Alimony payments (do not include child support)", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_paid_alimony_w_spouse_ssn_cb, "(B) Alimony payments with spouse’s SSN", yes_no_options_for_select) %>
            <%= f.cfa_input_field(:cv_paid_alimony_w_spouse_ssn_amt, "$", classes: ["form-width--short"]) %>
          </div>
        </div>
        <!-- no HR here. -->

        <!-- ALIMONY ROW 2 - ADJ TO INCOME -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            &nbsp;<br>&nbsp;
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: block; height: 100%;">
            <%= f.cfa_select(:cv_alimony_income_adjustment_yn_cb, "Adjustment to income", yes_no_options_for_select) %>
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- NOTES PART 2 -->
        <div class="grid" style="background-color:#e5e5e5; padding: 10px; display: block; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_input_field(:cv_14c_page_3_notes_part_2, "Notes/Comments", classes: ["form-width--long"]) %>
        </div>

        <!-- *********************************** SECTION THREE ******************************** -->
        <hr style="margin: 5px; margin-top: 40px; height:5px;"/>
        <!-- *********************************** SECTION THREE ******************************** -->

        <h3>Did any of the following happen during 2024?</h3>




      </div>

      <div style="display: flex; justify-content: space-between;">
        <div>
          <%= f.submit t("general.save"), class: "button button--cta"%>
          <%= f.submit t("general.save_and_exit"), class: "button button--cta"%>
          <%= link_to t("general.cancel"), cancel_13614c_hub_client_path, class: "button button--danger",
                      data: { confirm: t("general.confirm_exit_without_saving") } %>
        </div>

        <%= render '13614c_page_links', current_page: 3 %>
      </div>
    <% end %>
  </div>
<% end %>
