<% @title = t("hub.clients.edit_13614c_form_page3.title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="form_13614c slab slab--not-padded">
    <h1><%= @title %></h1>
    <p>Last client 13614-C
      update: <%= @client.last_13614c_update_at&.in_time_zone("America/Los_Angeles")&.strftime("%b %-d %l:%M %p") %></p>

    <%= form_with model: @form,
                  url: edit_13614c_form_page3_hub_client_path,
                  method: :put, local: true, builder: VitaMinFormBuilder,
                  html: { class: 'form-card form-question-13614-page3' } do |f| %>
      <div>
        <div style="display: flex; justify-content: space-between;">
          <h2>Expenses and Tax Related Events: Check only the boxes that apply to you and/or your spouse.</h2>

          <%= render '13614c_page_links', current_page: 3 %>
        </div>

        <hr style="margin-top: 0;"/>

        <h3>Paid any of the following expenses to itemize in 2024?</h3>


        <!-- MORTGAGE -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:paid_mortgage_interest, "(A) Mortgage Interest", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_1098_cb, "(B) W-2s", yes_no_options_for_select) %>
            <%= f.cfa_select(:cv_1098_count, "#", (0..5).map { |num| [num.to_s, num] }, { include_blank: true }) %>
          </div>
        </div>
        <hr style="margin: 5px;"/>



      </div>

      <div style="display: flex; justify-content: space-between;">
        <div>
          <%= f.submit t("general.save"), class: "button button--cta"%>
          <%= f.submit t("general.save_and_exit"), class: "button button--cta"%>
          <%= link_to t("general.cancel"), cancel_13614c_hub_client_path, class: "button button--danger",
                      data: { confirm: t("general.confirm_exit_without_saving") } %>
        </div>

        <%= render '13614c_page_links', current_page: 3 %>
      </div>
    <% end %>
  </div>
<% end %>
