<% @title = t(".title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="hub-form">
    <%= form_with model: @form, url: [:hub, @client], method: :put, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card' } do |f| %>
      <h1 class="form-card__title">
        <%= @title %>
      </h1>

      <%= render "primary_info_fields", f: f %>

      <%= error_message(@form, :dependents_attributes) %>
      <div id="dependent-info">
        <h2>Dependents:</h2>
        <%= f.fields_for :dependents do |ff| %>
          <%= render "dependent", f: ff %>
        <% end %>

        <%= link_to_add_fields t(".add_dependent"), f, :dependents, { class: "button button--small" }, partial: "hub/clients/dependent" %>
      </div>

      <%= render "spouse_info_fields", f: f %>

      <button class="button button--cta" type="submit">
        <%=t("general.save") %>
      </button>
    <% end %>
  </div>
<% end %>


