<% @title = t("hub.clients.edit_13614c_form_page2.title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="form_13614c slab slab--not-padded">
    <h1><%= @title %></h1>
    <p>Last client 13614-C
      update: <%= @client.last_13614c_update_at&.in_time_zone("America/Los_Angeles")&.strftime("%b %-d %l:%M %p") %></p>

    <%= form_with model: @form,
                  url: edit_13614c_form_page2_hub_client_path,
                  method: :put, local: true, builder: VitaMinFormBuilderFor13614,
                  html: { class: 'form-card form-question-13614-page2' } do |f| %>
      <div id="income-fields">
        <div style="display: flex; justify-content: space-between;">
          <h2><%= t(".part_3_title") %></h2>

          <%= render '13614c_page_links', current_page: 2 %>
        </div>
        <hr style="margin-top: 0;"/>

        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:had_wages, "1. (B) #{t(".fields.had_wages")}", yes_no_unsure_options_for_select) %>
            <%= f.cfa_select(:job_count, t(".fields.job_count"), (0..5).map { |num| [num.to_s, num] }, { include_blank: true }) %>
          </div>

          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_unemployment_income, "12. (B) #{t(".fields.had_unemployment_income")}", yes_no_unsure_options_for_select) %>
          </div>
        </div>
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_tips, "2. (A) #{t(".fields.had_tips")}", yes_no_unsure_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_social_security_income, "13. (B) #{t(".fields.had_social_security_income")}", yes_no_unsure_options_for_select) %>
          </div>
        </div>
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_scholarships, "3. (B) #{t(".fields.had_scholarships")}", yes_no_unsure_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_rental_income, "14. (M) #{t(".fields.had_rental_income")}", yes_no_unsure_options_for_select) %>
          </div>
        </div>
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_interest_income, "4. (B) #{t(".fields.had_interest_income")}", yes_no_unsure_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_other_income, "15. (B) #{t(".fields.had_other_income")}", yes_no_unsure_options_for_select) %>
          </div>
        </div>
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_local_tax_refund, "5. (B) #{t(".fields.had_local_tax_refund")}", yes_no_unsure_options_for_select) %>
          </div>
        </div>
        <%= f.cfa_select(:received_alimony, "6. (B) #{t(".fields.received_alimony")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:had_self_employment_income, "7. (A)  #{t(".fields.had_self_employment_income")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:had_cash_check_digital_assets, "8. (A)  #{t(".fields.had_cash_check_digital_assets")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:had_asset_sale_income, "9. (A) #{t(".fields.had_asset_sale_income")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:had_disability_income, "10. (B) #{t(".fields.had_disability_income")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:had_retirement_income, "11. (A) #{t(".fields.had_retirement_income")}", yes_no_unsure_options_for_select) %>
      </div>

      <div id="expenses-fields">
        <h2><%= t(".part_4_title") %></h2>
        <hr style="margin-top: 0;" />
        <div class="grid">
          <div class="grid__item width-one-half">
          <%= f.cfa_select(:paid_alimony, "1. (B) #{t(".fields.paid_alimony")}", yes_no_unsure_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:has_ssn_of_alimony_recipient, t(".fields.has_ssn_of_alimony_recipient"), yes_no_unsure_options_for_select) %>
          </div>
        </div>
        <div class="grid">
          <div class="grid__item width-one-half">
          <%= f.cfa_select(:paid_retirement_contributions, "2. #{t(".fields.paid_retirement_contributions")}", yes_no_unsure_options_for_select) %>
          </div>
          <div class="grid__item width-one-half checkbox-set">
            <div class="checkbox-column">
              <%= f.hub_checkbox(:contributed_to_ira, "IRA (A)", options: { checked_value: "yes", unchecked_value: "no" }) %>
              <%= f.hub_checkbox(:contributed_to_401k, "401K (B)", options: { checked_value: "yes", unchecked_value: "no" }) %>
            </div>
            <div class="checkbox-column">
              <%= f.hub_checkbox(:contributed_to_roth_ira, "Roth IRA (B)", options: { checked_value: "yes", unchecked_value: "no" }) %>
              <%= f.hub_checkbox(:contributed_to_other_retirement_account, "Other", options: { checked_value: "yes", unchecked_value: "no" }) %>
            </div>
          </div>
        </div>
        <br />
        <%= f.cfa_select(:paid_post_secondary_educational_expenses, "3. (B) #{t(".fields.paid_post_secondary_educational_expenses")}", yes_no_unsure_options_for_select) %>
        <br />
        <div class="grid">
          <div class="grid__item width-one-third">
            <%= f.cfa_select(:wants_to_itemize, "4. #{t(".fields.wants_to_itemize")}", yes_no_unsure_options_for_select) %>
          </div>
          <div class="grid__item width-two-thirds checkbox-set">
            <div class="checkbox-column">
              <%= f.hub_checkbox(:paid_medical_expenses, "(A) #{t(".fields.paid_medical_expenses")}", options: { checked_value: "yes", unchecked_value: "no" }) %>
              <%= f.hub_checkbox(:paid_mortgage_interest, "(A) #{t(".fields.paid_mortgage_interest")}", options: { checked_value: "yes", unchecked_value: "no" }) %>
            </div>
            <div class="checkbox-column">
              <%= f.hub_checkbox(:paid_local_tax, "(A) #{t(".fields.paid_local_tax")}", options: { checked_value: "yes", unchecked_value: "no" }) %>
              <%= f.hub_checkbox(:paid_charitable_contributions, "(B) #{t(".fields.paid_charitable_contributions")}", options: { checked_value: "yes", unchecked_value: "no" }) %>
            </div>
          </div>
        </div>

        <br />

        <%= f.cfa_select(:paid_dependent_care, "5. (B) #{t(".fields.paid_dependent_care")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:paid_school_supplies, "6. (B) #{t(".fields.paid_school_supplies")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:paid_self_employment_expenses, "7. (A) #{t(".fields.paid_self_employment_expenses")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:paid_student_loan_interest, "8. (B) #{t(".fields.paid_student_loan_interest")}", yes_no_unsure_options_for_select) %>
      </div>

      <div id="life-events-fields">
        <h2><%= t(".part_5_title") %></h2>
        <hr style="margin-top: 0;"/>
        <%= f.cfa_select(:had_hsa, "1. (A) #{t(".fields.had_hsa")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:had_debt_forgiven, "2. (A) #{t(".fields.had_debt_forgiven")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:adopted_child, "3. (A) #{t(".fields.adopted_child")}", yes_no_unsure_options_for_select) %>
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_tax_credit_disallowed, "4. (B) #{t(".fields.had_tax_credit_disallowed")}", yes_no_unsure_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            <div class="input--display-row">
              <%= f.cfa_input_field(:tax_credit_disallowed_year, "4. (B) #{t(".fields.tax_credit_disallowed_year")}", classes: ["form-width--short"]) %>
            </div>
          </div>
        </div>
        <%= f.cfa_select(:bought_energy_efficient_items, "5. (A) #{t(".fields.bought_energy_efficient_items")}", yes_no_unsure_options_for_select) %>
        <%= f.cfa_select(:received_homebuyer_credit, "6. (A) #{t(".fields.received_homebuyer_credit")}", yes_no_unsure_options_for_select) %>
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:made_estimated_tax_payments, "7. (B) #{t(".fields.made_estimated_tax_payments")}", yes_no_unsure_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            <div class="input--display-row">
              <%= f.cfa_input_field(:made_estimated_tax_payments_amount, t(".fields.made_estimated_tax_payments_amount"), classes: ["form-width--short"]) %>
            </div>
          </div>
        </div>
        <%= f.cfa_select(:had_capital_loss_carryover, "8. (A) #{t(".fields.had_capital_loss_carryover")}", yes_no_unsure_options_for_select) %>
        <br />
        <%= f.cfa_select(:bought_marketplace_health_insurance, "9. (A) #{t(".fields.bought_marketplace_health_insurance")}", yes_no_unsure_options_for_select) %>
        <br />
        <br />
      </div>

      <div style="display: flex; justify-content: space-between;">
        <div>
          <%= f.submit t("general.save"), class: "button button--cta"%>
          <%= f.submit t("general.save_and_exit"), class: "button button--cta"%>
          <%= link_to t("general.cancel"), cancel_13614c_hub_client_path, class: "button button--danger",
                      data: { confirm: t("general.confirm_exit_without_saving") } %>
        </div>

        <%= render '13614c_page_links', current_page: 2 %>
      </div>
    <% end %>
  </div>
<% end %>