<% @title = t("hub.clients.edit_13614c_form_page2.title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="form_13614c slab slab--not-padded">
    <h1><%= @title %></h1>
    <p>Last client 13614-C
      update: <%= @client.last_13614c_update_at&.in_time_zone("America/Los_Angeles")&.strftime("%b %-d %l:%M %p") %></p>

    <%= form_with model: @form,
                  url: edit_13614c_form_page2_hub_client_path,
                  method: :put, local: true, builder: VitaMinFormBuilderFor13614,
                  html: { class: 'form-card form-question-13614-page2' } do |f| %>
      <div id="income-fields">
        <div style="display: flex; justify-content: space-between;">
          <h2><%= t(".part_3_title") %></h2>

          <%= render '13614c_page_links', current_page: 2 %>
        </div>
        <hr style="margin-top: 0;"/>

        <!-- WAGES -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:had_wages, "(B) #{t(".fields.had_wages")}", yes_no_options_for_select) %>
            <%= f.cfa_select(:job_count, t(".fields.job_count"), (0..5).map { |num| [num.to_s, num] }, { include_blank: true }) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_w2s_cb, "(B) W-2s", yes_no_options_for_select) %>
            <%= f.cfa_select(:cv_w2s_count, "#", (0..5).map { |num| [num.to_s, num] }, { include_blank: true }) %>
                              cv_w2s_count
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- TIPS -->
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_tips, "(B/A) #{t(".fields.had_tips")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_had_tips_cb, "(B/A) Tips (Basic when reported on W2)", yes_no_options_for_select) %>
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- RETIREMENT INCOME -->
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_retirement_income, "(B/A) #{t(".fields.had_retirement_income")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half" style="background-color:#e5e5e5; padding: 10px; display: block; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:cv_1099r_cb, "(B/A) 1099-R (Basic when taxable amount is reported)", yes_no_options_for_select) %>
            <%= f.cfa_select(:cv_1099r_count, "#", (0..5).map { |num| [num.to_s, num] }, { include_blank: true }) %>
            <span style="display: block">
              <%= f.cfa_select(:cv_1099r_charitable_dist_cb, "(A) Qualified Charitable Distribution From 1099-R", yes_no_options_for_select) %>
              <%= f.cfa_input_field(:cv_1099r_charitable_dist_amt, "$", classes: ["form-width--short"]) %>
            </span>
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- DISABILITY -->
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_disability_income, "(B) #{t(".fields.had_disability_income")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- SSN / RAILROAD --> 
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_social_security_income, "(B) #{t(".fields.had_social_security_income")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- UNEMP -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:had_unemployment_income, "(B) #{t(".fields.had_unemployment_income")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- REFUND STATE/LOCAL -->
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_local_tax_refund, "(B) #{t(".fields.had_local_tax_refund")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- INTEREST / DIVIDENDS -->
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_interest_income, "(B) #{t(".fields.had_interest_income")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- SALES OF STOCKS BONDS -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:had_asset_sale_income, "(A) #{t(".fields.had_asset_sale_income")}", yes_no_options_for_select) %>
            <%= f.cfa_select(:reported_asset_sale_loss, "#{t(".fields.reported_asset_sale_loss")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- ALIMONY -->
        <div class="grid">
          <div class="grid__item width-one-half">
        <%= f.cfa_select(:received_alimony, "(B) #{t(".fields.received_alimony")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- RENTING HOUSE/ROOM etc -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <%= f.cfa_select(:had_rental_income, "(A/M) #{t(".fields.had_rental_income")}", yes_no_options_for_select) %>
            <%= f.cfa_select(:had_rental_income_and_used_dwelling_as_residence, "#{t(".fields.had_rental_income_and_used_dwelling_as_residence")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <div class="grid">
          <div class="grid__item width-one-half">
              <%= f.cfa_select(:had_rental_income_from_personal_property, "#{t(".fields.had_rental_income_from_personal_property")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            (will be blank)
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- GAMBLING -->
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_gambling_income, "(B) #{t(".fields.had_gambling_income")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <hr style="margin: 5px;"/>

        <!-- self-employment -->
        <div class="grid">
          <div class="grid__item width-one-half" style="display: flex; align-items: flex-start; justify-content: space-between;">
        <%= f.cfa_select(:had_self_employment_income, "(A)  #{t(".fields.had_self_employment_income")}", yes_no_options_for_select) %>
        <%= f.cfa_select(:reported_self_employment_loss, "#{t(".fields.reported_self_employment_loss")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>

        <hr style="margin: 5px;"/>
        <!-- OTHER INCOME -->
        <div class="grid">
          <div class="grid__item width-one-half">
            <%= f.cfa_select(:had_other_income, "#{t(".fields.had_other_income")}", yes_no_options_for_select) %>
          </div>
          <div class="grid__item width-one-half">
            TODO
          </div>
        </div>
        <hr style="margin: 5px;"/>

      </div> <!-- end of id="income-fields" -->

      <div style="display: flex; justify-content: space-between;">
        <div>
          <%= f.submit t("general.save"), class: "button button--cta"%>
          <%= f.submit t("general.save_and_exit"), class: "button button--cta"%>
          <%= link_to t("general.cancel"), cancel_13614c_hub_client_path, class: "button button--danger",
                      data: { confirm: t("general.confirm_exit_without_saving") } %>
        </div>

        <%= render '13614c_page_links', current_page: 2 %>
      </div>
    <% end %>
  </div>
<% end %>
