<% content_for :page_title, @page_title %>

<% content_for :card do %>
  <section class="slab slab--padded client-index-header">
    <%= render "shared/user_header" %>
    <%= render "shared/dashboard_navigation" %>
    <%= render "shared/client_filters" %>

    <div class="actions-wrapper">
      <%= link_to t(".add_client"), new_hub_client_path, class: "button" %>
    </div>

    <%= page_entries_info @clients, model: "entry" %>
    <%= will_paginate(
          @clients,
          previous_label: "<i class=\"icon icon-keyboard_arrow_left\"></i><span class=\"hide-on-mobile\"> Previous</span>",
          next_label: "<span class=\"hide-on-mobile\">Next </span><i class=\"icon icon-keyboard_arrow_right\"></i>",
          inner_window: 1,
          outer_window: 1,
          param_name: "page",
    ) %>
  </section>

  <section class="scrollable-table-wrapper">
  <% if @clients.present? %>
      <table class="index-table client-table">
        <thead class="index-table__head">
        <tr class="index-table__row">
          <th scope="col" class="index-table__header">!<div class="sr-only"><%= t(".needs_attention_heading") %></div></th>
          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t("general.name"), column_name: "preferred_name" %>
          </th>
          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t(".client_id_heading"), column_name: "id" %>
          </th>
          <th scope="col" class="index-table__header"><%= t("general.organization") %></th>
          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t("general.language"), column_name: "locale" %>
          </th>

          <% if @breach_date.present? %>
            <th scope="col" class="index-table__header">
              <%= render "shared/column_sort_link", title: "No response since", column_name: "first_unanswered_incoming_interaction_at" %>
            </th>
            <th scope="col" class="index-table__header">
              <%= render "shared/column_sort_link", title: "Attention needed since", column_name: "attention_needed_since" %>
            </th>
          <% else %>
            <th scope="col" class="index-table__header">
              <%= render "shared/column_sort_link", title: t("general.updated_at"), column_name: "updated_at" %>
            </th>
            <th scope="col" class="index-table__header">
              <%= render "shared/column_sort_link", title: "Consented At", column_name: "primary_consented_to_service_at" %>
            </th>
          <% end %>

          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t("general.state"), column_name: "state_of_residence" %>
          </th>
          <th scope="col" class="index-table__header index-table__header-filing_year" style="width: 35%"><%= t(".filing_year") %>, <%= t("general.assignee") %>, <%= t("general.certification") %>, <%= t("general.status") %></th>
        </tr>
        </thead>

        <tbody class="index-table__body clients-table">
        <% @clients.each do |client| %>
          <tr id="client-<%= client.id %>" class="index-table__row client-row">
            <td class="index-table__cell client-attribute__needs-attention">
              <%= render "shared/client_needs_attention", client: client %>
            </td>
            <th scope="row" class="index-table__row-header client-attribute__name">
              <%= link_to hub_client_path(id: client) do %>
                <%= client.preferred_name %>
              <% end %>
              <% if client.access_locked? %>
                <span class="locked label label--red"><%= t("general.locked") %></span>
              <% end %>
            </th>
            <td class="index-table__cell"><%= client.id %></td>
            <td class="index-table__cell"><%= client.vita_partner&.name || t("general.none")  %></td>
            <td class="index-table__cell"><%= client.intake&.locale ? t("general.language_options.#{client.intake&.locale}") : t('general.NA') %></td>
            <% if @breach_date.present? %>
              <td class="index-table__cell"><%= formatted_datetime(client.first_unanswered_incoming_interaction_at) %></td>
              <td class="index-table__cell"><%= formatted_datetime(client.attention_needed_since) %></td>
            <% else %>
              <td class="index-table__cell"><%= formatted_datetime(client.updated_at) %></td>
              <td class="index-table__cell"><%= formatted_datetime(client.intake.primary_consented_to_service_at) || "-"%> </td>
            <% end %>
            <td class="index-table__cell"><%= client.intake.state_of_residence %></td>
            <td class="index-table__cell">
              <%= render "shared/tax_return_list", client: client %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </section>
  <% else %>

    <div class="slab slab--not-padded">
      <h1 class="h2"><%= @page_title %></h1>
    </div>
    <div class="empty-clients">
      <% if !@filters %>
        <%= t("hub.clients.index.apply_filters") %>
      <% elsif @filters&.values&.any? %>
        <%= t("hub.clients.index.no_filtered_clients")  %>
      <% else %>
        <%= t("hub.clients.index.no_clients") %>
      <% end %>
    </div>
  <% end %>
  </section
<% end %>
