<% content_for :page_title, @page_title %>

<% content_for :card do %>
  <section class="slab slab--padded">
    <%= render "shared/client_filters_and_add_client" %> <!-- also includes Add Client button to layout !-->
  </section>
  <section class="slab slab--padded">
    <div class="pagination-wrapper">
      <div class="count-wrapper">
        <% if @client_index_help_text.present? %>
          <p class="text--help"><%= @client_index_help_text %></p>
        <% end %>
        <% if @missing_results_message.present? %>
          <p class="text--help access-warning"><%= @missing_results_message %></p>
        <% end %>
        <div>
          <%= page_entries_info @clients, model: "client" %>
        </div>
      </div>
      <div>
        <%= will_paginate(
              @clients,
              previous_label: "<i class=\"icon icon-keyboard_arrow_left\"></i><span class=\"hide-on-mobile\">Previous</span>",
              next_label: "<span class=\"hide-on-mobile\">Next</span><i class=\"icon icon-keyboard_arrow_right\"></i>",
              inner_window: 1,
              outer_window: 1,
              param_name: "page",
            ) %>
      </div>
    </div>
  </section>
  <section class="scrollable-table-wrapper">
    <% if @clients.present? %>
      <table class="index-table client-table">
        <thead class="index-table__head">
        <tr class="index-table__row">
          <th scope="col" class="index-table__header">⚑
            <div class="sr-only"><%= t("general.flagged") %></div>
          </th>
          <th scope="col" class="index-table__header index-table__header--sticky">
            <%= render "shared/column_sort_link", title: t("general.name"), column_name: "preferred_name" %>
          </th>
          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t(".client_id_heading"), column_name: "id" %>
          </th>
          <th scope="col" class="index-table__header"><%= t("general.organization") %></th>
          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t("general.language"), column_name: "locale" %>
          </th>
          <th scope="col" class="index-table__header">
            <span class="tooltip" data-position="bottom" title="<%= t("general.unemployment_income") %>"><%= t("general.ui") %></span>
          </th>
          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t("general.updated_at"), column_name: "updated_at" %>
          </th>
          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t("hub.waiting_on_response"), column_name: "first_unanswered_incoming_interaction_at" %>
          </th>
          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t("hub.last_outgoing_message"), column_name: "last_outgoing_communication_at" %>
          </th>
          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t(".created_at"), column_name: "created_at" %>
          </th>

          <th scope="col" class="index-table__header">
            <%= render "shared/column_sort_link", title: t("general.state"), column_name: "state_of_residence" %>
          </th>
          <th scope="col" class="index-table__header index-table__header-filing_year" style="width: 100%; display: flex; align-items: center; justify-content: space-between;">
            <span><%= t(".filing_year") %>, <%= t("general.assignee") %>, <%= t("general.certification") %>
              , <%= t("general.status") %></span>
            <label class="checkbox--gyr">
              <input id="bulk-edit-select-all" type="checkbox" name="add-all">
              <span><%= t('.select') %></span>
            </label>
          </th>
        </tr>
        </thead>

        <tbody class="index-table__body clients-table">
        <% @clients.each do |client| %>
          <tr id="client-<%= client.id %>" class="index-table__row client-row">
            <td class="index-table__cell client-attribute__needs-response">
              <%= render "shared/urgent_icon", client: client %>
            </td>
            <%= tag.th(
              scope: "row",
              class: "index-table__row-header index-table__row-header--sticky index-table__header--tooltip-z-positioning #{'index-table__row-header--tooltip-has-text' unless @message_summaries[client.id].nil?} client-attribute__name",
            ) do %>
              <%= tag.span(
                class: "tooltip",
                data: { position: "right" },
                title: @message_summaries[client.id] ? render("shared/message_summary", message_summary: @message_summaries[client.id]) : t(".no_message")) do %>
                <%= link_to hub_client_path(id: client) do %>
                  <%= client.preferred_name || t(".no_name_given") %>
                <% end %>
                <% if client.access_locked? %>
                  <span class="locked label label--red"><%= t("general.locked") %></span>
                <% end %>
              <% end %>
            <% end %>
            <td class="index-table__cell"><%= client.id %></td>
            <td class="index-table__cell">
              <%= client.vita_partner&.name || t("general.none") %>
            </td>
            <td class="index-table__cell"><%= client.preferred_language ? t("general.language_options.#{client.preferred_language}") : t('general.NA') %></td>
            <td class="index-table__cell"><%= "✓" if client.intake.had_unemployment_income == "yes" %></td>
            <td class="index-table__cell"><%= formatted_datetime(client.updated_at) %></td>

            <% if client.first_unanswered_incoming_interaction_at.present? %>
              <% business_days_count = formatted_business_days_ago(client.first_unanswered_incoming_interaction_at) %>
              <% business_days_urgent = business_days_count >= 7 ? "text--red-bold" : "" %>
              <td class="index-table__cell <%= business_days_urgent %>"><%= t("general.business_days", count: business_days_count) %></td>
            <% else %>
              <td class="index-table__cell"></td>
            <% end %>

            <% if client.last_outgoing_communication_at.present? %>
              <% business_days_count = formatted_business_days_ago(client.last_outgoing_communication_at) %>
              <% business_days_urgent = business_days_count >= 7 ? "text--red-bold" : "" %>
              <td class="index-table__cell <%= business_days_urgent %>"><%= t("general.business_days", count: business_days_count) %></td>
            <% else %>
              <td class="index-table__cell"></td>
            <% end %>

            <td class="index-table__cell"><%= formatted_datetime(client.intake.created_at) || "-" %> </td>
            <td class="index-table__cell"><%= client.intake.state_of_residence %></td>
            <td class="index-table__cell">
              <%= render "shared/tax_return_list", client: client, show_checkboxes: true %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <h1 class="sr-only"><%= @page_title %></h1>
      <div class="empty-clients">
        <% if !@filters %>
          <%= t("hub.clients.index.apply_filters") %>
        <% elsif @filters&.values&.any? %>
          <%= t("hub.clients.index.no_filtered_clients") %>
        <% else %>
          <%= t("hub.clients.index.no_clients") %>
        <% end %>
      </div>
    <% end %>
  </section>
  <div class="sticky-action-footer">
    <section class="take-action-box bulk-action-footer" id="take-action-footer" style="display: none;">
      <span id="take-action-all-returns" style="display: none;">
         <%= form_with(url: new_hub_tax_return_selection_path, local: true, method: :get, builder: VitaMinFormBuilder) do |form| %>
              <% @filters.each do |key, value| %>
                <%= form.hidden_field(key, value: value, id: "#{key}_bulk") %>
              <% end %>
              <button type="submit" name="create_tax_return_selection[action_type]" value="all-filtered-clients" class="button--link">
                <%= t(".take_action_on_all_html", count: @tax_return_count) %>
              </button>
         <% end %>
      </span>
      <span class="bulk-action-count"><%= t('hub.clients.bulk_action.count_html', count: 0) %></span>
      <%= form_with(url: new_hub_tax_return_selection_path, local: true, method: :get, builder: VitaMinFormBuilder, html: { id: 'take-action-form' }) do |f| %>
        <%= f.submit t("general.take_action"), class: "button button--primary" %>
      <% end %>
    </section>
  </div>
<% end %>
