<% @title = t(".title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--not-padded">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <%= form_with model: @form, url: hub_clients_path, method: :post, local: true, builder: VitaMinFormBuilder do |f| %>
          <h1 class="form-card__title">
            <%= @title %>
          </h1>
          <%= f.cfa_select(:service_type, t("hub.clients.fields.service_type"), [["Drop off", "drop_off"]], options: { selected: "drop_off" } ) %>
          <%= f.cfa_select(:signature_method, t("hub.clients.fields.signature_method"), signature_methods_for_select, options: { selected: "online" }) %>
          <%= f.cfa_select(:vita_partner_id, t(".assign_to_label"), grouped_vita_partner_options) %>

          <%= render "shared/client_primary_info_fields", f: f, is_dropoff: true %>
          <%= render "shared/marital_status_fields", f: f %>
          <%= render "shared/navigator_fields", f: f %>
          <%= render "shared/address_fields", f: f %>
          <%= render "shared/client_spouse_info_fields", f: f %>

          <div class="hub-form__card card-small">
            <h3><%= t(".tax_years") %></h3>
            <%= error_message(f.object, :tax_returns_attributes) %>
            <div class="form-card__stacked-checkboxes spacing-above-0">
              <%= f.fields_for :tax_returns do |ff| %>
                <div class="hub-form__row">
                  <span><%= f.hub_checkbox("needs_help_#{ff.object.year}", ff.object.year, options: { checked_value: "yes", unchecked_value: "no" }) %></span>
                  <%= ff.hidden_field :year %>
                  <%= ff.cfa_select(:certification_level, "Certification Level", certification_options_for_select, include_blank: true) %>
                </div>
              <% end %>
            </div>
          </div>

          <button class="button button--cta" type="submit">
            <%= t(".send_for_prep") %>
          </button>

          <%= link_to t("general.cancel"), :back, class: "button" %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
