<%= content_for :user_return_link_name, t(".return_to_clients") %>
<%= content_for :user_return_link_path, hub_clients_path %>

<% content_for :page_title, "#{@client.preferred_name} ##{@client.id}" %>

<% content_for :card do %>

  <%= render "client_header" %>
  <%= render "navigation" %>

  <div class="client-profile spacing-above-25">
    <div class="grid">
      <div class="grid__item width-one-third">
        <div>
          <h2>Basic Info</h2>
          <div>
            <span class="hc-label"><%= t(".legal_name") %>:</span>
            <span class="label-value"><%= @client.legal_name || t("general.NA") %></span>
          </div>
          <div>
            <span class="hc-label"><%= t(".preferred_name") %>:</span>
            <span class="label-value"><%= @client.preferred_name %></span>
          </div>

          <div>
            <span class="hc-label"><%= t(".intake_language") %>:</span>
            <span class="label-value"><%= @client.intake&.locale ? t("general.language_options.#{@client.intake&.locale}") : "N/A" %></span>
          </div>
          <div>
            <span class="hc-label"><%= t(".phone_interview_language") %>:</span>
            <span class="label-value"><%= @client.intake&.preferred_interview_language ? t("general.language_options.#{@client.intake&.preferred_interview_language}") : "N/A" %></span>
          </div>
          <div>
            <span class="hc-label"><%= t(".interview_timing_preference") %>:</span>
            <span class="label-value"><%= @client.intake&.interview_timing_preference %></span>
          </div>
          <div>
            <span class="hc-label"><%= t("general.timezone") %>:</span>
            <span class="label-value"><%= displayed_timezone(@client.intake&.timezone) || t("general.NA") %></span>
          </div>
          <div>
            <span class="hc-label"><%= t("hub.clients.fields.state_of_residence") %>:</span>
            <span class="label-value"><%= @client.intake.state_of_residence %></span>
          </div>
        </div>

        <div>
          <h2>Tax Info</h2>
          <div>
            <span class="hc-label"><%= t("general.filing_years") %>:</span>
            <span class="label-value"><%= @client.intake&.filing_years&.join(", ") %></span>
          </div>
          <div>
            <span class="hc-label"><%= t("hub.clients.fields.signature_method") %>:</span>
            <span class="label-value"><%= I18n.t("hub.clients.fields.signature_methods.#{@client.intake&.signature_method}") %> </span>
          </div>
          <div>
            <span class="hc-label"><%= t(".marital_status") %>:</span>
            <span class="label-value"><%= @client.intake&.marital_statuses&.join(", ") %></span>
          </div>
          <div>
            <span class="hc-label"><%= t(".filing_status") %>:</span>
            <span class="label-value"><%= @client.intake&.filing_joint_yes? ? "Filing jointly" : "Not filing jointly"  %></span>
          </div>
          <div>
            <span class="hc-label"><%= t(".dependents") %>:</span>
            <span class="label-value"><%= @client.intake&.dependents.count %></span>
          </div>
          <ul id="dependents-list">
            <% @client.intake&.dependents.each do |d| %>
              <li><%= "#{d.first_name} #{d.last_name}, #{default_date_format(d.birth_date)}" %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="grid__item width-one-third">
        <div>
          <h2><%= t(".primary_contact_info") %></h2>
          <div>
            <span class="hc-label"><%= t(".email") %>:</span>
            <span class="label-value"><%= @client.email_address %></span>
          </div>

          <div>
            <span class="hc-label"><%= t(".phone") %>:</span>
            <span class="label-value"><%= @client.phone_number %></span>
          </div>
          <div>
            <span class="hc-label"><%= t(".texting_phone") %>:</span>
            <span class="label-value"><%= @client.sms_phone_number || 'N/A' %></span>
          </div>

          <div>
            <span class="hc-label"><%= t(".mailing_address") %>:</span>
            <span class="label-value"><div style="white-space:pre-wrap"><%= @client.intake&.formatted_mailing_address %></div></span>
          </div>
        </div>
        <% if @client.intake&.filing_joint_yes? %>
          <div>
            <h2><%= t(".spouse_contact_info") %>:</h2>
            <div>
              <span class="hc-label"><%= t(".legal_name") %>:</span>
              <span class="label-value>"<%= "#{@client.intake&.spouse_first_name} #{@client.intake&.spouse_last_name}" %></span>
            </div>
            <div>
              <span class="hc-label"><%= t(".email") %>:</span>
              <span class="label-value"><%= @client.intake&.spouse_email_address %> </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <%= link_to(t("general.edit"), edit_hub_client_path, class: "button button--small") %>
    </div>
  </div>

  <%= render "client_take_action_footer" %>
<% end %>
