<% content_for :page_title, "#{@client.preferred_name} ##{@client.id}" %>

<% content_for :card do %>
  <%= render "client_header" %>

  <%= render "navigation" %>
  <div class="client-profile spacing-above-25">
    <div><%= t(".legal_name") %>: <%= @client.legal_name || t("general.NA") %></div>
    <div><%= t(".preferred_name") %>: <%= @client.preferred_name %></div>
    <br/>

    <div><%= t(".intake_language") %>: <%= @client.intake&.locale ? t("general.language_options.#{@client.intake&.locale}") : "N/A" %></div>
    <div><%= t(".phone_interview_language") %>: <%= @client.intake&.preferred_interview_language ? t("general.language_options.#{@client.intake&.preferred_interview_language}") : "N/A" %></div>
    <div><%= t(".interview_timing_preference") %>: <%= @client.intake&.interview_timing_preference %></div>
    <div><%= t("general.timezone") %>: <%= displayed_timezone(@client.intake&.timezone) || t("general.NA") %></div>
    <div><%= t("hub.clients.fields.state_of_residence") %>: <%= @client.intake.state_of_residence %></div>
    <br/>

    <div><%= t("general.filing_years") %>: <%= @client.intake&.filing_years&.join(", ") %></div>
    <div><%= t(".marital_status") %>: <%= @client.intake&.marital_statuses&.join(", ") %></div>
    <div><%= t(".filing_status") %>: <%= @client.intake&.filing_joint_yes? ? "Filing jointly" : "Not filing jointly"  %></div>
    <br/>
    <div><%= t(".dependents") %>: <%= @client.intake&.dependents.count %></div>
    <ul id="dependents-list">
      <% @client.intake&.dependents.each do |d| %>
        <li><%= "#{d.first_name} #{d.last_name}, #{default_date_format(d.birth_date)}" %></li>
      <% end %>
    </ul>
    <h3><%= t(".primary_contact_info") %>:</h3>

    <div><%= t(".email") %>: <%= @client.email_address %></div>
    <br/>

    <div><%= t(".phone") %>: <%= @client.phone_number %></div>
    <div><%= t(".texting_phone") %>: <%= @client.sms_phone_number || 'N/A' %></div>
    <br/>

    <div><%= t(".mailing_address") %>:</div>
    <div style="white-space:pre-wrap"><%= @client.intake&.formatted_mailing_address %></div>
    <br/>

    <div style="white-space:pre-wrap"><%= @client.intake&.formatted_contact_preferences %></div>

    <% if @client.intake&.filing_joint_yes? %>
      <h3><%= t(".spouse_contact_info") %>:</h3>
      <div><%= t(".legal_name") %>: <%= "#{@client.intake&.spouse_first_name} #{@client.intake&.spouse_last_name}" %></div>
      <div><%= t(".email") %>: <%= @client.intake&.spouse_email_address %> </div>
    <% end %>

    <div>
      <%= link_to(t("general.edit"), edit_hub_client_path, class: "button button--small") %>
    </div>
  </div>

  <%= render "client_take_action_footer" %>
<% end %>
