<%= content_for :back_to, "clients" %>

<% content_for :page_title, "#{@client.preferred_name} ##{@client.id}" %>

<% content_for :card do %>

  <%= render "client_header" %>
  <%= render "navigation" %>

  <section class="client-profile slab slab--padded">
    <div class="client-container">
      <div class="client-profile__column-container">
        <div class="client-profile__column">

          <!-- Basic info-->
          <div class="client-profile__field-group">
            <h2 class="text--bold"><%= t(".basic_info") %></h2>
            <div class="field-display">
              <span class="form-question"><%= t(".legal_name") %>:</span>
              <span class="label-value"><%= @client.legal_name || t("general.NA") %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".preferred_name") %>:</span>
              <span class="label-value"><%= @client.preferred_name %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".intake_language") %>:</span>
              <span class="label-value"><%= @client.intake&.locale ? t("general.language_options.#{@client.intake&.locale}") : "N/A" %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".phone_interview_language") %>:</span>
              <span class="label-value"><%= @client.intake&.preferred_interview_language ? t("general.language_options.#{@client.intake&.preferred_interview_language}") : "N/A" %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".interview_timing_preference") %>:</span>
              <span class="label-value"><%= @client.intake&.interview_timing_preference %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t("general.timezone") %>:</span>
              <span class="label-value"><%= displayed_timezone(@client.intake&.timezone) || t("general.NA") %></span>
            </div>
            <% if @client.intake.is_ctc? %>
              <div class="field-display">
                <span class="form-question">Date of Birth:</span>
                <span class="label-value"><%= default_date_format(@client.intake.primary_birth_date) %></span>
              </div>
            <% else %>
              <div class="field-display">
                <span class="form-question"><%= t("hub.clients.fields.state_of_residence") %>:</span>
                <span class="label-value"><%= @client.intake.state_of_residence %></span>
              </div>
            <% end %>
            <!-- SSN/ITIN hidden -->
            <div class="field-display primary-ssn">
              <span class="form-question">
                <% if @client.intake.is_ctc? %>
                  <%= t("general.ssn_itin") %>:
                <% else %>
                  <%= t("general.last_four_ssn") %>:
                <% end %>
              </span>
              <% if @client.intake.primary_last_four_ssn.present? %>
                <%= render 'togglable_single_field', secret_name: :primary_ssn %>
              <% else %>
                <span class="label-value"><%= t("general.NA") %></span>
              <% end %>
            </div>
            <% if @client.intake.is_ctc? %>
              <div class="field-display primary-ip-pin">
                <span class="form-question">
                  <%= t("general.ip_pin") %>:
                </span>
                <% if @client.intake.primary_ip_pin.present? %>
                  <%= render 'togglable_single_field', secret_name: :primary_ip_pin %>
                <% else %>
                  <span class="label-value"><%= t("general.NA") %></span>
                <% end %>
              </div>
            <% end %>
          </div>

          <!-- Tax info-->
          <div class="client-profile__field-group">
            <h2 class="text--bold"><%= t(".tax_info") %></h2>
            <div class="field-display">
              <span class="form-question"><%= t("general.filing_years") %>:</span>
              <span class="label-value"><%= @client.intake&.filing_years&.join(", ") %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t("hub.clients.fields.signature_method") %>:</span>
              <span class="label-value"><%= I18n.t("hub.clients.fields.signature_methods.#{@client.intake&.signature_method}") %> </span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".marital_status") %>:</span>
              <span class="label-value"><%= marital_status(@client) %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".filing_status") %>:</span>
              <div class="label-indented"><%= filing_status(@client) %></div>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t("general.dependents") %>:</span>
              <span class="label-value"><%= @client.intake&.dependents.count %></span>
              <ul id="dependents-list">
                <%= render @client.intake.dependents %>
              </ul>
            </div>

          </div>

          <div class="client-profile__field-group">
            <h2 class="text--bold"><%= t(".navigator_types") %></h2>
            <div class="field-display">
              <span class="label-value"><%= @client.intake.navigator_display_names.present? ? @client.intake.navigator_display_names : t(".navigator_types_empty") %></span>
            </div>
          </div>

          <% if @client.intake.is_ctc? %>
            <!-- Photo ID info-->
            <div class="client-profile__field-group">
              <h2 class="text--bold"><%= t(".photo_id_types") %></h2>
              <div class="field-display">
                <span class="label-value"><%= @client.intake.photo_id_display_names %></span>
              </div>
            </div>

            <!-- Taxpayer ID info-->
            <div class="client-profile__field-group">
              <h2 class="text--bold"><%= t(".taxpayer_id_types") %></h2>
              <div class="field-display">
                <span class="label-value"><%= @client.intake.taxpayer_id_display_names %></span>
              </div>
            </div>
          <% end %>

          <!-- Bank info-->
          <div class="client-profile__field-group client-bank-account-info">
            <h2 class="text--bold"><%= "Bank Account Info" %>
              <% if @client.intake.bank_account.present? %>
            <span id="js-toggle-bank-account-info">
              <%= link_to("View", show_bank_account_hub_client_path, remote: true) %>
            </span>
              <% end %>
            </h2>
            <% if @client.intake.bank_account.present? %>
              <div id="js-bank-account-info">
                <%= render "hub/clients/hidden_bank_account_info" %>
              </div>
            <% else %>
              <span class="label-value">No bank account info provided.</span>
            <% end %>
          </div>

          <!-- Recovery rebate credit -->
          <% if @client.intake.is_ctc? %>
            <div class="client-profile__field_group client-recovery-rebate-credit-amount">
              <h2 class="text--bold"><%= t("hub.clients.fields.recovery_rebate_credit") %></h2>
              <div class="field-display">
                <span class="form-question"><%= t("hub.recovery_rebate_credit_amount.amount_1") %>:</span>
                <span class="label-value">$<%= @client.intake.eip1_amount_received %> </span>
              </div>
              <div class="field-display">
                <span class="form-question"><%= t("hub.recovery_rebate_credit_amount.amount_2") %>:</span>
                <span class="label-value">$<%= @client.intake.eip2_amount_received %> </span>
              </div>
              <div class="field-display">
                <span class="form-question">Confidence:</span>
                <span class="label-value"><%= @client.intake.eip1_and_2_amount_received_confidence.try(:capitalize) %> </span>
              </div>
            </div>
          <% end %>
        </div>

        <div class="client-profile__column">
          <!-- Primary contact info-->
          <div class="client-profile__field-group">
            <h2 class="text--bold"><%= t(".primary_contact_info") %></h2>
            <div class="field-display">
              <span class="form-question"><%= t(".email") %>:</span>
              <span class="label-value"><%= @client.email_address %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".phone") %>:</span>
              <span class="label-value"><%= @client.phone_number %></span>
              <span><%= link_to t("general.call"), new_hub_client_outbound_call_path(client_id: @client.id) %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".texting_phone") %>:</span>
              <span class="label-value"><%= @client.sms_phone_number || 'N/A' %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".mailing_address") %>:</span>
              <span class="label-value">
                <%= @client.intake&.formatted_mailing_address %>
            </span>
            </div>
          </div>

          <!-- Spouse contact info-->
          <% if @client.requires_spouse_info? %>
            <div class="client-profile__field-group">
              <h2 class="text--bold"><%= t(".spouse_contact_info") %></h2>
              <div class="field-display">
                <span class="form-question"><%= t(".legal_name") %>:</span>
                <span class="label-value">
                <%= "#{@client.intake&.spouse_first_name} #{@client.intake&.spouse_last_name}" %>
              </span>
              </div>
              <div class="field-display">
                <span class="form-question"><%= t(".email") %>:</span>
                <span class="label-value"><%= @client.intake&.spouse_email_address %> </span>
              </div>
              <% if @client.intake.is_ctc? %>
                <div class="field-display">
                  <span class="form-question">Date of Birth:</span>
                  <span class="label-value"><%= default_date_format(@client.intake.spouse_birth_date) %></span>
                </div>
              <% end %>
              <div class="field-display spouse-ssn">
                <span class="form-question">
                  <% if @client.intake.is_ctc? %>
                    <%= t("general.ssn_itin") %>:
                  <% else %>
                    <%= t("general.last_four_ssn") %>:
                  <% end %>
                </span>
                <% if @client.intake.spouse_last_four_ssn.present? %>
                  <%= render 'togglable_single_field', secret_name: :spouse_ssn %>
                <% else %>
                  <span class="label-value"><%= t("general.NA") %></span>
                <% end %>
              </div>
              <% if @client.intake.is_ctc? %>
                <div class="field-display spouse-ip-pin">
                  <span class="form-question">
                    <%= t("general.ip_pin") %>:
                  </span>
                  <% if @client.intake.spouse_ip_pin.present? %>
                    <%= render 'togglable_single_field', secret_name: :spouse_ip_pin %>
                  <% else %>
                    <span class="label-value"><%= t("general.NA") %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="client-profile__field-group">
            <h2 class="text--bold"><%= t(".other_info") %></h2>
            <div class="field-display">
              <span class="form-question"><%= t(".routing_method") %>:</span>
              <span class="label-value">
              <%= readable_routing_method(@client) || t("general.NA") %>
            </span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".source_param") %>:</span>
              <span class="label-value">
              <%= @client.intake&.source || t("general.NA") %>
            </span>
            </div>
          </div>

          <!-- Identity verification -->
          <% if @client.intake.is_ctc? %>
            <div class="client-profile__field_group">
              <h2 class="text--bold">Navigator Name</h2>
              <div class="field-display">
                <span class="form-question">Legal Name:</span>
                <span class="label-value"><%= @client.intake.navigator_name %> </span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="client-profile__actions"><%= link_to(t("general.edit_info"), @client.intake.is_ctc? ? edit_hub_ctc_client_path : edit_hub_client_path, class: "button hc-button--wide") %></div>
    </div>

  </section>

  <%= render "client_take_action_footer" %>
<% end %>
