<%= content_for :back_to, "clients" %>

<% content_for :page_title, "#{@client.preferred_name} ##{@client.id}" %>

<% content_for :card do %>

  <%= render "client_header" %>
  <%= render "navigation" %>

  <section class="client-profile slab slab--padded">
    <div class="client-container">
      <div class="client-profile__column-container">
        <div class="client-profile__column">

          <!-- Basic info-->
          <div class="client-profile__field-group">
            <h2 class="text--bold"><%= t(".basic_info") %></h2>
            <div class="field-display">
              <span class="form-question"><%= t(".legal_name") %>:</span>
              <span class="label-value"><%= @client.legal_name || t("general.NA") %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".preferred_name") %>:</span>
              <span class="label-value"><%= @client.preferred_name %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".intake_language") %>:</span>
              <span class="label-value"><%= @client.intake&.locale ? t("general.language_options.#{@client.intake&.locale}") : "N/A" %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".phone_interview_language") %>:</span>
              <span class="label-value"><%= @client.intake&.preferred_interview_language ? t("general.language_options.#{@client.intake&.preferred_interview_language}") : "N/A" %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".interview_timing_preference") %>:</span>
              <span class="label-value"><%= @client.intake&.interview_timing_preference %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t("general.timezone") %>:</span>
              <span class="label-value"><%= displayed_timezone(@client.intake&.timezone) || t("general.NA") %></span>
            </div>
            <% if @client.intake.is_ctc? %>
              <div class="field-display">
                <span class="form-question">Date of Birth:</span>
                <span class="label-value"><%= default_date_format(@client.intake.primary_birth_date) %></span>
              </div>
            <% else %>
              <div class="field-display">
                <span class="form-question"><%= t("hub.clients.fields.state_of_residence") %>:</span>
                <span class="label-value"><%= @client.intake.state_of_residence %></span>
              </div>
            <% end %>
            <!-- SSN/ITIN hidden -->
            <div class="field-display primary-ssn">
              <span class="form-question">
                <% if @client.intake.is_ctc? %>
                  <%= t("general.ssn_itin") %>:
                <% else %>
                  <%= t("general.last_four_ssn") %>:
                <% end %>
              </span>
              <% if @client.intake.primary_last_four_ssn.present? %>
                <%= render 'togglable_single_field', masked_value: @client.intake.primary_ssn.present? ? mask(@client.intake.primary_ssn, 0) : nil, secret_name: :primary_ssn %>
              <% else %>
                <span class="label-value"><%= t("general.NA") %></span>
              <% end %>
            </div>
            <% if @client.intake.is_ctc? %>
              <div class="field-display primary-ip-pin">
                <span class="form-question">
                  <%= t("general.ip_pin") %>:
                </span>
                <% if @client.intake.primary_ip_pin.present? %>
                  <%= render 'togglable_single_field', secret_name: :primary_ip_pin %>
                <% else %>
                  <span class="label-value"><%= t("general.NA") %></span>
                <% end %>
              </div>
            <% end %>
          </div>

          <!-- Tax info-->
          <div class="client-profile__field-group">
            <h2 class="text--bold"><%= t(".tax_info") %></h2>
            <div class="field-display">
              <span class="form-question"><%= t("general.filing_years") %>:</span>
              <span class="label-value"><%= @client.intake&.filing_years&.join(", ") %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t("hub.clients.fields.signature_method") %>:</span>
              <span class="label-value"><%= I18n.t("hub.clients.fields.signature_methods.#{@client.intake&.signature_method}") %> </span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".marital_status") %>:</span>
              <span class="label-value"><%= marital_status(@client) %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".filing_status") %>:</span>
              <div class="label-indented"><%= filing_status(@client) %></div>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t("general.dependents") %>:</span>
              <span class="label-value"><%= @client.intake&.dependents.with_deleted.length %></span>
              <ul id="dependents-list" class="no-bullets">
                <%= render @client.intake.dependents.with_deleted %>
              </ul>
            </div>
          </div>

          <!-- Payment info-->
          <div class="client-profile__field-group client-bank-account-info">
            <h2 class="text--bold"><%= "Refund Payment Info" %>
              <% if @client.intake.bank_account.present? %>
            <span id="js-toggle-bank-account-info">
              <%= link_to("View", show_bank_account_hub_client_path, remote: true) %>
            </span>
              <% end %>
            </h2>
            <div class="field-display">
              <span class="form-question">Refund delivery method:</span>
              <span class="label-value"><%= @client.intake.refund_payment_method&.humanize %> </span>
            </div>
            <% if @client.intake.bank_account.present? %>
              <div id="js-bank-account-info">
                <%= render "hub/clients/hidden_bank_account_info", bank_account: @client.intake.bank_account %>
              </div>
            <% else %>
              <span class="label-value">No bank account info provided.</span>
            <% end %>
          </div>

          <!-- Recovery rebate credit -->
          <% if @client.intake.is_ctc? %>
            <div class="client-profile__field-group client-recovery-rebate-credit-amount">
              <h2 class="text--bold"><%= t("hub.clients.fields.recovery_rebate_credit") %></h2>
              <div class="field-display">
                <span class="form-question"><%= t("hub.recovery_rebate_credit_amount.amount_1") %>:</span>
                <span class="label-value">$<%= @client.intake.eip1_amount_received %> </span>
              </div>
              <div class="field-display">
                <span class="form-question"><%= t("hub.recovery_rebate_credit_amount.amount_2") %>:</span>
                <span class="label-value">$<%= @client.intake.eip2_amount_received %> </span>
              </div>
              <% if @client.intake.drop_off? %>
                <div class="field-display">
                  <span class="form-question">Confidence:</span>
                  <span class="label-value"><%= @client.intake.eip1_and_2_amount_received_confidence.try(:capitalize) %> </span>
                </div>
              <% end %>
              <% unless @client.intake.drop_off? %>
                <% tax_return = @client.tax_returns.find_by(year: Rails.application.config.ctc_current_tax_year) %>
                <div class="field-display">
                  <span class="form-question"> Outstanding RRC / Claimed RRC: </span>
                  <span class="label-value"><%= "$#{tax_return&.outstanding_recovery_rebate_credit}" if tax_return&.outstanding_recovery_rebate_credit %></span> /
                  <span class="label-value"><%= "$#{tax_return&.claimed_recovery_rebate_credit}" if tax_return&.claimed_recovery_rebate_credit %></span>
                </div>
                <div class="field-display">
                  <span class="form-question">Claim credit:</span>
                  <span class="label-value"><%= @client.intake.claim_owed_stimulus_money&.titleize %></span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="client-profile__column">
          <!-- Primary contact info-->
          <div class="client-profile__field-group">
            <h2 class="text--bold"><%= t(".primary_contact_info") %></h2>
            <div class="field-display">
              <span class="form-question"><%= t(".email") %>:</span>
              <span class="label-value"><%= @client.email_address %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".phone") %>:</span>
              <span class="label-value"><%= @client.phone_number %></span>
              <span><%= link_to t("general.call"), new_hub_client_outbound_call_path(client_id: @client.id) %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".texting_phone") %>:</span>
              <span class="label-value"><%= @client.sms_phone_number || 'N/A' %></span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".mailing_address") %>:</span>
              <div class="label-indented spacing-above-10">
                <div> <%= @client.intake&.street_address %></div>
                <div><%= @client.intake.street_address2 if @client.intake.street_address2.present? %></div>
                <div><%= @client.intake.city %>, <%= @client.intake.state %> <%= @client.intake.zip_code %></div>
              </div>
            </div>
          </div>

          <!-- Spouse contact info-->
          <% if @client.requires_spouse_info? %>
            <div class="client-profile__field-group">
              <h2 class="text--bold"><%= t(".spouse_contact_info") %></h2>
              <div class="field-display">
                <span class="form-question"><%= t(".legal_name") %>:</span>
                <span class="label-value">
                <%= "#{@client.intake&.spouse_first_name} #{@client.intake&.spouse_last_name}" %>
              </span>
              </div>
              <div class="field-display">
                <span class="form-question"><%= t(".email") %>:</span>
                <span class="label-value"><%= @client.intake&.spouse_email_address %> </span>
              </div>
              <% if @client.intake.is_ctc? %>
                <div class="field-display">
                  <span class="form-question">Date of Birth:</span>
                  <span class="label-value"><%= default_date_format(@client.intake.spouse_birth_date) %></span>
                </div>
              <% end %>
              <div class="field-display spouse-ssn">
                <span class="form-question">
                  <% if @client.intake.is_ctc? %>
                    <%= t("general.ssn_itin") %>:
                  <% else %>
                    <%= t("general.last_four_ssn") %>:
                  <% end %>
                </span>
                <% if @client.intake.spouse_last_four_ssn.present? %>
                  <%= render 'togglable_single_field', masked_value: @client.intake.spouse_ssn.present? ? mask(@client.intake.spouse_ssn, 0) : nil, secret_name: :spouse_ssn %>
                <% else %>
                  <span class="label-value"><%= t("general.NA") %></span>
                <% end %>
              </div>
              <% if @client.intake.is_ctc? %>
                <div class="field-display spouse-ip-pin">
                  <span class="form-question">
                    <%= t("general.ip_pin") %>:
                  </span>
                  <% if @client.intake.spouse_ip_pin.present? %>
                    <%= render 'togglable_single_field', masked_value: "●●●●●●", secret_name: :spouse_ip_pin %>
                  <% else %>
                    <span class="label-value"><%= t("general.NA") %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="client-profile__field-group">
            <h2 class="text--bold"><%= t(".other_info") %></h2>
            <div class="field-display">
              <span class="form-question">Intake type:</span>
              <span class="label-value">
                <%= @client.intake.drop_off? ? "Drop off" : "Online" %>
              </span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".routing_method") %>:</span>
              <span class="label-value">
                <%= readable_routing_method(@client) || t("general.NA") %>
              </span>
            </div>
            <div class="field-display">
              <span class="form-question"><%= t(".source_param") %>:</span>
              <span class="label-value">
                <%= @client.intake&.source || t("general.NA") %>
              </span>
            </div>
            <div class="field-display">
              <span class="form-question">Current Intake Step:</span>
              <span class="label-value">
                <%= @client.intake.current_step || t("general.NA") %>
              </span>
            </div>
          </div>

          <!-- Identity verification -->
          <div class="client-profile__field-group">
            <h2 class="text--bold">Navigator Info</h2>
            <div class="field-display">
              <span class="form-question">Navigator type:</span>
              <span class="label-value"><%= @client.intake.navigator_display_names.present? ? @client.intake.navigator_display_names : t(".navigator_types_empty") %></span>
            </div>
            <% if @client.intake.is_ctc? %>
              <div class="field-display">
                <span class="form-question">Navigator Name:</span>
                <span class="label-value"><%= @client.intake.navigator_name || "N/A" %> </span>
              </div>

              <% if @client.intake.drop_off? %>
                <div class="field-display">
                  <span class="form-question">Photo ID Used:</span>
                  <span class="label-value"><%= @client.intake.photo_id_display_names || "N/A"%></span>
                </div>
                <div class="field-display">
                  <span class="form-question">Taxpayer ID Used:</span>
                  <span class="label-value"><%= @client.intake.taxpayer_id_display_names || "N/A" %></span>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if @client.intake.is_ctc? && !@client.intake.drop_off? %>
            <div class="client-profile__field-group">
              <h2 class="text--bold">Prior Year AGI Amount</h2>
              <div class="field-display">
                <span class="form-question">Primary Prior Year (2019) AGI:</span>
                <span class="label-value">$<%= @client.intake.primary_prior_year_agi_amount || 0 %></span>
              </div>
              <div class="field-display">
                <span class="form-question">Spouse Prior Year (2019) AGI:</span>
                <span class="label-value">$<%= @client.intake.spouse_prior_year_agi_amount || 0 %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="client-profile__actions"><%= link_to(t("general.edit_info"), @client.intake.is_ctc? ? edit_hub_ctc_client_path : edit_hub_client_path, class: "button hc-button--wide") %></div>
    </div>

  </section>

  <%= render "client_take_action_footer" %>
<% end %>
