<% @main_heading = t("views.ctc.questions.eitc_no_w2_offboarding.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :card do %>
  <h1 class="form-question"><%= @main_heading %></h1>
  <p class="text--small"><%= t("views.ctc.questions.eitc_no_w2_offboarding.help_text") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <%= link_to next_path, class: "button button--wide text--centered" do %>
      <%= t("views.ctc.questions.eitc_no_w2_offboarding.buttons.continue_without") %>
    <% end %>
    <%= f.button value: 'yes', name: 'ctc_w2s_form[had_w2s]', class: 'button button--wide text--centered', type: 'submit' do %>
      <%= t('views.ctc.questions.eitc_no_w2_offboarding.buttons.add_w2') %>
    <% end %>
    <%= link_to t("views.ctc.questions.eitc_no_w2_offboarding.buttons.log_out"), questions_w2s_add_w2_later_path, method: :put, class: "button button--wide text--centered" %>
  <% end %>

<% end %>
