<% content_for :body_class, "partner-page" %>


<% content_for :page_title, @returning_client ? t("views.questions.chat_with_us.returning_client.title", name: current_intake.primary_first_name) : t("views.questions.chat_with_us.title", partner_name: current_intake.vita_partner&.name) %>

<% content_for :form_card do %>
  <div class="form-card">
    <h1 class="form-question">
      <%= content_for(:page_title) %>
    </h1>


    <% if @returning_client %>
      <p><%= t("views.questions.chat_with_us.returning_client.partner_info", partner_name: current_intake.vita_partner&.name) %></p>

  <% elsif current_intake.zip_code %>
        <p><%= t("views.questions.chat_with_us.partner_info_html", partner_name: current_intake.vita_partner&.name, zip: current_intake.zip_code, zip_name: @zip_name) %></p>
    <% end %>

    <p>
      <%=t("views.questions.chat_with_us.info") %>
    </p>

    <p>
      <%=t("views.questions.chat_with_us.chat") %>
    </p>

    <%= link_to next_path, class: "button button--primary button--wide text--centered spacing-above-60" do %>
      <%=t("general.continue") %>
    <% end %>
  </div>
<% end %>
