<% content_for :page_title, t('.title') %>

<% content_for :card do %>
  <p><%= t('.title1') %></p>
  <p><%= t('.title2') %></p>

  <%= form_with model: @form, url: { action: :update }, method: :put, local: true, builder: VitaMinFormBuilder, class: 'form-card' do |f| %>
    </br>
    <div class="blue-group">
      <p>
        <% if f.object.ask_primary_dob? %>
          <%= t(".primary_name_dob", last_four_ssn: current_intake.direct_file_data.primary_ssn&.last(4)) %>
        <% else %>
          <%= t(".primary_name", last_four_ssn: current_intake.direct_file_data.primary_ssn&.last(4)) %>
        <% end %>
      </p>
      <%= f.cfa_input_field(:primary_first_name, t("general.first_name"), classes: ["form-width--long"]) %>
      <%= f.cfa_input_field(:primary_last_name, t("general.last_name"), classes: ["form-width--long"]) %>
      <% if f.object.ask_primary_dob? %>
        <div class="date-select">
          <%= f.cfa_date_select(:primary_birth_date,
                                t('.your_dob'),
                                options: {
                                  start_year: Time.now.year,
                                  end_year: 1900,
                                }) %>
        </div>
      <% end %>
    </div>
    <% if f.object.ask_spouse_name?  %>
      <div class="blue-group">
        <p>
          <% if f.object.ask_spouse_dob? %>
            <%= t(".spouse_name_dob", last_four_ssn: current_intake.direct_file_data.spouse_ssn&.last(4)) %>
          <% else %>
            <%= t(".spouse_name", last_four_ssn: current_intake.direct_file_data.spouse_ssn&.last(4)) %>
          <% end %>
        </p>
        <%= f.cfa_input_field(:spouse_first_name, t("general.first_name"), classes: ["form-width--long"]) %>
        <%= f.cfa_input_field(:spouse_last_name, t("general.last_name"), classes: ["form-width--long"]) %>
        <% if f.object.ask_spouse_dob? %>
            <div class="date-select">
              <%= f.cfa_date_select(:spouse_birth_date,
                                    t('.spouse_dob'),
                                    options: {
                                      start_year: Time.now.year,
                                      end_year: 1900,
                                    }) %>
            </div>
        <% end %>
      </div>
    <% end %>

    <% if @form.errors.include? :hoh_qualifying_person_name %>
      <span class="text--error" id="hoh_qualifying_person__errors">
        <i class="icon-warning"></i>
<!--        This is gross, figure out a better way to set and get only one error for a key -->
        <%= @form.errors[:hoh_qualifying_person_name][0] %>
      </span>
    <%end%>

    <% asked_months = false %>
    <%= f.fields_for :dependents do |ff| %>
      <div id="dependent-<%= ff.index %>" class="blue-group">

        <p><%= t(".dependent_name_dob") %></p>

        <%= ff.cfa_input_field(:first_name, t("general.first_name"), classes: ["form-width--long"], options: {disabled: true}) %>
        <%= ff.cfa_input_field(:last_name, t("general.last_name"), classes: ["form-width--long"], options: {disabled: true}) %>

        <div class="date-select">
          <%= ff.cfa_date_select(:dob,
                                 t('general.date_of_birth'),
                                 options: {
                                   start_year: Time.now.year,
                                   end_year: 1900,
                                 }) %>
        </div>
        <% if f.object.ask_months_in_home? %>
          <% asked_months = true %>
          <%= ff.cfa_select(
                :months_in_home,
                t('.dependent_months_lived_label', year: MultiTenantService.statefile.current_tax_year),
                (0..12).map { |i| [i.to_s, i] }.reverse,
                prompt: t('general.select_prompt')
              ) %>
        <% end %>
      </div>

      <% if asked_months %>
        <div class="reveal">
          <p><a href="#" class="reveal__link"><%= t('.months_helper_heading') %></a></p>
          <div class="reveal__content">
            <p><%= t('.months_helper_description') %></p>
            <p><%= t('.months_helper_born_died') %></p>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <button class="button button--primary button--wide" type="submit">
      <%= t("general.continue") %>
    </button>
  <% end %>

<% end %>