<% content_for :card do %>
  <div class="slab slab--half-padded">
    <h1><%= "FAQ" %></h1>
    <%= form_with model: @faq, method: :put, local: true, url: hub_faq_path, builder: VitaMinFormBuilder do |f| %>
      <div class="spacing-above-25">
        <%= f.label :category, "Category", class: "h4" %>
        <div>
          <%= f.select :category, I18n.backend.send(:lookup, :en, "views.public_pages.faq.question_groups").map { |k, v| [v[:title], k] }, {}, { disabled: true } %>
        </div>
      </div>
      <div class="spacing-above-25">
        <%= f.label :pathname, "FAQ Path", class: "h4" %>
        <div>
          <%= f.text_field :pathname, style: "width: 100%", disabled: true %>
        </div>
      </div>

      <div class="spacing-above-25">
        <%= f.label :full_pathname, "Full pathname", class: "h4" %>
        <div>
          <%= f.text_field :full_pathname, style: "width: 100%", disabled: true %>
        </div>
      </div>

      <div class="spacing-above-25">
        <%= f.label :title_en, "Title (English)", class: "h4" %>
        <div>
          <%= f.text_field :title_en, style: 'width: 100%' %>
        </div>
      </div>

      <div class="spacing-above-25">
        <%= f.label :title_es, "Title (Spanish)", class: "h4" %>
        <div>
          <%= f.text_field :title_es, style: "width: 100%" %>
        </div>
      </div>

      <div class="spacing-above-25">
        <%= f.label :body_en, "Body (English)", class: "h4" %>
        <div>
          <%= f.rich_text_area :body_en %>
        </div>
      </div>

      <div class="spacing-above-25">
        <%= f.label :body_es, "Body (Spanish)", class: "h4" %>
        <div>
          <%= f.rich_text_area :body_es %>
        </div>
      </div>
      <div class="spacing-above-25">
        <%= f.submit 'Save', class: 'button button--primary' %>
      </div>

    <% end %>
  </div>
<% end %>
