<% @main_heading = t("views.questions.spouse_consent.title") %>

<% content_for :page_title, @main_heading %>
<% content_for :body_class, "consent-form" %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <%= yield :notices %>
        <%= render "shared/progress_bar" %>
        <main role="main">
          <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: {class: "form-card form-card--long"} do |f| %>
            <%= render "shared/consent_agreement" %>

            <%= f.cfa_input_field(:spouse_first_name, t("views.questions.spouse_consent.spouse_first_name")) %>
            <%= f.cfa_input_field(:spouse_last_name, t("views.questions.spouse_consent.spouse_last_name")) %>
            <%= f.cfa_select(:spouse_tin_type, t("views.ctc.questions.spouse_info.spouse_identity"), tin_options_for_select(include_itin: true, include_none: true), help_text: t("views.ctc.questions.spouse_info.spouse_identity_help_text")) %>
            <div class="date-select">
              <%= f.cfa_date_select(
                      :birth_date,
                      t("views.questions.spouse_consent.birth_date"),
                      options: {
                          start_year: Time.now.year - 17,
                          end_year: Time.now.year - 120,
                      }
                  ) %>
            </div>
            <%= f.cfa_input_field(:spouse_ssn, t("attributes.spouse_ssn"), classes: ["form-width--long"], options: { maxlength: 11, 'data-mask': '000-00-0000' }) %>
            <%= f.cfa_input_field(:spouse_ssn_confirmation, t("attributes.confirm_spouse_ssn"), classes: ["form-width--long"], options: { maxlength: 11, 'data-mask': '000-00-0000' }) %>
            <button class="button button--primary button--wide" type="submit">
              <%= t("views.questions.spouse_consent.cta") %>
            </button>
          <% end %>
        </main>
      </div>
    </div>
  </section>
<% end %>
