<% title = t(".title") %>
<% state_full_name = params[:us_state] == "ny" ? "New York" : "Arizona" %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p class="subtitle"><%= t(".subtitle") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="blue-group">
      <%= f.cfa_radio_set(
            :eligibility_lived_in_state,
            label_text: t(".lived_in_state_html", state: state_full_name),
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>

    <% if params[:us_state] == "ny" %>
      <div class="blue-group">
        <%= f.cfa_radio_set(
              :eligibility_yonkers,
              label_text: t(".lived_or_income_in_yonkers"),
              collection: [
                { value: "yes", label: t("general.affirmative") },
                { value: "no", label: t("general.negative") },
              ]
            ) %>
      </div>
    <% end %>

    <% if params[:us_state] == "az" %>
      <div class="blue-group">
        <%= f.cfa_radio_set(
              :eligibility_married_filing_separately,
              label_text: t(".filing_status_married_filing_separately"),
              collection: [
                { value: "yes", label: t("general.affirmative") },
                { value: "no", label: t("general.negative") },
              ]
            ) %>
      </div>
    <% end %>

    <%= f.continue %>
  <% end %>
<% end %>
