<% @filing_count = current_intake.default_tax_return.filing_status_single? ? 1 : 2 %>
<% @main_heading = t("views.ctc.questions.income.title", current_tax_year: current_tax_year, count: @filing_count) %>
<% content_for :form_question, @main_heading %>

<% content_for :card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <% standard_deduction = StandardDeductions.base_deductions(tax_year: current_tax_year, puerto_rico_filing: current_intake.puerto_rico_filing?)[current_intake.default_tax_return.filing_status] %>
  <ul class="checkmark-list teal">
    <% if current_intake.puerto_rico_filing? %>
      <% t("views.ctc.questions.income.puerto_rico.list", standard_deduction: number_to_currency(standard_deduction), count: @filing_count).each do |income_qualifications| %>
        <li><%= income_qualifications %></li>
      <% end %>
    <% else %>
      <% t("views.ctc.questions.income.list", standard_deduction: number_to_currency(standard_deduction), count: @filing_count).each do |income_qualifications| %>
        <li><%= income_qualifications %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="reveal-shrink-wrapper spacing-above-60">
    <%= render('components/molecules/reveal', title: t("views.ctc.questions.income.income_reveal.title")) do %>
      <p><%= t("views.ctc.questions.income.income_reveal.content.p1") %></p>
      <ul class="list--bulleted">
        <% t("views.ctc.questions.income.income_reveal.content.list_1").each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="reveal-shrink-wrapper">
    <%= render('components/molecules/reveal', title: t("views.ctc.questions.income.self_employment_income_reveal.title")) do %>
      <p><%= t("views.ctc.questions.income.self_employment_income_reveal.content.p1") %></p>
      <p><%= t("views.ctc.questions.income.self_employment_income_reveal.content.p2") %></p>
      <ul class="list--bulleted">
        <% t("views.ctc.questions.income.self_employment_income_reveal.content.list_1").each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <% if current_intake.puerto_rico_filing? %>
    <div class="reveal-shrink-wrapper">
      <%= render('components/molecules/reveal', title: t("views.ctc.questions.income.income_source_reveal.title")) do %>
        <p><%= t("views.ctc.questions.income.income_source_reveal.content") %></p>
      <% end %>
    </div>

    <div class="reveal-shrink-wrapper">
      <%= render('components/molecules/reveal', title: t("views.ctc.questions.income.mainland_connection_reveal.title")) do %>
        <p><%= t("views.ctc.questions.income.mainland_connection_reveal.content") %></p>
      <% end %>
    </div>
  <% else %>
    <div class="reveal-shrink-wrapper">
      <%= render('components/molecules/reveal', title: t("views.ctc.questions.income.what_is_aptc_reveal.title")) do %>
        <p><%= t("views.ctc.questions.income.what_is_aptc_reveal.content.p1") %></p>
        <p><%= t("views.ctc.questions.income.what_is_aptc_reveal.content.p2") %></p>
        <p><%= t("views.ctc.questions.income.what_is_aptc_reveal.content.p3") %></p>
      <% end %>
    </div>
  <% end %>

  <%= link_to next_path, class: "button button--wide text--centered spacing-above-60 button--primary" do %>
    <%= t("general.continue") %>
  <% end %>

  <%= link_to Ctc::Questions::UseGyrController.to_path_helper, class: "button button--wide text--centered", "data-track-click": "gctc_to_gyr_income" do %>
    <%= t("views.ctc.questions.restrictions.cannot_use_ctc") %>
  <% end %>
<% end %>
