<% @main_heading = t("views.ctc.questions.income.title", current_tax_year: current_tax_year, count: current_intake.default_tax_return.filing_status_single? ? 1 : 2) %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <% standard_deduction = StandardDeductions.base_deductions(tax_year: current_tax_year, puerto_rico_filing: current_intake.puerto_rico_filing?)[current_intake.default_tax_return.filing_status] %>
  <ul class="checkmark-list teal">
    <% income_qual_list = current_intake.puerto_rico_filing? ? "puerto_rico_income_qualifications" : "income_qualifications" %>
    <% t("views.ctc.questions.income.#{income_qual_list}", standard_deduction: number_to_currency(standard_deduction)).each do |income_qualifications| %>
      <li><%= income_qualifications %></li>
    <% end %>
  </ul>

  <div class="reveal-shrink-wrapper spacing-above-60">
    <%= render('components/molecules/reveal', title: t("views.ctc.questions.income.income_reveal.title")) do %>
      <p><%= t("views.ctc.questions.income.income_reveal.content.p1") %></p>
      <ul class="list--bulleted">
        <% t("views.ctc.questions.income.income_reveal.content.list_1").each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="reveal-shrink-wrapper">
    <%= render('components/molecules/reveal', title: t("views.ctc.questions.income.self_employment_income_reveal.title")) do %>
      <p><%= t("views.ctc.questions.income.self_employment_income_reveal.content.p1") %></p>
      <p><%= t("views.ctc.questions.income.self_employment_income_reveal.content.p2") %></p>
      <ul class="list--bulleted">
        <% t("views.ctc.questions.income.self_employment_income_reveal.content.list_1").each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="reveal-shrink-wrapper">
    <%= render('components/molecules/reveal', title: t("views.ctc.questions.income.what_is_aptc_reveal.title")) do %>
      <p><%= t("views.ctc.questions.income.what_is_aptc_reveal.content.p1") %></p>
      <p><%= t("views.ctc.questions.income.what_is_aptc_reveal.content.p2") %></p>
      <p><%= t("views.ctc.questions.income.what_is_aptc_reveal.content.p3") %></p>
    <% end %>
  </div>

  <%= link_to next_path, class: "button button--full-width text--centered spacing-above-60 button--primary" do %>
    <%= t("general.continue") %>
  <% end %>

  <%= link_to Ctc::Questions::UseGyrController.to_path_helper, class: "button button--full-width text--centered", "data-track-click": "gctc_to_gyr_income" do %>
    <%= t("views.ctc.questions.restrictions.cannot_use_ctc") %>
  <% end %>
<% end %>
