<% title = t(".title", year: current_tax_year) %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <p><%= t(".nyc_includes_html") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", data: { efile_security_information: true, form_name: "state_file_nyc_residency_form" }, builder: VitaMinFormBuilder do |f| %>
    <%= f.hidden_field(:device_id) %>
    <div class="question-with-follow-up">
      <div class="question-with-follow-up__question">
        <div class="blue-group">
          <%= f.cfa_radio_set(:nyc_residency, label_text: title, collection: [
            { value: :none, label: t(".none", count: current_intake.filer_count, year: current_tax_year),  input_html: { "data-follow-up": "#nyc-maintained-home" } },
            { value: :part_year, label: t(".part_year", count: current_intake.filer_count, year: current_tax_year) },
            { value: :full_year, label: t(".full_year", count: current_intake.filer_count, year: current_tax_year) },
          ], legend_class: "sr-only") %>
        </div>
      </div>

      <div class="question-with-follow-up__follow-up" id="nyc-maintained-home">
        <div class="blue-group">
          <%= f.cfa_radio_set(
                :nyc_maintained_home,
                label_text: t(".maintained_home", count: current_intake.filer_count, year: current_tax_year),
                collection: [
                  { value: :yes, label: t("general.affirmative") },
                  { value: :no, label: t("general.negative") },
                ]
              ) %>
        </div>
      </div>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
