<% content_for :page_title, t(".title") %>

<section class="slab slab--white question-layout">
  <div class="grid">
    <div class="grid__item question-wrapper">
      <main role="main">
        <div class="back grid">
          <%= link_to t("general.back"), :back %>
        </div>
        <div class="question__illustration spacing-above-0">
          <%= image_tag("questions/person-check.svg", alt: "") %>
        </div>

        <h1 class="form-question">
          <%= content_for :page_title %>
        </h1>
        <p><%=t(".info") %></p>

        <div class="text--semibold spacing-below-35">
          <p><%= t(".right_option.header") %></p>
          <ul class="checkmark-list purple">
            <% t(".right_option.description", current_tax_year: current_tax_year).each do |item| %>
            <li>
              <%= item %>
            </li>
            <% end %>
          </ul>
        </div>

        <%= link_to t("general.continue"), diy_email_path, class: "button button--primary text--centered button--wide spacing-above-60" %>
        <%= link_to t(".assistance"), backtaxes_questions_path %>
      </main>
    </div>
  </div>
</section>
