<% content_for :page_title, t("views.questions.backtaxes.title") %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35">
      <%= content_for(:page_title) %>
    </h1>
    <p>
      <%=t("views.questions.backtaxes.select_all_that_apply") %>
    </p>
    <div class="form-card__stacked-checkboxes spacing-above-0">
      <% @possible_filing_years.map do |year| %>
        <%= f.cfa_checkbox("needs_help_#{year}".to_sym, year.to_s, options: { checked_value: "yes", unchecked_value: "no" }) %>
      <% end %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      <%=t("general.continue") %>
    </button>
  <% end %>
<% end %>
