<% content_for :page_title, t("questions.backtaxes.title") %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35">
      <%= content_for(:page_title) %>
    </h1>
    <p>
      <%=t("questions.backtaxes.select_all_that_apply") %>
    </p>
    <div class="form-card__stacked-checkboxes spacing-above-0">
      <%= f.cfa_checkbox(:needs_help_2019, "2019", options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:needs_help_2018, "2018", options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:needs_help_2017, "2017", options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:needs_help_2016, "2016", options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      <%=t("general.continue") %>
    </button>
  <% end %>
<% end %>