<% content_for :page_title, t("views.dependents.index.title") %>


<% content_for :body_class, "dependents-index" %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <%= yield :notices %>
        <%= render "shared/progress_bar" %>
        <main role="main">
          <% if @dependents.present? %>
          <ul class="review-box">
            <% @dependents.each do |dependent| %>
            <li class="dependent">
              <%= image_tag "dependent.svg", alt: "", class: "dependent__icon" %>
              <div class="dependent__details">
                <h3 class="dependent__label">
                  <%= dependent.full_name_and_birth_date %>
                </h3>
                <%= link_to t("general.edit"), edit_dependent_path(dependent), class: "button button--inline-action" %>
              </div>
            </li>
            <% end %>
          </ul>
          <% end %>

          <h1 class="h2"><%=t("views.dependents.index.title") %></h1>
          <p><%=t("views.dependents.index.info") %></p>

          <%= link_to(new_dependent_path, class: "button button--wide button--icon") do %>
            <%= image_tag("add-person.svg", alt: "") %>
            <%=t("views.dependents.index.add_person") %>
          <% end %>

          <%= link_to(next_path, class: "button button--cta button--wide button--icon") do %>
            <%= image_tag("checkmark--white.svg", alt: "") %>
            <%=t("views.dependents.index.done") %>
          <% end %>
        </main>
      </div>
    </div>
  </section>
<% end %>
