<% @main_heading = "Let’s claim someone!" %>

<% content_for :page_title, @main_heading %>


<% content_for :body_class, "dependents-index" %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <%= yield :notices %>
        <main role="main">
          <% if @dependents.present? %>
          <ul class="dependents-list">
            <% @dependents.each do |dependent| %>
            <li class="dependent">
              <%= image_tag "dependent.svg", alt: "", class: "dependent__icon" %>
              <div class="dependent__details">
                <h3 class="dependent__label">
                  <%= dependent.full_name_and_birth_date %>
                </h3>
                <%= link_to edit_dependent_path(dependent), class: "button button--inline-action" do %>
                  Edit
                <% end %>
              </div>
            </li>
            <% end %>
          </ul>
          <% end %>

          <h1 class="h2"><%= @main_heading %></h1>
          <p>We will need an ITIN or SSN for each person you add. We’ll ask you to share images of these at the end.</p>

          <%= link_to(new_dependent_path, class: "button button--wide button--icon") do %>
            <%= image_tag("add-person.svg", alt: "") %>
            Add a person
          <% end %>

          <%= link_to(dependent_care_questions_path, class: "button button--cta button--wide button--icon") do %>
            <%= image_tag("checkmark--white.svg", alt: "") %>
            Done with this step
          <% end %>
        </main>
      </div>
    </div>
  </section>
<% end %>
