<div class="row">
  <div class="dependent grid__item width-one-half <%= is_first ? "with-right-border" : "with-top-right-border" %>" id="<%= dom_id(dependent) %>">
    <div class="review-box__name"><%= dependent.full_name %></div>
    <div class="review-box__details spacing-below-25"><%= t("views.ctc.questions.confirm_dependents.birthday") %>: <%= default_date_format(dependent.birth_date) %></div>
    <%= link_to t("general.edit").downcase, Ctc::Questions::Dependents::InfoController.to_path_helper(id: dependent.id), class: "review-box__edit review-box__edit-button" %>
  </div>
  <div class="grid__item width-one-half">
    <div class="row row__full-height">
      <% if true #dependent.intake.claiming_eitc? %>
        <div class="qualification <%= is_first ? "with-right-border" : "with-top-right-border" %>">
          <%= image_tag(dependent.qualifying_eitc? ? "icons/green-checkmark-circle.svg" : "icons/grey-close-circle.svg") %>
        </div>
      <% end %>
      <div class="qualification <%= is_first ? "with-right-border" : "with-top-right-border" %>">
        <%= image_tag(dependent.qualifying_ctc? ? "icons/green-checkmark-circle.svg" : "icons/grey-close-circle.svg") %>
      </div>
      <div class="qualification <%= is_first ? "" : "with-top-border" %>">
        <%= image_tag(dependent.qualifying_eip3? ? "icons/green-checkmark-circle.svg" : "icons/grey-close-circle.svg") %>
      </div>
    </div>
  </div>
</div>