<% @main_question = t("views.ctc.questions.confirm_dependents.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>

    <h1 class="h2"><%= @main_question %></h1>

    <div class="review-box spacing-below-35">
      <div data-automation="ctc-dependents">
        <div class="dependents-list grid">
            <div class="row">
              <div class="dependent dependent__header grid__item width-one-half"><%= image_tag "icons/person.svg" %></div>
              <div class="grid__item width-one-half row">
                <% if true #current_intake.claiming_eitc? %>
                  <div class="qualification text--bold text--small">EITC</div>
                <% end %>
                <div class="qualification text--bold text--small">CTC</div>
                <div class="qualification text--bold text--small"><%= t("general.stimulus") %></div>
              </div>
            </div>
            <% current_intake.dependents.each_with_index do |dependent, index| %>
                <%=
                  render(
                    partial: 'dependent',
                    locals: { is_first: index == 0 },
                    collection: [dependent]
                  )
                %>
            <% end %>
          </div>
        </div>
      </div>

    <% unless current_intake.filing_jointly? %>
      <%= render('components/molecules/reveal', title: t("views.ctc.questions.confirm_dependents.other_benefits_reveal.title")) do %>
        <p><%= t("views.ctc.questions.confirm_dependents.other_benefits_reveal.content.p1_html", current_tax_year: current_tax_year) %></p>
        <p class="text--bold"><%= t("views.ctc.questions.confirm_dependents.other_benefits_reveal.content.head_of_household.title") %></p>
        <p><%= t("views.ctc.questions.confirm_dependents.other_benefits_reveal.content.head_of_household.p1") %></p>
        <p><%= t("views.ctc.questions.confirm_dependents.other_benefits_reveal.content.head_of_household.p2_html", link: Ctc::Questions::HeadOfHouseholdController.to_path_helper) %></p>
      <% end %>
    <% end %>

    <%= link_to Ctc::Questions::Dependents::InfoController.to_path_helper(id: current_intake.new_dependent_token), class: "button button--wide text--centered" do %>
      <%= image_tag("add-person.svg", alt: "") %>
      <%= t('views.ctc.questions.confirm_dependents.add_a_dependent') %>
    <% end %>
    <%= f.continue t("views.ctc.questions.confirm_dependents.done_adding") %>
  <% end %>
<% end %>
