<% content_for :page_title, t("views.questions.welcome.title") %>

<% content_for :notice do %>
  <% if open_for_intake? %>
    <div class="slab slab--banner">
      <div class="grid">
        <div class="grid__item">
          <%= t('views.public_pages.home.documents_warning_html') %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :main do %>
  <section class="slab slab--white welcome">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="question__illustration">
            <%= image_tag "questions/welcome.svg"%>
          </div>

          <h1 class="form-question">
            <%= content_for(:page_title) %>
          </h1>

          <p><%= t("views.questions.welcome.help_text")%></p>

          <ul class="list--bulleted">
            <% t("views.questions.welcome.list").each do |list_item| %>
              <li><%= list_item.html_safe %></li>
            <% end %>
          </ul>

          <p><strong><%= t("views.questions.welcome.find_right_service")%></strong></p>

          <div class="spacing-above-60">
            <%= link_to t('general.continue'), next_path, class: "button button--primary button--wide text--centered" %>
          </div>
        </main>
      </div>
    </div>
  </section>
<% end %>
