<% content_for :page_title, t('views.questions.health_insurance.title', :year => current_intake.most_recent_filing_year, :count => current_intake.filer_count) %>

<% content_for :card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35">
      <%= content_for(:page_title) %>
    </h1>
    <p>
      <%= t('views.questions.health_insurance.help_text', :count => current_intake.filer_count) %>
    </p>
    <div class="form-card__stacked-checkboxes spacing-above-0">
      <%= f.cfa_checkbox(:bought_health_insurance, t('views.questions.health_insurance.options.marketplace_health_insurance', :count => current_intake.filer_count), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:bought_employer_health_insurance, t('views.questions.health_insurance.options.employer_health_insurance', :count => current_intake.filer_count), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:had_medicaid_medicare, t('views.questions.health_insurance.options.medicaid_medicare', :count => current_intake.filer_count), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:had_hsa, t('views.questions.health_insurance.options.hsa', :count => current_intake.filer_count), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:no_health_insurance, t("views.questions.health_insurance.options.no_health_insurance", :count => current_intake.filer_count), options: { id: "none__checkbox", checked_value: "yes", unchecked_value: "no" }) %>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
