<% title = t(".title_html", filing_year: current_tax_year) %>

<% content_for :page_title, ActionView::Base.full_sanitizer.sanitize(title) %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="white-group">
      <% checkboxes = f.fields_for :dependents do |ff|
        ff.vita_min_checkbox_in_set({ method: :nj_did_not_have_health_insurance, label: ff.object.full_name }, enum: true)
      end %>

      <%= f.vita_min_checkbox_set(
        :college_dependents,
        checkboxes: checkboxes,
        enum: true,
        label_text: t('.label'),
      )%>
    </div>

    <p class="text--italic"><%= t('.continue') %></p>
    <div class="reveal">
      <button class="reveal__button"><%= t('.coverage_heading') %></button>
      <div class="reveal__content">
        <%= t('state_file.general.nj_minimal_essential_health_coverage_html') %>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>
