<% title = t('.title') %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, method: :put, local: true, builder: VitaMinFormBuilder, class: 'form-card' do |f| %>
    <%= f.fields_for :dependents do |ff| %>
        <div class="blue-group">
          <%= ff.cfa_radio_set(
                :needed_assistance,
                label_text: t(".assistance_label", name: ff&.object&.first_name&.capitalize),
                collection: [
                  { value: "yes", label: t("general.affirmative") },
                  { value: "no", label: t("general.negative") },
                ]
              ) %>
        </div>
        <div class="blue-group">
          <%= ff.cfa_radio_set(
                :passed_away,
                label_text: t(".passed_away_label", name: ff&.object&.first_name&.capitalize),
                collection: [
                  { value: "yes", label: t("general.affirmative") },
                  { value: "no", label: t("general.negative") },
                ]
              ) %>
        </div>
    <% end %>

    <button class="button button--primary button--wide" type="submit">
      <%= t("general.continue") %>
    </button>
  <% end %>

<% end %>