<li role="listitem">
  <div class="timestamp"><%= timestamp transition.created_at %></div>
  <div class="status <%= transition.to_state %>"><%= transition.to_state %></div>
  <div class="details">
    <% if transition.initiated_by.present? %>
      <div>Initiated by: <%= transition.initiated_by.name %></div>
    <% end %>
    <% transition.stored_errors.each do |error| %>
        <div>
          <strong><%= "#{error.code}" if error.code.present? %></strong>
          <% if error.message.present? %>
            <% if error.message.respond_to?(:each) %>
              <%= error.message.each do |message| %>
                <div><%= message %></div>
              <% end %>
            <% else %>
              <%= error.message %>
            <% end %>
          <% end %>
        </div>
    <% end %>
  </div>
</li>
