<li role="listitem">
  <div class="timestamp"><%= timestamp transition.created_at %></div>
  <div class="status <%= transition.to_state %>"><%= transition.to_state %></div>
  <div class="details">
    <% if transition.initiated_by.present? %>
      <div>Initiated by: <%= transition.initiated_by.name %></div>
    <% end %>
    <% transition.efile_errors.each do |error| %>
        <div>
          <strong><%= "#{error.code}" if error.code.present? %></strong>
          <%= error.message %>
        </div>
    <% end %>
    <% if transition.metadata["indicators"].present? %>
      <div> <%= image_tag("security-notification.svg") %> <%= transition.metadata["indicators"].map(&:humanize).join(", ") %></div>
    <% end %>
    <% if transition.metadata["raw_response"].present? %>
      <div class="accordion spacing-above-10">
        <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a2">
          <h3>Details</h3>
        </a>
        <div class="accordion__content" id="a2">
          <pre>
            <code>
              <%= transition.metadata["raw_response"] %>
            </code>
          </pre>

        </div>
      </div>
    <% end %>
  </div>
</li>
