<% content_for :card do %>
  <div class="spacing-above-25 submissions-index">
    <div class="efile-state-counts" style="display: flex;">
      <%= render "hub/efile_submissions/state_counts", efile_submission_state_counts: @efile_submission_state_counts %>
    </div>
    <div class="slab slab--not-padded spacing-above-25">
      <div class="pagination-wrapper">
        <div class="count-wrapper">
          <div>
            <%= page_entries_info @efile_submissions, model: "submission" %>
          </div>
        </div>
        <div>
          <%= will_paginate(
                  @clients,
                  previous_label: "<i class=\"icon icon-keyboard_arrow_left\"></i><span class=\"hide-on-mobile\">Previous</span>",
                  next_label: "<span class=\"hide-on-mobile\">Next</span><i class=\"icon icon-keyboard_arrow_right\"></i>",
                  inner_window: 1,
                  outer_window: 1,
                  param_name: "page",
                  ) %>
        </div>
      </div>
    </div>

    <table class="index-table spacing-above-25">
      <thead class="index-table__head">
        <tr class="index-table__row">
        <th scope="col" style="width: 12.5rem" class="index-table__header sortable">
          Status
        </th>
        <th scope="col" style="width: 10rem" class="index-table__header sortable">Submission ID</th>
        <th scope="col" class="index-table__header sortable">
          Primary Filer
        </th>
        <th scope="col" style="width: 10rem"class="index-table__header sortable">
          Tax Year
        </th>
        <th scope="col" class="index-table__header sortable">
          Last updated
        </th>
        <th scope="col" class="index-table__header">
          Errors
        </th>
      </tr>
      </thead>
      <tbody class="index-table__body submission-table">

      <% @efile_submissions.each do |submission| %>
        <% tax_return = submission.tax_return %>
          <tr class="index-table__row">
            <td class="index-table__cell status"><%= link_to submission.current_state.humanize(capitalize: false), efile_hub_client_path(id: tax_return.client.id, anchor: "body"), class: "underline" %></td>
            <td class="index-table__cell"><%= submission.irs_submission_id.present? ? link_to(submission.irs_submission_id, efile_hub_client_path(id: tax_return.client.id, anchor: "body")) : "" %></td>
            <td class="index-table__cell">
              <%= link_to tax_return.client.legal_name, efile_hub_client_path(id: tax_return.client.id, anchor: "body"), class: "underline" %>
            </td>
            <td class="index-table__cell">
              <%= tax_return.year %>
            </td>
            <td class="index-table__cell">
              <%= timestamp submission.updated_at %>
            </td>
            <td class="index-table__cell">
              <% if submission.in_state?(:rejected) %>
                <% submission.last_transition.efile_errors.each do |error| %>
                  <span class="tooltip max-250 error-<%= error.id %>" data-position="left" title="<%= error.message %>">
                    <%= link_to hub_efile_error_path(id: error.id) do %>
                      <div class="label label--red"><%= error.code %></div>
                    <% end %>
                  </span>
                <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
