<% content_for :card do %>
  <div class="slab slab--not-padded spacing-above-25">
    <h1 class="h2 spacing-below-5">
      Submission <%= @efile_submission.id %> <span class="small">(<%= @efile_submission.current_state %>)</span>
    </h1>
    <p class="spacing-above-5 spacing-below-5">Client: <%= link_to @efile_submission.tax_return.client.legal_name, hub_clients_path(id: @efile_submission.tax_return.client.id) %></p>

    <div>
      <h3 class="spacing-above-25 spacing-below-10">Status Logs</h3>
      <ul>
        <% @efile_submission.efile_submission_transitions.each do |transition| %>
          <li>
            <%= timestamp transition.created_at %>
            <%= transition.to_state %>
            <%= transition.metadata["error_code"] %>
            <%= transition.metadata["error_message"] %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>