<% content_for :card do %>
  <%= render "hub/clients/client_header" %>
  <%= render "hub/clients/navigation" %>
  <% @tax_returns.each do |tax_return| %>
    <% latest_efile_submission = tax_return.efile_submissions.last %>
    <div class="slab slab--not-padded spacing-above-25 submission" id="body">

      <div style="display: flex;">
        <h1><%= tax_return.year %> Tax Return (<%= latest_efile_submission.current_state.humanize %>)</h1>
        <% if latest_efile_submission.can_transition_to?(:resubmitted) %>
          <div style="margin-left: 10px;">
            <%= button_to("Resubmit",
                        resubmit_hub_efile_submission_path(id: latest_efile_submission.id),
                        method: :patch,
                        disabled: latest_efile_submission.intake.refund_payment_method_direct_deposit? && !latest_efile_submission.intake.bank_account.present?,
                        data: { confirm: "Have you updated the necessary information for #{@client.legal_name}?" },
                        class: "button button--small button--teal button--no-margin")
            %>
          </div>
        <% end %>

        <% if latest_efile_submission.can_transition_to?(:waiting) %>
          <div style="margin-left: 10px">
            <%= link_to("Wait for client",
                        wait_hub_efile_submission_path(id: latest_efile_submission.id),
                        method: :patch,
                        data: { confirm: "Make sure the client knows we're waiting for a response from them!" },
                        class: "button button--small"
                )
            %>
          </div>
        <% end %>

        <% if latest_efile_submission.can_transition_to?(:investigating) %>
          <div style="margin-left: 10px">
            <%= link_to("Investigate",
                        investigate_hub_efile_submission_path(id: latest_efile_submission.id),
                        method: :patch,
                        data: { confirm: "Remember to leave a note with your findings, and contact the client if you can't immediately resolve." },
                        class: "button button--small"
                )
            %>
          </div>
        <% end %>

        <% if latest_efile_submission.can_transition_to?(:cancelled) %>
          <div style="margin-left: 10px">
            <%= link_to("Do not file",
                        cancel_hub_efile_submission_path(id: latest_efile_submission.id),
                        method: :patch,
                        data: { confirm: "Are you sure you want to mark this tax return submission for # #{@client.legal_name}? as 'Not filing'?" },
                        class: "button button--danger button--small") %>
          </div>
        <% end %>
      </div>

      <div class="log-wrapper">
        <h4 class="spacing-below-10">Status Logs</h4>
        <% tax_return.efile_submissions.each_with_index do |efile_submission, i| %>
          <hr/>
          <div>
            <%= i.zero? ? "Submission" : "Resubmission" %>
            <strong><%= efile_submission.irs_submission_id %></strong>
            <% if efile_submission.submission_bundle.present? %>
              <%= link_to("(Download submission bundle)",
                          download_hub_efile_submission_path(id: efile_submission.id)
                  )
              %>
            <% end %>
          </div>

          <ul role="list" class="logs">
            <%= render(partial: "log", collection: efile_submission.efile_submission_transitions, as: :transition) || "No logs yet" %>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
