<%
  title = t(".title")
  content_for :page_title, title
%>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <%= t(".subtitle_html") %>

  <div class="reveal">
    <button class="reveal__button"><%= t('.college_helper_heading') %></button>
    <div class="reveal__content">
      <p><%= t('.college_helper_description') %></p>
    </div>
  </div>

  <div class="reveal">
    <button class="reveal__button"><%= t('.full_time_college_helper_heading') %></button>
    <div class="reveal__content">
      <p><%= t('.full_time_college_helper_description') %></p>
    </div>
  </div>

  <div class="reveal">
    <button class="reveal__button"><%= t('.tuition_books_helper_heading') %></button>
    <div class="reveal__content">
      <p><%= t('.tuition_books_helper_description_html') %></p>
    </div>
  </div>

  <p><%= t(".reminder") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>

    <%= f.fields_for :dependents do |ff| %>
      <% dependent = ff.object %>
      <% if dependent.under_22? %>
        <div class="white-group">
          <%= ff.vita_min_checkbox_set(
            :college_dependents,
            [
              {
                method: :nj_dependent_attends_accredited_program,
                label: t(".dependent_attends_accredited_program", dependent_first: dependent.first_name_title_case),
              },
              {
                method: :nj_dependent_enrolled_full_time,
                label: t(".dependent_enrolled_full_time", dependent_first: dependent.first_name_title_case)
              },
              {
                method: :nj_dependent_five_months_in_college,
                label: t(".dependent_five_months_in_college", dependent_first: dependent.first_name_title_case)
              },
              {
                method: :nj_filer_pays_tuition_for_dependent,
                label: t(".filer_pays_tuition_books", dependent_first: dependent.first_name_title_case)
              },
            ],
            enum: true,
            label_text: "#{dependent.full_name} #{t('.dependent_header')}",
            help_text: "#{t('.birthdate_label')} #{dependent.dob.strftime('%m/%d/%Y')}"
          )%>
        </div>
      <% end %>
    <% end %>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>

    <%= f.continue %>
  <% end %>
<% end %>
