<% title = t('.title') %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2">
    <%= title %>
  </h1>

  <strong>
    <%= t(".basic_household_info_title") %>
  </strong>
  <p>
    <%= t(".partially_complete_description") %>
    <%= image_tag("icons/exclamation.svg", alt: "") %>
  </p>

  <strong>
    <%= t(".filing_status_title") %>
  </strong>
  <p>
    <%= t(".complete_description") %>
    <%= image_tag("icons/check.svg", alt: "") %>
  </p>

  <strong>
    <%= t(".income_and_deductions_title") %>
  </strong>
  <p>
    <%= t(".partially_complete_description") %>
    <%= image_tag("icons/exclamation.svg", alt: "") %>
  </p>

  <strong>
    <%= t(".state_tax_withheld_title", name: current_state_name) %>
  </strong>
  <p>
    <%= t(".complete_description") %>
    <%= image_tag("icons/check.svg", alt: "") %>
  </p>
  <%= form_with model: @form, url: { action: :update }, data: { efile_security_information: true, form_name: "state_file_data_review_form" }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <%= f.hidden_field(:device_id) %>
    <%= f.continue %>
  <% end %>

  <% unless acts_like_production? %>
    <%=
      link_to(
        "I'm on a #{Rails.env} environment, let me edit the response XML",
        StateFile::Questions::FederalInfoController.to_path_helper,
        class: 'dev-button',
        id: 'visit_federal_info_controller'
      )
    %>
  <% end %>
<% end %>
