<% content_for :page_title, "The page with the submit button" %>

<% content_for :card do %>
  <h1 class="h2">
    <%= t('.title') %>
  </h1>

  <strong>
    <%= t(".basic_household_info_title") %>
  </strong>
  <p>
    <%= t(".basic_household_info_description") %>
    <%= image_tag("icons/exclamation.svg", alt: "") %>
  </p>

  <strong>
    <%= t(".filing_status_title") %>
  </strong>
  <p>
    <%= t(".complete_description") %>
    <%= image_tag("icons/check.svg", alt: "") %>
  </p>

  <strong>
    <%= t(".income_and_deductions_title") %>
  </strong>
  <p>
    <%= t(".income_and_deductions_description") %>
    <%= image_tag("icons/exclamation.svg", alt: "") %>
  </p>

  <strong>
    <%= t(".state_tax_withheld_title", name: current_intake.state_name) %>
  </strong>
  <p>
    <%= t(".complete_description") %>
    <%= image_tag("icons/check.svg", alt: "") %>
  </p>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <%= f.hidden_field(:device_type) %>
    <%= f.hidden_field(:ip_address) %>
    <%= f.hidden_field(:ip_port_num) %>
    <%= f.hidden_field(:ipts) %>
    <%= f.hidden_field(:device_id) %>
    <%= f.continue %>
  <% end %>

  <% unless Rails.env.production? %>
    <%=
      link_to(
        "I'm on a #{Rails.env} environment, let me edit the response XML",
        StateFile::Questions::FederalInfoController.to_path_helper(us_state: params[:us_state]),
        class: 'dev-button',
        id: 'visit_federal_info_controller'
      )
    %>
  <% end %>
<% end %>
