<% title = t(".title", count: current_intake.filer_count) %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p><%= t(".subtitle") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put",
                data: { efile_security_information: true, form_name: "state_file_az_prior_last_names_form" },
                builder: VitaMinFormBuilder do |f| %>
    <%= f.hidden_field(:device_id) %>
    <div class="question-with-follow-up">
      <div class="question-with-follow-up__question">
        <div class="blue-group">
          <%= f.cfa_radio_set(:has_prior_last_names, label_text: title, collection: [
            { value: "yes", label: t("general.affirmative"), input_html: { "data-follow-up": "#prior-last-names" } },
            { value: "no", label: t("general.negative") },
          ], legend_class: "sr-only") %>
        </div>
      </div>

      <div class="question-with-follow-up__follow-up" id="prior-last-names">
        <div class="blue-group">
          <%= f.cfa_input_field(:prior_last_names, t(".prior_last_names_label", count: current_intake.filer_count), classes: ["form-width--long"]) %>
        </div>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>