<% title = t('.title', current_year: current_tax_year + 1) %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="spacing-below-25">
      <p><%= t(".subtitle", current_year: current_tax_year + 1) %></p>
      <ul class="list--bulleted spacing-below-10">
        <li><%= t(".list_1") %></li>
        <li><%= t(".list_2") %></li>
      </ul>
      <div class="white-group">
        <%=
          f.cfa_radio_set(
            :out_of_country,
            collection: [
              { value: :yes, label: t(".affirmative", current_year: current_tax_year + 1) },
              { value: :no, label: t(".negative", current_year: current_tax_year + 1) },
            ]
          )
        %>
      </div>
    </div>
    <%= f.continue %>
  <% end %>
<% end %>