<% @main_question = t("views.ctc.questions.dependents.confirm_dependents.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>

    <h1 class="h2"><%= @main_question %></h1>

    <div class="review-box spacing-below-35">
      <div data-automation="ctc-dependents">
        <div class="review-box__title">
          <h2><%= t("views.ctc.questions.dependents.confirm_dependents.qualifying_for_ctc") %></h2>
        </div>
        <% current_intake.dependents.select { |dep| dep.eligible_for_child_tax_credit_2020? }.each do |dependent| %>
          <%= render 'dependent', dependent: dependent %>
        <% end %>
      </div>
      <div data-automation="other-credits-dependents">
        <div class="review-box__title">
          <h2><%= t("views.ctc.questions.dependents.confirm_dependents.qualifying_for_other_credits") %></h2>
        </div>
        <% current_intake.dependents.select { |dep| !dep.eligible_for_child_tax_credit_2020? && (dep.qualifying_child_2020? || dep.qualifying_relative_2020?) }.each do |dependent| %>
          <%= render 'dependent', dependent: dependent %>
        <% end %>
      </div>

      <%= render('components/molecules/reveal', title: t("views.ctc.questions.dependents.confirm_dependents.reveal_title")) do %>
        <p><%= t("views.ctc.questions.dependents.confirm_dependents.reveal_body_title") %></p>
        <ul class="list--bulleted">
          <% t("views.ctc.questions.dependents.confirm_dependents.reveal_body_list").each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      <% end %>

      <%= link_to Ctc::Questions::Dependents::InfoController.to_path_helper(id: :new), class: "button button--wide text--centered" do %>
        <%= image_tag("add-person.svg", alt: "") %>
        <%= t('views.ctc.questions.dependents.confirm_dependents.add_a_dependent') %>
      <% end %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      <%= t("views.ctc.questions.dependents.confirm_dependents.done_adding") %>
    </button>
  <% end %>
<% end %>
