<% @main_question = t("views.ctc.questions.dependents.confirm_dependents.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>

    <h1 class="h2"><%= @main_question %></h1>

    <div class="review-box spacing-below-35">
      <div data-automation="ctc-dependents">
        <div class="review-box__title review-box__title-tighter">
          <h2><%= t("views.ctc.questions.dependents.confirm_dependents.qualifying_for_ctc") %></h2>
        </div>
        <div class="spacing-below-15">
          <%=
            render(
              partial: 'dependent',
              locals: { edit_controller: Ctc::Questions::Dependents::InfoController },
              collection: current_intake.dependents.select { |dep| dep.eligible_for_child_tax_credit_2020? }
            ) || t('views.ctc.questions.dependents.confirm_dependents.no_qualifying_dependents')
          %>
        </div>
      </div>
      <div data-automation="other-credits-dependents">
        <div class="review-box__title review-box__title-tighter">
          <h2><%= t("views.ctc.questions.dependents.confirm_dependents.qualifying_for_other_credits") %></h2>
        </div>
        <div class="spacing-below-35">
          <%=
            render(
              partial: 'dependent',
              locals: { edit_controller: Ctc::Questions::Dependents::InfoController },
              collection: current_intake.dependents.select { |dep| !dep.eligible_for_child_tax_credit_2020? && (dep.qualifying_child_2020? || dep.yr_2020_qualifying_relative?) }
            ) || t('views.ctc.questions.dependents.confirm_dependents.no_qualifying_dependents')
          %>
        </div>
      </div>

      <div class="review-box__cta-button-container">
        <%= link_to Ctc::Questions::Dependents::InfoController.to_path_helper(id: current_intake.new_dependent_token), class: "button button--wide text--centered" do %>
          <%= image_tag("add-person.svg", alt: "") %>
          <%= t('views.ctc.questions.dependents.confirm_dependents.add_a_dependent') %>
        <% end %>
      </div>
    </div>
    <button class="button button--primary button--wide" type="submit">
      <%= t("views.ctc.questions.dependents.confirm_dependents.done_adding") %>
    </button>
  <% end %>
<% end %>
