<% @main_question = t("views.questions.demographic_primary_ethnicity.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <%= f.cfa_radio_set(
          :demographic_primary_ethnicity,
          label_text: "<h1 class=\"form-question\">#{@main_question}</h1>".html_safe,
          collection: [
            { value: :hispanic_latino, label: t("general.ethnicity.hispanic") },
            { value: :not_hispanic_latino, label: t("general.ethnicity.not_hispanic") },
          ]
        )
    %>
    <button class="button button--primary button--wide" type="submit">
      <%= Questions::DemographicSpouseEthnicityController.show?(current_intake) ? t("general.continue") : t("general.submit") %>
    </button>
    <%= f.button :submit, name: "#{f.object_name}[demographic_primary_ethnicity]", value: :prefer_not_to_answer, class: "button button--wide" do %>
      <%=t("general.skip_question") %>
    <% end %>
  <% end %>
<% end %>