<div class="with-padding-med df-dependent-detail-form federal-info-controller-subform">
  <div class="federal-info-controller-subform-title">Dependent Detail</div>
  <div class="federal-info-controller-subform-content">
    <%= render 'node_xml_reveal', xml: f.object.to_pretty_s %>

    <table>
      <%= f.state_file_nested_xml_field :DependentSSN %>
      <%= f.state_file_nested_xml_field :DependentFirstNm %>
      <%= f.state_file_nested_xml_field :DependentLastNm %>
      <tr>
        <td>
          <%= f.label :DependentRelationshipCd, "<DependentRelationshipCd>" %>
        </td>
        <td>
          <%= f.select(:DependentRelationshipCd, Efile::Relationship.all.map(&:irs_enum), include_blank: true) %>
        </td>
      </tr>
    </table>

    <%= f.hidden_field :_destroy %>
    <%= link_to_remove_fields t("views.shared.dependents_fields.remove"), '.df-dependent-detail-form', { class: "button button--small"} %>
  </div>
</div>
