<% title = "The page with all the info from the 1040" %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="form-question"><%= title %></h1>

  <%= link_to "Populate with sample data", state_file_questions_update_with_sample_data_path(us_state: params[:us_state]), class: "button button--small" %>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <%= f.cfa_input_field :tax_return_year, "tax return year" %>

    <%= f.cfa_select(:filing_status, "filing status", [
      ["single", 1],
      ["married filing jointly", 2],
      ["married filing separately", 3],
      ["head of household", 4],
      ["qualifying widow", 5],
    ], include_blank: true) %>

    <%= f.cfa_checkbox(:claimed_as_dep, "claimed as dependent?", options: { checked_value: "yes", unchecked_value: "no" }) %>

    <%= f.cfa_input_field :phone_daytime, "daytime phone number" %>
    <%= f.cfa_input_field :phone_daytime_area_code, "daytime phone area code" %>

    <%= f.cfa_input_field :primary_first_name, "primary first name" %>
    <%= f.cfa_input_field :primary_middle_initial, "primary middle initial" %>
    <%= f.cfa_input_field :primary_last_name, "primary last name" %>
    <%= f.cfa_input_field :primary_ssn, "primary ssn" %>
    <%= f.cfa_input_field :primary_occupation, "primary occupation" %>

    <%= f.cfa_input_field :spouse_first_name, "spouse first name" %>
    <%= f.cfa_input_field :spouse_middle_initial, "spouse middle initial" %>
    <%= f.cfa_input_field :spouse_last_name, "spouse last name" %>
    <%= f.cfa_input_field :spouse_ssn, "spouse ssn" %>
    <%= f.cfa_input_field :spouse_occupation, "spouse occupation" %>

    <%= f.cfa_input_field :mailing_street, "mailing address street" %>
    <%= f.cfa_input_field :mailing_apartment, "mailing address apartment number" %>
    <%= f.cfa_input_field :mailing_city, "mailing address city" %>
    <%= f.cfa_input_field :mailing_zip, "mailing address zip code" %>

    <%= f.cfa_input_field :fed_wages, "Wages, salaries, tips" %>
    <%= f.cfa_input_field :fed_taxable_income, "Taxable interest" %>
    <%= f.cfa_input_field :fed_unemployment, "Unemployment compensation" %>
    <%= f.cfa_input_field :fed_taxable_ssb, "Taxable SS Income" %>
    <%= f.cfa_input_field :total_fed_adjustments_identify, "Total Federal Adjustments (description)" %>
    <%= f.cfa_input_field :total_fed_adjustments, "Total Federal Adjustments (amount)" %>

    <%= f.cfa_input_field :total_state_tax_withheld, "Total state tax withheld" %>

    <%= f.continue %>
  <% end %>
<% end %>
