<% content_for :page_title, t("views.questions.at_capacity.title") %>

<section class="slab slab--white">
  <div class="grid">
    <div class="grid__item width-three-fourths">
      <main role="main">
        <div class="offboarding--illustration">
          <%= image_tag("capacity.svg", alt: "") %>
        </div>
        <h1 class="offboarding--title">
          <%= content_for(:page_title) %>
        </h1>

        <div class="offboarding--help-text">
          <%= t("views.questions.at_capacity.body") %>
        </div>

        <div class="notice--warning">
          <p><%= t("views.questions.at_capacity.warning_html") %></p>
        </div>

        <div class="offboarding--help-text text--bold">
          <%= t("views.questions.at_capacity.file_myself") %>
        </div>

        <div>
          <%= link_to t("views.questions.at_capacity.continue_to_diy"), diy_file_yourself_path, class: "button text--centered button--wide" %>
        </div>

      </main>
    </div>
  </div>
</section>
