<% @main_question = t("views.questions.email_address.title") %>

<% content_for :page_title, @main_question %>

<% content_for :card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= @main_question %></h1>
    <p class="text--help">
      <%=t("views.questions.email_address.info") %>
    </p>

    <div class="form-card__content">
      <%= f.cfa_input_field(:email_address, t("views.questions.email_address.email_address"), classes: ["form-width--long"]) %>
      <%= f.cfa_input_field(:email_address_confirmation, t("views.questions.email_address.email_address_confirmation"), classes: ["form-width--long"]) %>
      <% link = url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'privacy_policy') %>
      <span class="text--small"><%=t("views.questions.email_address.legal_info_html", url: link) %></span>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
