<% content_for :page_title, t(".title") %>
<% content_for :card do %>
  <p><%= t(".help_text") %></p>

  <% if current_intake.direct_file_data.fed_unemployment > 0 %>
    <div id="w2s" class="white-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%= t(".unemployment_title") %></p>
        <% if current_intake.state_file1099_gs.count > 0 %>
          <% current_intake.state_file1099_gs.each do |state_1099g| %>
            <% recipient = current_intake.send(state_1099g.recipient) %>
            <p><%= recipient.full_name %></p>
            <p><%= state_1099g.payer_name %></p>
            <%#= link_to t("general.edit"), StateFile::Questions::W2Controller.to_path_helper(action: :edit, id: w2.w2_index, return_to_review: "y"), class: "button--small" %>
          <% end %>
        <% else %>
          <p class="text--red-bold spacing-below-5">
            <%= t(".state_info_to_be_collected") %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= link_to t("general.continue"), next_path, class: "button button--wide text--centered" %>
<% end %>
