<% title = t(".title") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p><%= t(".help_text") %></p>

  <% if current_intake.state_file1099_rs.present? %>
    <div class="white-group retirement-income">
      <p class="text--bold spacing-below-0"><%= t(".retirement_income_title") %></p>
      <% current_intake.state_file1099_rs.each do |state_1099r| %>
        <div class="spacing-above-25">
          <p class="text--bold spacing-below-5"><%= state_1099r.recipient_name %></p>
          <p class="spacing-below-5"><%= state_1099r.payer_name %></p>
          <%= link_to t(".review_and_edit_state_info"),
                      StateFile::Questions::RetirementIncomeController.to_path_helper(action: :edit, id: state_1099r.id),
                      class: "button--small"
          %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if current_intake.state_file_w2s.present? %>
    <div class="white-group">
      <p class="text--bold spacing-below-0"><%= t(".w2s_title") %></p>
      <% current_intake.state_file_w2s.each do |w2| %>
        <div class="spacing-above-25">
          <p class="text--bold spacing-below-5"><%= w2.employee_name %></p>
          <p class="spacing-below-5"><%= w2.employer_name %></p>
          <%= link_to t(".review_and_edit_state_info"),
                      StateFile::Questions::W2Controller.to_path_helper(action: :edit, id: w2.id),
                      class: "button--small"
          %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if current_intake.direct_file_json_data.interest_reports.count > 0 %>
    <div class="white-group">
      <p class="text--bold spacing-below-0"><%= t(".interest_income_title") %></p>
      <p class="text--grey-bold spacing-above-15 spacing-below-0">
        <%= t(".interest_income_body") %>
      </p>
    </div>
  <% end %>

  <% if current_intake.direct_file_data.fed_unemployment > 0 %>
    <div class="white-group unemployment">
      <p class="text--bold spacing-below-0"><%= t(".unemployment_title") %></p>
      <% if current_intake.state_file1099_gs.count > 0 %>
        <% current_intake.state_file1099_gs.each do |state_1099g| %>
          <% recipient = current_intake.send(state_1099g.recipient) %>
          <div class="spacing-above-25">
            <p class="text--bold spacing-below-5"><%= recipient.full_name %></p>
            <p class="spacing-below-5"><%= state_1099g.payer_name %></p>
            <%= link_to t(".review_and_edit_state_info"),
                        StateFile::Questions::UnemploymentController.to_path_helper(action: :edit, id: state_1099g.id),
                        class: "button--small"
            %>
          </div>
        <% end %>
      <% else %>
        <p class="text--red-bold spacing-above-15 spacing-below-0">
          <%= t(".state_info_to_be_collected") %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if current_intake.direct_file_data.fed_ssb > 0 || current_intake.direct_file_data.fed_taxable_ssb > 0 %>
    <div class="white-group">
      <p class="text--bold spacing-below-0"><%= t(".ssa_title") %></p>
      <p class="text--grey-bold spacing-above-15 spacing-below-0">
        <%= t(".no_info_needed") %>
      </p>
    </div>
  <% end %>

  <%= link_to t("general.continue"), next_path, class: "button button--wide button--primary text--centered" %>
<% end %>
