<% title = t(".title") %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p><%= t(".subtitle") %></p>

  <div><%= t(".action_html") %></div>
  <%= link_to(prev_path) do %>
    <%= t('.go_back_link') %>
  <% end %>

  <%= render partial: "state_file/questions/shared/use_different_service" %>
<% end %>
