<% @main_question = t("views.ctc.portal.edit_info.title") %>
<% @intake = current_intake %>

<% content_for :page_title, @main_question %>

<% content_for :card do %>
  <div class="question-layout">
    <div class="back">
      <%= link_to t("general.back"), :back %>
    </div>
    <div class="question-wrapper">
      <%= form_with url: ctc_portal_resubmit_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>

        <h1 class="h2"><%= @main_question %></h1>

        <div class="review-box spacing-below-35">
          <h2 class="review-box__title"><%= t("views.ctc.questions.confirm_information.your_information") %></h2>
          <div class="review-box__space-between primary-info">
            <div>
              <div class="review-box__name"><%= @intake.primary_full_name %></div>
              <div class="review-box__details"><%= t("hub.clients.show.date_of_birth") %>: <%= default_date_format(@intake.primary_birth_date) %></div>
              <div class="review-box__details"><%= @intake.primary_tin_type == "ssn" ? t("general.ssn") : t("general.itin") %>: <%= ssn_mask(@intake.primary_ssn) %></div>
            </div>
            <%= link_to t("general.edit").downcase, Ctc::Portal::PrimaryFilerController.to_path_helper, class: "review-box__edit review-box__edit-button" %>
          </div>

          <%= render 'ctc/questions/confirm_information/mailing_address', edit_controller: Ctc::Portal::MailingAddressController, intake: @intake %>

          <% if @intake.filing_jointly? %>
            <%= render 'ctc/questions/confirm_information/spouse_info', edit_controller: Ctc::Portal::SpouseController, intake: @intake %>
          <% end %>

          <% if @intake.tax_return(2020).qualifying_dependents.length > 0 %>
            <div class="review-box__title">
              <h2><%= t("views.ctc.questions.confirm_information.your_dependents") %></h2>
            </div>
            <%=
              render(
                partial: 'ctc/questions/dependents/confirm_dependents/dependent',
                locals: { edit_controller: Ctc::Portal::DependentsController },
                collection: @intake.tax_return(2020).qualifying_dependents
              )
            %>
          <% end %>

          <% if @intake.refund_payment_method_direct_deposit? %>
            <%= render 'ctc/questions/confirm_information/bank_account_info', bank_account: @intake.bank_account || @intake.build_bank_account, edit_controller: Ctc::Portal::RefundPaymentController %>
          <% elsif @intake.refund_payment_method_check? %>
            <!-- show something else if choose mail check? -->
            <%= render 'ctc/questions/confirm_information/bank_account_info', bank_account: @intake.bank_account || @intake.build_bank_account, edit_controller: Ctc::Portal::RefundPaymentController %>
          <% end %>
        </div>
        <% if @submission.can_transition_to?(:resubmitted) %>
          <p>
            <%= t("views.ctc.portal.edit_info.help_text") %>
          </p>
          <%= recaptcha_v3(action: 'resubmit') %>
          <%= button_tag(class: "button button--primary button--full-width", type: "submit", data: { disable_with: t("general.please_wait") }, disabled: !@intake_updated_since_last_submission) do %>
            <%= t("views.ctc.portal.edit_info.resubmit") %>
          <% end %>
        <% else %>
          <p>
            <%= t("views.ctc.portal.edit_info.help_text_cant_submit") %>
          </p>
          <button disabled class="button button--primary button--full-width button--disabled" type="submit">
            <%= t("views.ctc.portal.edit_info.resubmit") %>
          </button>
        <% end %>
        <%= link_to t("views.ctc.portal.home.contact_us"), new_portal_message_path, class: "button button--full-width" %>
      <% end %>
    </div>
  </div>
<% end %>
