<% @main_question = t("views.ctc.portal.edit_info.title") %>
<% @intake = current_intake %>

<% content_for :page_title, @main_question %>

<% content_for :card do %>
  <div class="question-layout">
    <div class="back">
      <%= link_to t("general.back"), :back %>
    </div>
    <div class="question-wrapper">
      <%= form_with url: ctc_portal_resubmit_path, local: true, method: "put", builder: VitaMinFormBuilder, data: { efile_security_information: true, form_name: "ctc_resubmit_form" }, html: { class: "form-card form-card--long" } do |f| %>

        <h1 class="h2"><%= @main_question %></h1>

        <div class="review-box spacing-below-35">
          <% if @intake.refund_payment_method_direct_deposit? && !@intake.bank_account.present? %>
            <div class="notice--error">
              <p><%= t("views.ctc.portal.edit_info.no_ba_error_html") %></p>
            </div>
          <% end %>
          <h2 class="review-box__title"><%= t("views.ctc.questions.confirm_information.your_information") %></h2>
          <div class="review-box__space-between primary-info">
            <div>
              <div class="review-box__name"><%= @intake.primary_full_name %></div>
              <div class="review-box__details"><%= t("hub.clients.show.date_of_birth") %>: <%= default_date_format(@intake.primary_birth_date) %></div>
              <div class="review-box__details"><%= @intake.primary_tin_type == "ssn" ? t("general.ssn") : t("general.itin") %>: <%= ssn_mask(@intake.primary_ssn) %></div>
            </div>
            <%= link_to t("general.edit").downcase, Ctc::Portal::PrimaryFilerController.to_path_helper, class: "review-box__edit review-box__edit-button" %>
          </div>

          <%= render 'ctc/questions/confirm_information/mailing_address', edit_controller: Ctc::Portal::MailingAddressController, intake: @intake %>

          <% if @intake.filing_jointly? %>
            <%= render 'ctc/questions/confirm_information/spouse_info', edit_controller: Ctc::Portal::SpouseController, intake: @intake %>
          <% end %>

          <% if @intake.default_tax_return.qualifying_dependents.length > 0 %>
            <div class="review-box__title">
              <h2><%= t("views.ctc.questions.confirm_information.your_dependents") %></h2>
            </div>
            <%=
              render(
                partial: 'dependent',
                locals: { edit_controller: Ctc::Portal::DependentsController },
                collection: @intake.default_tax_return.qualifying_dependents
              )
            %>
          <% end %>

          <%= render 'ctc/questions/confirm_information/bank_info', edit_controller: Ctc::Portal::RefundPaymentController, intake: @intake %>

          <%= render 'ctc/questions/confirm_information/primary_prior_year_agi', edit_controller: Ctc::Portal::PriorTaxYearAgiController, intake: @intake %>

          <% if @intake.filing_jointly? %>
            <%= render 'ctc/questions/confirm_information/spouse_prior_year_agi', edit_controller: Ctc::Portal::SpousePriorTaxYearAgiController, intake: @intake %>
          <% end %>

          <% if current_intake.w2s.any? %>
            <div class="review-box spacing-below-35 w2s-shared">
              <h2 class="review-box__title"><%= t("views.ctc.portal.edit_info.w2s_shared") %></h2>
              <% current_intake.w2s.each do |w2| %>
                <!-- todo: make a shared template with the other place this is used -->
                <div class="review-box__space-between review-box__list-item">
                  <div class="review-box__person">
                    <div>
                      <%= image_tag("paper.svg", alt: "", style: "margin-right: 1em;") %>
                    </div>
                    <div>
                      <div class="review-box__name"><%= w2.employer_name %></div>
                      <div class="review-box__details"><%= t("views.ctc.questions.w2s.wages") %>: <%= w2.wages_amount %></div>
                    </div>
                  </div>
                  <%= link_to t("general.edit").downcase, Ctc::Portal::W2s::EmployeeInfoController.to_path_helper(id: w2.id), class: "review-box__edit review-box__edit-button" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <% if @submission.can_transition_to?(:resubmitted) && @intake.default_tax_return.under_submission_limit? %>
          <p>
            <%= t("views.ctc.portal.edit_info.help_text") %>
          </p>
          <%= recaptcha_v3(action: 'resubmit') %>
          <%= f.submit(t("views.ctc.portal.edit_info.resubmit"), class: "button button--primary button--full-width", disabled: !@submit_enabled) %>
        <% else %>
          <p>
            <%= @intake.default_tax_return.under_submission_limit? ? t("views.ctc.portal.edit_info.help_text_cant_submit") : t("views.ctc.portal.edit_info.help_text_resubmission_limit_html", email_link: mail_to("support@getctc.org")) %>
          </p>
          <button disabled class="button button--primary button--full-width button--disabled" type="submit">
            <%= t("views.ctc.portal.edit_info.resubmit") %>
          </button>
        <% end %>
        <%= link_to t("views.ctc.portal.home.contact_us"), new_portal_message_path, class: "button button--full-width" %>
      <% end %>
    </div>
  </div>
<% end %>
