<% content_for :title, "GetCTC Client Portal" %>
<% content_for :card do %>
  <div class="question-layout">
    <div class="question-wrapper">
      <h1 class="h2"><%= t("views.ctc.portal.home.title") %></h1>
      <div class="review-box">
        <div class="review-box__title">
          <h2><%= t("views.ctc.portal.home.current_status") %></h2>
        </div>
        <div class="review-box__body">
          <div class="review-box__status-wrapper spacing-below-25">
            <%= image_tag submission_status_icon(@status) %>
            <%= t("views.ctc.portal.home.status.#{@status}.label") %>
          </div>
          <% if @exposed_error.present? %>
            <div class="text--bold text--small">
              <%= "#{@exposed_error.code}: " if @exposed_error.source == "irs" %><%= @exposed_error.message %>
            </div>
          <% end %>
          <div class="text--small">
            <%= t("views.ctc.portal.home.status.#{@status}.message") %>
          </div>
          <div class="review-box__cta-button-container">
            <% if @current_step %>
              <%= link_to "Complete CTC form", @current_step, class: "button" %>
            <% end %>
            <!-- remove false when 1040 bug fixed #179253691 -->
            <% if @pdf1040 && false %>
              <%= link_to portal_document_path(id: @pdf1040.id), target: "_blank", rel: "no_opener", class: "button" do %>
                <%= t("views.ctc.portal.home.download_tax_return") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="spacing-above-35">
        <%= link_to t('views.ctc.portal.home.message_tax_preparer'), new_ctc_portal_message_path, class: "button button--primary button--full-width" %>
      </div>
    </div>
  </div>
<% end %>
