<% content_for :page_title, t("state_file.questions.shared.review_header.title") %>
<% content_for :card do %>
  <%= render "state_file/questions/shared/review_header" %>

  <div id="full-year-resident" class="white-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".nyc_full_year_resident") %></p>
      <p><%=current_intake.nyc_residency_full_year? ? t("general.affirmative") : t("general.negative") %></p>
      <%= link_to t("general.edit"), StateFile::Questions::NycResidencyController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <div id="county" class="white-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".residence_county") %></p>
      <p><%=current_intake.residence_county %></p>
      <%= link_to t("general.edit"), StateFile::Questions::NyCountyController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <div id="school-district" class="white-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".school_district") %></p>
      <p><%=current_intake.school_district %></p>
      <%= link_to t("general.edit"), StateFile::Questions::NySchoolDistrictController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <% @invalid_w2s.each do |w2| %>
    <div id="w2s" class="white-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%=t("state_file.questions.review.w2") %></p>
        <p><%=current_intake.direct_file_data.w2s[w2.w2_index].EmployerName %></p>
        <%= link_to t("general.edit"), StateFile::Questions::W2Controller.to_path_helper(action: :edit, id: w2.w2_index, return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <div id="use-tax" class="white-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".out_of_state_purchases") %></p>
      <p><%=current_intake.untaxed_out_of_state_purchases_yes? ? t("general.affirmative") : t("general.negative") %>&nbsp;<%=number_to_currency(current_intake.sales_use_tax) %></p>
      <%= link_to t("general.edit"), StateFile::Questions::NySalesUseTaxController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <% if current_intake.confirmed_third_party_designee_yes? %>
    <div id="third-party-designee" class="white-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%=t(".third_party_designee") %></p>
        <p><%=current_intake.direct_file_data.third_party_designee_name %></p>
        <%= link_to t("general.edit"), StateFile::Questions::NyThirdPartyDesigneeController.to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <div id="details" class="reveal">
    <p><a href="#" class="reveal__link"><%= t('.see_detailed_return') %></a></p>
    <div class="reveal__content">
      <div class="spacing-below-25 with-top-separator">
        <p class="text--bold spacing-below-5"><%=t(".fed_agi") %></p>
        <p><%= number_to_currency(current_intake.direct_file_data.fed_agi) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_new_york_additions") %></p>
        <%# Should be the sum of lines 20-23, but only line 21 is in scope %>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_21)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_new_york_subtractions") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_32)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".ny_agi") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_33)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".standard_deduction") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_34)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_dependent_exemptions") %></p>
        <%# The PDF has a hard-coded $ and 000 around the number. We replicate that here by multiplying by 1,000. %>
        <p><%= number_to_currency(
                 (current_intake.calculator.line_or_zero(:IT201_LINE_36) * 1_000).round
               ) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".taxable_income") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_37)) %></p>
      </div>

      <div class="spacing-below-25 with-top-separator">
        <p class="text--bold spacing-below-5"><%=t(".nys_tax") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_39)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".nys_household_credit") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_40)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".nyc_resident_tax") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_47A)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".nyc_household_credit") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_48)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".sales_or_use_tax") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_59)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_ny_tax") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_62)) %></p>
      </div>

      <div class="spacing-below-25 with-top-separator">
        <p class="text--bold spacing-below-5"><%=t(".empire_state_child_credit") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_63)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".nys_eic") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_65)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".nyc_school_tax_credit_fixed") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_69)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".nyc_school_tax_credit_rate_reduction") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_69A)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".nyc_eic") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_70)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_nys_tax_withheld") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_72)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_nyc_tax_withheld") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_73)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_payments") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:IT201_LINE_76)) %></p>
      </div>
    </div>
  </div>

  <%= render "state_file/questions/shared/review_footer" %>
<% end %>