<% content_for :page_title, t('.title') %>

<% content_for :form_card do %>
  <h1 class="form-question">
    <%= content_for(:page_title) %>
  </h1>

  <div class="marketing-comparison spacing-below-25">
    <h2><%= t('.comparison.express.title') %></h2>
    <p><i><%= t('.comparison.express.timeframe') %></i></p>
    <p><%= t('.comparison.express.description') %></p>
    <div class="bottom-section">
      <div>
        <div><%= t('.collect_your') %></div>
        <ul class="list--bulleted">
          <li><%= t('.collectables.missing_stimulus') %></li>
          <li><%= t('.collectables.ctc') %></li>
        </ul>
      </div>
      <div class="spacer"></div>
      <div class="refund-indicator">
        <div class="spacing-below-10"><%= t('.refund') %></div>
        <div class="symbols"><%= image_tag("icons/money.svg") %></div>
      </div>
    </div>
  </div>

  <div class="marketing-comparison">
    <h2><%= t('.comparison.gyr.title') %></h2>
    <p><i><%= t('.comparison.gyr.timeframe') %></i></p>
    <p><%= t('.comparison.gyr.description') %></p>
    <div class="bottom-section">
      <div>
        <div><%= t('.collect_your') %></div>
        <ul class="list--bulleted">
          <li><%= t('.collectables.missing_stimulus') %></li>
          <li><%= t('.collectables.ctc') %></li>
          <li><%= t('.collectables.eitc') %></li>
          <li><%= t('.collectables.additional_credits') %></li>
        </ul>
      </div>
      <div class="spacer"></div>
      <div class="refund-indicator">
        <div class="spacing-below-10"><%= t('.refund') %></div>
        <div class="symbols"><%= image_tag("icons/money.svg") %> <%= image_tag("icons/money.svg") %> <%= image_tag("icons/money.svg") %></div>
      </div>
    </div>
  </div>

  <div class="spacing-above-60">
    <%= link_to t('.file_with_gyr'), next_path, class: "button button--wide text--centered", "data-track-click": "triage-gyr-express-choose-gyr" %>
  </div>
  <div>
    <%= link_to t('.sign_up_for_express'),
                url_for(host: MultiTenantService.new(:ctc).host, controller: "/public_pages", action: 'source_routing', source: "gyr"),
                class: "button button--wide text--centered",
                "data-track-click": "triage-gyr-express-choose-express-signup"
    %>
  </div>
<% end %>
