<% @main_heading = t("views.diy.check_email.edit.title") %>
<% content_for :page_title, @main_heading %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="offboarding--illustration">
            <%= image_tag("diy/check-email.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%= @main_heading %>
          </h1>
          <div class="offboarding--help-text">
            <p><%=t("views.diy.check_email.edit.sent_secure_link") %></p>
            <p><%=t("views.diy.check_email.edit.questions_html", :email_link => link_to("hello@getyourrefund.org", "mailto:hello@getyourrefund.org", class: "text--black")) %></p>
          </div>
          <div class="buttons--vertical-stack">
            <%= link_to t("general.return_home"), root_path, class: "button button--primary button--wide text--centered spacing-above-60" %>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
