<% content_for :card do %>
  <p><%= I18n.t("state_file.questions.ny_w2.edit.instructions_1", employer_name: @df_w2.EmployerName , total_wages_amt: number_to_currency(@df_w2.WagesAmt)) %></p>
  <p><%= I18n.t("state_file.questions.ny_w2.edit.instructions_2") %></p>
  <%= form_with model: @form, url: { action: :update }, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
    <div class="blue-group">
      <div class="form-question spacing-below-15">
        <div class="text--bold"><%=t("general.state") %></div>
      </div>
      <div class="form-question spacing-below-25">
        <%= f.cfa_input_field(:employer_state_id_num, I18n.t("state_file.questions.ny_w2.edit.box15_html"), classes: ["form-width--long"]) %>
      </div>
      <div class="form-question spacing-below-25">
        <%= f.cfa_input_field(:state_wages_amt, I18n.t("state_file.questions.ny_w2.edit.box16_html"), classes: ["form-width--long"]) %>
      </div>
      <div class="form-question spacing-below-25">
        <%= f.cfa_input_field(:state_income_tax_amt, I18n.t("state_file.questions.ny_w2.edit.box17_html"), classes: ["form-width--long"]) %>
      </div>
      <div class="form-question spacing-below-25">
        <%= f.cfa_input_field(:local_wages_and_tips_amt, I18n.t("state_file.questions.ny_w2.edit.box18_html"), classes: ["form-width--long"]) %>
      </div>
      <div class="form-question spacing-below-25">
        <%= f.cfa_input_field(:local_income_tax_amt, I18n.t("state_file.questions.ny_w2.edit.box19_html"), classes: ["form-width--long"]) %>
      </div>
    </div>
  <% end %>
<% end %>
