<% card_props = tax_return_status_to_props(tax_return) %>

<div class="review-box" id="tax-year-<%= tax_return.year %>">
  <div class="grid-flex space-between spacing-below-25">
    <div>
      <h2 class="h3"><%= t('portal.portal.home.tax_return_heading', year: tax_return.year) %></h2>
      <p class="spacing-below-0"><%= card_props[:help_text] %></p>
    </div>
    <% if card_props.has_key?(:percent_complete) && card_props[:percent_complete].present? %>
      <div style="flex-shrink: 0;">
        <%= render "shared/svg/percent_complete_circle", percent: card_props[:percent_complete] %>
      </div>
    <% end %>
  </div>
  <% if card_props[:call_to_action_text].present? %>
    <%= render "portal/portal/action_state", link: false do %>
      <%= card_props[:call_to_action_text] %>
    <% end %>
  <% end %>
  <% if card_props.has_key?(:button_type) && card_props[:button_type].present? %>
    <% if card_props[:button_type] == :view_documents %>
      <%= link_to t("portal.portal.home.document_link.view_documents"), Portal::UploadDocumentsController.to_path_helper(action: :index), class: "button spacing-below-0" %>
    <% elsif card_props[:button_type] == :view_final_tax_documents %>
      <strong><%= link_to t("portal.portal.home.document_link.view_final_tax_documents"), Portal::UploadDocumentsController.to_path_helper(action: :index) %></strong>
    <% elsif card_props[:button_type] == :add_missing_documents %>
      <%= link_to t("portal.portal.home.document_link.add_missing_documents"), Portal::UploadDocumentsController.to_path_helper(action: :index), class: "button spacing-below-0" %>
    <% elsif card_props[:button_type] == :complete_intake %>
      <%= link_to(t("portal.portal.home.document_link.complete_tax_questions"), card_props[:link], class: "button spacing-below-0") %>
    <% elsif card_props[:button_type] == :complete_intake_documents %>
      <%= link_to(t("portal.portal.home.document_link.add_missing_documents"), card_props[:link], class: "button spacing-below-0") %>
    <% elsif card_props[:button_type] == :add_signature_primary %>
      <%= link_to t("portal.portal.home.document_link.add_final_signature"), portal_tax_return_authorize_signature_path(tax_return_id: tax_return.id), class: "button spacing-below-0" %>
    <% elsif card_props[:button_type] == :add_signature_spouse %>
      <%= link_to t("portal.portal.home.document_link.add_final_signature"), portal_tax_return_spouse_authorize_signature_path(tax_return_id: tax_return.id), class: "button spacing-below-0" %>
    <% end %>
  <% end %>
</div>
