<% tax_return_status_thingy = tax_return_status_to_fields(tax_return) %>

<div class="review-box" id="tax-year-<%= tax_return.year %>">
  <div class="grid-flex space-between spacing-below-25">
    <div>
      <h2 class="h3">2020 return</h2>
      <p class="spacing-below-0"><%= tax_return_status_thingy[:help_text] %></p>
    </div>
    <%= image_tag("percent_complete_#{tax_return_status_thingy[:percent_complete]}.svg", alt: "") %>
  </div>
  <% if tax_return_status_thingy[:call_to_action_text].present? %>
    <%= render "action_state", link: false do %>
      <%= tax_return_status_thingy[:call_to_action_text] %>
    <% end %>
  <% end %>
  <%= link_to tax_return_status_thingy[:button_text], tax_return_status_thingy[:button_url], class: "button spacing-below-0" %>
</div>
