<% content_for :title, t(".title", name: current_client.intake.preferred_name) %>

<% content_for :card do %>
  <h1 class="h2"><%= t(".title", name: current_client.intake.preferred_name) %></h1>
  <% if @heres_what_we_need %>
    <p><%= t(".heres_what_we_need") %></p>
  <% end %>

  <% if @submit_additional_documents %>
    <div class="tax-return-status">
      <div class="tax-return-status__row tax-return-status__with-alert">
        <%= image_tag("icons/exclamation.svg", alt: "") %>
        <%= link_to t(".tax_returns.submit_additional_documents"), @current_step %>
      </div>
    </div>
  <% end %>

  <% if @answer_questions %>
    <div class="tax-return-status">
      <div class="tax-return-status__row tax-return-status__with-alert">
        <%= image_tag("icons/exclamation.svg", alt: "") %>
        <%= link_to t(".tax_returns.answer_questions"), @current_step %>
      </div>
    </div>
  <% end %>

  <% if @tax_returns.present? %>
    <% @tax_returns.each do |tax_return| %>
      <div class="tax-return-status" id=<%= "tax-year-#{tax_return.year}" %>>
        <h2 class="h3"><%= t(".tax_returns.heading", year: tax_return.year) %></h2>
        <div class="tax-return-status__content">
          <%= render "document_link", label: ".view_final_tax_document", documents: tax_return.final_tax_documents %>
          <%= render "document_link", label: ".view_signed_8879", documents: tax_return.signed_8879s %>
          <%= render "document_link", label: ".view_unsigned_8879", documents: tax_return.unsigned_8879s %>

          <% if tax_return.ready_for_signature?(TaxReturn::PRIMARY_SIGNATURE) %>
            <div class="tax-return-status__row tax-return-status__with-alert">
              <%= image_tag("icons/exclamation.svg", alt: "") %>
              <%= link_to t(".tax_returns.submit_primary"), portal_tax_return_authorize_signature_path(tax_return_id: tax_return.id) %>
            </div>
          <% end %>

          <% if tax_return.ready_for_signature?(TaxReturn::SPOUSE_SIGNATURE) %>
            <div class="tax-return-status__row tax-return-status__with-alert">
              <%= image_tag("icons/exclamation.svg", alt: "") %>
              <%= link_to t(".tax_returns.submit_spouse"), portal_tax_return_spouse_authorize_signature_path(tax_return_id: tax_return.id) %>
            </div>
          <% end %>

          <% if tax_return.final_tax_documents.blank? && tax_return.signed_8879s.blank? && tax_return.unsigned_8879s.blank? %>
            <div class="tax-return-status__row tax-return-status__solo">
              <span class="tax-return-status__empty-state"><%= t(".tax_returns.empty_state") %></span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="spacing-above-60">
    <%= link_to t(".send_message"), new_portal_message_path, class: "button button--wide button--primary" %>

    <% if @submit_documents %>
      <%= link_to t(".submit_documents"), portal_upload_documents_path, class: "button button--wide" %>
    <% end %>
  </div>
<% end %>
