<% content_for :title, t(".title", name: current_client.intake.preferred_name) %>

<% content_for :card do %>
  <h2 class="spacing-below-10"><%= t(".title", name: current_client.intake.preferred_name) %></h2>

  <div class="spacing-below-15">
    <h2 class="text--teal h3">
      <%= t(".client_id", id: current_client.id) %>
    </h2>
  </div>
  <div class="spacing-below-15">
    <%= t('.subtitle') %>
  </div>

  <% if @tax_returns.present? %>
    <% @tax_returns.each_with_index do |tax_return, index| %>
      <div class="spacing-below-25">
      <%= render "tax_return_card", tax_return: tax_return %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render 'portal/shared/message_my_tax_team' %>
