<% content_for :title, t(".title", name: current_client.intake.preferred_name) %>

<% content_for :card do %>
  <h1 class="h2"><%= t(".title", name: current_client.intake.preferred_name) %></h1>

  <div class="spacing-below-15">
    <% if @itin_filer_ready_to_mail %>
      <%= render "itin_instructions" %>
    <% else %>
      <%= render 'intake_status' %>
    <% end %>
  </div>

  <% if @tax_returns.present? %>
    <% @tax_returns.each do |tax_return| %>
      <div class="status-line-items spacing-below-15" id=<%= "tax-year-#{tax_return.year}" %>>
        <h2 class="h3"><%= t(".tax_return_heading", year: tax_return.year) %></h2>
        <% state = tax_return.current_state.to_sym %>
        <% state_index = TaxReturnStateMachine.states.index(tax_return.current_state) %>

        <% if state == :file_not_filing %>
          <%= render "action_state", link: false do %>
            <%= t("portal.portal.home.waiting_state.tax_return.file_not_filing") %>
          <% end %>
        <% elsif state == :file_hold %>
          <%= render "action_state", link: false do %>
            <%= t("portal.portal.home.waiting_state.tax_return.file_hold") %>
          <% end %>
        <% else %>
          <% if state_index.between?(TaxReturnStateMachine.states.index("intake_ready"), TaxReturnStateMachine.states.index("intake_ready_for_call")) %>
            <%= render "action_state", link: false do %>
              <%= t("portal.portal.home.waiting_state.tax_return.waiting_for_review") %>
            <% end %>
          <% end %>

          <% if state_index >= TaxReturnStateMachine.states.index("prep_ready_for_prep") %>
            <%= render "progress_state" do %>
              <% t("portal.portal.home.progress_state.tax_return.completed_review") %>
            <% end %>
          <% end %>

          <% if [:prep_ready_for_prep, :prep_preparing].include?(state) %>
            <%= render "waiting_state" do %>
              <%= t("portal.portal.home.waiting_state.tax_return.preparing_return") %>
            <% end %>
          <% end %>

          <% if state_index >= TaxReturnStateMachine.states.index("review_ready_for_qr")%>
            <%= render "progress_state" do %>
              <%= t("portal.portal.home.progress_state.tax_return.return_prepared") %>
            <% end %>
          <% end %>

          <% if [:review_ready_for_qr, :review_reviewing, :review_ready_for_call].include?(state) %>
            <%= render "action_state", link: false do %>
              <%= t("portal.portal.home.waiting_state.tax_return.waiting_for_qr", year: tax_return.year) %>
            <% end %>
          <% end %>

          <% if state_index >= TaxReturnStateMachine.states.index("review_signature_requested") %>
            <%= render "progress_state" do %>
              <%= t("portal.portal.home.progress_state.tax_return.completed_qr", year: tax_return.year) %>
            <% end %>
          <% end %>

          <% unless tax_return.is_ctc %>
            <% if tax_return.ready_for_8879_signature?(TaxReturn::PRIMARY_SIGNATURE) %>
              <%= render "action_state", link: true do %>
                <%= link_to t("portal.portal.home.action_state.tax_return.submit_primary", year: tax_return.year), portal_tax_return_authorize_signature_path(tax_return_id: tax_return.id), class: "link" %>
              <% end %>
            <% end %>

            <% if tax_return.ready_for_8879_signature?(TaxReturn::SPOUSE_SIGNATURE) %>
              <%= render "action_state", link: true do %>
                <%= link_to t("portal.portal.home.action_state.tax_return.submit_spouse", year: tax_return.year), portal_tax_return_spouse_authorize_signature_path(tax_return_id: tax_return.id), class: "link" %>
              <% end %>
            <% end %>

            <% ready_for_8879 = tax_return.ready_for_8879_signature?(TaxReturn::PRIMARY_SIGNATURE) || tax_return.ready_for_8879_signature?(TaxReturn::SPOUSE_SIGNATURE) %>
            <% if tax_return.completely_signed_8879? && !ready_for_8879 %>
              <%= render "progress_state" do %>
                <%= t("portal.portal.home.progress_state.tax_return.final_signature_added", year: tax_return.year) %>
              <% end %>
            <% end %>
          <% end %>

          <% if [:intake_info_requested, :prep_info_requested, :review_info_requested].include?(state) %>
            <%= render "action_state", link: true do %>
              <%= link_to t("portal.portal.home.waiting_state.tax_return.info_requested"), portal_upload_documents_path, class: "link" %>
            <% end %>
          <% end %>
        <% end %>

        <%= render "document_links", label: t("portal.portal.home.document_link.view_final_tax_document", year: tax_return.year), documents: tax_return.final_tax_documents %>
        <!--
          The .completed_1040s are included here only because some Hub users have attached final documents with a type of Form1040 instead of FinalTaxDocument.
          If we someday successfully change these all to Form1040 we should stop trying to show the completed_1040s; this doc type was intended to be used
          in GetCTC for letting clients download their e-filed 1040, not to be attached to GYR clients.
        -->
        <%= render "document_links", label: t("portal.portal.home.document_link.view_1040", year: tax_return.year), documents: tax_return.completed_1040s %>
        <%= render "document_links", label: t("portal.portal.home.document_link.view_w7", year: tax_return.year), documents: tax_return.w7s %>
        <%= render "document_links", label: t("portal.portal.home.document_link.view_w7_coa", year: tax_return.year), documents: tax_return.w7_coas %>
        <%= render "document_links", label: t("portal.portal.home.document_link.view_signed_8879", year: tax_return.year), documents: tax_return.signed_8879s %>
        <%= render "document_links", label: t("portal.portal.home.document_link.view_unsigned_8879", year: tax_return.year), documents: tax_return.unsigned_8879s %>
      </div>
    <% end %>
  <% end %>

  <div class="spacing-above-60">
    <%= link_to t(".send_message"), new_portal_message_path, class: "button button--wide button--primary" %>

    <% if @can_submit_additional_documents %>
      <%= link_to t(".submit_documents"), portal_upload_documents_path, class: "button button--wide" %>
    <% end %>
  </div>
<% end %>
