<% content_for :title, t(".title", name: current_client.intake.preferred_name) %>

<% content_for :card do %>
  <h1 class="h2"><%= t(".title", name: current_client.intake.preferred_name) %></h1>

  <div class="tax-return-status">
    <% if @answered_initial_qs %>
      <%= render "progress_state" do %>
        <%= t("portal.portal.home.progress_state.answered_questions") %>
      <% end %>
    <% else %>
      <%= render "action_state", link: true do %>
        <%= link_to(t("portal.portal.home.action_state.answer_questions"), @current_step, class: "link") %>
      <% end %>
    <% end %>

    <% if @shared_initial_docs %>
      <%= render "progress_state" do %>
        <%= t("portal.portal.home.progress_state.shared_documents") %>
      <% end %>
    <% end %>

    <% if @submit_additional_documents %>
      <%= render "action_state", link: true do %>
        <%= link_to t("portal.portal.home.action_state.submit_additional_documents"), @current_step, class: "link" %>
      <% end %>
    <% elsif @tax_returns.pluck(:status).include?("intake_greeter_info_requested") %>
      <%= render "action_state", link: true do %>
        <%= link_to t("portal.portal.home.waiting_state.tax_return.info_requested"), portal_upload_documents_path, class: "link" %>
      <% end %>
    <% end %>
  </div>

  <% if @tax_returns.present? %>
    <% @tax_returns.each do |tax_return| %>
      <div class="tax-return-status" id=<%= "tax-year-#{tax_return.year}" %>>
        <h2 class="h3"><%= t(".tax_return_heading", year: tax_return.year) %></h2>
        <% status = tax_return.status.to_sym %>
        <% status_number = TaxReturnStatus::STATUSES[status] %>

        <% if status_number.between?(TaxReturnStatus::STATUSES[:intake_ready], TaxReturnStatus::STATUSES[:intake_ready_for_call]) %>
          <%= render "action_state", link: false do %>
            <%= t("portal.portal.home.waiting_state.tax_return.waiting_for_review") %>
          <% end %>
        <% end %>

        <% if status_number >= TaxReturnStatus::STATUSES[:prep_ready_for_prep] && !TaxReturnStatus::PAUSED_STATUSES.include?(status) %>
          <%= render "progress_state" do %>
            <% t("portal.portal.home.progress_state.tax_return.completed_review") %>
          <% end %>
        <% end %>

        <% if [:prep_ready_for_prep, :prep_preparing].include?(status) %>
          <%= render "waiting_state" do %>
            <%= t("portal.portal.home.waiting_state.tax_return.preparing_return") %>
          <% end %>
        <% end %>

        <% if status == :file_not_filing %>
          <%= render "action_state", link: false do %>
            <%= t("portal.portal.home.waiting_state.tax_return.file_not_filing") %>
          <% end %>
        <% end %>

        <% if status == :file_hold %>
          <%= render "action_state", link: false do %>
            <%= t("portal.portal.home.waiting_state.tax_return.file_hold_html") %>
          <% end %>
        <% end %>

        <% if status_number >= TaxReturnStatus::STATUSES[:review_ready_for_qr] && !TaxReturnStatus::PAUSED_STATUSES.include?(status) %>
          <%= render "progress_state" do %>
            <%= t("portal.portal.home.progress_state.tax_return.return_prepared") %>
          <% end %>
        <% end %>

        <% if [:review_ready_for_qr, :review_reviewing, :review_ready_for_call].include?(status) %>
          <%= render "action_state", link: false do %>
            <%= t("portal.portal.home.waiting_state.tax_return.waiting_for_qr", year: tax_return.year) %>
          <% end %>
        <% end %>

        <% if status_number >= TaxReturnStatus::STATUSES[:review_signature_requested]  && !TaxReturnStatus::PAUSED_STATUSES.include?(status) %>
          <%= render "progress_state" do %>
            <%= t("portal.portal.home.progress_state.tax_return.completed_qr", year: tax_return.year) %>
          <% end %>
        <% end %>

        <% if tax_return.ready_for_8879_signature?(TaxReturn::PRIMARY_SIGNATURE) %>
          <%= render "action_state", link: true do %>
            <%= link_to t("portal.portal.home.action_state.tax_return.submit_primary", year: tax_return.year), portal_tax_return_authorize_signature_path(tax_return_id: tax_return.id), class: "link" %>
          <% end %>
        <% end %>

        <% if tax_return.ready_for_8879_signature?(TaxReturn::SPOUSE_SIGNATURE) %>
          <%= render "action_state", link: true do %>
            <%= link_to t("portal.portal.home.action_state.tax_return.submit_spouse", year: tax_return.year), portal_tax_return_spouse_authorize_signature_path(tax_return_id: tax_return.id), class: "link" %>
          <% end %>
        <% end %>

        <% ready_for_8879 = tax_return.ready_for_8879_signature?(TaxReturn::PRIMARY_SIGNATURE) || tax_return.ready_for_8879_signature?(TaxReturn::SPOUSE_SIGNATURE) %>
        <% if tax_return.completely_signed_8879? && !ready_for_8879 %>
          <%= render "progress_state" do %>
            <%= t("portal.portal.home.progress_state.tax_return.final_signature_added", year: tax_return.year) %>
          <% end %>
        <% end %>

        <% if [:intake_info_requested, :prep_info_requested, :review_info_requested].include?(status) %>
          <%= render "action_state", link: true do %>
            <%= link_to t("portal.portal.home.waiting_state.tax_return.info_requested"), portal_upload_documents_path, class: "link" %>
          <% end %>
        <% end %>

        <%= render "document_links", label: t("portal.portal.home.document_link.view_final_tax_document", year: tax_return.year), documents: tax_return.final_tax_documents %>
        <%= render "document_links", label: t("portal.portal.home.document_link.view_signed_8879", year: tax_return.year), documents: tax_return.signed_8879s %>
        <%= render "document_links", label: t("portal.portal.home.document_link.view_unsigned_8879", year: tax_return.year), documents: tax_return.unsigned_8879s %>
      </div>
    <% end %>
  <% end %>

  <div class="spacing-above-60">
    <%= link_to t(".send_message"), new_portal_message_path, class: "button button--wide button--primary" %>

    <% if @submit_documents %>
      <%= link_to t(".submit_documents"), portal_upload_documents_path, class: "button button--wide" %>
    <% end %>
  </div>
<% end %>
