<% @main_question = t("views.questions.interview_scheduling.title") %>
<% @help_text = t("views.questions.interview_scheduling.help_text") %>

<% content_for :page_title, @main_question %>

<% content_for :card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <%= f.vita_min_text_field(:interview_timing_preference, @main_question, help_text: @help_text) %>

    <%= f.cfa_select(
          :preferred_interview_language,
          t("views.questions.interview_scheduling.interview_preference"),
          @form.language_options
        ) %>

    <%= f.cfa_select(
          :preferred_written_language,
          t("views.questions.interview_scheduling.written_preference"),
          @form.written_language_options
        ) %>

    <div class="spacing-above-60">
      <%= f.continue %>
    </div>
  <% end %>
<% end %>
