<% content_for :card do %>
  <%= render "hub/clients/client_header" %>
  <%= render "hub/clients/navigation" %>

  <div class="slab slab--not-padded spacing-above-25" id="body">
    <div class="spacing-below-10">
      <span>Identity verification: </span>
      <span>
        <% if @most_recent_verification_attempt.present? %>
          <%= link_to @most_recent_verification_attempt.current_state.humanize(capitalize: false), hub_verification_attempt_path(id: @most_recent_verification_attempt.id) %>
        <% else %>
          N/A
        <% end %>
      </span>
    </div>
    <div class="spacing-below-10">
      Current recaptcha score average: <%= @client.recaptcha_scores_average || "N/A" %>
    </div>
    <% if @duplicate_bank_client_ids.present? %>
      <div class="spacing-below-25">
        With duplicated bank data:
        <% @duplicate_bank_client_ids.each do |id| %>
          <%= link_to "##{id}", hub_client_path(id: id) %>
        <% end %>
      </div>
    <% end %>

    <table class="index-table">
      <thead class="index-table__head">
        <tr class="index-table__row">
          <th scope="col" class="index-table__header">Date</th>
          <th scope="col" class="index-table__header">Action</th>
          <th scope="col" class="index-table__header">Description</th>
        </tr>
      </thead>

      <tbody>

        <% @security_events.each do |event| %>
          <% if event.is_a?(EfileSecurityInformation) %>
            <%= render(partial: "efile_security_information", locals: { esf: event }) %>
          <% elsif event.is_a?(RecaptchaScore) %>
            <%= render(partial: "recaptcha_score", locals: { recaptcha_score: event }) %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
