<div>
  <%= item.filename %>
  by <%= item.user.email %>:
  <strong>(<%= item.id_array.size %> signup(s))</strong>
  <ul style="padding-left: 30px;">
    <li><%= link_to(t("hub.bulk_message_csvs.bulk_message_csv.send_email"), new_hub_bulk_signup_message_path(signup_selection_id: item.id, message_type: :email)) %></li>
    <li><%= link_to(t("hub.bulk_message_csvs.bulk_message_csv.send_text"), new_hub_bulk_signup_message_path(signup_selection_id: item.id, message_type: :text_message)) %></li>
  </ul>
</div>
