<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <h1><%= @main_heading %></h1>
      <p>Make and upload a csv with one column with header named 'id' and each row contains a signup id. Choose GYR or GetCTC.</p>
      <p>You'll see the file you uploaded and the number of signups at the bottom of the page. Click either the text or email link.</p>

      <h2>Upload</h2>
      <%= form_for @signup_selection, local: true, url: { action: :create }, builder: VitaMinFormBuilder do |f| %>
        <%= f.cfa_file_field :upload, t('general.select_file') %>
        <%= f.cfa_radio_set(
              :signup_type,
              collection: [
                { value: :GYR, label: "GYR" },
                { value: :GetCTC, label: "GetCTC" }
              ]
            )
        %>
        <%= f.submit(t("general.upload")) %>
      <% end %>

      <h2>CSVs uploaded</h2>
      <%= render(partial: 'hub/signup_selections/signup_selection', collection: @signup_selections, as: :item) || "None uploaded yet." %>
    </div>
  </div>
<% end %>
