<% @main_heading = t("views.questions.eip_overview.title") %>
<% content_for :page_title, @main_heading %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question"><%= @main_heading %></h1>
    <p>
      <%= t("views.questions.eip_overview.info_html") %>
    </p>
    <ul class="checkmark-list blue">
      <li>
        <%=t("views.questions.eip_overview.received_ssdi") %>
      </li>
      <li>
        <%=t("views.questions.eip_overview.received_rrb") %>
      </li>
      <li>
        <%=t("views.questions.eip_overview.received_ssi") %>
      </li>
      <li>
        <%=t("views.questions.eip_overview.received_va") %>
      </li>
    </ul>

    <div class="notice--warning text--small">
      <p class="spacing-below-25 text--bold"><%=t("views.questions.eip_overview.hotline_notice.title") %></p>
      <p><%=t("views.questions.eip_overview.hotline_notice.what") %></p>
      <p><%=t("views.questions.eip_overview.hotline_notice.why") %></p>
      <p><a href="tel:+18443223639" data-track-click="call-211-hotline"><%=t("views.questions.eip_overview.hotline_notice.number") %></a></p>
    </div>

    <button class="button button--primary button--wide text--centered spacing-above-25" name="eip_overview_form[eip_only]" value="true" type="submit">
      <%=t("general.continue") %>
    </button>

    <%= link_to root_path, class: "button button--wide text--centered" do %>
      <%=t("general.return_home") %>
    <% end %>
  <% end %>
<% end %>
