<li>
  <%= item.upload.filename || "filename missing" %>
  by <%= item.user&.email || "unknown user" %>:
  <% if item.tax_return_selection_id.present? %>
    <%= link_to("Send message (email only)", hub_bulk_actions_edit_send_a_message_path, tax_return_selection_id: tax_return_selection_id, send_only: :email) %>,
    <%= link_to("Send message (text message only)", hub_bulk_actions_edit_send_a_message_path, tax_return_selection_id: tax_return_selection_id, send_only: :text_message) %>,
    <%= link_to("Send message (all client contact methods, i.e., default)", hub_bulk_actions_edit_send_a_message_path, tax_return_selection_id: tax_return_selection_id) %> to <%= item.tax_return_selection.clients.count %> clients
  <% else %>
    Processing
  <% end %>
</li>
