<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <h1><%= @main_heading %></h1>
      <p> <a href="https://www.notion.so/cfa/Bulk-Messaging-Read-Me-6559552f524340569c11583186d76bda"> Click here for instructions and important warnings on how to use this page </a></p>

      <h2>Upload</h2>
      <%= form_with model: @bulk_message_csv, local: true, url: { action: :create }, builder: VitaMinFormBuilder do |f| %>
        <%= f.cfa_file_field :upload, t('general.select_file') %>
        <%= f.submit(t("general.upload")) %>
      <% end %>

      <h2>CSVs uploaded</h2>
      <%= render(partial: 'hub/bulk_message_csvs/bulk_message_csv', collection: @bulk_message_csvs, as: :item) || "None uploaded yet." %>
    </div>
  </div>
<% end %>
