<% content_for :page_title, t("views.ctc_pages.signups.new.title") %>
<%= render("shared/breadcrumb") %>

<div class="main-content-inner">
  <div class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <% if open_for_ctc_intake? %>
          <h2 class="text--line-breaks"><%= t("views.ctc_pages.signups.new.puerto_rico_post_launch.header_html", link: root_with_source_url(host: MultiTenantService.new(:ctc).host, source: 'GetCTCSignup')) %></h2>
          <p class="text--line-breaks spacing-below-60"><%= t("views.ctc_pages.signups.new.puerto_rico_post_launch.sub_header") %></p>
        <% else %>
          <h2 class="text--line-breaks"><%= t("views.ctc_pages.signups.new.header") %></h2>
          <p class="text--line-breaks spacing-below-60"><%= t("views.ctc_pages.signups.new.sub_header_html", homepage_link: root_with_source_url(host: MultiTenantService.new(:ctc).host, source:  'GetCTCSignup')) %></p>
        <% end %>

        <div class="grid-flex display-block-on-small-screens contained space-between align-flex-start">
          <div style="flex-grow: 1">

            <%= form_with model: @signup, url: { action: :create }, local: true, builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
              <%= f.cfa_input_field(:name, t("general.name"), classes: ["form-width--long"]) %>
              <%= f.cfa_input_field(:email_address, t("general.email_address"), classes: ["form-width--long"]) %>
              <%= f.cfa_input_field(:phone_number, t("general.phone_number"), classes: ["form-width--long"]) %>

              <div class="form-group">
                <%= f.submit t("views.ctc_pages.signups.new.submit"), class: "button button--primary spacing-below-60" %>
              </div>
            <% end %>
          </div>

          <div class="grid-flex align-flex-end justify-flex-end">
            <%= image_tag "hero-family.png", alt: "", class: "hero-image hero-image--family" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
