<% @main_heading = t("views.ctc.questions.overview.title") %>
<% content_for :form_question, @main_heading %>


<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>
  <p>
    <%=t("views.ctc.questions.overview.help_text") %>
  </p>

  <p class="text--bold">
    <%=t("views.ctc.questions.overview.legal_warning") %>
  </p>

  <%= link_to next_path, class: "button button--primary button--wide text--centered spacing-above-60" do %>
    <%=t("general.continue") %>
  <% end %>
<% end %>
