<%
    title = t(".title", filing_year: Rails.configuration.statefile_current_tax_year )
    content_for :page_title, title
%>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>


  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="white-group">
      <%= f.cfa_radio_set(
            :eligibility_lived_in_state,
            label_text: t(".lived_in_state_html", state: current_state_name),
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>
