<% content_for :page_title, t("state_file.questions.shared.review_header.title") %>
<% content_for :card do %>

  <div class="beige-group">
    <%=t(".rounding_html") %>
  </div>

  <%= render "state_file/questions/shared/review_header" %>

  <div id="county" class="white-group">
    <div class="spacing-below-5">
      <h2 class="text--body text--bold spacing-below-5"><%=t(".county") %></h2>
      <p><%=current_intake.county %></p>
      <%= link_to StateFile::Questions::NjCountyController.to_path_helper(return_to_review: "y"), class: "button--small" do %>
        <%= t("general.edit") %>
        <span class="sr-only"><%= t(".county") %></span>
      <% end %>
    </div>
  </div>

  <div id="municipality" class="white-group">
    <div class="spacing-below-5">
      <h2 class="text--body text--bold spacing-below-5"><%=t(".municipality") %></h2>
      <p><%=current_intake.municipality_name %></p>
      <%= link_to StateFile::Questions::NjMunicipalityController.to_path_helper(return_to_review: "y"), class: "button--small" do %>
        <%= t("general.edit") %>
        <span class="sr-only"><%= t(".municipality") %></span>
      <% end %>
    </div>
  </div>

  <% if !current_intake.primary_disabled_unfilled? || !current_intake.spouse_disabled_unfilled? %>
    <div id="disabled_exemption" class="white-group">
      <div class="spacing-below-5">
        <% if !current_intake.primary_disabled_unfilled? %>
          <p class="text--bold spacing-below-5"><%=t(".primary_disabled") %></p>
          <p><%= current_intake.primary_disabled %></p>
        <% end %>
        <% if !current_intake.spouse_disabled_unfilled? %>
          <p class="text--bold spacing-below-5"><%=t(".spouse_disabled") %></p>
          <p><%= current_intake.spouse_disabled  %></p>
        <% end %>
        <%= link_to t("general.edit"), StateFile::Questions::NjDisabledExemptionController.to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <% if !current_intake.primary_veteran_unfilled? || !current_intake.spouse_veteran_unfilled? %>
    <div id="veterans_exemption" class="white-group">
      <div class="spacing-below-5">
        <% if !current_intake.primary_veteran_unfilled? %>
          <p class="text--bold spacing-below-5"><%=t(".primary_veteran") %></p>
          <p><%= current_intake.primary_veteran %></p>
        <% end %>
        <% if !current_intake.spouse_veteran_unfilled? %>
          <p class="text--bold spacing-below-5"><%=t(".spouse_veteran") %></p>
          <p><%= current_intake.spouse_veteran  %></p>
        <% end %>
        <%= link_to t("general.edit"), StateFile::Questions::NjVeteransExemptionController.to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

    <% if !current_intake.claimed_as_eitc_qualifying_child_unfilled? || !current_intake.spouse_claimed_as_eitc_qualifying_child_unfilled? %>
    <div id="eitc_qualifying_child" class="white-group">
      <div class="spacing-below-5">
        <% if !current_intake.claimed_as_eitc_qualifying_child_unfilled? %>
          <p class="text--bold spacing-below-5"><%=t(".claimed_as_eitc_qualifying_child") %></p>
          <p><%= current_intake.claimed_as_eitc_qualifying_child %></p>
        <% end %>
        <% if !current_intake.spouse_claimed_as_eitc_qualifying_child_unfilled? %>
          <p class="text--bold spacing-below-5"><%=t(".spouse_claimed_as_eitc_qualifying_child") %></p>
          <p><%= current_intake.spouse_claimed_as_eitc_qualifying_child  %></p>
        <% end %>
        <%= link_to t("general.edit"), StateFile::Questions::NjEitcQualifyingChildController.to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <div id="household_rent_own" class="white-group">
    <div class="spacing-below-5">
      <h2 class="text--body text--bold spacing-below-5"><%=t(".household_rent_own") %></h2>
      <p><%=current_intake.household_rent_own %></p>
      <%= link_to StateFile::Questions::NjHouseholdRentOwnController.to_path_helper(return_to_review: "y"), class: "button--small" do %>
        <%= t("general.edit") %>
        <span class="sr-only"><%= t(".household_rent_own") %></span>
      <% end %>
    </div>
  </div>

  <% if current_intake.household_rent_own_own? && !current_intake.property_tax_paid.nil?%>
    <div id="property_tax_paid" class="white-group">
      <div class="spacing-below-5">
        <h2 class="text--body text--bold spacing-below-5"><%=t(".property_tax_paid") %></h2>
        <p><%= number_to_currency(current_intake.property_tax_paid, precision: 0) %></p>
        <%= link_to StateFile::Questions::NjHomeownerPropertyTaxController.to_path_helper(return_to_review: "y"), class: "button--small" do %>
          <%= t("general.edit") %>
          <span class="sr-only"><%= t(".property_tax_paid") %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if current_intake.household_rent_own_rent? %>
    <div id="rent_paid" class="white-group">
      <div class="spacing-below-5">
        <h2 class="text--body text--bold spacing-below-5"><%=t(".rent_paid") %></h2>
        <p><%= number_to_currency(current_intake.rent_paid, precision: 0) %></p>
        <%= link_to StateFile::Questions::NjTenantRentPaidController.to_path_helper(return_to_review: "y"), class: "button--small" do %>
          <%= t("general.edit") %>
          <span class="sr-only"><%= t(".rent_paid") %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if !current_intake.primary_disabled_unfilled? || !current_intake.spouse_disabled_unfilled? %>
    <div id="disabled_exemption" class="white-group">
      <div class="spacing-below-5">
        <% if !current_intake.primary_disabled_unfilled? %>
          <h2 class="text--body text--bold spacing-below-5"><%=t(".primary_disabled") %></h2>
          <p><%= current_intake.primary_disabled %></p>
        <% end %>
        <% if !current_intake.spouse_disabled_unfilled? %>
          <h2 class="text--body text--bold spacing-below-5"><%=t(".spouse_disabled") %></h2>
          <p><%= current_intake.spouse_disabled  %></p>
        <% end %>
        <%= link_to StateFile::Questions::NjDisabledExemptionController.to_path_helper(return_to_review: "y"), class: "button--small" do %>
          <%= t("general.edit") %>
          <span class="sr-only"><%= t(".primary_disabled") + " " + t("general.and") + " " +  t(".spouse_disabled") %></span>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div id="medical_expenses" class="white-group">
    <div class="spacing-below-5">
      <h2 class="text--body text--bold spacing-below-5"><%=t(".medical_expenses") %></h2>
      <p><%= number_to_currency(current_intake.medical_expenses, precision: 0) %></p>
      <%= link_to StateFile::Questions::NjMedicalExpensesController.to_path_helper(return_to_review: "y"), class: "button--small" do %>
        <%= t("general.edit") %>
        <span class="sr-only"><%= t(".medical_expenses") %></span>
      <% end %>
    </div>
  </div>

  <div id="estimated-tax-payments" class="white-group">
    <div class="spacing-below-5">
      <h2 class="text--body text--bold spacing-below-5"><%=t(".estimated_tax_payments") %></h2>
      <p><%= number_to_currency(current_intake.estimated_tax_payments || 0, precision: 0) %></p>
      <%= link_to t("general.edit"), StateFile::Questions::NjEstimatedTaxPaymentsController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <div id="use-tax" class="white-group">
    <div class="spacing-below-5">
      <h2 class="text--body text--bold spacing-below-5"><%=t(".use_tax_applied") %></h2>
      <p><%=current_intake.untaxed_out_of_state_purchases_yes? ? t("general.affirmative") : t("general.negative") %></p>
      <% if current_intake.untaxed_out_of_state_purchases_yes? %>
        <p class="text--bold spacing-below-5"><%=t(".amount") %></p>
        <p><%=number_to_currency(current_intake.sales_use_tax, precision: 0)%></p>
      <% end %>
      <%= link_to t("general.edit"), StateFile::Questions::NjSalesUseTaxController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <%= render "state_file/questions/shared/review_footer" %>
<% end %>
