<% content_for :page_title, t("state_file.questions.shared.review_header.title") %>
<% content_for :card do %>
  <%= render "state_file/questions/shared/review_header" %>

  <div id="county" class="white-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".county") %></p>
      <p><%=current_intake.county %></p>
      <%= link_to t("general.edit"), StateFile::Questions::NjCountyController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <div id="municipality" class="white-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".municipality") %></p>
      <p><%=current_intake.municipality_name %></p>
      <%= link_to t("general.edit"), StateFile::Questions::NjMunicipalityController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <div id="household_rent_own" class="white-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".household_rent_own") %></p>
      <p><%=current_intake.household_rent_own %></p>
      <%= link_to t("general.edit"), StateFile::Questions::NjHouseholdRentOwnController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <% if current_intake.household_rent_own == 'own' && !current_intake.property_tax_paid.nil?%>
    <div id="property_tax_paid" class="white-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%=t(".property_tax_paid") %></p>
        <p><%= number_to_currency(current_intake.property_tax_paid) %></p>
        <%= link_to t("general.edit"), StateFile::Questions::NjHomeownerPropertyTaxController.to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <% if current_intake.household_rent_own == 'rent' %>
    <div id="rent_paid" class="white-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%=t(".rent_paid") %></p>
        <p><%= number_to_currency(current_intake.rent_paid) %></p>
        <%= link_to t("general.edit"), StateFile::Questions::NjTenantRentPaidController.to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <% if current_intake.primary_disabled != "unfilled" || current_intake.spouse_disabled != "unfilled"%>
    <div id="disabled_exemption" class="white-group">
      <div class="spacing-below-5">
        <% if current_intake.primary_disabled != "unfilled" %>
          <p class="text--bold spacing-below-5"><%=t(".primary_disabled") %></p>
          <p><%= current_intake.primary_disabled %></p>
        <% end %>
        <% if current_intake.spouse_disabled != "unfilled" %>
          <p class="text--bold spacing-below-5"><%=t(".spouse_disabled") %></p>
          <p><%= current_intake.spouse_disabled  %></p>
        <% end %>
        <%= link_to t("general.edit"), StateFile::Questions::NjDisabledExemptionController.to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <%= render "state_file/questions/shared/review_footer" %>
<% end %>