<!--TODO: remove? similar page in FAQ? pls nothing is linking to this rn-->
<% title = t(".title") %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p><%= t(".subtitle", state: States.name_for_key(params[:us_state].upcase)) %></p>
  <div class="reveal">
    <p><a href="#" class="reveal__link"><%= t('.learn_more') %></a>
    </p>
    <!--    TODO: replace filler text-->
    <div class="reveal__content"><%= t('.learn_more') %></div>
  </div>
  <div class="reveal">
    <p><a href="#" class="reveal__link"><%= t('.state_options') %></a>
    </p>
<!--    TODO: replace filler text-->
    <div class="reveal__content"><%= t('.learn_more') %></div>
  </div>

  <p><%= link_to t(".vita_link"), url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'home') %></p>
  <% faq_link = params[:us_state].present? ? state_faq_path(us_state: params[:us_state]) : root_path(anchor: "common_questions")  %>
  <p><%= link_to t(".faq_link"), faq_link %></p>
<% end %>