<div class="reveal">
  <p><button class="reveal__button"><%= t('.vita_option_title') %></button></p>
  <div class="reveal__content">
    <div>
      <% if current_state_code == "md" %>
        <%= t('.md_reveal_content_html') %>
      <% else %>
        <%= render partial: "state_file/questions/eligible/vita_option" %>
      <% end %>
    </div>
  </div>
</div>


<div class="reveal">
  <p><button class="reveal__button"><%= t('.other_options_reveal.title') %></button></p>
  <div class="reveal__content">
    <p><%= t('.other_options_reveal.list.body') %></p>
    <ul>
      <li><%= t('.other_options_reveal.list.list1') %></li>
      <li><%= t('.other_options_reveal.list.list2') %></li>
      <li><%= t('.other_options_reveal.list.list3') %></li>
    </ul>
    <p><%= t('.other_options_reveal.fees') %></p>
    <p><%= t('.learn_more_here_html', link: @faq_other_options_link) %></p>
  </div>
</div>

<p class="spacing-above-35"><%= link_to t("state_file.questions.eligible.vita_option.vita_link"), @vita_link %></p>
<p><%= link_to t(".faq_link"), state_faq_path(us_state: current_state_code) %></p>
