<% title_key = ".title.#{current_state_code}" %>
<% title = I18n.exists?(title_key, locale) ? t(title_key) : t(".title.default") %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <% unless ineligible_reason.nil? %>
    <p><%= t(".body_html", ineligible_reason: ineligible_reason, prev_link: prev_path) %></p>
  <% end %>

  <% href = I18n.locale == :en ? StateFile::StateInformationService.vita_link_en(current_state_code) : StateFile::StateInformationService.vita_link_es(current_state_code) %>
  <% if href.present? %>
    <%= link_to(href, class: "button button--primary button--wide spacing-below-15") do %>
      <%= t('.connect_to_vita') %>
    <% end %>
  <% end %>

  <div class="reveal">
    <% vita_option_title_key = "state_file.questions.eligibility_offboarding.edit.vita_option.title.#{current_state_code}" %>
    <% vita_option_title = I18n.exists?(vita_option_title_key) ? t(vita_option_title_key) : t(".vita_option.title.default") %>
    <button class="reveal__button"><%= vita_option_title %></button>
    <div class="reveal__content">
      <% vita_content_key = ".vita_option.content_html.#{current_state_code}" %>
      <% vita_content_html = t(vita_content_key, default: nil) %>
      <% if vita_content_html.present? %>
        <%= vita_content_html.html_safe %>
      <% else %>
        <%= render partial: "state_file/questions/eligible/vita_option" %>
      <% end %>
    </div>
  </div>

  <div class="reveal">
    <button class="reveal__button"><%= t('.other_options.title') %></button>
    <div class="reveal__content">
      <% other_options_content_key = ".other_options.content_html.#{current_state_code}" %>
      <% other_options_content_html = t(other_options_content_key, default: nil) %>
      <% if other_options_content_html.present? %>
        <%= other_options_content_html.html_safe %>
      <% else %>
        <p><%= t('.other_options.list.body') %></p>
        <ul>
          <li><%= t('.other_options.list.list1') %></li>
          <li><%= t('.other_options.list.list2') %></li>
          <li><%= t('.other_options.list.list3') %></li>
        </ul>
        <p><%= t('.other_options.fees') %></p>
        <p><%= t('.other_options.learn_more_here_html', link: @faq_other_options_link) %></p>
      <% end %>
    </div>
  </div>

  <% unless href.present? %>
    <p class="spacing-above-35"><%= link_to t("state_file.questions.eligible.vita_option.vita_link"), @vita_link %></p>
  <% end %>
  
  <p><%= link_to t(".faq_link"), state_faq_path(us_state: current_state_code) %></p>
<% end %>
