<% content_for :page_title do %>
  <%= t("views.ctc_pages.home.title") %>
<% end %>

<% content_for :body_class, "body--home" %>

<%= render 'shared/facebook_pixel' %>

<div class="main-content-inner ctc-home">
  <div class="slab slab--hero">
    <div class="notice--warning spacing-below-0 grid-flex contained">
      <%= t("views.ctc_pages.home.ctc_not_extended_notice") %>
    </div>
    <div class="grid-flex contained column-row space-between">
      <div class="grid-flex column-column spacing-below-35">
        <h1 class="landing-page-header">
          <%= t("views.ctc_pages.home.title") %>
        </h1>
        <p><%= t("views.ctc_pages.home.body") %></p>
      </div>

      <div class="grid-flex align-flex-end justify-flex-end">
        <%= image_tag "hero-family.png", alt: "", class: "hero-image hero-image--family" %>
      </div>
    </div>
  </div>
</div>
