<% content_for :page_title do %>
  <%= t("views.ctc_pages.home.title") %>
<% end %>

<% content_for :body_class, "body--home" %>

<%= render 'shared/facebook_pixel' %>
<main role="main" class="ctc-home">
  <div class="slab slab--hero">
    <div class="grid-flex contained column-row space-between">
      <div class="grid-flex column-column">
        <h1 class="landing-page-header">
          <%= t("views.ctc_pages.home.header") %>
        </h1>
        <p>
          <%= t("views.ctc_pages.home.subheader") %>
        </p>
        <div>
          <%= link_to t("views.ctc_pages.home.claim_credit"), "#claim-credit", id: "firstCta", class: "button button--primary" %>
        </div>
      </div>

      <div class="grid-flex flex-end">
        <%= image_tag "hero-family.png", alt: "", class: "hero-image hero-image--family" %>
      </div>
    </div>
  </div>

  <div class="slab slab--green">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <h2><%= t('views.ctc_pages.home.what_is.heading') %></h2>
      </div>
      <div class="grid__item width-one-whole">
        <p><%= t('views.ctc_pages.home.what_is.body1') %></p>
        <p><%= t('views.ctc_pages.home.what_is.body2') %></p>
      </div>
    </div>
  </div>

  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-fourth">
        <%= image_tag("check.svg", alt: "") %>
      </div>
      <div class="grid__item width-two-thirds">
        <h2><%= t("views.ctc_pages.home.qualify.heading") %></h2>
        <p><%= t("views.ctc_pages.home.qualify.body1") %></p>
        <p><%= t("views.ctc_pages.home.qualify.body2") %></p>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a1">
            <h3><%=t("views.ctc_pages.home.qualify.eligible.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p><%=t("views.ctc_pages.home.qualify.eligible.body_html") %></p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a2">
            <h3><%=t("views.ctc_pages.home.qualify.dependents.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a2">
            <%=t("views.ctc_pages.home.qualify.dependents.body") %>
            <ul>
              <% t("views.ctc_pages.home.qualify.dependents.qualifiers").each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slab slab--blue" id="claim-credit">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <h2><%= t('views.ctc_pages.home.obtain.heading') %></h2>
      </div>
      <div class="grid__item width-one-whole">
        <p><%= t('views.ctc_pages.home.obtain.body1') %></p>
        <p>
          <%= t('views.ctc_pages.home.obtain.body2_html') %>
        </p>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a3">
            <h3><%=t("views.ctc_pages.home.obtain.already_filed.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a3">
            <p><%=t("views.ctc_pages.home.obtain.already_filed.body1") %></p>
            <p>
              <%=t("views.ctc_pages.home.obtain.already_filed.body2_html") %>
            </p>
            <ul>
              <% t("views.ctc_pages.home.obtain.already_filed.update_items").each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
            <p><%=t("views.ctc_pages.home.obtain.already_filed.body3") %></p>
            <ul>
              <% t("views.ctc_pages.home.obtain.already_filed.opt_out_items").each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
            <p>
              <%= t("views.ctc_pages.home.non_filer_sign_up_tool_warning_html") %>
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a4">
            <h3><%=t("views.ctc_pages.home.obtain.not_filed.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a4">
            <p>
              <%=t("views.ctc_pages.home.obtain.not_filed.body1_html") %>
            </p>
            <p><%=t("views.ctc_pages.home.obtain.not_filed.body2") %></p>
            <p>
              <%= t("views.ctc_pages.home.non_filer_sign_up_tool_warning_html") %>
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a5">
            <h3><%=t("views.ctc_pages.home.obtain.full_return.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a5">
            <p><%=t("views.ctc_pages.home.obtain.full_return.body1_html") %></p>
            <% unless ENV['CTC_HIDE_DIY_LINK'] == 'true' %>
              <p><%=t("views.ctc_pages.home.obtain.full_return.body2_html") %></p>
              <p>
                <a href="<%= url_for(host: Rails.application.config.gyr_domains[Rails.env.to_sym], controller: "/public_pages", action: 'diy')%> ">
                  <%= t("views.ctc_pages.home.obtain.full_return.gyr_diy_link") %></a><%=
                    t("views.ctc_pages.home.obtain.full_return.gyr_diy_explanation")
                  %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <h2><%= t('views.ctc_pages.home.common_questions.title') %></h2>
      </div>
      <div class="grid__item width-one-whole">
        <ul class="list--padded">
          <li><%= link_to t('views.ctc_pages.home.common_questions.what_will_i_need_to_submit.question'), url_for(action: 'what_will_i_need_to_submit'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.what_will_happen_and_when.question'), url_for(action: 'what_will_happen_and_when'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.how_do_i_know_what_i_received_for_the_stimulus.question'), url_for(action: 'how_do_i_know_what_i_received_for_the_stimulus'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.will_i_ever_have_to_pay_this_money_back.question'), url_for(action: 'will_i_ever_have_to_pay_this_money_back'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.parents_with_shared_custody.question'), url_for(action: 'parents_with_shared_custody'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.no_income_or_income_from_benefits_programs.question'), url_for(action: 'no_income_or_income_from_benefits_programs'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.are_daca_recipients_eligible.question'), url_for(action: 'are_daca_recipients_eligible'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.will_it_affect_my_immigration_status.question'), url_for(action: 'will_it_affect_my_immigration_status'), class: "link--subtle" %></li>
        </ul>
      </div>
    </div>
  </div>
</main>
