<% intake_public_access = ENV['CTC_INTAKE_PUBLIC_ACCESS'] == 'true' %>

<% content_for :page_title do %>
  <%= t("views.ctc_pages.home.title") %>
<% end %>

<% content_for :body_class, "body--home" %>

<%= render 'shared/facebook_pixel' %>
<main role="main" class="ctc-home">
  <%= render 'ctc_offseason_warning' %>
  <div class="slab slab--hero">
    <div class="grid-flex contained column-row space-between">
      <div class="grid-flex column-column spacing-below-35">
        <h1 class="landing-page-header">
          <%= t("views.ctc_pages.home.header") %>
        </h1>
        <% unless intake_public_access %>
          <p>
            <%= t("views.ctc_pages.home.subheader.launching_soon_html") %>
          </p>
        <% end %>
        <p>
          <% if open_for_ctc_intake? %>
            <%= t("views.ctc_pages.home.subheader.claim") %>
          <% else %>
            <%= t("views.ctc_pages.home.subheader.claim_next_year_html") %>
          <% end %>
        </p>
        <div>
          <% if intake_public_access && open_for_ctc_intake? %>
            <%= link_to t('views.ctc_pages.home.file_your_return'), questions_overview_path, id: "firstCta", class: "button button--primary button--locale-specific", lang: locale %>
          <% else %>
            <%= link_to t('views.ctc_pages.home.sign_up_for_updates'), new_ctc_signup_path, id: "firstCta", class: "button button--primary" %>
          <% end %>
        </div>
        <div class="spacing-below-60">
          <strong><%= link_to t('views.ctc_pages.home.portal_sign_in_link'), new_ctc_portal_client_login_path, class: "link link--subtle" %></strong>
        </div>
      </div>

      <div class="grid-flex align-flex-end justify-flex-end">
        <%= image_tag "hero-family.png", alt: "", class: "hero-image hero-image--family" %>
      </div>
    </div>
  </div>

  <% if @needs_help_banner %>
    <div class="slab slab--short slab--need-help">
      <div class="grid">
        <div class="media-box spacing-below-0">
          <div class="media-box__media">
            <%= image_tag('contact-phone.svg', alt: "") %>
          </div>
          <div class="media-box__content">
            <%= t('views.ctc_pages.home.need_help_html') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="slab slab--green">
    <div class="grid">
      <div class="grid__item width-one-half spacing-below-25">
        <%= image_tag('ctc-phones.png', alt: "") %>
      </div>
      <div class="grid__item width-one-half">
        <h2><%= t('views.ctc_pages.home.what_is.heading') %></h2>
        <p><%= t('views.ctc_pages.home.what_is.body_html') %></p>
      </div>
    </div>
  </div>

  <div class="slab slab--short slab--affiliations">
    <div class="grid">
      <div class="grid__item width-one-whole affiliations">
        <div class="grid__item width-one-third">
          <div class="image cfa">
            <%= image_tag('cfa-logo--black.png', alt: "") %>
          </div>
          <div class="text">
            <%= t('views.ctc_pages.home.affiliations.cfa_product_html') %>
          </div>
        </div>
        <div class="grid__item width-one-third">
          <div class="image whitehouse">
            <%= image_tag('white-house.png', alt: "") %>
          </div>
          <div class="text">
            <%= t('views.ctc_pages.home.affiliations.white_house_html') %>
          </div>
        </div>
        <div class="grid__item width-one-third">
          <div class="image irs">
            <%= image_tag('irs-efile.png', alt: "") %>
          </div>
          <div class="text">
            <%= t('views.ctc_pages.home.affiliations.irs') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slab slab--short slab--navigators">
    <div class="grid">
      <div class="media-box spacing-below-0">
        <div class="media-box__media">
          <%= image_tag('question-bubble.svg', alt: "") %>
        </div>
        <div class="media-box__content">
          <%= t('views.ctc_pages.home.navigator_resources_html', navigators_link: ctc_navigators_url) %>
        </div>
      </div>
    </div>
  </div>

  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-fourth">
        <%= image_tag("check.svg", alt: "") %>
      </div>
      <div class="grid__item width-two-thirds">
        <h2><%= t("views.ctc_pages.home.qualify.heading") %></h2>
        <p><%= t("views.ctc_pages.home.qualify.body1") %></p>
        <p><%= t("views.ctc_pages.home.qualify.body2") %></p>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a1">
            <h3><%= t("views.ctc_pages.home.qualify.eligible.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p><%= t("views.ctc_pages.home.qualify.eligible.body_html") %></p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a2">
            <h3><%= t("views.ctc_pages.home.qualify.dependents.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a2">
            <%= t("views.ctc_pages.home.qualify.dependents.body") %>
            <ul>
              <% t("views.ctc_pages.home.qualify.dependents.qualifiers").each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slab slab--blue" id="claim-credit">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <h2><%= t('views.ctc_pages.home.obtain.heading') %></h2>
      </div>
      <div class="grid__item width-one-whole">
        <p><%= t('views.ctc_pages.home.obtain.body1') %></p>
        <p>
          <%= t('views.ctc_pages.home.obtain.body2_html') %>
        </p>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a3">
            <h3><%= t("views.ctc_pages.home.obtain.already_filed.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a3">
            <p><%= t("views.ctc_pages.home.obtain.already_filed.body1") %></p>
            <p>
              <%= t("views.ctc_pages.home.obtain.already_filed.body2_html") %>
            </p>
            <ul>
              <% t("views.ctc_pages.home.obtain.already_filed.update_items").each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
            <p>
              <%= t("views.ctc_pages.home.obtain.already_filed.body3_html") %>
            </p>
            <ul>
              <% t("views.ctc_pages.home.obtain.already_filed.current_items").each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
            <p><%= t("views.ctc_pages.home.obtain.already_filed.body4") %></p>
            <ul>
              <% t("views.ctc_pages.home.obtain.already_filed.opt_out_items").each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
            <p>
              <%= t("views.ctc_pages.home.obtain.already_filed.irs_link_html") %>
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a4">
            <h3><%= t("views.ctc_pages.home.obtain.not_filed.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a4">
            <p>
              <%= t("views.ctc_pages.home.obtain.not_filed.body1_html") %>
            </p>
            <p><%= t("views.ctc_pages.home.obtain.not_filed.body2") %></p>
            <p>
              <strong><%= t("views.ctc_pages.home.obtain.not_filed.chat_with_tax_experts_html") %></strong>
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a5">
            <h3><%= t("views.ctc_pages.home.obtain.full_return.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a5">
            <p><%= t("views.ctc_pages.home.obtain.full_return.body1_html") %></p>
            <% unless ENV['CTC_HIDE_DIY_LINK'] == 'true' %>
              <p>
                <%=
                  t("views.ctc_pages.home.obtain.full_return.gyr_diy_explanation_html",
                    url: url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'diy')) %>
              </p>
            <% end %>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a5">
            <h3><%= t("views.ctc_pages.home.obtain.deadline.subheading") %></h3>
          </a>
          <div class="accordion__content" id="a5">
            <p><%= t("views.ctc_pages.home.obtain.deadline.body_html", url: url_for(host: MultiTenantService.new(:ctc).host, action: 'edit', controller: "ctc/questions/overview")) %></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-whole" id="ctc_faq">
        <h2><%= t('views.ctc_pages.home.common_questions.title') %></h2>
      </div>
      <div class="grid__item width-one-whole">
        <ul class="list--padded">
          <li><%= link_to t('views.ctc_pages.home.common_questions.what_will_i_need_to_submit.question'), url_for(action: 'what_will_i_need_to_submit'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.what_will_happen_and_when.question'), url_for(action: 'what_will_happen_and_when'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.how_do_i_know_what_i_received_for_the_stimulus.question'), url_for(action: 'how_do_i_know_what_i_received_for_the_stimulus'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.will_i_ever_have_to_pay_this_money_back.question'), url_for(action: 'will_i_ever_have_to_pay_this_money_back'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.parents_with_shared_custody.question'), url_for(action: 'parents_with_shared_custody'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.no_income_or_income_from_benefits_programs.question'), url_for(action: 'no_income_or_income_from_benefits_programs'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.are_daca_recipients_eligible.question'), url_for(action: 'are_daca_recipients_eligible'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.will_it_affect_my_immigration_status.question'), url_for(action: 'will_it_affect_my_immigration_status'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.check_payment_status.question'), url_for(action: 'check_payment_status'), class: "link--subtle" %></li>
          <li><%= link_to t('views.ctc_pages.home.common_questions.how_do_i_get_an_itin.question'), url_for(action: 'how_do_i_get_an_itin'), class: "link--subtle" %></li>
        </ul>
      </div>
    </div>
  </div>
</main>
