<% @main_question = t("views.ctc_pages.puerto_rico_overview.title") %>

<% content_for :page_title, @main_question %>

<div class="main-content-inner">
  <div class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-two-thirds">
        <div class="question__illustration">
          <%= image_tag("questions/wages.svg", alt: "") %>
        </div>

        <h1 class="h2 spacing-above-0 spacing-below-25"><%= @main_question %></h1>

        <p><%= t("views.ctc_pages.puerto_rico_overview.help_text") %></p>

        <p class="text--bold spacing-below-60"><%= t("views.ctc_pages.puerto_rico_overview.cta") %></p>

        <div class="spacing-below-60">
          <%= render('components/molecules/reveal', title: t("views.ctc_pages.puerto_rico_overview.do_my_children_qualify_reveal.title")) do %>
            <p><%= t("views.ctc_pages.puerto_rico_overview.do_my_children_qualify_reveal.content") %></p>
          <% end %>
        </div>

        <%= link_to t('general.continue'), questions_main_home_path, class: "button button--primary button--wide text--centered" %>
      </div>
    </div>
  </div>
</div>