<% content_for :page_title do %>
  <%= t("views.ctc_pages.puerto_rico.title") %>
<% end %>

<% content_for :body_class, "body--home" %>

<%= render 'shared/facebook_pixel' %>
<main role="main" class="ctc-home">
  <div class="slab slab--hero">
    <div class="grid-flex contained column-row space-between">
      <div class="grid-flex column-column spacing-below-35">
        <h1 class="landing-page-header">
          <%= t("views.ctc_pages.puerto_rico.title") %>
        </h1>
        <% unless open_for_ctc_intake? %>
          <p>
            <%= t("views.ctc_pages.home.subheader.launching_soon_html") %>
          </p>
        <% end %>
        <% if open_for_ctc_intake? %>
          <% t("views.ctc_pages.puerto_rico.hero").each_with_index do |p, i| %>
            <p class=<%= "spacing-below-35" unless i == p.length %>><%= p %></p>
          <% end %>
        <% end %>
        <div>
          <% if open_for_ctc_intake? %>
            <%= link_to t('views.ctc_pages.home.get_started'), ctc_puerto_rico_overview_path, id: "firstCta", class: "button button--primary button--locale-specific", lang: locale %>
          <% else %>
            <%= link_to t('views.ctc_pages.home.sign_up_for_updates'), new_ctc_signup_path, id: "firstCta", class: "button button--primary" %>
          <% end %>
        </div>
        <% if open_for_ctc_in_progress_intake? %>
          <div class="spacing-below-60">
            <strong><%= link_to t('views.ctc_pages.home.portal_sign_in_link'), new_ctc_portal_client_login_path, class: "link" %></strong>
          </div>
        <% else %>
          <div class="spacing-below-60">
            <%= link_to t("views.ctc_pages.home.get_your_refund_link"), url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'home', params: { source: 'gctc_ref' }), "data-track-click": "gctc_to_gyr" %>
          </div>
        <% end %>
      </div>

      <div class="grid-flex align-flex-end justify-flex-end">
        <%= image_tag "hero-family.png", alt: "", class: "hero-image hero-image--family" %>
      </div>
    </div>
  </div>

  <div class="slab slab--green">
    <div class="grid">
      <div class="grid__item width-one-half spacing-below-25">
        <%= image_tag('ctc-phones.png', alt: "") %>
      </div>
      <div class="grid__item width-one-half">
        <h2><%= t('views.ctc_pages.puerto_rico.what_is.heading') %></h2>
        <% t('views.ctc_pages.puerto_rico.what_is.body').each do |p| %>
          <p><%= p %></p>
        <% end %>
        <div class="reveal-shrink-wrapper spacing-above-15">
          <%= render('components/molecules/reveal', title: t("views.ctc_pages.puerto_rico.what_is.qualify_reveal.title")) do %>
            <% t("views.ctc_pages.puerto_rico.what_is.qualify_reveal.body").each do |p| %>
              <p><%= p %></p>
            <% end %>
          <% end %>
          <%= render('components/molecules/reveal', title: t("views.ctc_pages.puerto_rico.what_is.how_much_reveal.title")) do %>
            <% t("views.ctc_pages.puerto_rico.what_is.how_much_reveal.body").each do |p| %>
              <p><%= p %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="slab slab--short slab--affiliations">
    <div class="grid">
      <div class="grid__item width-one-whole affiliations">
        <div class="grid__item width-one-third">
          <div class="image cfa">
            <%= image_tag('cfa-logo--black.png', alt: "") %>
          </div>
          <div class="text">
            <%= t('views.ctc_pages.home.affiliations.cfa_product_html') %>
          </div>
        </div>
        <div class="grid__item width-one-third">
          <div class="image whitehouse">
            <%= image_tag('white-house.png', alt: "") %>
          </div>
          <div class="text">
            <%= t('views.ctc_pages.home.affiliations.white_house_html') %>
          </div>
        </div>
        <div class="grid__item width-one-third">
          <div class="image irs">
            <%= image_tag('irs-efile.png', alt: "") %>
          </div>
          <div class="text">
            <%= t('views.ctc_pages.home.affiliations.irs') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slab slab--short slab--navigators">
    <div class="grid">
      <div class="media-box spacing-below-0">
        <div class="media-box__media">
          <%= image_tag('question-bubble.svg', alt: "") %>
        </div>
        <div class="media-box__content">
          <% if open_for_eitc_intake? %>
            <%= t('views.ctc_pages.home.navigator_resources.eitc_on_html', navigators_link: ctc_navigators_url) %>
          <% else %>
            <%= t('views.ctc_pages.home.navigator_resources.eitc_off_html', navigators_link: ctc_navigators_url) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-whole" id="ctc_faq">
        <h2><%= t('views.ctc_pages.home.common_questions.title') %></h2>
      </div>
      <div class="grid__item width-one-whole">
        <ul class="list--padded">
          <% Ctc::CtcPagesController::FAQ_QUESTIONS.each do |question| %>
            <li><%= link_to t("views.ctc_pages.home.common_questions.#{question.to_s}"), url_for(host: MultiTenantService.new(:gyr).host, controller: "/faq", action: 'show', section_key: :child_tax_credit, question_key: question), target: "_blank", rel: "noopener" %></li>
          <% end %>
          <li><%= link_to t("views.ctc_pages.home.common_questions.view_all_questions"), url_for(host: MultiTenantService.new(:gyr).host, controller: "/faq", action: 'section_index', section_key: :child_tax_credit), target: "_blank", rel: "noopener", class: 'link--subtle' %></li>
        </ul>
      </div>
    </div>
  </div>
</main>
