<% header = open_for_ctc_intake? ? t("views.ctc_pages.stimulus_home.header_open") : t("views.ctc_pages.stimulus_home.header") %>

<% content_for :page_title do %>
  <%= header %>
<% end %>
<% content_for :body_class, "body--home" %>

<%= render 'shared/facebook_pixel' %>
<main role="main" class="ctc-home">
  <div class="slab slab--hero">
    <div class="grid-flex contained column-row space-between">
      <div class="grid-flex column-column spacing-below-35">
        <h1 class="landing-page-header">
          <%= header %>
        </h1>

        <% if open_for_ctc_intake? %>
          <div class="spacing-below-25">
            <%= open_for_eitc_intake? ? t("views.ctc_pages.stimulus_home.subheader.claim.eitc_on") : t("views.ctc_pages.stimulus_home.subheader.claim.eitc_off") %>
          </div>
          <div class="spacing-below-15">
            <%= open_for_eitc_intake? ? t("views.ctc_pages.stimulus_home.subheader.time_estimate.eitc_on") : t("views.ctc_pages.stimulus_home.subheader.time_estimate.eitc_off") %>
          </div>
        <% end %>

        <div>
          <% if open_for_ctc_intake? %>
            <%= link_to t("general.get_started"), questions_overview_path, id: "firstCta", class: "button button--primary button--locale-specific", lang: locale %>
          <% else %>
            <%= link_to t('views.ctc_pages.home.sign_up_for_updates'), new_ctc_signup_path, id: "firstCta", class: "button button--primary" %>
          <% end %>
        </div>

        <% if open_for_ctc_in_progress_intake? %>
          <div class="spacing-below-60">
            <strong><%= link_to t('views.ctc_pages.home.portal_sign_in_link'), new_ctc_portal_client_login_path, class: "link link--subtle" %></strong>
          </div>
        <% end %>
      </div>

      <div class="grid-flex align-flex-end justify-flex-end">
        <%= image_tag "hero-family.png", alt: "", class: "hero-image hero-image--family" %>
      </div>
    </div>
  </div>

  <% if @needs_help_banner %>
    <div class="slab slab--short slab--need-help">
      <div class="grid">
        <div class="media-box spacing-below-0">
          <div class="media-box__media">
            <%= image_tag('contact-phone.svg', alt: "") %>
          </div>
          <div class="media-box__content">
            <%= t('views.ctc_pages.home.need_help_html') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="slab slab--green">
    <div class="grid">
      <div class="grid__item width-one-half spacing-below-25">
        <%= image_tag('stimulus-phones.png', alt: "") %>
      </div>

      <% if open_for_ctc_intake? %>
        <div class="grid__item width-one-half">
          <h2><%= t("views.ctc_pages.stimulus_home.what_is.heading_open") %></h2>
          <p><%= t("views.ctc_pages.stimulus_home.what_is.subheading_open") %></p>
          <%= render("components/molecules/reveal", title: t("views.ctc_pages.stimulus_home.what_is.reveals.how_much_ctc_title")) do %>
            <%= t("views.ctc_pages.stimulus_home.what_is.reveals.how_much_ctc_body") %>
          <% end %>
          <% if open_for_eitc_intake? %>
            <%= render("components/molecules/reveal", title: t("views.ctc_pages.stimulus_home.what_is.reveals.how_much_eitc_title")) do %>
              <%= t("views.ctc_pages.stimulus_home.what_is.reveals.how_much_eitc_body") %>
            <% end %>
          <% end %>
          <%= render("components/molecules/reveal", title: t("views.ctc_pages.stimulus_home.what_is.reveals.first_two_title")) do %>
            <% gyr_link = url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'home', params: { source: 'gctc_to_gyr' }) %>
            <% t("views.ctc_pages.stimulus_home.what_is.reveals.first_two_body_html", gyr_link: gyr_link).each do |line| %>
              <p><%= line %></p>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="grid__item width-one-half">
          <h2><%= t('views.ctc_pages.stimulus_home.what_is.heading') %></h2>
          <p><%= t('views.ctc_pages.stimulus_home.what_is.body_html') %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="slab slab--short slab--affiliations">
    <div class="grid">
      <div class="grid__item width-one-whole affiliations">
        <div class="grid__item width-one-third">
          <div class="image cfa">
            <%= image_tag('cfa-logo--black.png', alt: "") %>
          </div>
          <div class="text">
            <%= t('views.ctc_pages.home.affiliations.cfa_product_html') %>
          </div>
        </div>
        <div class="grid__item width-one-third">
          <div class="image whitehouse">
            <%= image_tag('white-house.png', alt: "") %>
          </div>
          <div class="text">
            <%= t('views.ctc_pages.home.affiliations.white_house_html') %>
          </div>
        </div>
        <div class="grid__item width-one-third">
          <div class="image irs">
            <%= image_tag('irs-efile.png', alt: "") %>
          </div>
          <div class="text">
            <%= t('views.ctc_pages.home.affiliations.irs') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slab slab--short slab--navigators">
    <div class="grid">
      <div class="media-box spacing-below-0">
        <div class="media-box__media">
          <%= image_tag('question-bubble.svg', alt: "") %>
        </div>
        <div class="media-box__content">
          <% if open_for_eitc_intake? %>
            <%= t('views.ctc_pages.home.navigator_resources.eitc_on_html', navigators_link: ctc_navigators_url) %>
          <% else %>
            <%= t('views.ctc_pages.home.navigator_resources.eitc_off_html', navigators_link: ctc_navigators_url) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-whole" id="ctc_faq">
        <h2><%= t('views.ctc_pages.home.common_questions.title') %></h2>
      </div>
      <div class="grid__item width-one-whole">
        <ul class="list--padded">
          <li class="spacing-below-25">
            <%= link_to t("views.public_pages.faq.question_groups.stimulus.how_many_stimulus_payments_were_there.question"),
                        faq_question_url(host: MultiTenantService.new(:gyr).host, section_key: :stimulus, question_key: "how_many_stimulus_payments_were_there"),
                        class: "link--subtle" %>
          </li>
          <li class="spacing-below-25">
            <%= link_to t("views.public_pages.faq.question_groups.stimulus.will_there_be_another_stimulus_payment.question"),
                        faq_question_url(host: MultiTenantService.new(:gyr).host, section_key: :stimulus, question_key: "will_there_be_another_stimulus_payment"),
                        class: "link--subtle" %>
          </li>
          <li class="spacing-below-25">
            <%= link_to t("views.public_pages.faq.question_groups.stimulus.how_do_i_get_the_stimulus_payments.question"),
                        faq_question_url(host: MultiTenantService.new(:gyr).host, section_key: :stimulus, question_key: "how_do_i_get_the_stimulus_payments"),
                        class: "link--subtle" %>
          </li>
          <li class="spacing-below-25">
            <%= link_to t("views.public_pages.faq.question_groups.stimulus.what_is_the_economic_impact_payment.question"),
                        faq_question_url(host: MultiTenantService.new(:gyr).host, section_key: :stimulus, question_key: "what_is_the_economic_impact_payment"),
                        class: "link--subtle" %>
          </li>
          <li>
            <%= link_to t("views.public_pages.faq.question_groups.stimulus.what_is_the_recovery_rebate_credit.question"),
                        faq_question_url(host: MultiTenantService.new(:gyr).host, section_key: :stimulus, question_key: "what_is_the_recovery_rebate_credit"),
                        class: "link--subtle" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
