<% content_for :page_title, t("views.documents.intro.title") %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <h1 class="form-question">
            <%= content_for(:page_title) %>
          </h1>
          <p class="text--help">
            <%= t("views.documents.intro.info") %>
          </p>
          <p class="text--help">
            <strong>
              <%= t("general.security_html", :privacy_link => link_to(t("general.privacy_policy"), privacy_path, target: "_blank")) %>
            </strong>
          </p>

          <div class="document-overview-list">
            <% if current_intake.document_types_definitely_needed.present? %>
              <p>
                <strong><%= t("views.documents.intro.should_have") %></strong>
              </p>
              <% current_intake.document_types_definitely_needed.each do |type| %>
                <div class="document-overview-list__item">
                  <%= image_tag "paper.svg", alt: "", class: "document-overview-list__icon" %>
                  <h2 class="h3 document-overview-list__heading">
                    <%= t("general.document_type.#{type.parameterize(separator: "_")}", default: type) %>
                  </h2>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="document-overview-list">
            <% if current_intake.document_types_possibly_needed.present? %>
              <p>
                <strong><%=t("views.documents.intro.might_have") %></strong>
              </p>
              <% current_intake.document_types_possibly_needed.each do |type| %>
                <div class="document-overview-list__item">
                  <%= image_tag "paper.svg", alt: "", class: "document-overview-list__icon" %>
                  <h2 class="h3 document-overview-list__heading">
                    <%= t("general.document_type.#{type.parameterize(separator: "_")}", default: type) %>
                  </h2>
                </div>
              <% end %>
            <% end %>
          </div>

          <%= link_to next_path, class: "button button--primary button--wide text--centered spacing-above-60" do %>
            <%=t("general.continue") %>
          <% end %>
        </main>
      </div>
    </div>
  </section>
<% end %>
