<% title = t(".title") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2" id="main-question"><%= title %></h1>

    <%= questions_form model: @form, url: { action: :update }, local: true, method: "put" do |f| %>
    <div class="blue-group">
        <%= f.cfa_input_field(:phone_number, t(".phone_number_label"), classes: ["form-width--long"]) %>
    </div>

      <%= f.submit t(".action"), class: "button button--primary button--wide spacing-below-15" %>
    <% end %>

  <%= render 'state_file/questions/shared/verification_shortcut' %>
<% end %>
