<% title = t(".title_html") %>
<% content_for :page_title, title %>

<%# Must be above :card content_for %>
<% content_for :info_box do %>
  <div class="reveal">
    <p><a href="#" class="reveal__button"><%= t(".why_ask_this") %></a></p>
    <div class="reveal__content">
      <div>
        <p>
          <%=  t('.protect_identity') %>
        </p>
        <p>
          <%= t('.encourage_sharing_html') %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p> <%= t("state_file.questions.id_primary_state_id.id_primary.subtitle") %></p>
  <%= render 'state_file/questions/primary_state_id/state_id', options: {
    info_link: "https://itd.idaho.gov/news/idahos-new-license-and-id-card-are-here/"
  } %>
<% end %>