<%= f.cfa_input_field :name, t("general.name") %>
<%= f.hub_checkbox :is_independent, "This organization is not part of a coalition", options: { class: 'toggle-multi-select-state-visibility', checked_value: "yes", unchecked_value: "no" } %>
<div class="coalition-select-wrapper">
  <%= f.cfa_select :coalition_id, t("general.coalition"), @coalitions.map { |c| [c.name, c.id] }, include_blank: true %>
</div>
<div class="form-group state-select hidden">
  <label for="state-select" class="form-question"><%= t("general.state") %></label>
  <div>
    <%= hidden_field_tag("hub_organization_form[states]",
                         taggable_states(@organization.state_routing_targets.pluck(:state_abbreviation)),
                         id: "state-select", class: "text-input multi-select-state") %>
  </div>
</div>
<%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>
<div class="grid-flex center-aligned">
  <div class="item-15r">
    <%= f.cfa_input_field :capacity_limit, t("general.capacity_limit"), classes: ["form-width--short"] %>
  </div>

  <div class="item spacing-below-10">
    <div class="tooltip" data-position="right" title="<%= t('hub.organizations.form.excludes') %>">
      <strong><%= @organization&.organization_capacity&.active_client_count || 0 %></strong> <%= t('hub.organizations.form.active_clients') %>
    </div>
  </div>
</div>

<%= f.hub_checkbox(:allows_greeters, t('hub.organizations.form.allows_greeters'), options: { checked_value: true, unchecked_value: false, **local_assigns[:additional_options] }) %> <!-- local_assigns[:additional_options] sets default to true for new orgs -->
<%= f.hub_checkbox(:accepts_itin_applicants, "Accepts ITIN applicants", options: { checked_value: true, unchecked_value: false }) %>
<div>
  <%= f.submit t("general.save"), class: "button button--primary button--wide" %>
</div>
