<% @title = @organization.name %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="hub-form">
    <%= link_to t("general.all_organizations"), hub_organizations_path, class: "button button--small" %>

    <%= form_with model: @organization, url: hub_organization_path, method: :put, local: true, builder: VitaMinFormBuilder do |f| %>
      <h1 class="form-card__title">
        <%= @title %>
      </h1>

      <%= render "hub/organizations/edit_organization", f: f %>

      <button class="button button--primary button--wide" type="submit">
        <%= t("general.save") %>
      </button>

      <h2><%= t("general.sites") %></h2>
      <%= link_to t("hub.sites.new.title"), new_hub_site_path(parent_organization_id: @organization), class: "button button--cta" %>

      <% if @organization.child_sites.exists? %>
        <% @organization.child_sites.map do |site| %>
          <h3><%= link_to site.name, edit_hub_site_path(parent_organization_id: @organization, id: site) %></h3>
        <% end %>
      <% else %>
        <%= t(".no_sites") %>
      <% end %>
    <% end %>
  </div>
<% end %>
