<% @title = @organization.name %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <section class="slab slab--padded">
    <%= link_to t("general.all_organizations"), hub_organizations_path %>
    <div class="grid">
      <div class="grid--item width-one-half">
        <%= form_with model: @organization, url: hub_organization_path, method: :put, local: true, builder: VitaMinFormBuilder, id: "organization-form" do |f| %>
          <h1 class="form-card__title">
            <%= @title %>
          </h1>

          <%= render "hub/organizations/edit_organization", f: f, additional_options: {} %>
        <% end %>
        <hr/>

        <div id="source-params-form">
          <%= render "hub/source_params/form", form: @source_params_form %>
        </div>

        <hr/>
        <% if can? :create, VitaPartnerZipCode %>
          <div id="zip-code-routing-form">
            <%= render "hub/zip_codes/form", form: @routing_form %>
          </div>
          <hr/>
        <% end %>

        <h2><%= t("general.sites") %></h2>
        <div class="spacing-below-25">
          <%= link_to t("hub.sites.new.title"), new_hub_site_path(parent_organization_id: @organization), class: "button button--cta"%>
        </div>
        <% if @organization.child_sites.exists? %>
          <ul class="organization-list">
            <% @organization.child_sites.map do |site| %>
              <li><h3 class="spacing-below-0"><%= link_to site.name, edit_hub_site_path(id: site) %></h3></li>
            <% end %>
          </ul>
        <% else %>
          <div class="spacing-below-25">
            <%= t("hub.organizations.no_sites") %>
          </div>

        <% end %>

      </div>
    </div>
  </section>
<% end %>
