<% @title = @organization.name %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <section class="slab slab--padded">
    <%= link_to t("general.all_organizations"), hub_organizations_path %>

    <%= form_with model: @organization, url: hub_organization_path, method: :put, local: true, builder: VitaMinFormBuilder do |f| %>
      <h1 class="form-card__title">
        <%= @title %>
      </h1>

      <%= render "hub/organizations/edit_organization", f: f %>

      <% @organization.source_parameters.each do |source_parameter| %>
        <%= f.fields_for :source_parameters, source_parameter, builder: VitaMinFormBuilder do |source_parameter_form| %>
          <div class="inline-form-items-wrapper">
            <%= source_parameter_form.cfa_input_field :code, t("general.unique_link"), classes: ["form-width--short"] %>
            <%= source_parameter_form.hub_checkbox(:_destroy, t("general.remove")) %>
          </div>
        <% end %>
      <% end %>

      <%= f.fields_for :source_parameters, @organization.source_parameters.build do |source_parameter_form| %>
        <%= source_parameter_form.cfa_input_field :code, t("general.new_unique_link"), classes: ["form-width--short"] %>
      <% end %>

      <button class="button button--primary button--wide" type="submit">
        <%= t("general.save") %>
      </button>
      <hr />
      <h2><%= t("general.sites") %></h2>
      <%= link_to t("hub.sites.new.title"), new_hub_site_path(parent_organization_id: @organization), class: "button button--cta" %>

      <% if @organization.child_sites.exists? %>
        <% @organization.child_sites.map do |site| %>
          <h3><%= link_to site.name, edit_hub_site_path(parent_organization_id: @organization, id: site) %></h3>
        <% end %>
      <% else %>
        <%= t("hub.organizations.no_sites") %>
      <% end %>
    <% end %>
  </section>
<% end %>
