<% @title = @organization.name %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <section class="slab slab--padded">
    <%= link_to t("general.all_organizations"), hub_organizations_path %>
    <div class="grid">
      <div class="grid--item width-one-half">
        <%= form_with model: @organization_form, url: hub_organization_path, method: :put, local: true, builder: VitaMinFormBuilder, id: "organization-form" do |f| %>
          <h1 class="form-card__title">
            <%= @title %>
          </h1>

          <%= render "hub/organizations/edit_organization", f: f, additional_options: {} %>
        <% end %>
        <hr/>

        <h2><%= t("general.admin_controls") %></h2>

        <h3><%= t("general.suspend_roles") %></h3>
        <div>
          <div class="role-toggles--organization-lead grid-flex space-between">
            <div>
              <%= t("general.organization_lead") %> (<%= @organization.organization_leads.active.count %>/<%= @organization.organization_leads.count %> <%= t("general.active") %>)
            </div>
            <div class="grid-flex">
              <%= button_to t("general.suspend_all"), suspend_all_hub_organization_path, method: :patch, params: { role_type: OrganizationLeadRole::TYPE }, class: "button button--small", disabled: @organization.organization_leads.active.count.zero? %>
              <%= button_to t("general.activate_all"), activate_all_hub_organization_path, method: :patch, params: { role_type: OrganizationLeadRole::TYPE }, class: "button button--small", disabled: @organization.organization_leads.active.count == @organization.organization_leads.count %>
            </div>
          </div>

          <div class="role-toggles role-toggles--site-coordinator grid-flex space-between">
            <div>
              <%= t("general.site_coordinator") %> (<%= @organization.site_coordinators.active.count %>/<%= @organization.site_coordinators.count %> <%= t("general.active") %>)
            </div>
            <div class="grid-flex">
              <%= button_to t("general.suspend_all"), suspend_all_hub_organization_path, method: :patch, params: { role_type: SiteCoordinatorRole::TYPE }, class: "button button--small", disabled: @organization.site_coordinators.active.count.zero? %>
              <%= button_to t("general.activate_all"), activate_all_hub_organization_path, method: :patch, params: { role_type: SiteCoordinatorRole::TYPE }, class: "button button--small", disabled: @organization.site_coordinators.active.count == @organization.site_coordinators.count %>
            </div>
          </div>

          <div class="role-toggles role-toggles--team-member grid-flex space-between">
            <div>
              <%= t("general.team_member") %> (<%= @organization.team_members.active.count %>/<%= @organization.team_members.count %> <%= t("general.active") %>)
            </div>
            <div class="grid-flex">
              <%= button_to t("general.suspend_all"), suspend_all_hub_organization_path, method: :patch, params: {role_type: TeamMemberRole::TYPE}, class: "button button--small", disabled: @organization.team_members.active.count.zero? %>
              <%= button_to t("general.activate_all"), activate_all_hub_organization_path, method: :patch, params: {role_type: TeamMemberRole::TYPE}, class: "button button--small", disabled: @organization.team_members.active.count == @organization.team_members.count %>
            </div>
          </div>

        </div>
        <hr/>

        <div id="source-params-form">
          <%= render "hub/source_params/form", form: @source_params_form %>
        </div>

        <hr/>

        <% if can? :create, VitaPartnerZipCode %>
          <div id="zip-code-routing-form">
            <%= render "hub/zip_codes/form", form: @routing_form %>
          </div>
          <hr/>
        <% end %>

        <h2><%= t("general.sites") %></h2>
        <div class="spacing-below-25">
          <%= link_to t("hub.sites.new.title"), new_hub_site_path(parent_organization_id: @organization), class: "button button--cta"%>
        </div>
        <% if @organization.child_sites.exists? %>
          <ul class="organization-list">
            <% @organization.child_sites.map do |site| %>
              <li><h3 class="spacing-below-0"><%= link_to site.name, edit_hub_site_path(id: site) %></h3></li>
            <% end %>
          </ul>
        <% else %>
          <div class="spacing-below-25">
            <%= t("hub.organizations.no_sites") %>
          </div>

        <% end %>

      </div>
    </div>
  </section>
<% end %>

<% content_for :script do %>
  <script>
      window.taggableItems = <%= taggable_states(States.keys) %>;
  </script>
<% end %>
