<% @title = t("general.organizations") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab">
    <div style="display: flex; justify-content: space-between;">
      <h1 class="h1"><%= @title %></h1>
      <% if can? :create, VitaPartner %>
        <%= link_to t("hub.organizations.new.title"), new_hub_organization_path, class: "button button--cta"%>
      <% end %>
    </div>

    <div class="grid">
      <div class="grid__item width-one-half">
        <% @organizations_by_coalition.each do |coalition, organizations| %>
          <div class="grid-flex space-between center-aligned spacing-above-10">
            <h2 class="spacing-below-0"><%= coalition.nil? ? t(".independent_organizations", count: @organizations_by_coalition.length) : coalition.name %> </h2>
            <div class="help-text"><%= t("general.capacity") %></div>
          </div>

          <div class="organization-list spacing-below-25">
              <ul>
                <% if organizations.present? %>
                  <% organizations.each do |organization| %>
                    <%= render "hub/organizations/listing", organization: organization %>
                  <% end %>
                <% else %>
                  <%= t('.no_organizations') %>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
