<% @title = t(".title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="hub-form">
    <%= form_with model: @vita_partner, url: hub_organizations_path, method: :post, local: true, builder: VitaMinFormBuilder do |f| %>
      <h1 class="form-card__title">
        <%= @title %>
      </h1>

      <%= f.cfa_input_field :name, t("general.name") %>
      <%= f.cfa_select :coalition_id, t("general.coalition"), @coalitions.map { |c| [c.name, c.id] }, include_blank: true %>

      <button class="button button--primary button--wide" type="submit">
        <%= t("general.save") %>
      </button>
    <% end %>
  </div>
<% end %>
