<% @main_heading = t("views.questions.overview.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
    <h1 class="form-question"><%= @main_heading %></h1>
    <p class="spacing-below-35">
      <strong>
        <%=t("views.questions.overview.info") %>
      </strong>
    </p>

    <div class="steps--wrapper">
      <div class="step">
        <div class="step-icon-wrapper">
          <%= image_tag("questions.svg", alt: "") %>
        </div>
        <div class="step-text">
          <h3><%=t("views.questions.overview.questions.header") %></h3>
          <p class="text--small with-padding-small">
            <%=t("views.questions.overview.questions.info") %>
          </p>
        </div>
      </div>

      <div class="step">
        <div class="step-icon-wrapper">
          <%= image_tag("documents.svg", alt: "") %>
        </div>
        <div class="step-text">
          <h3><%=t("views.questions.overview.documents.header") %></h3>
          <p class="text--small with-padding-small">
            <%=t("views.questions.overview.documents.info") %>
          </p>
        </div>
      </div>

      <div class="step">
        <div class="step-icon-wrapper">
          <%= image_tag("phone-review.svg", alt: "") %>
        </div>
        <div class="step-text">
          <h3><%=t("views.questions.overview.phone_review.header") %></h3>
          <p class="text--small with-padding-small">
            <%=t("views.questions.overview.phone_review.info") %>
          </p>
        </div>
      </div>

      <div class="step">
        <div class="step-icon-wrapper" style="width: 4rem; height: 4.5rem; margin-right: 1.5rem;">
          <%= image_tag("dollar-sign.svg", alt: "") %>
        </div>
        <div class="step-text">
          <h3><%=t("views.questions.overview.refund.header") %></h3>
          <p class="text--small with-padding-small">
            <%=t("views.questions.overview.refund.info") %>
          </p>
        </div>
      </div>
    </div>

    <%= link_to next_path, class: "button button--primary button--wide text--centered spacing-above-60" do %>
      <%=t("general.continue") %>
    <% end %>
<% end %>
