<% content_for :page_title, @welcome_text %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <h1 class="overview--title"><%= @welcome_text %></h1>
          <h2 class="overview--subtitle">
            <%= @overview_text %>
          </h2>
          <p class="overview--help-text">
            <%= @help_text %>
          </p>

          <h3 class="overview--section-title">
            <div class="section-title-img-wrapper">
              <%= image_tag("household-information.svg", alt: "") %>
            </div>
            Household Information
          </h3>
          <h3 class="overview--section-title">
            <div class="section-title-img-wrapper">
              <%= image_tag("income-and-expenses.svg", alt: "") %>
            </div>
            Income and Expenses
          </h3>
          <h3 class="overview--section-title">
            <div class="section-title-img-wrapper">
              <%= image_tag("life-events.svg", alt: "") %>
            </div>
            Life Events
          </h3>
          <h3 class="overview--section-title">
            <div class="section-title-img-wrapper">
              <%= image_tag("documents.svg", alt: "") %>
            </div>
            Documents
          </h3>
          <h3 class="overview--section-title">
            <div class="section-title-img-wrapper">
              <%= image_tag("phone.svg", alt: "") %>
            </div>
            Scheduling
          </h3>

          <%= link_to next_path, class: "button button--primary" do %>
            Continue
          <% end %>
        </main>
      </div>
    </div>
  </section>
<% end %>