<% content_for :page_title do %>
  <% if @provider_search_form.errors.present? %>
    <%= @provider_search_form.error_summary %>
  <% end %>
  <% if @providers.empty? && @provider_search_form.valid_zip_searched? %>
    <%=t("views.vita_providers.index.no_results") %>
  <% end %>
  <% if @providers.present? %>
    <%=t("views.vita_providers.index.results", :total_entries => @providers.total_entries, :zip => @provider_search_form.zip) %>
  <% else %>
    <%=t("views.vita_providers.index.enter_zip") %>
  <% end %>
<% end %>

<% content_for :body_class, "body--providers" %>

<%= render "shared/breadcrumb", page_name: t("views.vita_providers.index.title") %>

<div class="main-content-inner">
  <div class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-two-thirds shift-one-sixth">
        <h2 class="h1"><%=t("views.vita_providers.index.header") %></h2>

        <p><%=t("views.vita_providers.index.info") %></p>

        <h1 class="h4"><%=t("views.vita_providers.index.search.header") %></h1>

        <%= form_with model: @provider_search_form, url: vita_providers_path, method: "get", local: true, enforce_utf8: false, builder: VitaMinFormBuilder do |f| %>
          <%= f.vita_min_searchbar :zip, t("general.search"), label_icon: image_tag("search.svg", class: "vita-min-searchbar__icon", alt: "" ), options: { placeholder: t("views.vita_providers.index.search.placeholder"), name: "zip" } %>
        <% end %>

        <% if @providers.empty? && @provider_search_form.valid_zip_searched? %>
          <h1><%=t("general.sorry") %></h1>

          <p>
            <%=t("views.vita_providers.index.search.no_results", :zip => @provider_search_form.zip, :zip_name => @zip_name) %>

            <%=t("views.vita_providers.index.search.try_another_or_apply_html") %>
          </p>

          <p>
            <%=t("views.vita_providers.index.search.prepare_your_own_html", :free_file_link => link_to(t("general.free_file_lookup_tool"), "https://irs.treasury.gov/freetaxprep/", target: "_blank", rel: "noopener", data: { track_click: "freefile" })) %>
          </p>
        <% end %>

        <% if @providers.present? %>
          <p><%=t("views.vita_providers.index.search.results", :total_entries => @providers.total_entries, :zip => @provider_search_form.zip, :zip_name => @zip_name) %></p>

          <ul class="provider-list">
            <% @providers.each_with_index do |provider, index| %>
              <li class="provider-list__entry">

                  <h2>
                    <%= link_to vita_provider_path(id: provider.id, zip: @provider_search_form.zip, page: @provider_search_form.page) do %>
                      <%= "#{provider_result_number(index)}. #{provider.name}" %>
                    <% end %>
                  </h2>

                <p class="text--small">
                  <%# `cached_query_distance` is a column temporarily stored on each record from the search query %>
                  Within <%= round_meters_up_to_5_mi(provider.cached_query_distance) %> miles
                </p>
                <div class="address">
                  <div class="provider-entry__icon">
                    <%= image_tag "map-pin.svg", alt: "" %>
                  </div>
                  <div class="address-details">
                    <div><%= provider.street_address %></div>
                    <div><%= provider.unit %></div>
                    <div><%= provider.city_state_zip %></div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>

          <%= will_paginate(
                @providers,
                previous_label: "<i class=\"icon icon-keyboard_arrow_left\"></i><span class=\"hide-on-mobile\"> Previous</span>",
                next_label: "<span class=\"hide-on-mobile\">Next </span><i class=\"icon icon-keyboard_arrow_right\"></i>",
                inner_window: 0,
                outer_window: 0,
                param_name: "page",
              ) %>
        <% end %>

      </div>
    </div>
  </div>
</div>
