<% content_for :page_title do %>
  All the VITA Providers We Scraped
<% end %>

<% content_for :body_class, "body--providers" %>


<div class="slab">
  <div class="grid">
    <div class="grid__item width-two-thirds">
      <h1>All the VITA Providers We Scraped</h1>

      <% @vita_providers.each do |provider| %>
        <div><strong>name</strong>: <%= provider.name %></div>
        <div><strong>irs_id</strong>: <%= provider.irs_id %></div>
        <div><strong>details</strong>: <%= provider.details %></div>
        <div><strong>dates</strong>: <%= provider.dates %></div>
        <div><strong>hours</strong>: <%= provider.hours %></div>
        <div><strong>languages</strong>: <%= provider.languages %></div>
        <div><strong>appointment_info</strong>: <%= provider.appointment_info %></div>
        <hr/>
      <% end %>
    </div>
  </div>
</div>