<% content_for :page_title do %>
  <%= @provider.name %>
<% end %>

<% content_for :body_class, "body--provider-profile" %>

<main role="main">
  <div class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-two-thirds shift-one-sixth">

        <% if @zip.present? %>
          <div class="return-link">
            <%= link_to vita_providers_path(zip: @zip, page: @page || "1"), class: "button button--small" do %>
              <%= image_tag "left_angle_bracket.svg", alt: "" %>
              <%=t("general.return_search") %>
            <% end %>
          </div>
        <% end %>

        <h1 class="provider-name h2"><%= @provider.name %></h1>
        <% if @distance.present? %>
          <p class="text--small">
            <%=t("views.vita_providers.show.search_radius", :distance => round_meters_up_to_5_mi(@distance), :zip => @zip, :zip_name => @zip_name) %>
          </p>
        <% end %>

        <%= render "shared/covid_warning" %>

        <div class="provider-field">
          <div class="provider-field__icon">
            <%= image_tag "map-pin.svg", alt: "" %>
          </div>
          <div>
            <h2 class="provider-field__label h3"><%=t("general.address") %></h2>
            <div class="provider-field__value">
              <%= link_to vita_provider_map_path(id: @provider.id), title: t("views.vita_providers.show.maps_link_title", :provider_name => @provider.name), target: "_blank", rel: "noopener" do %>
                <div><%= @provider.street_address %></div>
                <div><%= @provider.unit %></div>
                <div><%= @provider.city_state_zip %></div>
              <% end %>
              <% @provider.notes.each do |note| %>
                <div><%= note %></div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="provider-field">
          <div class="provider-field__icon">
            <%= image_tag "calendar.svg", alt: "" %>
          </div>
          <div>
            <h2 class="provider-field__label h3"><%=t("general.open") %></h2>
            <div class="provider-field__value">
              <%= @provider.dates || "Sorry, no dates listed." %>
            </div>
          </div>
        </div>

        <div class="provider-field">
          <div class="provider-field__icon">
            <%= image_tag "clock.svg", alt: "" %>
          </div>
          <div>
            <h2 class="provider-field__label h3"><%=t("general.hours") %></h2>
            <div class="provider-field__value">
              <%= @provider.hours || t("views.vita_providers.show.no_hours_listed") %>
            </div>
          </div>
        </div>

        <% if @provider.appointment_info.present? %>
          <h2 class="h3">
            <%=t("views.vita_providers.show.appointment_info", :appointment_info => @provider.appointment_info&.downcase) %>
            <%=
              t("views.vita_providers.show.call_to_schedule") if (@provider.appointment_info == "Required" && @provider.phone_number.present?)
            %>
          </h2>
        <% end %>

        <div class="provider-field">
          <div class="provider-field__icon">
            <%= image_tag "phone.svg", alt: "" %>
          </div>
          <div>
            <h2 class="provider-field__label h3"><%=t("general.phone_number") %></h2>
            <div class="provider-field__value">
              <% if @provider.phone_number.present? %>
                <%= link_to phone_number_link(@provider.phone_number), title: t("views.vita_providers.show.phone_number_title", :provider_name => @provider.name) do %>
                  <%= formatted_phone_number(@provider.phone_number) %>
                <% end %>
              <% else %>
                <%=t("views.vita_providers.show.no_phone_number_listed") %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="provider-field">
          <div class="provider-field__icon">
            <%= image_tag "grid-globe.svg", alt: "" %>
          </div>
          <div>
            <h2 class="provider-field__label h3"><%=t("general.languages") %></h2>
            <div class="provider-field__value">
              <%= @provider.languages.split(",").join(", ") if @provider.languages.present? %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
