<% @main_question = t("views.ctc.questions.no_dependents_advance_ctc_payments.title", current_tax_year: MultiTenantService.new(:ctc).current_tax_year) %>

<% content_for :page_title, @main_question %>

<% content_for :card do %>
  <h1 class="h2"><%= @main_question %></h1>
  <p><%= t("views.ctc.questions.no_dependents_advance_ctc_payments.subtitle") %></p>
  <div class="form-card form-card--yes-no">
    <div class="options-wrapper">
      <div class="yes-no-buttons">
        <%= link_to offboarding_actc_without_dependents_path, class: "button button--icon button--icon--centered" do %>
          <%= image_tag("checkmark.svg", alt: "") %><%=t("general.affirmative") %>
        <% end %>
        <%= link_to next_path, class: "button button--icon button--icon--centered" do %>
          <%= image_tag("crossmark.svg", alt: "") %><%=t("general.negative") %>
        <% end %>
        </div>
      </div>
    </div>
<% end %>
