<% @main_question = "What is your spouse's race?" %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35" id="demographic_spouse_race_question">
      <%= @main_question %>
    </h1>
    <div class="form-card__stacked-checkboxes spacing-above-0">
      <%= f.cfa_checkbox(:demographic_spouse_american_indian_alaska_native, "American Indian or Alaska Native", options: { checked_value: true, unchecked_value: false }) %>
      <%= f.cfa_checkbox(:demographic_spouse_native_hawaiian_pacific_islander, "Native Hawaiian or other Pacific Islander", options: { checked_value: true, unchecked_value: false }) %>
      <%= f.cfa_checkbox(:demographic_spouse_asian, "Asian", options: { checked_value: true, unchecked_value: false }) %>
      <%= f.cfa_checkbox(:demographic_spouse_black_africa_american, "Black or African American", options: { checked_value: true, unchecked_value: false }) %>
      <%= f.cfa_checkbox(:demographic_spouse_white, "White", options: { checked_value: true, unchecked_value: false }) %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      Continue
    </button>
    <%= f.button :submit, name: "#{f.object_name}[demographic_spouse_prefer_not_to_answer_race]", value: true, class: "button button--wide", "aria-describedby": "demographic_spouse_race_question" do %>
      Skip question
    <% end %>
  <% end %>
<% end %>