<% @main_question = t("views.ctc.questions.advance_ctc.title", adv_ctc_estimate: @adv_ctc_estimate) %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_question %></h1>

  <div class="review-box spacing-below-35">
    <div class="review-box__title spacing-below-15">
      <h2 class="text--normal"><%= t("views.ctc.questions.advance_ctc.total_adv_ctc") %></h2>
    </div>
    <div class="h2 spacing-below-15 spacing-above-0">
      <%= calculated_or_provided_dollar_amount(@adv_ctc_estimate) %>
    </div>
    <p><%= t("views.ctc.questions.advance_ctc.total_adv_ctc_details_html") %>:</p>
    <ul class="with-bullets">
      <% current_intake.dependents.each do |dependent| %>
        <% if dependent.qualifying_ctc? %>
          <li><%= dependent.full_name %></li>
        <% end %>
      <% end %>
    </ul>
    <p><%= t("views.ctc.questions.advance_ctc.adv_ctc_time_frame") %></p>
  </div>

  <p class="text--bold"><%= t("views.ctc.questions.advance_ctc.question") %></p>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <%= f.hidden_field :adv_ctc_entry_method, value: :calculated_amount %>

    <div class="button-group button-group--center button--wide">
      <%= f.button :submit, name: "#{f.object_name}[advance_ctc_received_choice]", value: "yes_received", class: "button button--wide text--centered" do %>
        <%= t("views.ctc.questions.advance_ctc.yes_received") %>
      <% end %>

      <%= f.button :submit, name: "#{f.object_name}[advance_ctc_received_choice]", value: "no_received_different_amount", class: "button button--wide text--centered" do %>
        <%= t("views.ctc.questions.advance_ctc.no_received_different") %>
      <% end %>

      <%= f.button :submit, name: "#{f.object_name}[advance_ctc_received_choice]", value: "no_did_not_receive", class: "button button--wide text--centered" do %>
        <%= t("views.ctc.questions.advance_ctc.no_did_not_receive") %>
      <% end %>
    </div>
  <% end %>
<% end %>