<% content_for :form_question, t("views.documents.additional_documents.title") %>

<% content_for :form_help_text do %>
  <div class="document-overview-list">
    <p>
      <%= t("views.documents.additional_documents.help_text") %>
    </p>
    <div class="document-overview-list">
      <% if current_intake.might_have_document_types.present? %>
        <p>
          <strong><%= t("views.documents.additional_documents.list_header") %></strong>
        </p>
        <% current_intake.might_have_document_types.each do |type| %>
          <div class="document-overview-list__item">
            <%= image_tag "paper.svg", alt: "", class: "document-overview-list__icon" %>
            <h2 class="h3 document-overview-list__heading">
              <%= t("general.document_type.#{type.parameterize(separator: "_")}", default: type) %>
            </h2>
            <div class="reveal document-overview-list__heading">
              <p><a href="#" class="reveal__link">Why are you asking for this form?</a></p>
              <div class="reveal__content">
                <%= t("general.document_type.#{type.parameterize(separator: "_")}", default: type) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
