<% @header = t(".header") %>
<% content_for :page_title do %>
  <%= @header %>
<% end %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <%= form_with model: @signup, local: true, builder: VitaMinFormBuilder, html: {class: "form-card"} do |f| %>
            <h1 class="form-question">
              <%= @header %>
            </h1>
            <h2 class="h3"><%= t(".subheader") %></h2>

            <%= f.cfa_input_field(:name, t("general.name"), classes: ["form-width--long"]) %>
            <%= f.cfa_input_field(:zip_code, t("general.zip_code"), classes: ["form-width--med"]) %>
            <%= f.cfa_input_field(:email_address, t("general.email"), classes: ["form-width--long"]) %>
            <%= f.cfa_input_field(:phone_number, t("general.phone_number"), classes: ["form-width--long"]) %>

            <button class="button button--primary button--wide" type="submit">
              <%= t("general.sign_up") %>
            </button>

            <div class="spacing-above-60">
              <p><%= t(".opt_in_message.01_intro") %></p>
              <ul class="list--bulleted">
                <% t(".opt_in_message.02_list").each do |line| %>
                  <li><%= line %></li>
                <% end %>
              </ul>
              <p>
                <%= t(".opt_in_message.03_message_freq") %>
                <%= t(".opt_in_message.04_detail_links_html", terms_link: sms_terms_path, privacy_link: privacy_path) %>
              </p>
            </div>
          <% end %>
        </main>
      </div>
    </div>
  </section>
<% end %>