<p>
  <% if flow_params.reference_object %>
    Showing pages reachable by reference object: <strong><%= flow_params.pretty_reference_object %></strong>.
    <% if flow_params.reference_object.respond_to?(:client_id) %>
      <div>
        <%= link_to 'View client in hub',
                    url_for(host: MultiTenantService.new(:gyr).host,
                            controller: "/hub/clients", action: 'show',
                            id: flow_params.reference_object.client_id),
                    target: "_blank",
                    class: "button button--small"
        %>
      </div>
      <div class="spacing-below-15">
        <%= link_to "View client portal", new_portal_client_login_path, class: "flow-explorer-link button button--small button--primary" %>
      </div>
    <% end %>
  <% else %>
    <strong>Showing all pages.</strong>
  <% end %>
</p>

<ul>
  <% flow_params.controllers.controller_actions.each do |decorated_controller_action| %>
    <li>
      <div class="flow-explorer-line spacing-below-10">
        <div class="flow-explorer-screenshot">
          <%=
            image_tag(
              decorated_controller_action.screenshot_path,
              onerror: "this.onerror = null; this.style.display = 'none'"
            )
          %>
        </div>
        <div style="padding-left: 20px;">
          <%=
            link_to(
              decorated_controller_action.controller_url,
              class: 'flow-explorer-link',
              style: flow_params.reference_object && decorated_controller_action.unreachable?(controller) ? 'font-style: italic; color: #aaa;' : ''
            ) do %>
            <% page_title = decorated_controller_action.page_title(flow_params.title_i18n_params) %>
            <% if page_title.is_a?(Hash) %>
              <ul>
                <% page_title.each do |k, v| %>
                  <li><strong>(<%= k.upcase %>)</strong>: <%= v %></li>
                <% end %>
              </ul>
            <% else %>
              <%= page_title %>
            <% end %>
          <% end %>
          <div>
            <%= decorated_controller_action.pretty_name %>
            <% if decorated_controller_action.methods(false).include?(:show?) %>
              <div class="reveal">
                <span class="text--small"><button class="reveal__button"><%= 'Show Conditions' %></button></span>
                <div class="reveal__content">
                  <pre><%= decorated_controller_action.__getobj__.method(:show?).source %></pre>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
