<% @main_heading = t("state_file.questions.retirement_income.edit.title_html", payer_name: @state_file1099_r.payer_name) %>
<% content_for :page_title, @main_heading %>

<% content_for :card do %>
  <h1 class="form-question"><%= @main_heading %></h1>
  <% if params[:return_to_review].present? %>
    <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
  <% end %>

  <dl>
    <div class="white-group">
      <div class="spacing-below-25">
        <dt class="form-question"><strong><%= @state_file1099_r.recipient_name %></strong></dt>
        <dd class="form-question"><%= @state_file1099_r.payer_name %></dd>
      </div>
      <div class="spacing-below-25">
        <dt><%= t("state_file.questions.retirement_income.edit.box14_html") %></dt>
        <dd>$<%= @state_file1099_r.state_tax_withheld_amount %></dd>
      </div>
      <div class="spacing-below-25">
        <dt><%= t("state_file.questions.retirement_income.edit.box15_html") %></dt>
        <dd><%= current_state_code.upcase %><%= @state_file1099_r.payer_state_identification_number %></dd>
      </div>
      <div class="spacing-below-25">
        <dt><%= t("state_file.questions.retirement_income.edit.box16_html") %></dt>
        <dd>$<%= @state_file1099_r.state_distribution_amount %></dd>
      </div>
    </div>
  </dl>
  <%= link_to t('general.continue'), questions_income_review_path(return_to_review: params[:return_to_review]), class: "button button--primary button--wide text--centered", role: "button" %>
<% end %>
