<% @main_heading = t("state_file.questions.retirement_income.edit.title_html", payer_name: @state_file1099_r.payer_name) %>
<% content_for :page_title, @main_heading %>

<% content_for :card do %>
  <h1 class="form-question"><%= @main_heading %></h1>
  <% if params[:return_to_review].present? %>
    <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
  <% end %>

  <div class="white-group spacing-below-35" >
    <div class="form-group spacing-below-25">
      <p class="form-question"><strong><%= @state_file1099_r.recipient_name %></strong></p>
      <p class="form-question"><%= @state_file1099_r.payer_name %></p>
    </div>
    <span class="form-question"><%= t("state_file.questions.retirement_income.edit.box14_html") %></span>
    <p class="text-25">$<%= @state_file1099_r.state_tax_withheld_amount %></p>
    <span class="form-question"><%= t("state_file.questions.retirement_income.edit.box15_html") %></span>
    <p class="text-25"><%= current_state_code.upcase %><%= @state_file1099_r.payer_state_identification_number %></p>
    <span class="form-question"><%= t("state_file.questions.retirement_income.edit.box16_html") %></span>
    <p class="text-25 spacing-below-0">$<%= @state_file1099_r.state_distribution_amount %></p>
  </div>

  <%= link_to t('general.continue'), questions_income_review_path(return_to_review: params[:return_to_review]), class: "button button--primary button--wide text--centered" %>
<% end %>
