<% title = t("state_file.questions.primary_state_id.edit.title") %>
<% content_for :page_title, title %>

<%# Must be above :card content_for %>
<% content_for :info_box do %>
  <div class="reveal">
    <p><button href="#" class="reveal__button"><%= t(".why_ask_this") %></button></p>
    <div class="reveal__content">
      <div>
        <p>
          <%=  t('.protect_identity') %>
        </p>
        <p>
          <%= t('.encourage_sharing_html') %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p class="spacing spacing-above-10 spacing-below-15"><%= t('.subtitle') %></p>
  <%= render 'state_file/questions/primary_state_id/state_id', options: { dmv_bmv_label: t('.dmv_bmv_label'), info_link: 'https://www.e-verify.gov/sites/default/files/everify/factsheets/factsheetsArchive/MarylandRIDEFactSheet.pdf' } %>
<% end %>
