<% @main_question = t("views.ctc.questions.head_of_household.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>

    <h1 class="h2"><%= @main_question %></h1>
    <p><%= t("views.ctc.questions.head_of_household.subtitle_1") %></p>
    <p><%= t("views.ctc.questions.head_of_household.subtitle_2") %></p>
    <p class="text--bold"><%= t("views.ctc.questions.head_of_household.eligibility_list_a") %></p>
    <p class="text--bold"><%= t("views.ctc.questions.head_of_household.eligibility_list_b") %></p>
    <ul class="list--bulleted">
      <% t("views.ctc.questions.head_of_household.eligibility_b_criteria_list").each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
    <p><%= t("views.ctc.questions.head_of_household.eligibility_list_c_html") %></p>
    <p><%= t("views.ctc.questions.head_of_household.full_list_of_rules_html", link: "https://www.irs.gov/pub/irs-pdf/p501.pdf") %></p>

    <%= f.submit t("views.ctc.questions.head_of_household.do_not_claim_hoh"), name: 'do_not_claim_hoh', class: "button button--primary button--wide" %>
    <%= f.submit t("views.ctc.questions.head_of_household.claim_hoh"), name: 'claim_hoh', class: "button button--wide" %>
  <% end %>
<% end %>