<div class="marketing-comparison diy-tile">
  <h2><%= t('.title') %></h2>
  <p><%= t('.description') %></p>
  <div class="timeframe">
    <%= image_tag("clock_solid.svg") %><p><b><%= t('.timeframe') %></b></p>
  </div>
  <div class="bottom-section">
    <div>
      <ul class="list--bulleted">
        <li><%= t('questions.triage.diy_tile.list.file', current_tax_year: MultiTenantService.new(:gyr).current_tax_year) %></li>
        <li><%= t('questions.triage.diy_tile.list.income') %></li>
      </ul>
    </div>
  </div>
  <div class="spacing-above-35">
    <%= link_to t('.choose_diy'), 'https://myfreetaxes.com/form/by-myself', class: "button button--wide text--centered", "data-track-click": click_tracking_event_name %>
  </div>
</div>
