<div class="marketing-comparison">
  <h2><%= t('.title') %></h2>
  <p><%= t('.description') %></p>
  <div class="timeframe express">
    <%= image_tag("clock.svg") %>
    <div>
      <p><%= t('.timeframe') %></p>
      <p><i><%= t('.available') %></i></p>
    </div>
  </div>
  <div class="bottom-section">
    <div>
      <div><%= t('questions.triage.collect_your') %></div>
      <ul class="list--bulleted">
        <li><%= t('questions.triage.collectables.missing_stimulus') %></li>
        <li><%= t('questions.triage.collectables.ctc') %></li>
      </ul>
    </div>
    <div class="spacer"></div>
    <div class="refund-indicator">
      <div class="spacing-below-10"><%= t('questions.triage.refund') %></div>
      <div class="symbols"><%= image_tag("icons/money.svg") %></div>
    </div>
  </div>
  <p class="text--red-bold">
    <%= t('.warning') %>
  </p>
  <div class="spacing-above-35">
    <%= link_to t('.sign_up_for_express'),
                url_for(host: MultiTenantService.new(:ctc).host, controller: "/public_pages", action: 'source_routing', source: "gyr"),
                class: "button button--wide text--centered",
                "data-track-click": click_tracking_event_name
    %>
  </div>
</div>
