<div class="marketing-comparison gyr-tile">
  <h2><%= t('.title') %></h2>
  <p><%= t('.description') %></p>
  <div class="timeframe gyr">
    <%= image_tag("clock_solid.svg") %>
    <div>
      <p><%= t('.timeframe') %></p>
      <% if open_for_gyr_intake? %>
        <p><i><%= "Limited availability" %></i></p>
      <% end %>
    </div>
  </div>
  <div class="bottom-section">
    <div>
      <ul class="list--bulleted">
        <% filing_years = gyr_filing_years  %>
        <li><%= t('.list.file', oldest_filing_year: filing_years.last, current_tax_year: filing_years.first) %></li>
        <li><%= t('.list.income') %></li>
        <li><%= t('.list.ssn') %></li>
      </ul>
    </div>
  </div>
  <div class="spacing-above-35">
    <%= link_to t('.choose_gyr'), Questions::TriageGyrIdsController.to_path_helper, class: "button button--wide text--centered", "data-track-click": click_tracking_event_name %>
  </div>
</div>
