<% @title = t("general.take_action") %>
<% if params["tax_return"]["status"] == ("intake_more_info" || "prep_more_info" || "review_more_info")
     @status_macro = t('case_management.tax_returns.edit.status_macros.needs_more_information', required_documents: "required docs", document_upload_link: "link")
   elsif params["tax_return"]["status"] == "prep_ready_for_review"
     @status_macro = t('case_management.tax_returns.edit.status_macros.ready_for_qr')
   elsif params["tax_return"]["status"] == "filed_accepted"
     @status_macro = t('case_management.tax_returns.edit.status_macros.accepted')
   else
     @status_macro = ""
   end
%>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <%= form_with model: @tax_return,
          url: update_status_case_management_client_tax_return_path(id: @tax_return.id, client_id: @client),
          method: :post, local: true, builder: VitaMinFormBuilder,
          html: { class: "form-card" } do |f| %>
    <h1><%= @title %></h1>

     <%= f.cfa_select(
             :status,
             t("general.status"),
             grouped_status_options_for_select,
             include_blank: true,
             selected: params["tax_return"]["status"]
          ) %>

    <%= f.cfa_select(
        :language,
        t("general.language"),
        language_options,
        selected: @tax_return.client.intake&.locale
        ) %>

    <%= f.cfa_textarea(
            :body,
            t("general.send_message"),
            options: {value: @status_macro, :rows => "8"}
        )%>

    <p><%=t('case_management.tax_returns.edit.send_clarifier')%></p>
    <button class="button button--cta " type="submit">
      <%=t("general.send") %>
    </button>
  <% end %>
<% end %>