<div>
  <%= form_with model: @site, url: url, method: http_method, local: true, builder: VitaMinFormBuilder, id: "site-form" do |f| %>
    <h1 class="form-card__title">
      <%= @title %>
    </h1>

    <%= f.cfa_input_field :name, t("general.name") %>
    <%= f.cfa_select :parent_organization_id, t("general.organization"), @organizations.map { |c| [c.name, c.id] } %>
    <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>

    <%= f.hub_checkbox(:accepts_itin_applicants, "Accepts ITIN applicants", options: { checked_value: true, unchecked_value: false }) %>

    <div>
      <%= f.submit t("general.save"), class: "button button--primary button--wide" %>
    </div>
  <% end %>
</div>
