  <%= form_with model: @site, url: url, method: http_method, local: true, builder: VitaMinFormBuilder do |f| %>
    <h1 class="form-card__title">
      <%= @title %>
    </h1>

    <%= f.cfa_input_field :name, t("general.name") %>
    <%= f.cfa_select :parent_organization_id, t("general.organization"), @organizations.map { |c| [c.name, c.id] } %>

    <% if @show_unique_links %>
      <% @site.source_parameters.each do |source_parameter| %>
        <%= f.fields_for :source_parameters, source_parameter, builder: VitaMinFormBuilder do |source_parameter_form| %>
          <%= source_parameter_form.cfa_input_field :code, t("general.unique_link"), classes: ["form-width--short"] %>
          <%= source_parameter_form.cfa_checkbox(:_destroy, t("general.remove")) %>
        <% end %>
      <% end %>

      <h3><%= f.label t("general.new") %></h3>

      <%= f.fields_for :source_parameters, @site.source_parameters.build do |source_parameter_form| %>
        <%= source_parameter_form.cfa_input_field :code, t("general.unique_link"), classes: ["form-width--short"] %>
      <% end %>
    <% end %>

    <button class="button button--primary button--wide" type="submit">
      <%= t("general.save") %>
    </button>
  <% end %>
</div>
