<% @title = t('.title') %>

<% content_for :page_title, @title %>

<section class="slab question-layout <%= controller_name.gsub("_", "-") %>-outer">
  <div class="grid">
    <div class="grid__item question-wrapper">
      <h1 class="h2" id="main-question"><%= @title %></h1>
      <p><%= t('.subtitle', state: @prior_year_intake.state_code) %></p>

      <%= link_to @pdf_url, class: "button button--primary button--wide spacing-below-15 button--icon button--icon--centered" do %>
        <%= image_tag("icons/download.svg", alt: "", style: "filter: invert(1); vertical-align: middle;") %><%= t(".download") %>
      <% end %>
    </div>
  </div>
</section>

