<% title = t(".title", filing_year: Rails.configuration.statefile_current_tax_year) %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <%= f.cfa_select(:school_district , t(".school_district_name"), @school_districts) %>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>
