<% @main_question = t("views.ctc.questions.w2s.title") %>
<% content_for :page_title, @main_question %>

<% content_for :card do %>
  <h1 class="h2"><%= @main_question %></h1>
  <p><%= t('views.ctc.questions.w2s.help_text.p1', count: current_intake.filer_count) %></p>
  <p class="text--bold"><%= t('views.ctc.questions.w2s.help_text.p2') %></p>

  <div class="spacing-above-15 spacing-below-60">
    <div class="reveal">
      <p>
        <a href="#" class="reveal__button" data-track-click="w2_havent_received_reveal"><%= t("views.ctc.questions.w2s.reveal.title") %></a>
      </p>
      <div class="reveal__content">
        <p class="text--line-breaks"><%= t("views.ctc.questions.w2s.reveal.content_html") %></p>
      </div>
    </div>

    <div class="reveal">
      <p>
        <a href="#" class="reveal__button" data-track-click="w2_have_1099"><%= t("views.ctc.questions.w2s.reveal_1099.title") %></a>
      </p>
      <div class="reveal__content">
        <p><%= t("views.ctc.questions.w2s.reveal_1099.content_html", url: root_with_source_url(host: MultiTenantService.new(:gyr).host, source: "gctc_w2_referral")) %></p>
      </div>
    </div>

    <% if current_intake.completed_w2s.none? %>
      <p><%= t('views.ctc.questions.w2s.note_html') %></p>
    <% end %>
  </div>

  <% if current_intake.completed_w2s.any? %>
    <div class="review-box spacing-below-35">
      <%= render 'ctc/questions/w2s/review_list', edit_controller: Ctc::Questions::W2s::EmployeeInfoController, destroy_controller: Ctc::Questions::ConfirmW2sController, intake: @intake %>
    </div>
  <% end %>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <%= f.button value: 'yes', name: 'ctc_w2s_form[had_w2s]', class: 'button button--primary button--wide text--centered', type: 'submit' do %>
      <%= image_tag("paper-white.svg", alt: "") %>
      <%= t('views.ctc.questions.w2s.add') %>
    <% end %>

    <% if current_intake.completed_w2s.none? %>
      <%= f.button t("views.ctc.questions.w2s.dont_add_w2"), value: 'no', name: 'ctc_w2s_form[had_w2s]', class: 'button button--wide text--centered', type: 'submit' %>
    <% end %>

    <% if current_intake.completed_w2s.any? %>
      <%= link_to t("views.ctc.questions.w2s.done_adding"), @done_adding_path, class: "button button--wide text--centered" %>
    <% else %>
      <%= link_to t("views.ctc.questions.w2s.add_later"), questions_w2s_add_w2_later_path, method: :put, class: "button button--wide text--centered" %>
    <% end %>
  <% end %>
<% end %>
