<% @main_question = t("views.ctc.questions.w2s.title") %>
<% content_for :page_title, @main_question %>

<% content_for :card do %>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>

    <h1 class="h2"><%= @main_question %></h1>
    <p><%= t('views.ctc.questions.w2s.help_text.p1', count: current_intake.filer_count) %></p>
    <p class="text--bold"><%= t('views.ctc.questions.w2s.help_text.p2') %></p>

    <div class="spacing-above-15 spacing-below-60">
      <%= render('components/molecules/reveal', title: t("views.ctc.questions.w2s.reveal.title")) do %>
        <p><%= t("views.ctc.questions.w2s.reveal.content.p1") %></p>
        <p><%= t("views.ctc.questions.w2s.reveal.content.p2") %></p>
        <p><%= t("views.ctc.questions.w2s.reveal.content.p3_html") %></p>
        <p><%= t("views.ctc.questions.w2s.reveal.content.p4") %></p>
      <% end %>

      <%= render('components/molecules/reveal', title: t("views.ctc.questions.w2s.reveal_1099.title")) do %>
        <p><%= t("views.ctc.questions.w2s.reveal_1099.content") %></p>
      <% end %>

      <% if current_intake.w2s.none? %>
        <p><%= t('views.ctc.questions.w2s.note_html') %></p>
      <% end %>
    </div>

    <% if current_intake.w2s.any? %>
      <div class="review-box spacing-below-35">
        <%= render 'ctc/questions/w2s/review_list', edit_controller: Ctc::Questions::W2s::EmployeeInfoController, intake: @intake %>
      </div>
    <% end %>

    <%= f.button value: 'yes', name: 'ctc_w2s_form[had_w2s]', class: 'button button--wide text--centered', type: 'submit' do %>
      <%= image_tag("paper.svg", alt: "") %>
      <%= t('views.ctc.questions.w2s.add') %>
    <% end %>

    <% if current_intake.w2s.none? %>
      <%= f.button t("views.ctc.questions.w2s.dont_add_w2"), value: 'no', name: 'ctc_w2s_form[had_w2s]', class: 'button button--primary button--wide text--centered', type: 'submit' %>

      <%= link_to t("views.ctc.questions.file_full_return.full_btn"), root_with_source_url(host: MultiTenantService.new(:gyr).host, source: "getctc_W2"), class: "button button--primary button--wide text--centered" %>
    <% end %>

    <% if current_intake.w2s.any? %>
      <%= link_to t("views.ctc.questions.w2s.done_adding"), form_navigation.next(Ctc::Questions::ConfirmW2sController).to_path_helper, class: "button button--primary button--wide text--centered" %>
    <% else %>
      <%= link_to t("views.ctc.questions.w2s.add_later"), questions_w2s_add_w2_later_path, class: "button button--primary button--wide text--centered" %>
    <% end %>
  <% end %>
<% end %>
