<% @main_question = t("views.ctc.questions.w2s.title") %>
<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>

    <h1 class="h2"><%= @main_question %></h1>
    <p><%= t('views.ctc.questions.w2s.help_text') %></p>
    <div class="info-box">
      <%= image_tag("icons/exclamation-black.svg", alt: "", class: "info-box__title-image") %>
      <p class="spacing-below-15 text--bold"><%= t("views.ctc.questions.w2s.info_box.title") %></p>

      <ul class="list--bulleted spacing-below-10">
        <li><%= t("views.ctc.questions.w2s.info_box.list_item")%></li>
      </ul>
    </div>

    <div class="spacing-above-15 spacing-below-60">
      <%= render('components/molecules/reveal', title: t("views.ctc.questions.w2s.reveal.title")) do %>
        <p><%= t("views.ctc.questions.w2s.reveal.content.p1") %></p>
        <p><%= t("views.ctc.questions.w2s.reveal.content.p2") %></p>
      <% end %>
    </div>

    <% if current_intake.w2s.any? %>
      <div class="review-box spacing-below-35">
        <% current_intake.w2s.each do |w2| %>
          <div class="review-box__space-between spacing-below-25">
            <div class="review-box__person">
              <div>
                <%= image_tag("paper.svg", alt: "", style: "margin-right: 1em;") %>
              </div>
              <div>
                <div class="review-box__name"><%= w2.employer_name %></div>
                <div class="review-box__details"><%= t("views.ctc.questions.w2s.wages") %>: <%= w2.wages_amount %></div>
              </div>
            </div>
            <%= link_to t("general.edit").downcase, Ctc::Questions::W2s::EmployeeInfoController.to_path_helper(id: w2.id), class: "review-box__edit review-box__edit-button" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= link_to Ctc::Questions::W2s::EmployeeInfoController.to_path_helper(id: current_intake.new_record_token), class: "button button--wide text--centered" do %>
      <%= image_tag("paper.svg", alt: "") %>
      <%= t('views.ctc.questions.w2s.add') %>
    <% end %>
    <% if current_intake.w2s.any? %>
      <%= f.continue t("views.ctc.questions.w2s.done_adding") %>
    <% end %>
  <% end %>
<% end %>
