<% @main_question = t("views.questions.demographic_primary_race.title") %>

<% content_for :page_title, @main_question %>

<% content_for :card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35" id="demographic_primary_race_question">
      <%= @main_question %>
    </h1>
    <div class="form-card__stacked-checkboxes spacing-above-0">
      <%= f.cfa_checkbox(:demographic_primary_american_indian_alaska_native, t("general.race.american_indian_alaska_native"), options: { checked_value: true, unchecked_value: false }) %>
      <%= f.cfa_checkbox(:demographic_primary_native_hawaiian_pacific_islander, t("general.race.native_hawaiian_pacific_islander"), options: { checked_value: true, unchecked_value: false }) %>
      <%= f.cfa_checkbox(:demographic_primary_asian, t("general.race.asian"), options: { checked_value: true, unchecked_value: false }) %>
      <%= f.cfa_checkbox(:demographic_primary_black_african_american, t("general.race.black_african_american"), options: { checked_value: true, unchecked_value: false }) %>
      <%= f.cfa_checkbox(:demographic_primary_mena, t("general.race.mena"), options: { checked_value: true, unchecked_value: false }) %>
      <%= f.cfa_checkbox(:demographic_primary_white, t("general.race.white"), options: { checked_value: true, unchecked_value: false }) %>
    </div>

    <%= f.continue Questions::DemographicSpouseRaceController.show?(current_intake) ? t("general.continue") : t("general.submit") %>
    <%= f.button :submit, name: "#{f.object_name}[demographic_primary_prefer_not_to_answer_race]", value: true, class: "button button--wide", "aria-describedby": "demographic_primary_race_question" do %>
      <%=t("general.skip_question") %>
    <% end %>
  <% end %>
<% end %>
