<% content_for :form_question, t("views.documents.id_guidance.title") %>

<% content_for :form_card do %>
    <h1 class="form-question">
      <%= content_for(:form_question) %>
    </h1>

    <p>
      <%=t("views.documents.id_guidance.info") %>
    </p>
    <p>
      <%=t("views.documents.id_guidance.multiple_forms") %>
    </p>

    <div class="security-blurb spacing-below-60">
      <%= image_tag("lock.svg", alt: "", class: "lock-icon") %>
      <p>
        <%=t("general.security_html", :privacy_link => link_to(t("general.privacy_policy"), privacy_path, target: "_blank", rel: "noopener")) %>
      </p>
    </div>

    <%= link_to next_path, class: "button button--primary button--wide text--centered" do %>
      <%=t("general.continue") %>
    <% end %>

<% end %>
