<% @main_heading = t("views.dependents.form.title") %>

<% if @dependent.errors.present? %>
  <% content_for :page_title, "#{@dependent.error_summary} #{@main_heading}" %>
<% else %>
  <% content_for :page_title, @main_heading %>
<% end %>

<section class="slab slab--white">
  <div class="grid">
    <div class="grid__item width-three-fourths">
      <main role="main">
        <%= form_with model: @dependent, url: { action: @dependent.persisted? ? :update : :create }, local: true, builder: VitaMinFormBuilder, html: {class: 'form-card form-card--long'} do |f| %>
          <h1 class="form-question">
            <%= @main_heading %>
          </h1>

          <%= f.cfa_input_field(:first_name, t("views.dependents.form.first_name"), classes: ["form-width--long"]) %>
          <%= f.cfa_input_field(:last_name, t("views.dependents.form.last_name"), classes: ["form-width--long"]) %>
          <%= f.cfa_input_field(:relationship, t("views.dependents.form.relationship"), classes: ["form-width--med"]) %>
          <div class="date-select">
            <%= f.cfa_date_select(
                    :dob,
                    t("views.dependents.form.birth_date"),
                    options: {
                        start_year: Time.now.year,
                        end_year: Time.now.year - 100,
                    }
                ) %>
            </div>
          <% if @allow_deletion %>
            <%= link_to(
                    StateFile::Questions::FederalDependentsController.to_path_helper(us_state: params[:us_state], action: :destroy, id: @dependent),
                    method: :delete,
                    class: "button button--danger button--wide button--icon",
                    data: {confirm: t("views.dependents.form.delete_confirmation", :name => "#{@dependent.full_name}")}
                ) do %>
              <%= image_tag("remove.svg", alt: "") %>
              <%= t("views.dependents.form.delete_cta") %>
            <% end %>
          <% end %>

          <button class="button button--primary button--wide button--icon text--left" type="submit">
            <%= image_tag("save-dependent.svg", alt: "") %>
            <%= t("views.dependents.form.save_cta") %>
          </button>
        <% end %>
      </main>
    </div>
  </div>
</section>
