<% title = "The page that shows your dependents" %>
<% content_for :page_title, title %>

<% content_for :body_class, "dependents-index" %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <main role="main">
          <h1 class="h2"><%= title %></h1>

          <% if @dependents.present? %>
            <ul class="review-box">
              <% @dependents.each do |dependent| %>
                <li class="dependent">
                  <%= image_tag "dependent.svg", alt: "", class: "dependent__icon" %>
                  <div class="dependent__details">
                    <h3 class="dependent__label">
                      <%= dependent.full_name %> <%= default_date_format(dependent.dob) %>
                    </h3>
                    <%= link_to t("general.edit"), StateFile::Questions::FederalDependentsController.to_path_helper(us_state: params[:us_state], id: dependent), class: "button button--inline-action" %>
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>

          <%= link_to(StateFile::Questions::FederalDependentsController.to_path_helper(action: :new, us_state: params[:us_state]), class: "button button--wide button--icon") do %>
            <%= image_tag("add-person.svg", alt: "") %>
            <%=t("views.dependents.index.add_person") %>
          <% end %>

          <%= link_to(next_path, class: "button button--primary button--wide button--icon") do %>
            <%= "Continue" %>
          <% end %>
        </main>
      </div>
    </div>
  </section>
<% end %>
