<% content_for :page_title, @form.dependent.persisted? ? t("views.ctc.portal.dependent_info.title", name: @form.dependent.first_name.upcase_first) : t("views.ctc.questions.dependents.info.title") %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= content_for(:page_title) %></h1>
    <p><%= t("views.ctc.questions.dependents.info.help_text") %></p>
    <div class="form-card__content">
      <%= f.cfa_input_field(:first_name, t("views.ctc.questions.dependents.info.first_name"), classes: ["form-width--long"]) %>
      <%= f.cfa_input_field(:middle_initial, t("views.ctc.questions.dependents.info.middle_initial"), classes: ["form-width--long"]) %>
      <%= f.cfa_input_field(:last_name, t("views.ctc.questions.dependents.info.last_name"), classes: ["form-width--long"]) %>
      <%= f.cfa_select(:suffix, t("views.ctc.questions.dependents.info.suffix"), suffix_options_for_select, include_blank: true) %>
      <%= f.vita_min_date_text_fields(
            :birth_date,
            t("hub.clients.show.date_of_birth"),
            help_text: t("hub.clients.show.date_of_birth_help"),
            classes: ["ctc-intake-date-text-input"]
          ) %>
      <%= f.cfa_select(
            :relationship,
            t("views.ctc.questions.dependents.info.relationship_to_you"),
            dependent_relationship_options,
            include_blank: true
          ) %>

      <div class="reveal-shrink-wrapper">
        <%= render('components/molecules/reveal', title: t("views.ctc.questions.dependents.does_my_child_qualify_reveal.title")) do %>
          <p><%= t("views.ctc.questions.dependents.does_my_child_qualify_reveal.content.p1") %></p>
          <ul class="list--bulleted">
            <% t("views.ctc.questions.dependents.does_my_child_qualify_reveal.content.list_1").each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
          <p><%= t("views.ctc.questions.dependents.does_my_child_qualify_reveal.content.p2") %></p>
          <ul class="list--bulleted">
            <% t("views.ctc.questions.dependents.does_my_child_qualify_reveal.content.list_2").each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="form-card__content">
        <%= f.cfa_select(:tin_type, t("views.ctc.questions.dependents.tin.form_of_identity"), tin_options_for_select(include_atin: true)) %>
        <%= f.cfa_input_field(:ssn, t("views.ctc.questions.dependents.tin.ssn_or_atin"), classes: ["form-width--long"], options: { maxlength: 11, 'data-mask': '000-00-0000' }) %>
        <%= f.cfa_input_field(:ssn_confirmation, t("views.ctc.questions.dependents.tin.ssn_or_atin_confirmation"), classes: ["form-width--long"], options: { maxlength: 11, 'data-mask': '000-00-0000' }) %>
        <%= f.cfa_checkbox(:ssn_no_employment, t('views.ctc.shared.ssn_not_valid_for_employment'), options: { checked_value: "yes", unchecked_value: "no" }) %>


        <div class="reveal-shrink-wrapper">
          <%= render('components/molecules/reveal', title: t("views.ctc.questions.dependents.dependent_has_itin_reveal.title")) do %>
            <p><%= t("views.ctc.questions.dependents.dependent_has_itin_reveal.content") %></p>
          <% end %>
        </div>
      </div>
      <div class="form-card__stacked-checkboxes spacing-above-0">
        <label class="form-question"> <%= t('views.ctc.questions.dependents.info.situations') %> </label>
        <%= f.cfa_checkbox(:filed_joint_return, t('views.ctc.questions.dependents.info.filed_joint_return'), options: { checked_value: "yes", unchecked_value: "no" }) %>
        <%= recaptcha_v3(action: 'dependents_info') %>
      </div>
    </div>

    <%= f.continue %>
    <% if @form.dependent.persisted? %>
      <%= link_to questions_remove_dependent_path, class: "button button--wide button--danger text--centered" do %>
        <%= image_tag("remove-minus.svg", alt: "") %>
        <%= t("views.ctc.questions.dependents.tin.remove_person") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% content_for :script do %>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          window.TINTypeSelector = document.getElementById("ctc_dependents_info_form_tin_type");
          window.SSNEmploymentCheckboxSelector = document.getElementById("ctc_dependents_info_form_ssn_no_employment").parentElement;
      });
  </script>
<% end %>
