<% @main_heading = t("views.diy.start_filing.start.title") %>
<% content_for :page_title, @main_heading %>
<% content_for :body_class, "diy-start-filing" %>

<%= render 'shared/facebook_pixel', track_conversion: "StartDIY" %>
<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <div class="question__illustration spacing-above-0">
          <%= image_tag("diy/file-yourself.svg", alt: "") %>
        </div>

        <h1 class="form-question">
          <%= @main_heading %>
        </h1>

        <div class="text--semibold spacing-below-35">
          <ul class="list--bulleted purple-bullets">
            <li>
              <span><%= t("views.diy.start_filing.start.tips.create_login") %></span>
            </li>
            <li>
              <span><%= t("views.diy.start_filing.start.tips.no_navigation") %></span>
            </li>
            <li>
              <span><%= t("views.diy.start_filing.start.tips.spelling") %></span>
            </li>
          </ul>
        </div>

        <%= link_to t("general.start_filing"),
                    "https://www.taxslayer.com/vita2019fsa?source=TSUSATY2019&sidn=01093601",
                    class: "button button--primary text--centered button--wide spacing-above-60",
                    "data-track-click": "taxslayer" %>
      </div>
    </div>
  </section>
  <section class="slab slab--secondary-cta slab--lavender">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <p class="cta-text">
          <%= t("views.diy.start_filing.help_html") %>
        </p>
      </div>
      <div class="grid__item width-one-fourth button-container">
        <button class="button button--med-wide" onclick="javascript: zE('webWidget', 'open');">
          <%= t("general.get_help") %>
        </button>
      </div>
    </div>
  </section>
</main>
