<% @main_heading = t("views.diy.start_filing.start.title") %>
<% content_for :page_title, @main_heading %>

<%= render 'shared/facebook_pixel', track_conversion: "StartDIY" %>
<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="question__illustration spacing-above-0">
            <%= image_tag("diy/file-yourself.svg", alt: "") %>
          </div>

          <h1 class="form-question">
            <%= @main_heading %>
          </h1>
          <p><%=t("views.diy.start_filing.start.info") %></p>

          <div class="text--semibold spacing-below-35">
            <p><%=t("views.diy.start_filing.start.tips.header") %></p>
            <ul class="checkmark-list">
              <li>
                <%= render "shared/svg/checkmark", fill_class: "purple" %>
                <span><%=t("views.diy.start_filing.start.tips.no_phone") %></span>
              </li>
              <li>
                <%= render "shared/svg/checkmark", fill_class: "purple" %>
                <span><%=t("views.diy.start_filing.start.tips.no_navigation") %></span>
              </li>
              <li>
                <%= render "shared/svg/checkmark", fill_class: "purple" %>
                <span><%=t("views.diy.start_filing.start.tips.spelling") %></span>
              </li>
            </ul>
          </div>

          <%= render partial: 'shared/chat_bubble', locals: { text: t("views.diy.start_filing.start.chat") } %>

          <%= link_to t("general.continue"), "https://www.taxslayer.com/vita2019fsa?source=TSUSATY2019&sidn=01093601", class: "button button--primary text--centered button--wide spacing-above-60" %>
          <%= link_to "https://www.taxslayer.com/vita2019fsa?source=TSUSATY2019&sidn=01093601", class: "button button--primary text--centered button--wide spacing-above-60", "data-track-click": "taxslayer" do %>
            Continue
          <% end %>
        </main>
      </div>
    </div>
  </section>
</main>
