<% title = t('.title', year: MultiTenantService.statefile.current_tax_year) %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p><%= t(".subtitle_html") %></p>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up spacing-below-25">
      <div class="question-with-follow-up__question">
        <div class="white-group">
          <%=
            f.cfa_radio_set(
              :has_unpaid_sales_use_tax,
              collection: [
                { value: :yes, label: t("general.affirmative"), input_html: { "data-follow-up": "#sut-field" } },
                { value: :no, label: t("general.negative") },
              ]
            )
          %>
        </div>
      </div>
      <div class="question-with-follow-up__follow-up" id="sut-field">
        <div class="white-group">
          <div class="spacing-below-15"><%= t(".unpaid_sales_use_tax_label_html") %></div>
          <p class="text--help text--small spacing-below-0"><b><%= t(".sales_use_tax_helper_text") %></b></p>
          <%= f.vita_min_money_field(:total_purchase_amount, "", classes: ["form-width--long"]) %>
        </div>
      </div>

      <div class="reveal">
        <p><button href="#" class="reveal__button"><%= t('.sales_tax_title') %></button></p>
        <div class="reveal__content"><%= t('.sales_tax_content') %></div>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>