<% name = @dependent.first_name&.titleize %>
<% @main_question = t("views.ctc.questions.dependents.child_qualifiers.title", name: name) %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= @main_question %></h1>

    <div class="form-card__stacked-checkboxes spacing-above-0">
      <p><strong><%= t("views.ctc.questions.dependents.child_qualifiers.help_text", current_tax_year: current_tax_year) %></strong></p>
      <%= f.cfa_checkbox(:full_time_student, t("views.ctc.questions.dependents.child_qualifiers.full_time_student", name: name), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:permanently_totally_disabled, t("views.ctc.questions.dependents.child_qualifiers.permanently_totally_disabled", name: name), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <hr/>
      <%= f.cfa_checkbox(:none_of_the_above, t("general.none_of_these"), options: { id: "none__checkbox", checked_value: "yes", unchecked_value: "no" }) %>
      <div class="reveal-shrink-wrapper spacing-above-10">
        <%= render('components/molecules/reveal', title: t("views.ctc.questions.dependents.child_qualifiers.student_reveal.title")) do %>
          <%= t("views.ctc.questions.dependents.child_qualifiers.student_reveal.info_html") %>
        <% end %>
        <%= render('components/molecules/reveal', title: t("views.ctc.questions.dependents.child_qualifiers.disabled_reveal.title")) do %>
          <p><%= t("views.ctc.questions.dependents.child_qualifiers.disabled_reveal.info") %></p>
        <% end %>
      </div>
    </div>

    <button class="button button--primary button--wide" type="submit">
      <%= t("general.continue") %>
    </button>
  <% end %>
<% end %>