<div class="note <%= "system_note" if note.is_a? SystemNote %>" id="<%= "last-item" if local_assigns[:is_last_item] %>">
  <div class="note__heading">
    <div class="note__author">
      <%= note&.user&.name unless note.is_a? SystemNote %>
    </div>
    <div class="note__time">
      <%= timestamp(note.created_at) %>
    </div>
  </div>

  <div class="note__body">
    <%= simple_format(note.body) %>
  </div>
</div>
