<div class="note <%= "system_note" unless note.is_a? Note %>" id="<%= "last-item" if note_iteration.last? && last_day %>">
  <div class="note__heading">
    <div class="note__author">
      <%= note&.user&.name unless note.is_a? SystemNote %>
    </div>
    <div class="note__time">
      <%= timestamp(note.created_at) %>
    </div>
  </div>

  <div class="note__body">
    <% if note.is_a? SystemNote::DocumentHelp %>
      <%= render "system_note_document_help", note: note %>
    <% elsif note.is_a? SystemNote::CtcPortalAction %>
      <%= render "system_note_ctc_portal_action", note: note %>
    <% elsif note.is_a? SystemNote::CtcPortalUpdate %>
      <%= render "system_note_ctc_portal_update", note: note %>
    <% else %>
      <%= format_text(note.body) %>
    <% end %>
  </div>
</div>
