<li class="note message message--<%= note.user == current_user ? "outgoing" : "incoming"%>" id="<%= "last-item" if local_assigns[:is_last_item] %>">
  <div class="message__heading">
    <span class="message__author">
      <%= note.user.name %>
    </span>
    <span class="message__time">
      <%= long_formatted_datetime(note.created_at) %>
    </span>
  </div>
  <div class="message__body">
    <%= note.body %>
  </div>
</li>
