<%= content_for :back_to, "clients" %>
<% content_for :page_title, "Notes: #{@client.preferred_name} ##{@client.id}" %>

<% content_for :card do %>

  <%= render "hub/clients/client_header" %>

  <%= render "hub/clients/navigation" %>

  <div class="slab slab--padded">
    <div class="client-container">
      <ul class="day-list">
        <% @all_notes_by_day.each_with_index do |(datetime, notes), day_index| %>
          <li class="day-heading"><%= date_heading(datetime) %></li>
          <%= render partial: "note", collection: notes, locals: { last_day: day_index == @all_notes_by_day.size - 1 }  %>
        <% end %>
      </ul>
      <hr/>
      <div class="single-input-form">
        <%= form_with model: [:hub, @client, @note], local: true, builder: VitaMinFormBuilder, html: { class: 'note-form' } do |f| %>
          <%= f.cfa_textarea :body, t(".note_form.label"), { classes: ["taggable-note"] } %>
          <%= f.hidden_field :mentioned_ids %>
          <div>
            <%= f.submit t(".note_form.submit"), class: "button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "hub/clients/client_take_action_footer" %>
<% end %>

<% content_for :script do %>
  <script>
    window.taggableItems = <%= @taggable_users %>
    window.taggableTrackingSelector = "[name='note[mentioned_ids]']"
  </script>
<% end %>
