<%= content_for :back_to, "clients" %>
<% content_for :page_title, "Notes: #{@client.preferred_name} ##{@client.id}" %>

<% content_for :card do %>

  <%= render "hub/clients/client_header" %>

  <%= render "hub/clients/navigation" %>

  <% if @all_notes_by_day.present? %>
    <ul class="message-list">
      <% @all_notes_by_day.each do |datetime, records| %>
        <li class="message__day-heading"><%= date_heading(datetime) %></li>
        <% records.each do |note| %>
          <%= render note.class.name == "Note" ? "note" : "system_note", note: note %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <div class="slab">
    <%= form_with model: [:hub, @client, @note], local: true, builder: VitaMinFormBuilder, html: {class: 'note-form'} do |f| %>
      <%= f.cfa_textarea :body, t(".note_form.label"), { classes: ["taggable-note"]} %>
      <%= f.hidden_field :mentioned_ids %>
      <div>
        <%= f.submit t(".note_form.submit"), class: "button" %>
      </div>
    <% end %>
  </div>


  <%= render "hub/clients/client_take_action_footer" %>
<% end %>

<% content_for :script do %>
  <script>
    window.taggableItems = <%= @taggable_users %>
    window.taggableTrackingSelector = "[name='note[mentioned_ids]'"
  </script>
<% end %>