
<% if current_intake.puerto_rico_filing? %>
  <%= render 'ctc/questions/spouse_filed_prior_tax_year/pr_edit' %>
<% else %>
  <% content_for :page_title, t("views.ctc.questions.spouse_filed_prior_tax_year.title", prior_tax_year: MultiTenantService.new(:ctc).prior_tax_year, spouse_first_name: current_intake.spouse.first_name) %>
  <% content_for :card do %>
    <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
      <h1 class="h2"><%= content_for(:page_title) %></h1>
      <p>
        <%=t("views.ctc.questions.spouse_filed_prior_tax_year.help_text") %>
      </p>

      <div class="form-card__content">
        <%= f.cfa_radio_set(
                :spouse_filed_prior_tax_year,
                collection: [
                    { value: :filed_together, label: t("views.ctc.questions.spouse_filed_prior_tax_year.filed_together") },
                    { value: :filed_non_filer_separate, label: t("views.ctc.questions.spouse_filed_prior_tax_year.filed_non_filer_separate") },
                    { value: :filed_full_separate, label: t("views.ctc.questions.spouse_filed_prior_tax_year.filed_full_separate") },
                    { value: :did_not_file, label: t("views.ctc.questions.spouse_filed_prior_tax_year.did_not_file", prior_tax_year: MultiTenantService.new(:ctc).prior_tax_year) },
                ]
            )
        %>
      </div>

      <%= f.submit t("general.continue"), class: "button button--primary button--wide spacing-below-15" %>
    <% end %>
  <% end %>
<% end %>
