<div class="blue-group">
  <p class="spacing-below-0"><%= t(".bank_title") %></p>
  <p class="text--small"><%= t(".foreign_accounts") %></p>
  <div class="form-group-tight">
    <% if owe_taxes %>
      <%= form.hidden_field :app_time, value: app_time %>
      <%= form.cfa_input_field(:withdraw_amount, t('.withdraw_amount', owed_amount: taxes_owed), classes: ["form-width--long"]) %>
      <% if before_withdrawal_date_deadline? %>
        <div class="date-select">
          <% year = MultiTenantService.new(:statefile).current_tax_year + 1 %>
          <%= form.cfa_date_select(
                :date_electronic_withdrawal,
                t(".date_withdraw_text",
                  withdrawal_deadline_date: I18n.l(withdrawal_date_deadline.to_date, format: :medium, locale: locale),
                  with_drawal_deadline_year: withdrawal_date_deadline.year),
                options: {
                  start_year: year,
                  end_year: year,
                }
              ) %>
        </div>
      <% else %>
        <%= form.hidden_field :post_deadline_withdrawal_date, value: post_deadline_withdrawal_date %>
      <% end %>
    <% end %>

    <%= form.cfa_input_field(:bank_name, t("views.questions.bank_details.bank_name"), classes: ["form-width--long"]) %>
    <%= form.cfa_radio_set(
          :account_type,
          label_text: t("views.questions.bank_details.account_type.label"),
          collection: [
            { value: :checking, label: t("views.questions.bank_details.account_type.checking") },
            { value: :savings, label: t("views.questions.bank_details.account_type.savings") },
          ]
        )
    %>
    <%= form.cfa_input_field(:routing_number, t(".routing_number"), classes: ["form-width--long", "disablecopy"]) %>
    <%= form.cfa_input_field(:routing_number_confirmation, t(".confirm_routing_number"), classes: ["form-width--long", "disablepaste", "disablecopy"]) %>
    <%= form.cfa_input_field(:account_number, t(".account_number"), classes: ["form-width--long", "disablecopy"]) %>
    <%= form.cfa_input_field(:account_number_confirmation, t(".confirm_account_number"), classes: ["form-width--long", "disablepaste", "disablecopy"]) %>
  </div>
  <p><strong><%= t(".disclaimer") %></strong></p>
  <% if owe_taxes && !before_withdrawal_date_deadline? %>
    <p>
      <%= t(".after_deadline_default_withdrawal_info",
             withdrawal_deadline_date: I18n.l(withdrawal_date_deadline.to_date, format: :medium, locale: locale),
             with_drawal_deadline_year: withdrawal_date_deadline.year) %>
    </p>
  <% end %>
</div>