<% content_for :page_title, t(".page_title") %>

<% content_for :card do %>
  <h1 class="h2">
    <%= t(".#{current_intake.state_code}_title_html", refund_amount: refund_amount) %>
  </h1>

  <%= form_with model: @form, url: { action: :update }, method: :put, local: true, builder: QuestionsFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
    <div class="question-with-follow-up">
      <div class="question-with-follow-up__question">
        <div class="blue-group">
          <%= f.cfa_radio_set(
                :payment_or_deposit_type,
                collection: [
                  { value: :direct_deposit, label: t(".direct_deposit"), input_html: { "data-follow-up": "#deposit-to-bank" } },
                  { value: :mail, label: t(".mail"), input_html: { "data-follow-up": "#mail-check" } },
                ]
              ) %>
        </div>
      </div>

      <div class="question-with-follow-up__follow-up" id="deposit-to-bank">
        <div class="question-with-follow-up">
          <div class="question-with-follow-up__question">
            <%= render 'state_file/questions/tax_refund/bank_details', form: f, owe_taxes: false %>
          </div>
        </div>
      </div>
      <%= f.continue %>
    </div>
  <% end %>
<% end %>

<% content_for :script do %>
  <%= render 'shared/disable_copy_paste' %>
<% end %>