<div class="card capacity">
  <h2>Capacity</h2>
  <table>
    <thead>
      <tr>
        <th>Organization Name</th>
        <th>Current Capacity</th>
      </tr>
    </thead>
    <tbody>
      <% @capacity.each do |organization| %>
        <tr>
          <td>
            <%= link_to "#{organization.name}",
                        can?(:edit, organization) ? edit_hub_organization_path(id: organization) : hub_organization_path(id: organization),
                        class: "organization-link"
            %>
          </td>
          <td class="controls">
            <div class="<%= capacity_class(organization) %>">
              <div><%= organization.active_client_count %>/<%= organization.capacity_limit %></div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @selected.instance_of? Coalition %>
    <div class="paging">
      <div><%= @capacity.length %> of <%= capacity_count %></div>
      <%= link_to "View All", hub_organizations_path  %>
    </div>
  <% end %>
</div>