<h2><%= I18n.t("hub.dashboard.show.returns_by_status") %></h2>
<div class="counts">
  <% unless @returns_by_status_stage.present? %>
    <div>
      <span class="count"><%= @returns_by_status_count %></span>
    </div>
    <div class="description"><%= I18n.t("hub.dashboard.show.total_number_of_returns") %></div>
  <% else %>
    <div>
      <span class="count"><%= @returns_by_status_count %></span>
      <span>/<%= @returns_by_status_total %></span>
    </div>
    <div class="description"><%= I18n.t("hub.dashboard.show.total_returns_in", stage: "<span class=\"\"style='font-weight:bold'>#{I18n.t("hub.tax_returns.stage.#{params[:stage]}")}</span>".html_safe).html_safe %></div>
  <% end %>
</div>
<%= form_tag returns_by_status_hub_dashboard_index_path, method: :get, remote: true do |f| %>
  <%= select_tag :stage, options_for_select([
     [I18n.t("hub.dashboard.show.filter_by_stage"), ""]
  ] + TaxReturnStateMachine.available_states_for(role_type: current_user.role_type).map do |state|
    [I18n.t("hub.tax_returns.stage.#{state[0]}"), state[0]]
  end, params[:stage]), class: "select__element", onchange: "document.querySelector('.returns-by-status .submit').click()" %>
  <%= submit_tag "", class: "submit", style: "display:none" %>
<% end %>
<table style="border-collapse: collapse;">
  <thead>
  <tr>
    <th><%= I18n.t("general.status") %></th>
    <th><%= I18n.t("general.returns") %></th>
  </tr>
  </thead>
  <tbody>
  <% @returns_by_status.each do |return_summary| %>
    <tr>
      <td>
        <%= link_to I18n.t("hub.tax_returns.#{return_summary.type}.#{return_summary.code}"), hub_clients_path(status: return_summary.code) %>
      </td>
      <td>
        <div class="bar-container <%= return_summary.stage %>">
          <div class="bar" style="width:<%= return_summary.percentage %>%;" title="<%= return_summary.percentage %>%"></div>
          <div class="bar-label"><%= return_summary.value %></div>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>