<% p = presenter.team_assignment_presenter %>
<% users = p.team_assignment_users %>
<% ordered_users = p.ordered_by_tr_count_users %>
  <h2><%= t("hub.dashboard.show.team_assignment.title") %></h2>

  <table>
    <thead>
    <tr>
      <th><%= t("hub.dashboard.show.team_assignment.name") %></th>
      <th><%= t("hub.dashboard.show.team_assignment.role") %></th>
      <th><%= t("hub.dashboard.show.team_assignment.assigned_returns") %></th>
    </tr>
    </thead>
    <tbody>
    <% if ordered_users&.present? %>
      <% ordered_users.each do |user| %>
        <tr>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%=
              case user.role_type
              when SiteCoordinatorRole::TYPE
                t("general.site_coordinator")
              when OrganizationLeadRole::TYPE
                t("general.organization_lead")
              when TeamMemberRole::TYPE
                t("general.team_member")
              else
                ""
              end
            %>
          </td>
          <td>
            <%= link_to user.assigned_tax_returns.count, hub_clients_path(assigned_user_id: user.id) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <% if users.present? %>
    <div class="paging">
      <div class="user-count">
        <% start_user = ((p.page.to_i - 1) * 5) + 1 %>
        <% end_user = [start_user + 4, p.user_count].min %>
        <%= t("hub.dashboard.show.team_assignment.pager", start_range: start_user, end_range: end_user, total: p.user_count) %>
      </div>
      <div><%= js_will_paginate users,
                             previous_label: "<i class='icon icon-keyboard_arrow_left'></i><span class='hide-on-mobile'>Previous 5</span>",
                             next_label: "<span class='hide-on-mobile'>Next 5</span><i class='icon icon-keyboard_arrow_right'></i>",
                             inner_window: 0,
                             outer_window: 0,
                             action: :team_assignment
      %></div>
    </div>
  <% else %>
    <p><%= t("hub.dashboard.show.team_assignment.no_team_assignments") %></p>
  <% end %>
