<% content_for :page_title, I18n.t("hub.dashboard.show.title") %>
<% content_for :card do %>
  <section class="slab">
    <h1><%= I18n.t("hub.dashboard.show.title") %></h1>
    <div class="grid">
      <div class="grid__item width-one-half">
        <div class="spacing-below-15">
          <select name="status"
                  class="select__element"
                  onchange="location.href='../'+event.target.value">
            <% @filter_options.each do |option| %>
              <option value="<%=option.class::TYPE%>/<%=option.id%>"<%= option.class::TYPE == @selected_type && option.id == @selected_id ? " selected" : ""%>><%= option.name %></option>
            <% end %>
          </select>
        </div>
        <% if @selected_type == Organization::TYPE %>
          <div class="card">
            <%= render "hub/dashboard/service_level_agreements_notifications" %>
          </div>
        <% end %>
        <% if @selected_type == Coalition::TYPE %>
          <div class="card">
            <%= render "hub/dashboard/capacity" %>
          </div>
        <% end %>
        <div class="card">
          <%= render "hub/dashboard/returns_by_status" %>
        </div>
      </div>
      <div class="grid__item width-one-half">
        <div class="card">
          <%= render "hub/dashboard/action_required_flagged_clients" %>
        </div>
        <div class="card">
          <%= render "hub/dashboard/team_assignment" %>
        </div>
        <div class="card">
          <%= render "hub/dashboard/resources" %>
        </div>
      </div>
    </div>
  </section>
<% end %>
