<% content_for :page_title, t("state_file.questions.shared.review_header.title") %>
<% content_for :card do %>
  <%= render "state_file/questions/shared/review_header", us_state: 'az' %>

  <div id="prior-last-names" class="blue-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".last_names") %></p>
      <p><%=current_intake.prior_last_names || t("general.none") %></p>
      <%= link_to t("general.edit"), StateFile::Questions::AzPriorLastNamesController.to_path_helper(us_state: "az", return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <div id="state-credits" class="blue-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".tribal_member") %></p>
      <p><%=current_intake.tribal_member_yes? ? t("general.affirmative") : t("general.negative") %></p>
      <% if current_intake.tribal_member_yes? %>
        <p class="text--bold spacing-below-5"><%=t(".tribal_wages") %></p>
        <p><%=number_to_currency(current_intake.tribal_wages) %></p>
      <% end %>
      <p class="text--bold spacing-below-5"><%=t(".armed_forces_member") %></p>
      <p><%=current_intake.armed_forces_member_yes? ? t("general.affirmative") : t("general.negative") %></p>
      <% if current_intake.armed_forces_member_yes? %>
        <p class="text--bold spacing-below-5"><%=t(".armed_forces_wages") %></p>
        <p><%=number_to_currency(current_intake.armed_forces_wages) %></p>
      <% end %>
      <%= link_to t("general.edit"), StateFile::Questions::AzStateCreditsController.to_path_helper(us_state: "az", return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <div id="charitable-contributions" class="blue-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%=t(".charitable_contributions") %></p>
      <p><%=current_intake.charitable_contributions_yes? ? t("general.affirmative") : t("general.negative") %></p>
      <% if current_intake.charitable_contributions_yes? %>
        <p class="text--bold spacing-below-5"><%=t(".charitable_cash") %></p>
        <p><%=number_to_currency(current_intake.charitable_cash) || t("general.none") %></p>
        <p class="text--bold spacing-below-5"><%=t(".charitable_noncash") %></p>
        <p><%=number_to_currency(current_intake.charitable_noncash) || t("general.none") %></p>
      <% end %>
      <%= link_to t("general.edit"), StateFile::Questions::AzCharitableContributionsController.to_path_helper(us_state: "az", return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <% if current_intake.ask_whether_incarcerated? %>
    <div id="incarcerated" class="blue-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%=t(".excise_credit") %></p>
        <p><%=current_intake.was_incarcerated_yes? ? t("general.affirmative") : t("general.negative") %></p>
        <%= link_to t("general.edit"), StateFile::Questions::AzExciseCreditController.to_path_helper(us_state: "az", return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <!--
#          Total Arizona subtractions [sum of line 20-34]
#          Total exemptions [sum of line 38-41]
#          —
  -->
  <div id="details" class="reveal">
    <p><a href="#" class="reveal__link"><%= t('.see_detailed_return') %></a></p>
    <div class="reveal__content">
      <div class="spacing-below-25 with-top-separator">
        <p class="text--bold spacing-below-5"><%=t(".fed_agi") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_12)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_arizona_subtractions") %></p>
        <p><%= number_to_currency(current_intake.total_subtractions) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_exemptions") %></p>
        <p><%= number_to_currency(current_intake.total_exemptions) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".az_agi") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_42)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".standard_deduction") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_43)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".incr_deduction_chrit_contributions") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_44)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".az_taxable_income") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_45)) %></p>
      </div>

      <div class="spacing-below-25 with-top-separator">
        <p class="text--bold spacing-below-5"><%=t(".az_tax") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_46)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".dependent_tax_credit") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_49)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".family_income_tax_credit") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_50)) %></p>
      </div>

      <div class="spacing-below-25 with-top-separator">
        <p class="text--bold spacing-below-5"><%=t(".az_tax_withheld") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_53)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".increased_excise_tax_credit") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_56)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%=t(".total_payments") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:AZ140_LINE_59)) %></p>
      </div>

<!--

      MFJ fields
# Also note: there's some dynamic language if they are MFJ, specifically for the Excise Tax credit questions:

# You or your spouse were incarcerated in a county, state, or federal prison for at least 60 days in 2023 Yes / No

# You or your spouse have ‘Not valid for employment’ is written on your Social Security Card Yes / No

# Other members in your household have claimed the Arizona Increased Excise Tax Credit Yes / No

-->
    </div>
  </div>

  <%= render "state_file/questions/shared/review_footer" %>
<% end %>