<% @main_question = t("views.questions.demographic_english_reading.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <%= f.cfa_radio_set(
          :demographic_english_reading,
          label_text: "<h1 class=\"form-question\">#{@main_question}</h1>".html_safe,
          collection: [
            { value: :very_well, label: t("general.very_well") },
            { value: :well, label: t("general.well") },
            { value: :not_well, label: t("general.not_well") },
            { value: :not_at_all, label: t("general.not_at_all") },
          ]
        )
    %>
    <button class="button button--primary button--wide" type="submit">
      <%=t("general.continue") %>
    </button>
    <%= f.button :submit, name: "#{f.object_name}[demographic_english_reading]", value: :prefer_not_to_answer, class: "button button--wide" do %>
      <%=t("general.skip_question") %>
    <% end %>
  <% end %>
<% end %>