<% vita_partner = vita_partner || nil %>

<tr class="index-table__row <%= type %>" data-js-count="<%= @report.active_sla_clients[id] %>" data-js-capacity="<%= vita_partner&.organization_capacity&.capacity_limit || 0%>">
  <td class="index-table__cell"><%= name %></td>
  <% if vita_partner.present? || id.zero? %>
    <td class="index-table__cell capacity-percentage capacity" data-js-count="<%= vita_partner&.organization_capacity&.active_client_count || 0 %>">
      <%= vita_partner&.organization_capacity&.active_client_count || "-" %>/<%= vita_partner&.organization_capacity&.capacity_limit || "-" %>
    </td>
  <% else %>
    <td class="index-table__cell capacity capacity-percentage" data-js-capacity="0" data-js-count="0"></td>
  <% end %>
  <td class="index-table__cell response-needed-breach"  data-js-count=<%= @report.response_needed_breaches[id] %>>
    <%= @report.response_needed_breaches[id] %>
  </td>
  <td class="index-table__cell response-needed-breach-percentage">
    <%= @report.active_sla_clients_count[id] %>
  </td>
  <td class="index-table__cell communication-breach" data-js-count=<%= @report.communication_breaches[id] %>>
    <%= @report.last_outgoing_communication_breaches[id]%>
  </td>

  <td class="index-table__cell communication-breach-percentage">
    <%= @report.active_sla_clients_count[id] %>
  </td>
  <td class="index-table__cell interaction-breach" data-js-count=<%= @report.interaction_breaches[id] %>>
    <%= @report.interaction_breaches[id]%>
  </td>
  <td class="index-table__cell interaction-breach-percentage">
    <%= @report.active_sla_clients_count[id] %>
  </td>
</tr>