 <% content_for :card do %>
  <div class="slab slab--not-padded spacing-above-25 hub-metrics">
    <h1 class="h2">SLA Breaches</h1>
    <div class="header">
      <div style="display: flex">
        <div>
          <strong>Report run at:<br/></strong>
          <%= long_formatted_datetime(@report.generated_at) %>
        </div>
        <div>
          <strong>Breach threshold:<br/></strong>
          <%= long_formatted_datetime(@report.breached_at) %>
        </div>
      </div>
      <div>
        <div role="group" class="button-bar">
          <button class="button" id="toggle-sites" style="width: 150px" data-expand-text="Expand Sites" data-collapse-text="Collapse Sites">Collapse Sites</button>
          <button class="button" id="toggle-zeros" style="width: 150px" data-expand-text="Expand Zeros" data-collapse-text="Collapse Zeros">Collapse Zeros</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper">
      <table class="index-table org-metrics-table">
        <thead class="index-table__head">
        <tr class="index-table__row">
          <th scope="col" class="sticky index-table__header sortable" id="organization-name" width="40%" attr-direction="asc">
            Organization Name
          </th>
          <th scope="col" class="index-table__header sortable" id="capacity-percentage">
            Capacity %<sup>1</sup>
          </th>
          <th scope="col" class="index-table__header sortable" id="outgoing-communication-breaches" >
            Outgoing comm. breaches<sup>2</sup>
          </th>
          <th scope="col" class="index-table__header sortable" id="outgoing-communication-percentage" >
            Outgoing comm. %
          </th>
          <th scope="col" class="index-table__header sortable" id="profile-interaction-breaches" >
            Interaction breaches<sup>3</sup>
          </th>
          <th scope="col" class="index-table__header sortable" id="profile-interaction-percentage" >
            Interaction %
          </th>
        </tr>
        </thead>
        <% @vita_partners.each do |vita_partner| %>
          <% next unless vita_partner.organization? || @vita_partners.length == 1 %>
          <tbody class="index-table__body org-metrics" data-js-vita-partner-name="<%= vita_partner.name %>">
          <%= render 'breach_row', type: 'org', vita_partner: vita_partner, id: vita_partner.id, name: vita_partner.name %>
          <% if vita_partner.child_sites.present? %>
            <!--           Add a row for the organization to track org-level breaches.-->
            <%= render 'breach_row', type: 'site', id: vita_partner.id, name: vita_partner.name %>

            <% vita_partner.child_sites.each do |site| %>
              <%= render 'breach_row', type: 'site', id: site.id, name: site.name %>
            <% end %>
          <% end %>
          </tbody>
        <% end %>
        <% if @report.active_sla_clients[0] && current_user.admin? %>
          <tbody class="index-table__body org-metrics" data-js-vita-partner-name="Unassigned Clients">
            <%= render 'breach_row', type: 'org', id: 0, name: "Unassigned Clients" %>
          </tbody>
        <% end %>
        <tfoot>
          <tr class="metrics-totals" data-js-count=<%= @total_breaches[:total_count] %>>
            <th></th>
            <th class="index_table__cell capacity capacity-percentage"></th>
            <th class="index-table__cell communication-breach" data-js-count="<%= @total_breaches[:communication] %>">
              <strong><%= @total_breaches[:communication] %></strong>
            </th>
            <th class="index-table__cell communication-breach-percentage">
            </th>
            <th class="index-table__cell interaction-breach" data-js-count=<%= @total_breaches[:interaction] %>>
              <strong><%= @total_breaches[:interaction] %></strong>
            </th>
            <th class="index-table__cell interaction-breach-percentage">
            </th>
          </tr>
        </tfoot>
      </table>
    </div>

  <%= content_for :sticky_action_footer do %>
    <section class="take-action-box">
      <div>
        <small><sup>1 </sup><%= t("hub.organizations.form.excludes") %></small>
      </div>
      <div>
        <small><sup>2 </sup>We have not contacted this client by email/text/phone call in more than three business days.</small>
      </div>
      <div>
        <small><sup>3 </sup>Client messaged us or uploaded document more than 3 business days ago, and we have not interacted with their profile (written internal note, changed status, assigned user, etc).</small>
      </div>
    </section>
  <% end %>
<% end %>