<div class="slab slab--not-padded spacing-above-25 hub-metrics">
  <h1 class="h2">SLA Breaches</h1>
  <div class="header">
    <div>
      <div>
        <strong>Report run at:<br/></strong>
        <%= long_formatted_datetime(@report.generated_at) %>
      </div>

      <div class="spacing-above-15">
        SLA Breach: Clients that haven't been contacted in 5 business days (since <%= long_formatted_datetime(@report.breached_at)%>)
      </div>
    </div>

    <div>
      <div role="group" class="button-bar">
        <button class="button" id="toggle-sites" style="width: 150px" data-expand-text="Expand Sites" data-collapse-text="Collapse Sites">Collapse Sites</button>
        <button class="button" id="toggle-zeros" style="width: 150px" data-expand-text="Expand Zeros" data-collapse-text="Collapse Zeros">Collapse Zeros</button>
      </div>
    </div>
  </div>
</div>
<div class="table-wrapper">
  <table class="index-table org-metrics-table">
      <thead class="index-table__head">
      <tr class="index-table__row">
        <th scope="col" class="sticky index-table__header sortable" id="organization-name" width="40%" attr-direction="asc">
          Organization Name
        </th>
        <th scope="col" class="index-table__header sortable" id="capacity-percentage">
          Capacity
        </th>
        <th scope="col" class="index-table__header sortable" id="unanswered-communication-breaches" >
          SLA Breaches
        </th>
        <th scope="col" class="index-table__header sortable" id="unanswered-communication-percentage" >
          % of Clients in SLA Breach
        </th>
      </tr>
      </thead>
      <tr class="metrics-totals" data-js-count=<%= @total_breaches[:total_count] %>>
        <td class="index-table__cell cell-bold">Totals</td>
        <td class="index-table__cell cell-bold capacity capacity-percentage"></td>
        <td class="index-table__cell cell-bold unanswered-communication-breach" data-js-count="<%= @total_breaches[:unanswered_communication] %>">
          <strong><%= @total_breaches[:unanswered_communication] %></strong>
        </td>
        <td class="index-table__cell cell-bold unanswered-communication-breach-percentage">
        </td>
      </tr>
      <% @vita_partners.each do |vita_partner| %>
        <% next unless vita_partner.organization? || @vita_partners.length == 1 %>
        <tbody class="index-table__body org-metrics" data-js-vita-partner-name="<%= vita_partner.name %>">
        <%= render 'breach_row', type: 'org', vita_partner: vita_partner, id: vita_partner.id, name: vita_partner.name %>
        <% if vita_partner.child_sites.present? %>
          <!--           Add a row for the organization to track org-level breaches.-->
          <%= render 'breach_row', type: 'site', id: vita_partner.id, name: vita_partner.name %>

          <% vita_partner.child_sites.each do |site| %>
            <%= render 'breach_row', type: 'site', id: site.id, name: site.name %>
          <% end %>
        <% end %>
        </tbody>
      <% end %>
      <% if @report.active_sla_clients[0] && current_user.admin? %>
        <tbody class="index-table__body org-metrics" data-js-vita-partner-name="Unassigned Clients">
          <%= render 'breach_row', type: 'org', id: 0, name: "Unassigned Clients" %>
        </tbody>
      <% end %>
    </table>
</div>
