<% title = t(".title")%>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p><%= t(".subtitle_html") %></p>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up">
      <div class="question-with-follow-up__question">
        <div class="white-group">
          <%= f.cfa_radio_set(:paid_extension_payments, collection: [
            { value: "yes", label: t("general.affirmative"), input_html: { "data-follow-up": "#extension_payments" } },
            { value: "no", label: t("general.negative") },
          ]) %>
        </div>
      </div>

      <div class="question-with-follow-up__follow-up" id="extension_payments">
        <div class="white-group">
          <p><%= t(".enter_amount") %></p>
          <%= f.vita_min_money_field(:extension_payments_amount, t(".amount"), classes: ["form-width--long"]) %>
        </div>
      </div>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>