<% content_for :page_title, t(".title") %>

<% content_for :card do %>
  <div class="question__illustration">
    <%= image_tag("check-box-shield.svg", alt: "") %>
  </div>

  <%= form_for(@form, url: portal_client_login_path(id: params[:id]), method: :put, local: true, builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" }) do |f| %>
    <div class="form-card__content">
      <h1 class="h2"><%= t(".title") %></h1>

      <p><%= t(".confirm_identity") %></p>
      <%= f.cfa_input_field(:last_four_or_client_id, t(".last_four_or_client_id"), classes: ["form-width--long"]) %>
      <%# when we upgrade honeycrisp: options: { pattern: "[0-9]{6}", inputmode: "numeric", minlength: "6" } %>
    </div>

    <%= f.submit t("general.continue"), class: "button button--primary button--wide" %>
  <% end %>
<% end %>
