<% content_for :page_title, t(".title") %>

<% content_for :card do %>
  <div class="question__illustration spacing-above-0">
    <%= image_tag("portal/confirmation-link.svg", alt: "") %>
  </div>

  <h1 class="h2"><%= t(".title") %></h1>

  <% if @email_address.present? || @sms_phone_number.present? %>
    <p class="spacing-below-15"><%= t(".link_sent_at") %></p>
  <% else %>
    <p class="spacing-below-15"><%= t(".link_sent") %></p>
  <% end %>

  <p class="spacing-below-15 text--bold"><%= @email_address %></p>
  <p class="spacing-below-35 text--bold"><%= local_phone_number(@sms_phone_number) %></p>

  <p class="spacing-below-60"><%= link_to t(".send_another_link"), new_portal_client_login_path, class: "back" %></p>

  <%= link_to t("general.return_home"), root_path, class: "button button--wide button--primary" %>
<% end %>
