<% state_image_path = @state_code == 'md' ? "partner-logos/mdgov-logo.png" : "partner-logos/#{@state_code}gov-logo.svg" %>
<% title = @closed ? t(".title_closed", state_name: @state_name) : t(".#{@state_code}.title") %>

<% content_for :page_title, title %>

<section class="slab question-layout <%= controller_name.gsub("_", "-") %>-outer">
  <div class="grid">
    <div class="grid__item question-wrapper">
      <%= yield :notices %>
      <div class="main-content-inner">
        <div class="landing-page-content">
          <h1 class="h1"><%= title %></h1>

          <% if @closed %>
            <p class="h2">
              <%= t(".#{@state_code}.closed_html") %>
            </p>
            <p class="h2">
              <%= t(".already_filed_html") %>
            </p>
            <div class="partner-logo-wrapper spacing-below-35">
              <div class="partner-logo-image">
                <%= image_tag state_image_path, alt: "#{@state_name} state logo", class: "" %>
              </div>
              <div class="partner-logo-text text--body text--bold">
                <%= t(".#{@state_code}.supported_by") %>
              </div>
            </div>
            <%= link_to StateFile::StateFilePagesController.to_path_helper(action: :login_options), class: "button button--primary button--wide", id: "firstCta" do %>
              <%= t(".download_your_record") %>
            <% end %>
          <% else %>
            <% unless @user_name.present? %>
              <p class="h2">
                <%= t(".built_with_html", state_name: @built_with_name) %>
              </p>
            <% end %>

            <div class="partner-logo-wrapper spacing-below-35">
              <div class="partner-logo-image">
                <%= image_tag state_image_path, alt: "#{@state_name} state logo", class: "" %>
              </div>
              <div class="partner-logo-text text--body text--bold">
                <%= t(".#{@state_code}.supported_by") %>
              </div>
            </div>

            <% if @user_name.present? %>
              <p class="h2"><%= t(".welcome_back", user_name: @user_name) %></p>
              <p class="h2"><%= t(".continue", state_name: @state_name) %></p>
              <%= link_to StateFile::StateFilePagesController.to_path_helper(action: :login_options), class: "button button--primary button--wide", id: "firstCta" do %>
                <%= t("general.sign_in") %>
              <% end %>
              <%= form_with model: @form, url: { action: :update }, local: true, method: :put, builder: VitaMinFormBuilder, id: "start-again-form" do |f| %>
                <h2 class="h2">
                  <%= t(".not_you", user_name: @user_name) %>
                  <%= f.submit t(".start_new", state_name: @state_name), class: "button--link" %>
                </h2>
              <% end %>
            <% else %>
              <div class="reveal">
                <h2 class="text--body text--bold spacing-below-5">
                  <button class="reveal__button">
                    <% # i18n-tasks-use t('state_file.landing_page.edit.help_text_title') # hint for the i18n linter that, yes, we are using this key (sometimes) %>
                    <%= t(".#{@state_code}.help_text_title", default: :'.help_text_title') %>
                  </button>
                </h2>
                <div class="reveal__content">
                  <% # i18n-tasks-use t('state_file.landing_page.edit.help_text_html') # hint for the i18n linter that, yes, we are using this key (sometimes) %>
                  <%= t(".#{@state_code}.help_text_html", default: :'.help_text_html', filing_year: current_tax_year) %>
                </div>
              </div>
              <%= form_with model: @form, url: { action: :update }, local: true, method: :put, builder: VitaMinFormBuilder do |f| %>
                <%= f.submit t("general.get_started"), class: "button button--primary button--wide", id: "firstCta" %>
              <% end %>
              <p class="h2">
                <%= t(".already_started_html", sign_in_url: StateFile::StateFilePagesController.to_path_helper(action: :login_options)) %>
              </p>
            <% end %>
          <% end %>
        </div>
        <%= image_tag 'questions/welcome.svg', class: 'fyst-home-image', alt: '' %>
      </div>
    </div>
  </div>
</section>
