<% title = t('.title') %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <div class='return-status'>
    <p>
      <%= image_tag("icons/check.svg", alt: "") %>
    </p>
  </div>
  <h1 class="h2" id="main-question"><%= title %></h1>
  <p><%= t(".subtitle", state_name: current_state_name) %></p>
  <%= link_to t("general.continue"), next_path, class: "button button--wide button--primary text--centered" %>

  <% unless acts_like_production? %>
    <%=
      link_to(
        "I'm on a #{Rails.env} environment, let me edit the response XML",
        StateFile::Questions::FederalInfoController.to_path_helper,
        class: 'dev-button',
        id: 'visit_federal_info_controller'
      )
    %>
  <% end %>
<% end %>
