<% content_for :page_title, t("views.public_pages.about_us.title") %>
<% content_for :body_class, "about-us" %>

<%= render("shared/breadcrumb")%>

<div class="main-content-inner">
  <section class="slab slab--white slab--half-padded">
    <div class="grid">
      <div class="grid__item width-seven-twelfths">
        <h1 class="h2">
          <%=t("views.public_pages.about_us.title") %>
        </h1>
        <p><%=t("views.public_pages.about_us.how_it_works") %></p>
        <p><%=t("views.public_pages.about_us.how_it_helps") %></p>

        <p class="center-on-mobile">
          <%= link_to "https://www.irs.gov/individuals/free-tax-return-preparation-for-you-by-volunteers", target: "_blank", rel: "noopener", class: "logos-link" do %>
            <%= image_tag("irs-certified-plain.svg", alt: t("general.irs_certified_volunteers"), class: "irs-logo") %>
            <%= image_tag("vita-logo--black.svg", alt: t("general.vita_long"), class: "vita-logo") %>
          <% end %>
        </p>

        <p>
          <%= link_to vita_providers_path, class: "button" do %><%= t("general.find_location") %><% end %>
        </p>
      </div>
    </div>

    <div class="grid">
      <div class="grid__item width-five-sixths">
        <div class="map">
          <%= image_tag("vita-map.svg", alt: "") %>
        </div>
      </div>
    </div>
  </section>

  <section class="slab partner-quotes">
    <div class="grid">
      <div class="grid__item width-one-half partner-quote-left">
        <div class="partner-picture">
          <%= image_tag "partner-picture--courtney.png", alt: t("views.public_pages.about_us.partners.photo_alt.courtney") %>
        </div>
        <div class="partner-quote">
          <blockquote>
            <p><%=t("views.public_pages.about_us.partners.quote.courtney") %></p>

            <footer role="contentinfo">
              <p>
                <strong>Courtney O'Reilly</strong><br>
                <%= link_to "https://taxhelpco.org/", target: "_blank", rel: "noopener", class: "partner-link" do %>
                  Tax Help Colorado
                <% end %>
              </p>
            </footer>
          </blockquote>
        </div>
      </div>

      <div class="grid__item width-one-half partner-quote-right">
        <div class="partner-picture">
          <%= image_tag "partner-picture--denise.png", alt: t("views.public_pages.about_us.partners.photo_alt.denise") %>
        </div>
        <div class="partner-quote">
          <blockquote>
            <p><%=t("views.public_pages.about_us.partners.quote.denise") %></p>

            <footer role="contentinfo">
              <p>
                <strong>Denise Eckley</strong><br>
                <%= link_to "https://www.goodwillsr.org/", target: "_blank", rel: "noopener", class: "partner-link" do %>
                  Goodwill Industries of the Southern Rivers
                <% end %>
              </p>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>

  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item">
        <h2 class="h3"><%=t("views.public_pages.about_us.partners.header") %></h2>
        <p><%=t("views.public_pages.about_us.partners.subheader") %></p>

        <ul class="partner-logos">
          <%= render(
            "shared/grayscale_partner_logo",
            name: "United Way Bay Area",
            image_name: "uwba",
            image_class: "small",
            website: "https://uwba.org/"
          )%>

          <%= render(
            "shared/grayscale_partner_logo",
            name: "Tax Help Colorado",
            image_name: "thc",
            image_class: "small multiply",
            website: "https://taxhelpco.org/"
          )%>

          <%= render(
            "shared/grayscale_partner_logo",
            name: "Prosperity Now",
            image_name: "prosperity-now",
            image_class: "small",
            website: "https://prosperitynow.org/"
          )%>

          <%= render(
            "shared/grayscale_partner_logo",
            name: "Goodwill Industries of the Southern Rivers",
            image_name: "gwisr",
            image_class: "small multiply",
            website: "https://www.goodwillsr.org/"
          )%>

          <%= render(
            "shared/grayscale_partner_logo",
            name: "Impact America",
            image_name: "ia",
            image_class: "small",
            website: "https://impactamerica.com/savefirst/"
              )%>

          <%= render(
            "shared/grayscale_partner_logo",
            name: "Campaign for Working Families",
            image_name: "cwf",
            image_class: "small",
            website: "https://cwfphilly.org/"
              )%>

          <%= render(
            "shared/grayscale_partner_logo",
            name: "United Way of Tucson and Southern Arizona",
            image_name: "uwtsa",
            image_class: "small",
            website: "https://www.unitedwaytucson.org/"
              )%>
        </ul>

      </div>
    </div>
  </section>

  <section class="slab slab--partner-cta">
    <div class="grid">
      <div class="grid__item partner-cta">
        <p class="partner-cta-text"><%=t("views.public_pages.about_us.partners.cta") %></p>
        <a href="mailto:partnerships@getyourrefund.org" class="partner-cta-link">
          partnerships@getyourrefund.org
        </a>
      </div>
    </div>
  </section>

</div>