<% content_for :page_title, t("views.public_pages.ctc_faq.title") %>
<% content_for :body_class, "ctc-faq" %>

<%= render("shared/breadcrumb")%>

<main role="main">
  <section class="slab slab--white slab--half-padded">
    <div class="grid">
      <div class="grid__item width-three-fourths spacing-below-60">
        <h1 class="h2"><%= t("views.public_pages.ctc_faq.header") %></h1>
        <p><%= t("views.public_pages.ctc_faq.subheader") %></p>

        <h2 class="h2 spacing-above-60">
          <%= t("views.public_pages.ctc_faq.eligibility.header") %>
        </h2>
        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a1">
            <h3><%= t("views.public_pages.ctc_faq.eligibility.claim.q") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p><%= t("views.public_pages.ctc_faq.eligibility.claim.a") %></p>
          </div>
        </div>
        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a2">
            <h3><%= t("views.public_pages.ctc_faq.eligibility.dependents.q") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p><%= t("views.public_pages.ctc_faq.eligibility.dependents.a_html") %></p>
          </div>
        </div>

        <h2 class="h2 spacing-above-60">
          <%= t("views.public_pages.ctc_faq.questions_about_filing.header") %>
        </h2>

        <h3 class="h3 spacing-above-35">
          <%= t("views.public_pages.ctc_faq.questions_before_filing.header") %>
        </h3>
        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a3">
            <h3><%= t("views.public_pages.ctc_faq.questions_before_filing.havent_filed.q") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p><%= t("views.public_pages.ctc_faq.questions_before_filing.havent_filed.a") %></p>
          </div>
        </div>
        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a4">
            <h3><%= t("views.public_pages.ctc_faq.questions_before_filing.why_file.q") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p><%= t("views.public_pages.ctc_faq.questions_before_filing.why_file.a_html") %></p>
          </div>
        </div>
        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a5">
            <h3><%= t("views.public_pages.ctc_faq.questions_before_filing.no_docs.q") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p>💥 <%= t("views.public_pages.ctc_faq.questions_before_filing.no_docs.a_html", non_filers_link: root_url) %></p>
          </div>
        </div>
        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a6">
            <h3><%= t("views.public_pages.ctc_faq.questions_before_filing.benefits.q") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p><%= t("views.public_pages.ctc_faq.questions_before_filing.benefits.a_html") %></p>
          </div>
        </div>

        <h3 class="h3 spacing-above-35">
          <%= t("views.public_pages.ctc_faq.questions_after_filing.header") %>
        </h3>
        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a7">
            <h3><%= t("views.public_pages.ctc_faq.questions_after_filing.got_ctc.q") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p><%= t("views.public_pages.ctc_faq.questions_after_filing.got_ctc.a") %></p>
          </div>
        </div>
        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a8">
            <h3><%= t("views.public_pages.ctc_faq.questions_after_filing.change_info.q") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p>💥 <%= t("views.public_pages.ctc_faq.questions_after_filing.change_info.a_html", ctc_update_portal_link: root_url) %></p>
          </div>
        </div>
        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a9">
            <h3><%= t("views.public_pages.ctc_faq.questions_after_filing.payment_status.q") %></h3>
          </a>
          <div class="accordion__content" id="a1">
            <p><%= t("views.public_pages.ctc_faq.questions_after_filing.payment_status.a_html") %></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="slab slab--stimulus-blue">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <h3 class="h3"><%= t("views.public_pages.home.file.header") %></h3>
      </div>
      <div class="grid__item width-one-fourth">
        <%= link_to question_path(id: QuestionNavigation.first), class: "button button--med-wide spacing-below-0" do %>
          <%= t("general.get_started") %>
        <% end %>
      </div>
    </div>
  </div>
</main>