<% content_for :page_title do%>
  <%= t('views.public_pages.diy_home.title') %>
<% end %>

<% content_for :body_class, "body--home" %>

<main role="main">
  <div class="slab slab--hero">
    <div class="grid-flex contained column-row space-between">
      <div class="grid-flex column-column">
        <h1 class="landing-page-header">
          <%= content_for :page_title %>
        </h1>
        <p class="landing-page-subheader">
          <strong><%= t('views.public_pages.diy_home.body') %></strong>
        </p>
        <div>
          <%= link_to diy_file_yourself_path, class: "button button--primary text--centered" do %>
            <%= t("general.continue") %>
          <% end %>
        </div>
      </div>

      <div class="grid-flex center-justified hero-image-wrapper">
        <%= image_tag "homepage-hero.svg", alt: "", class: "hero-image" %>
      </div>
    </div>
  </div>
</main>