<% content_for :page_title, t("views.public_pages.faq.title") %>
<% content_for :body_class, "faq" %>

<%= render("shared/breadcrumb")%>

<main role="main">
  <section class="slab slab--white slab--half-padded">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <h1><%= t("views.public_pages.faq.header") %></h1>
        <p><%= t("views.public_pages.faq.subheader") %></p>

        <h2><%= t("views.public_pages.faq.frequently_asked_questions") %></h2>

        <h3><%= t("views.public_pages.faq.stimulus.title") %></h3>
        <%= link_to t("views.public_pages.faq.stimulus.how_many_stimulus_payments_were_there.question"),
            url_for(action: "how_many_stimulus_payments_were_there") %>
      </div>
    </div>
  </section>
</main>