<% content_for :page_title do %>
  <%= t("views.public_pages.home.title") %>
<% end %>

<% content_for :notice do %>
  <% if open_for_intake? %>
    <div class="slab slab--banner">
      <div class="grid">
        <div class="grid__item">
          <%= t('views.public_pages.home.documents_warning_html') %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="slab slab--banner">
      <div class="grid">
        <div class="grid__item">
          <%= t('views.public_pages.home.closing_banner_html', url: vita_providers_path) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :body_class, "body--home" %>

<%= render 'shared/facebook_pixel' %>
<main role="main">

  <div class="slab slab--hero slab--gyr-green">
    <div class="grid">
      <div class="grid__item width-one-half">
        <h1>
          <%= t("views.public_pages.home.header") %>
        </h1>
        <p>
          <strong>
            <%= open_for_intake? ? t("views.public_pages.home.subheader") : t("views.public_pages.home.subheader_offseason") %>
          </strong>
        </p>
        <% if open_for_intake? %>
          <%= link_to t("general.get_started"), welcome_questions_path, id: "firstCta", class: "button button--med-wide button--primary" %>
        <% else %>
          <%= link_to t("general.register"), new_signup_path, id: "firstCta", class: "button button--med-wide button--primary" %>
        <% end %>

        <% if open_for_soft_launch? %>
          <p>
            <strong>
              <%= link_to t(".already_started"), new_portal_client_login_path %>
            </strong>
          </p>
        <% end %>
      </div>

      <div class="grid__item width-one-half hero-illustration">
        <%= render 'half_grid_hero_images' %>
      </div>
    </div>
  </div>

  <div class="slab slab--rating">
    <div class="grid">
      <div id="star-rating" class="grid__item width-one-third text--centered">
        <%= image_tag("star_rating.svg", alt: "") %>
        <p class="title text--bold text--centered spacing-above-5 spacing-below-0">
          <%= t("views.public_pages.home.clients.rating") %>
        </p>
        <p class="text--small text--centered spacing-above-5">
          <%= t("views.public_pages.home.clients.across_us") %>
        </p>
      </div>
      <div id="trusted-support" class="grid__item width-two-thirds">
        <p class="title text--bold"><%= t("views.public_pages.home.clients.trusted_support.title") %></p>
        <p><%= t("views.public_pages.home.clients.trusted_support.body") %></p>
      </div>
    </div>
  </div>

  <div class="slab slab-habla-espanol">
    <div class="grid">
      <div class="rounded-box">
        <h2 class="title spacing-below-5">¿habla español?</h2>
        <p>Tenemos opciones para ti! Declarar en español, obtener tu máximo reembolso.</p>
        <% unless locale == :es %>
          <span><%= link_to_locale('es', 'Traducir esta página al español', {"data-track-click": "intake-language-changed-habla-espanol-section"}) %></span>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "shared/service_comparison" %>

  <div class="slab slab--testimonials">
    <div class="grid spacing-below-0">
      <div id="testimonial-title" class="grid__item width-one-whole">
        <div><%= image_tag("chat-square-text.svg", alt: "square chat box") %></div>
        <div><h2 class="text--centered"><%= t("views.public_pages.home.clients.header") %></h2></div>
      </div>
      <div id="testimonial-left" class="grid__item width-one-half">
        <div class="rounded-box">
          <p class="text--small text--bold"><%= t("views.public_pages.home.clients.quote1.header") %></p>
          <p class="text--small spacing-below-0"><%= t("views.public_pages.home.clients.quote1.body") %></p>
        </div>
      </div>
      <div id="testimonial-right" class="grid__item width-one-half">
        <div class="rounded-box">
          <p class="text--small text--bold"><%= t("views.public_pages.home.clients.quote2.header") %></p>
          <p class="text--small spacing-below-0"><%= t("views.public_pages.home.clients.quote2.body") %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="slab slab--secondary-cta slab--grey slab--half-padded">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <h2 class="h3 spacing-below-0"><%= t("views.public_pages.home.features.header") %></h2>
        <ul class="list--bulleted text--small text--semibold">
          <li class="spacing-below-0"><%= t("views.public_pages.home.features.free") %></li>
          <li class="spacing-below-0"><%= t("views.public_pages.home.features.chat") %></li>
          <li class="spacing-below-0"><%= t("views.public_pages.home.features.backtaxes", least_recent_bt_year: TaxReturn.backtax_years.last, most_recent_bt_year: TaxReturn.backtax_years.first) %></li>
          <li class="spacing-below-0"><%= t("views.public_pages.home.features.amendments") %></li>
        </ul>
        <p class="text--small spacing-below-0"><%= t("views.public_pages.home.features.questions") %></p>
      </div>
      <div class="grid__item width-one-fourth button-container">
        <%= link_to faq_path, class: "button button--med-wide" do %><%= t("views.public_pages.home.features.faq_cta") %>
        <% end %>
      </div>
    </div>
  </div>

  <% unless Rails.env.production? %>
    <%= render "shared/get_started_slab", link_attributes: {} %>
  <% end %>

  <div class="slab slab--security">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <div><%= image_tag("lock-gear.svg", alt: "a padlock icon") %></div>
        <div>
          <h2 class="h4 spacing-below-5"><%= t("views.public_pages.home.security.header") %></h2>
          <p class="text--small spacing-below-0"><%= t("views.public_pages.home.security.body") %></p>
        </div>
      </div>
    </div>
  </div>
</main>
