<% content_for :page_title do%>
  Free tax help from IRS-certified volunteers.
<% end %>

<% content_for :body_class, "body--home" %>

<main role="main">
  <div class="slab slab--hero">
    <div class="grid">
      <div class="grid__item width-one-half">
        <h1>
          Free tax filing, real human support.
        </h1>
        <p>
          <strong>
            Maximize your refund by filing with our trusted volunteers.
<!--            Available to you online or in person!-->
          </strong>
        </p>

        <% if enable_online_intake? %>
          <%= link_to question_path(QuestionNavigation.first), id: "firstCta", class: "button button--primary" do %>
            Get started
          <% end %>
        <% else %>
          <%= link_to vita_providers_path, id: "firstCta", class: "button button--primary" do %>
            Find a location
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="slab banner">
    <strong>Note: The federal income tax filing deadline has been extended to July 15, 2020.</strong> You do not need to file any additional forms or call the IRS for the extension. We encourage you to file today as you may be due a refund that can help support your household.
  </div>

  <div class="slab slab--intro">
    <div class="grid">
      <div class="grid__item width-two-thirds">
        <h2>We maximize your refund.</h2>
        <p>
          Our trained volunteers know about tax credits you qualify for. Tax credits like the Earned Income Tax Credit (EITC) put the money you’ve earned back in your pocket.
        </p>
        <p>
          <strong>In 2018 the average family with children received $3,000 by claiming the EITC.</strong>
        </p>
      </div>
      <div class="grid__item width-one-third">
        <%= image_tag("money-taco.svg", alt: "") %>
      </div>
    </div>
  </div>

  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-fourth spacing-below-25">
        <%= link_to("https://www.irs.gov/individuals/free-tax-return-preparation-for-you-by-volunteers", target: "_blank") do %>
          <%= image_tag("vita-logo--black.png", alt: "IRS website for the Volunteer Income Tax Assistance program") %>
        <% end %>
      </div>
      <div class="grid__item width-three-fourths">
        <h2>We deliver the highest accuracy rates.</h2>
        <p>
          We partner with free Volunteer Income Tax Assistance (VITA) sites to provide free tax filing assistance to families earning less than $60,000 a year.
          Trained, IRS-certified volunteers will prepare and double-check your tax return to make sure it is correct before filing.
<!--          We will review everything with on the phone before -->

<!--          prepare your taxes with more than 90% accuracy (the highest in the tax prep industry!).-->
        </p>
<!--        <p>-->
<!--          Save money and receive the best service possible online or in person.-->
<!--        </p>-->
      </div>
    </div>
  </div>

  <div class="slab slab--steps">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <h2 class="spacing-below-35">How it works</h2>
        <div class="step">
          <div class="step-icon-wrapper">
            <%= image_tag("questions.svg", alt: "") %>
          </div>
          <div class="step-text">
            <h3>Answer questions</h3>
            <p class="text--small with-padding-small">Fill out financial information in our simple form</p>
          </div>
        </div>
        <div class="step">
          <div class="step-icon-wrapper">
            <%= image_tag("documents.svg", alt: "") %>
          </div>
          <div class="step-text">
            <h3>Gather documents</h3>
            <p class="text--small with-padding-small">Gather your necessary documents (ID, W-2’s, 1099, 1095-A,B, C)</p>
          </div>
        </div>
        <div class="step">
          <div class="step-icon-wrapper">
            <%= image_tag("phone.svg", alt: "") %>
          </div>
          <div class="step-text">
            <h3>Have a conversation</h3>
            <p class="text--small with-padding-small">Schedule a call with a VITA volunteer or talk to one in person</p>
          </div>
        </div>
        <div class="step">
          <div class="step-icon-wrapper">
            <%= image_tag("magnifying-glass-icon.svg", alt: "") %>
          </div>
          <div class="step-text">
            <h3>Prepare and review</h3>
            <p class="text--small with-padding-small">We’ll prepare your taxes and have our IRS certified team review</p>
          </div>
        </div>
        <div class="step">
          <div class="step-icon-wrapper">
            <%= image_tag("upload-icon.svg", alt: "") %>
          </div>
          <div class="step-text">
            <h3>Submit your refund</h3>
            <p class="text--small with-padding-small">We’ll help you file and get your refund (if you want)!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-whole text--centered">
        <div class="h2 spacing-below-35">
          Get more of your refund dollars back by filing for free today!
        </div>
        <% if enable_online_intake? %>
          <%= link_to question_path(QuestionNavigation.first), class: "button" do %>
            Get started
          <% end %>
        <% else %>
          <%= link_to vita_providers_path, id: "firstCta", class: "button" do %>
            Find a location
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
