<% content_for :page_title, t("general.error.sorry_something_went_wrong") %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <main role="main">
          <div class="offboarding--illustration">
            <%= image_tag(@error_image, alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%= content_for(:page_title) %>
          </h1>

          <div class="offboarding--help-text">
            <% if state_file? %>
              <p class="h2"><%=t("views.public_pages.error.body") %></p>
              <p class="h2">
                <%=t("views.public_pages.error.contact_html", :email_link => mail_to("help@fileyourstatetaxes.org")) %>
              </p>
            <% else %>
              <p><%=t("views.public_pages.error.body") %></p>
              <p>
                <strong><%=t("views.public_pages.error.contact_html", :email_link => mail_to("support@getyourrefund.org")) %></strong>
              </p>
            <% end %>
          </div>

          <div class="buttons--vertical-stack">
            <%= link_to root_path, class: "button button--primary button--wide text--centered" do %>
              <%=t("views.public_pages.error.cta") %>
            <% end %>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
