<% content_for :page_title, t("views.public_pages.maybe_ineligible.title") %>

<main role="main">
  <section class="slab slab--white question-layout">
    <div class="grid">
      <div class="grid__item question-wrapper">
        <main role="main">
          <div class="back grid">
            <%= link_to t("general.back"), :back %>
          </div>
          <div class="offboarding--illustration spacing-below-25">
            <%= image_tag("questions/ineligible.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%=t("views.public_pages.maybe_ineligible.title") %>
          </h1>

          <div class="offboarding--help-text">
            <p><%=t("views.public_pages.maybe_ineligible.info") %></p>

            <strong>
              <%=t("views.public_pages.maybe_ineligible.diy_option") %>
            </strong>
          </div>

          <div class="spacing-above-60">
            <%= link_to t("views.public_pages.maybe_ineligible.cta"), diy_file_yourself_path, "data-track-click": "maybe-ineligible-file-yourself-link", class: "button button--wide button--primary text--centered" %>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
