<% content_for :page_title, t("views.public_pages.maybe_ineligible.title") %>

<main role="main">
  <section class="slab slab--white question-layout">
    <div class="grid">
      <div class="grid__item question-wrapper">
        <main role="main">
          <div class="back grid">
            <%= link_to t("general.back"), :back %>
          </div>
          <div class="offboarding--illustration spacing-below-25">
            <%= image_tag("questions/ineligible.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%=t("views.public_pages.maybe_ineligible.title") %>
          </h1>

          <div class="offboarding--help-text">
            <p><%=t("views.public_pages.maybe_ineligible.info") %></p>

            <strong>
              <%=t("views.questions.at_capacity.diy_html") %>
            </strong>
          </div>

          <div class="buttons--vertical-stack">
            <a data-track-click="mft-diy-referral" href="https://www.myfreetaxes.com/?utm_source=GYR&utm_medum=web&utm_campaign=Partner-referral" target="_blank" rel="noopener nofollow" class="button button--primary text--centered button--wide spacing-above-60">
              <%= t("views.questions.at_capacity.file_through_my_free_taxes") %>
            </a>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
