<% content_for :page_title, t("views.public_pages.maybe_ineligible.title") %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="offboarding--illustration">
            <%= image_tag("other-options.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%=t("views.public_pages.maybe_ineligible.title") %>
          </h1>

          <div class="offboarding--help-text">
            <p><%=t("views.public_pages.maybe_ineligible.info") %></p>
            <p><%=t("views.public_pages.maybe_ineligible.alternatives") %></p>
          </div>
          <div class="offboarding--help-text">
            <p class="offboarding--subtitle">
              <%=t("views.public_pages.maybe_ineligible.diy_criteria_list.header") %>
            </p>
            <ul class="checkmark-list">
              <% (1..4).to_a.each do |i| %>
                <li>
                  <%= render "shared/svg/checkmark", fill_class: "purple" %>
                  <span>
                    <%=t("views.public_pages.maybe_ineligible.diy_criteria_list.item_#{i}") %>
                  </span>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="buttons--vertical-stack">
            <%= link_to t("views.public_pages.maybe_ineligible.diy_button"),
              diy_file_yourself_path,
              class: "button button--primary button--wide text--centered",
              "data-track-click": "diy_offboarding"
            %>
            <%= link_to t("general.visit_free_file"), "https://apps.irs.gov/app/freeFile/jsp/wizard.jsp", class: "button button--wide text--centered", rel: "noopener", target: "_blank", "data-track-click": "freefile" %>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
