<% content_for :page_title, t("views.public_pages.other_options.title") %>

<div class="main-content-inner">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <div class="main-content-inner">
          <div class="offboarding--illustration">
            <%= image_tag("other-options.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%=t("views.public_pages.other_options.title") %>
          </h1>

          <div class="offboarding--help-text">
            <p><%=t("views.public_pages.other_options.info") %></p>
            <p><%=link_to t("general.submit_question"), "mailto:support@getyourrefund.org" %></p>
          </div>
          <div class="offboarding--help-text">
            <p class="offboarding--subtitle"><%=t("general.other_options") %></p>
            <p>
              <%=t("general.free_file_html", :wizard_link => link_to(t("general.free_file_lookup_tool"), "https://irs.treasury.gov/freetaxprep/", target: "_blank", rel: "noopener", "data-track-click": "freefile")) %>
            </p>
          </div>

          <div class="buttons--vertical-stack">
            <%= link_to t("general.find_vita_site"), vita_providers_path, class: "button button--primary button--wide text--centered" %>
            <%= link_to t("general.visit_free_file"), "https://irs.treasury.gov/freetaxprep/", class: "button button--wide text--centered", rel: "noopener", target: "_blank", "data-track-click": "freefile" %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
