<% content_for :page_title, t("views.public_pages.other_options.title") %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="offboarding--illustration">
            <%= image_tag("other-options.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%=t("views.public_pages.other_options.title") %>
          </h1>

          <div class="offboarding--help-text">
            <p><%=t("views.public_pages.other_options.info") %></p>
            <p><%=link_to t("general.submit_question"), "mailto:support@getyourrefund.org" %></p>
          </div>
          <div class="offboarding--help-text">
            <p class="offboarding--subtitle"><%=t("general.other_options") %></p>
            <p>
              <%=t("general.free_file_html", :wizard_link => link_to(t("general.free_file_lookup_tool"), "https://apps.irs.gov/app/freeFile/jsp/wizard.jsp", target: "_blank", rel: "noopener", "data-track-click": "freefile")) %>
            </p>
          </div>

          <div class="buttons--vertical-stack">
            <%= link_to t("general.find_vita_site"), vita_providers_path, class: "button button--primary button--wide text--centered" %>
            <%= link_to t("general.visit_free_file"), "https://apps.irs.gov/app/freeFile/jsp/wizard.jsp", class: "button button--wide text--centered", rel: "noopener", target: "_blank", "data-track-click": "freefile" %>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
