<% content_for :page_title, t("views.public_pages.privacy_policy.title") %>

<%= render("shared/breadcrumb")%>

<div class="main-content-inner">
  <section class="slab slab--white slab--half-padded">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <div class="main-content-inner">
          <h1 class="h2"><%= content_for(:page_title) %></h1>

          <p class="text--help"><%=t("views.public_pages.privacy_policy.intro") %></p>
          <p class="text--help"><%=t("views.public_pages.privacy_policy.description") %></p>
          <p><%=t("views.public_pages.privacy_policy.questions_html", :email_link => mail_to("support@getyourrefund.org")) %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.overview.header") %></h2>
          <h3><%=t("views.public_pages.privacy_policy.information_collection.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_collection.site.data.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.personal_identifiers") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.date_of_birth") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.demographic") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.protected_classifications") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.tax_information") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.state_information") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.financial_information") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.device_information") %></li>
          </ul>

          <h3><%=t("views.public_pages.privacy_policy.information_collection.how_we_collect.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_collection.how_we_collect.data.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_collection.how_we_collect.data.visit_site") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.how_we_collect.data.provide_documents") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.how_we_collect.data.communicate") %></li>
          </ul>

          <p><%=t("views.public_pages.privacy_policy.information_collection.how_we_collect.third_parties") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_collection.how_we_collect.partners") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.how_we_collect.irs") %></li>
          </ul>

          <h3><%=t("views.public_pages.privacy_policy.information_use.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_use.sub_header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_use.connect") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.complete") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.support") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.monitor") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.improve") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.suggest") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.fraud") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.comply") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.research") %></li>
          </ul>

          <h3><%=t("views.public_pages.privacy_policy.information_sharing.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.sell") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.third_party") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_sharing.examples.vita_providers") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.examples.research") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.examples.business_relationship") %></li>
          </ul>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.third_party_security") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.special_situations") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.limited_personal_information") %></p>


          <h3><%=t("views.public_pages.privacy_policy.information_sharing.choices.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.choices.respect") %></p>
          <p class="text--underline"><%=t("views.public_pages.privacy_policy.information_sharing.choices.post.header") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.choices.post.update_information") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_sharing.choices.post.email_html", :email_link => mail_to("support@getyourrefund.org")) %></li>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.choices.post.opt_out_instructions") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.choices.post.unsubscribe") %></li>
          </ul>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.choices.post.unsubscribe_note") %></p>

          <p class="text--underline"><%=t("views.public_pages.privacy_policy.information_sharing.choices.cookies.header") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.choices.cookies.description") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_sharing.choices.cookies.why", :email_link => mail_to("support@getyourrefund.org")) %></li>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.choices.cookies.consent") %></li>
          </ul>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.choices.cookies.restrict") %></p>

          <p class="text--underline"><%=t("views.public_pages.privacy_policy.information_sharing.choices.sms.header") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.choices.sms.unsubscribe") %></p>

          <p class="text--underline"><%=t("views.public_pages.privacy_policy.information_sharing.choices.analytics.header") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.choices.analytics.mixpanel_html") %></p>

          <p class="text--underline"><%=t("views.public_pages.privacy_policy.information_sharing.choices.additional.header") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.choices.additional.description") %></p>


          <h3><%=t("views.public_pages.privacy_policy.information_protection.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_protection.important") %></p>

          <h3><%=t("views.public_pages.privacy_policy.data_retention.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.data_retention.description") %></p>

          <h3><%=t("views.public_pages.privacy_policy.childrens_privacy.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.childrens_privacy.description") %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.changes.header") %></h2>
          <p><%=t("views.public_pages.privacy_policy.changes.info") %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.effective_date.header") %></h2>
          <p><%=t("views.public_pages.privacy_policy.effective_date.info", :effective_date => l(Date.new(2021, 2, 17), :format => :long)) %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.questions.header") %></h2>
          <p><%=t("views.public_pages.privacy_policy.questions.description_html",  :email_link => mail_to("support@getyourrefund.org")) %></p>
          <p><%=t("views.public_pages.privacy_policy.questions.address_html") %></p>
          <p><%=t("views.public_pages.privacy_policy.questions.resolve") %></p>

        </div>
      </div>
    </div>
  </section>
</div>