<% content_for :page_title, t("views.public_pages.privacy_policy.title") %>

<%= render("shared/breadcrumb")%>

<main role="main">
  <section class="slab slab--white slab--half-padded">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <h1 class="h2"><%= content_for(:page_title) %></h1>

          <p class="text--help"><%=t("views.public_pages.privacy_policy.intro") %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.overview.header") %></h2>
          <p><%=t("views.public_pages.privacy_policy.overview.data_use.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.overview.data_use.vita") %></li>
            <li><%=t("views.public_pages.privacy_policy.overview.data_use.suggestions") %></li>
          </ul>
          <p><%=t("views.public_pages.privacy_policy.overview.no_disclosure") %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.information_collection.header") %></h2>
          <h3><%=t("views.public_pages.privacy_policy.information_collection.site.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_collection.site.data.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.domain") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.ip") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.os_browser") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.date_time") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.pages") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.site.data.referrer") %></li>
          </ul>
          <p><%=t("views.public_pages.privacy_policy.information_collection.site.use_and_storage") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_collection.site.knowledge_and_consent") %></p>

          <h3><%=t("views.public_pages.privacy_policy.information_collection.service.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_collection.service.data.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.data.name") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.data.address") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.data.contact_info") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.data.ssn") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.data.financial_info") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.data.dependent_cards") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.data.w2") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.data.1099") %></li>
          </ul>

          <p><%=t("views.public_pages.privacy_policy.information_collection.service.irs_forms.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.irs_forms.intake") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.irs_forms.consent") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_collection.service.irs_forms.efile") %></li>
          </ul>

          <p><%=t("views.public_pages.privacy_policy.information_collection.service.use_and_storage") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_collection.service.retention_html", :email_link => mail_to("hello@getyourrefund.org")) %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.information_use.header") %></h2>
          <p><%=t("views.public_pages.privacy_policy.information_use.vita_services.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_use.vita_services.intake") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.vita_services.notifications") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.vita_services.support") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.vita_services.docs") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_use.vita_services.efile") %></li>
          </ul>
          <p><%=t("views.public_pages.privacy_policy.information_use.research") %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.information_sharing.header") %></h2>
          <h3><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_you.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_you.notifications.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_you.notifications.sms_email") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_you.notifications.email_consent") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_you.notifications.sms_consent") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_you.notifications.vita") %></li>
          </ul>

          <h3><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_others.header") %></h3>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_others.need_to_know") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_others.partners.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_others.partners.zendesk") %>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_others.partners.docusign") %>
            <li><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_others.partners.taxslayer") %>
          </ul>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_others.responsibility") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_sharing.communication_with_others.non-partners") %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.information_protection.header") %></h2>
          <p><%=t("views.public_pages.privacy_policy.information_protection.important") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_protection.online") %></p>
          <p><%=t("views.public_pages.privacy_policy.information_protection.offline") %></p>

          <p><%=t("views.public_pages.privacy_policy.information_protection.security_practices.header") %></p>
          <ul class="list--bulleted">
            <li><%=t("views.public_pages.privacy_policy.information_protection.security_practices.tls") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_protection.security_practices.ssl") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_protection.security_practices.incident_response") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_protection.security_practices.doc_storage") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_protection.security_practices.doc_deletion") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_protection.security_practices.pii_deletion") %></li>
            <li><%=t("views.public_pages.privacy_policy.information_protection.security_practices.training") %></li>
          </ul>
          <p><%=t("views.public_pages.privacy_policy.information_protection.complete_security") %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.changes.header") %></h2>
          <p><%=t("views.public_pages.privacy_policy.changes.info") %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.effective_date.header") %></h2>
          <p><%=t("views.public_pages.privacy_policy.effective_date.info", :effective_date => l(Date.new(2020, 2, 1), :format => :long)) %></p>

          <h2 class="text--caption"><%=t("views.public_pages.privacy_policy.questions.header") %></h2>
          <p><%=t("views.public_pages.privacy_policy.questions.contact_us_html", :email_link => mail_to("hello@getyourrefund.org")) %>
          <p>
            GetYourRefund
            <br/>
            c/o Code for America
            <br/>
            972 Mission Street
            <br/>
            San Francisco, CA 94103
          </p>
          <p><%=t("views.public_pages.privacy_policy.questions.resolve") %></p>
        </main>
      </div>
    </div>
  </section>
</main>