<% content_for :page_title, t("views.public_pages.stimulus_payment.title") %>
<% content_for :body_class, "stimulus" %>

<%= render("shared/breadcrumb") %>

<main role="main">
  <section class="slab slab--white slab--half-padded">
    <div class="grid">
      <div class="grid__item width-two-thirds">
        <h1 class="h2"><%= t("views.public_pages.stimulus_payment.header") %></h1>
        <div>
          <% t("views.public_pages.stimulus_payment.intro.description").each do |paragraph| %>
            <p><%= paragraph %></p>
          <% end %>
        </div>
        <p><%= t("views.public_pages.stimulus_payment.intro.common_questions") %></p>
        <p class="hint">
          <%= t("views.public_pages.stimulus_payment.intro.irs_info_html", :irs_eip_link => link_to("IRS.gov/eip", "https://irs.gov/eip", target: "_blank", rel: "noopener", "data-track-click": "stimulus-irs-eip", "data-track-attribute-position": "intro")) %>
        </p>
        <p class="hint last">
          <%= t("views.public_pages.stimulus_payment.intro.last_updated") %>
        </p>
      </div>
    </div>
    <div class="grid spacing-above-60 stimulus-info">
      <div class="grid__item width-one-twelfth">
        <%= image_tag("stimulus-eligible.svg", alt: "") %>
      </div>
      <div class="grid__item width-seven-twelfths">
        <h2 class="h3"><%= t("views.public_pages.stimulus_payment.intro.eligibility.header") %></h2>
        <div class="last">
          <% t("views.public_pages.stimulus_payment.intro.eligibility.info").each do |paragraph| %>
            <p><%= paragraph %></p>
          <% end %>
          <ul class="list--bulleted">
            <% t("views.public_pages.stimulus_payment.intro.eligibility.list").each do |item| %>
              <li>
                <%= item %>
              </li>
            <% end %>
          </ul>
          <% t("views.public_pages.stimulus_payment.intro.eligibility.info_last_html").each do |paragraph| %>
            <p><%= paragraph %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="grid spacing-above-35 stimulus-info">
      <div class="grid__item width-one-twelfth">
        <%= image_tag("mixed-status.svg", alt: "") %>
      </div>
      <div class="grid__item width-seven-twelfths">
        <h2 class="h3"><%= t("views.public_pages.stimulus_payment.intro.mixed_status_eligibility.header") %></h2>
        <div class="last">
          <% t("views.public_pages.stimulus_payment.intro.mixed_status_eligibility.info").each do |paragraph| %>
            <p><%= paragraph %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="grid spacing-above-35 stimulus-info">
      <div class="grid__item width-one-twelfth">
        <%= image_tag("stimulus-payments.svg", alt: "") %>
      </div>
      <div class="grid__item width-seven-twelfths">
        <h2 class="h3"><%= t("views.public_pages.stimulus.heading") %></h2>
        <ul class="list--bulleted">
          <% t("views.public_pages.stimulus.facts_html", :file_with_help_link => file_with_help_questions_path).each do |item| %>
            <li>
              <%= item %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

  <div class="slab slab--secondary-cta slab--stimulus-blue text--centered">
    <p class="cta-text spacing-below-25">
      <strong><%= t("views.public_pages.stimulus.file_with_help.header") %></strong>
    </p>
    <%= link_to welcome_questions_path, class: "button button--primary" do %>
      <%= t("general.start_filing") %>
    <% end %>
  </div>

  <section class="slab slab--white slab--half-padded">
    <div class="grid spacing-above-60">
      <% @faq_counter = 0 %>
      <div class="grid__item width-three-fourths">
        <h2><%= t("views.public_pages.stimulus_payment.faq.how_to_get_paid.header") %></h2>
        <% t("views.public_pages.stimulus_payment.faq.how_to_get_paid.items").each do |faq| %>
          <% @faq_counter += 1 %>
          <div class="accordion">
            <a href="#" class="accordion__button" aria-expanded="true" aria-controls=<%= "a#{@faq_counter}" %>
                <h3><%= faq[:title] %></h3>
            </a>
            <div class="accordion__content" id="a1">
              <p><%= faq[:content_html].html_safe %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="grid__item width-three-fourths">
        <h2 class="spacing-above-35"><%= t("views.public_pages.stimulus_payment.faq.eip.header") %></h2>
        <% t("views.public_pages.stimulus_payment.faq.eip.items").each do |faq| %>
          <% @faq_counter += 1 %>
          <div class="accordion">
            <a href="#" class="accordion__button" aria-expanded="true" aria-controls=<%= "a#{@faq_counter}" %>
                <h3><%= faq[:title] %></h3>
            </a>
            <div class="accordion__content" id="a1">
              <p><%= faq[:content_html].html_safe %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
