<% content_for :page_title, t("views.public_pages.tax_questions.title") %>
<% content_for :body_class, "tax-questions" %>

<div class="main-content-inner">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <div class="offboarding--illustration">
          <%= image_tag("tax-questions.svg", alt: "") %>
        </div>
        <h1 class="h2"><%=t("views.public_pages.tax_questions.header") %></h1>
        <p>
          <%=t("views.public_pages.tax_questions.support_html", :faq_link => link_to(t("views.public_pages.tax_questions.see_faq"), faq_path, class: 'text--black')) %>
        </p>

        <p><%=t("views.public_pages.tax_questions.cannot_answer.header") %></p>

        <ul class="list--crossmark">
          <li><%=t("views.public_pages.tax_questions.cannot_answer.different_services") %></li>
          <li><%=t("views.public_pages.tax_questions.cannot_answer.refund_amounts") %></li>
        </ul>

        <button class="button button--primary button--wide open-intercom">
          <%=t("general.chat_with_us") %>
        </button>
      </div>
    </div>
  </section>
</div>
