<% content_for :page_title, @user.name %>
<% content_for :card do %>
  <%= form_with model: @user, method: :put, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
    <h1><%= @user.name %></h1>
    <p>
      <strong><%= t("general.email") %>:</strong> <%= @user.email %>
    </p>

    <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>
    <%= f.cfa_select(:vita_partner_id, t("general.organization"), VitaPartner.select_input_options, include_blank: true) %>

    <h2><%= t("general.role") %></h2>

    <%= f.cfa_checkbox(:is_beta_tester, t(".is_beta_tester_label"), options: { classes: ["form-width--long"] }) %>
    <%= f.cfa_checkbox(:is_admin, t(".is_admin_label"), options: {classes: ["form-width--long"], disabled: !current_user.is_admin }) %>
    <% if current_user.is_admin %>
      <div class="reveal">
        <p><a href="#" class="reveal__link">Select organizations</a></p>
        <div class="reveal__content">
          <% VitaPartner.all.map do |vp| %>
            <%= f.cfa_checkbox(
                  :supported_organizations_ids,
                  vp.display_name,
                  options: {
                    checked_value: "supported_organizations_ids-#{vp.id}",
                    unchecked_value: nil,
                  }
              ) %>
          <% end %>
        </div>
      </div>
    <% end %>

    <button class="button" type="submit">
      <%=t("general.save") %>
    </button>
  <% end %>
<% end %>
