<% content_for :page_title, current_user.name %>
<% content_for :card do %>
  <h1><%= current_user.name %></h1>
  <p>
    <strong>Email:</strong> <%= current_user.email %>
  </p>
  <p>
    <strong>Role:</strong> <%= current_user.role.capitalize %>
  </p>

  <ul class="actions">
    <% if current_user.is_beta_tester? %>
      <li class="user-action-link">
        <%= link_to invitations_path do %>
          <%= t("general.invitations") %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>