<% content_for :page_title, current_user.name %>
<% content_for :card do %>
  <h1><%= current_user.name %></h1>
  <p>
    <strong><%= t("general.email") %></strong> <%= current_user.email %>
  </p>
  <p>
    <strong><%= t("general.role") %>></strong> <%= current_user.role&.capitalize %>
  </p>
  <p>
    <strong><%= t("general.organization") %>></strong> <%= current_user.vita_partner&.name || t("general.none") %>
  </p>

  <ul class="actions">
    <li class="user-action-link">
      <%= link_to invitations_path, class: "button button--small" do %>
        <%= t("general.invitations") %>
      <% end %>
    </li>

    <li class="user-action-link">
      <%= link_to case_management_clients_path, class: "button button--small" do %>
        <%= t(".clients_link") %>
      <% end %>
    </li>

    <li class="user-action-link">
      <%= link_to users_path, class: "button button--small" do %>
        <%= t(".users_link") %>
      <% end %>
    </li>
  </ul>
<% end %>