<% filing_year = Rails.configuration.statefile_current_tax_year %>
<% title = t(".title", filing_year: filing_year) %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p class="subtitle"><%= t(".subtitle_1", filing_year: filing_year) %></p>
  <p class="subtitle"><%= t(".subtitle_2", filing_year: filing_year) %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="white-group">
      <p class="spacing-below-10"><%= t(".withdrew_msa_fthb", filing_year: filing_year) %></p>
      <ul class="list--bulleted">
        <li class="spacing-below-0"><%= t(".withdrew_msa_fthb_list.bullet_1_html") %></li>
        <li><%= t(".withdrew_msa_fthb_list.bullet_2_html") %></li>
      </ul>
      <%= f.cfa_radio_set(
            :eligibility_withdrew_msa_fthb,
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>
    <div class="white-group">
      <p class="spacing-below-10"><%= t(".emergency_rental_assistance") %></p>
      <p class="subtitle"><%= t(".emergency_rental_assistance_explanation") %></p>
      <%= f.cfa_radio_set(
            :eligibility_emergency_rental_assistance,
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
