<% @main_question = t("views.ctc.questions.dependents.does_not_qualify_ctc.title", dependent:  @dependent.first_name.capitalize) %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>

  <h1 class="h2"><%= @main_question %></h1>
  <%= t("views.ctc.questions.dependents.does_not_qualify_ctc.body_html") %>

  <div class="spacing-above-60">
    <%= link_to Ctc::Questions::Dependents::InfoController.to_path_helper(id: :new), class: "button button--wide button--primary text--centered button--wide" do %>
      <%= image_tag("add-person--white.svg", alt: "") %>
      <%= t("views.ctc.questions.dependents.does_not_qualify_ctc.add_button") %>
    <% end %>
  </div>
  <div class="spacing-above-15">
    <%= link_to t("views.ctc.questions.dependents.does_not_qualify_ctc.done_button"), next_path, class: "button text--centered button--wide" %>
  </div>
<% end %>
