<% @main_question = t("views.ctc.questions.mailing_address.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= @main_question %></h1>

    <p><%= t("views.ctc.questions.mailing_address.help_text") %></p>

    <%= render('components/molecules/reveal', title: t("views.ctc.questions.mailing_address.reveal_label")) do %>
      <%= t("views.ctc.questions.mailing_address.reveal_content_html") %>
    <% end %>

    <% if current_intake.puerto_rico_filing? %>
      <%= render('components/molecules/reveal', title: t("views.ctc.questions.mailing_address.puerto_rico_reveal_label")) do %>
        <%= t("views.ctc.questions.mailing_address.puerto_rico_reveal_html") %>
      <% end %>
    <% end %>

    <% if @form.errors[:address_not_found].present? %>
      <div class="notice--error">
        <p><%= t("views.ctc.questions.mailing_address.error_notice") %></p>
        <p class="text--error">
          <%= @form.errors[:address_not_found].join(", ") %>
        </p>
      </div>
    <% end %>

    <div class="form-card__content">
      <%= f.cfa_input_field(:street_address, t("views.questions.mailing_address.street_address"), ) %>
      <%= f.cfa_input_field(:street_address2, t("views.questions.mailing_address.street_address2"), classes: ["form-width--zip"]) %>
      <%= f.cfa_input_field(:city, t("views.questions.mailing_address.city")) %>
      <%= f.cfa_select(:state, t("views.questions.mailing_address.state"), States.name_value_pairs) %>
      <%= f.cfa_input_field(:zip_code, t("views.questions.mailing_address.zip_code"), classes: ["form-width--zip"]) %>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
