<% @main_question = t("views.ctc.questions.filed2019.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_question %></h1>
  <p><%= t("views.ctc.questions.filed2019.help_text") %></p>
  <p><strong><%= t("views.ctc.questions.filed2019.already_filed") %></strong></p>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <%= f.cfa_radio_set(
          :filed_2019,
          collection: [
              { value: :filed_full, label: t("views.ctc.questions.filed2019.filed_full") },
              { value: :filed_non_filer, label: t("views.ctc.questions.filed2019.filed_non_filer")  },
              { value: :did_not_file, label: t("views.ctc.questions.filed2019.did_not_file") }
          ]
      )
  %>
    <div class="spacing-above-60">
      <%= f.submit t("general.continue"), class: "button button--primary button--wide" %>
    </div>
  <% end %>
<% end %>