<% content_for :page_title, t("state_file.questions.shared.review_header.title") %>
<% content_for :card do %>
  <%= render "state_file/questions/shared/review_header" %>

  <% @invalid_w2s.each do |w2| %>
    <div id="w2s" class="white-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%=t("state_file.questions.review.w2") %></p>
        <p><%=current_intake.direct_file_data.w2s[w2.w2_index].EmployerName %></p>
        <%= link_to t("general.edit"), StateFile::Questions::W2Controller.to_path_helper(action: :edit, id: w2.w2_index, return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <%= render "state_file/questions/shared/review_footer" %>
<% end %>
