<% @main_question = t("views.questions.demographic_questions.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35" id="demographic_questions_opt_in_question">
      <%= @main_question %>
    </h1>
    <%= f.button :submit, name: "#{f.object_name}[demographic_questions_opt_in]", value: "yes", class: "button button--wide button--primary spacing-above-60", "aria-describedby": "demographic_questions_opt_in_question" do %>
      <%=t("general.continue") %>
    <% end %>
    <%= f.button :submit, name: "#{f.object_name}[demographic_questions_opt_in]", value: "no", class: "button button--wide", "aria-describedby": "demographic_questions_opt_in_question" do %>
      <%=t("general.skip_questions") %>
    <% end %>
  <% end %>
<% end %>
