<% @main_question = t("views.ctc.questions.prior_tax_year_agi.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_question %></h1>

  <p>
    <%= t("views.ctc.questions.prior_tax_year_agi.help_text_html") %>
  </p>
  <div class="amount-collection">
    <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, class: 'amount-collection-form' do |f| %>
      <%= f.cfa_input_field(:primary_prior_year_agi_amount, t("views.ctc.questions.prior_tax_year_agi.label"), prefix: "$") %>

      <%= render('components/molecules/reveal', title: t("views.ctc.questions.prior_tax_year_agi.reveal_label")) do %>
        <%= t("views.ctc.questions.prior_tax_year_agi.reveal_content") %>
      <% end %>

      <%= f.button :submit, class: "button button--wide button--primary spacing-above-60" do %>
        <%= t("general.continue") %>
      <% end %>
    <% end %>
  </div>
<% end %>