<% transmitted_transitions = transitions.select { |t| t.to_state == "transmitted" } %>
<% if transitions.present? %>
  <% transitions.each do |transition| %>
    <% unless transmitted_transitions.include?(transition) && transition != transmitted_transitions.first %>
      <li role="listitem">
        <div class="timestamp"><%= timestamp transition.created_at %></div>
        <div class="status <%= transition.to_state %>"><%= transition.to_state.humanize %></div>
        <div class="details">
          <% if transition.initiated_by.present? %>
            <div>Initiated by: <%= transition.initiated_by.name_with_role %></div>
          <% end %>

          <% transition.efile_errors.each do |error| %>
            <div>
              <span class="tooltip max-250 error-<%= error.id %>" data-position="left" title="<%= error.message %>">
                <%= link_to hub_state_file_efile_error_path(id: error.id) do %>
                  <div class="label label--red"><%= error.code %></div>
                <% end %>
              </span>
              <%= error.message %>
            </div>
          <% end %>

<!--          bring this out to partial? maybe should gather them by statuses? at least for transmitted and rejected-->
          <% if transition.to_state == "transmitted" %>
            <table>
              <tr>
                <th>date</th>
                <th>submission status</th>
              </tr>
              <% transmitted_transitions.each do |t| %>
                <% if t.metadata["raw_response"].present? %>
                  <% xml = Nokogiri::XML(t.metadata["raw_response"]) %>
                  <tr>
                    <td>
                      <%= xml.css("SubmsnStatusAcknowledgementDt").text.strip %>
                    </td>
                    <td>
                      <%= xml.css("SubmissionStatusTxt").text.strip %>
                    </td>
                  </tr>
                <% elsif t.metadata["receipt"] %>
                  <% xml = Nokogiri::XML(t.metadata["receipt"]) %>
                  <tr>
                    <td>
                      <%= DateTime.parse(xml.css("SubmissionReceivedTs").text.strip).strftime("%Y-%m-%d %H:%M") %>
                    </td>
                    <td>Submission received</td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          <% end %>

<!--          clean this up I think I can remove this-->
          <% if ["failed", "rejected"].include?(transition.to_state) && transition.metadata["raw_response"].present? && !transition.metadata["raw_response"].kind_of?(Array) %>
            <% xml = Nokogiri::XML(transition.metadata["raw_response"]) %>
            <% error_msg = xml.css("ErrorMessageTxt").text.strip %>
            <% if error_msg.present? %>
              <p><strong>Error message:</strong> <%= error_msg %></p>
            <% end %>
        <% end %>

          <% if transition.metadata.present? %>
            <div class="accordion spacing-above-10">
              <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a2">
                <h3>Details</h3>
              </a>
              <div class="accordion__content" id="a2">
              <pre>
                <code>
                  <% if transition.to_state == "transmitted" %>
                    <% transmitted_transitions.pluck(:metadata).each do |metadata| %>
                      <%= metadata %>
                    <% end %>
                  <% else %>
                    <%= transition.metadata %>
                  <% end %>
                </code>
              </pre>
              </div>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
<% else %>
  <p>No logs yet</p>
<% end %>