<% content_for :card do %>
  <div class="spacing-above-25 submissions-index">
    <div class="efile-state-counts" style="display: flex;">
      <%= render "state_counts", efile_submission_state_counts: @efile_submission_state_counts %>
    </div>
    <div class="slab slab--not-padded spacing-above-25">
      <div class="pagination-wrapper">
        <div class="count-wrapper">
          <div>
            <%= page_entries_info @efile_submissions %>
          </div>
        </div>
        <div>
          <%= will_paginate(
                @clients,
                previous_label: "<i class=\"icon icon-keyboard_arrow_left\"></i><span class=\"hide-on-mobile\">Previous</span>",
                next_label: "<span class=\"hide-on-mobile\">Next</span><i class=\"icon icon-keyboard_arrow_right\"></i>",
                inner_window: 1,
                outer_window: 1,
                param_name: "page",
                ) %>
        </div>
      </div>
    </div>

    <table class="index-table spacing-above-25">
      <thead class="index-table__head">
      <tr class="index-table__row">
        <th scope="col" style="width: 12.5rem" class="index-table__header sortable">
          ID
        </th>
        <th scope="col" style="width: 12.5rem" class="index-table__header sortable">
          Status
        </th>
        <th scope="col" class="index-table__header">
          Errors
        </th>
        <th scope="col" style="width: 10rem" class="index-table__header sortable">
          State Submission ID
        </th>
        <th scope="col" class="index-table__header">
          State
        </th>
        <th scope="col" class="index-table__header">
          Email Address
        </th>
      </tr>
      </thead>
      <tbody class="index-table__body submission-table">

      <% @efile_submissions.each do |submission| %>
        <tr class="index-table__row">
          <td class="index-table__cell status">
            <%= submission.id %>
          </td>
          <td class="index-table__cell status">
            <%= link_to submission.current_state.humanize(capitalize: false), hub_state_file_efile_submission_path(id: submission.id), class: "underline" %>
          </td>
          <td class="index-table__cell">
            <% errors = if ['waiting', 'notified_of_rejection'].include?(submission.current_state)
                          submission&.efile_submission_transitions&.where(to_state: 'rejected')&.last&.efile_errors
                        else
                          submission.last_transition&.efile_errors
                        end %>
            <% errors&.each do |error| %>
                <span class="tooltip max-250 error-<%= error.id %>" data-position="right" title="<%= error.message %>">
                  <%= link_to hub_state_file_efile_error_path(id: error.id) do %>
                    <div class="label label--red"><%= error.code %></div>
                  <% end %>
                </span>
            <% end %>
          </td>
          <td class="index-table__cell">
            <%= submission.irs_submission_id.present? ? link_to(submission.irs_submission_id, hub_state_file_efile_submission_path(id: submission.id)) : "" %>
          </td>
          <td class="index-table__cell"><%= submission.data_source.state_name %></td>
          <td class="index-table__cell"><%= submission.data_source.email_address %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
