<% content_for :card do %>
  <div class="spacing-above-25 submissions-index">
    <table class="index-table spacing-above-25">
      <thead class="index-table__head">
      <tr class="index-table__row">
        <th scope="col" style="width: 12.5rem" class="index-table__header sortable">
          ID
        </th>
        <th scope="col" style="width: 12.5rem" class="index-table__header sortable">
          Status
        </th>
        <th scope="col" style="width: 10rem" class="index-table__header sortable">IRS Submission ID</th>
        <th scope="col" style="width: 10rem" class="index-table__header sortable">Federal Submission ID</th>
        <th scope="col" class="index-table__header">
          Errors
        </th>
        <th scope="col" class="index-table__header">
          Data Source ID
        </th>
        <th scope="col" class="index-table__header">
          Data Source type
        </th>
      </tr>
      </thead>
      <tbody class="index-table__body submission-table">

      <% @efile_submissions.each do |submission| %>
        <tr class="index-table__row">
          <td class="index-table__cell status">
            <%= submission.id %>
          </td>
          <td class="index-table__cell status">
            <%= link_to submission.current_state.humanize(capitalize: false), hub_state_file_efile_submission_path(id: submission.id), class: "underline" %>
          </td>
          <td class="index-table__cell">
            <%= submission.irs_submission_id.present? ? link_to(submission.irs_submission_id, hub_state_file_efile_submission_path(id: submission.id)) : "" %>
          </td>
          <td class="index-table__cell">
            <%= submission.data_source.federal_submission_id.present? ? link_to(submission.data_source.federal_submission_id, hub_state_file_efile_submission_path(id: submission.id)) : "" %>
          </td>
          <td class="index-table__cell">
            <% submission.last_transition&.efile_errors&.each do |error| %>
                <span class="tooltip max-250 error-<%= error.id %>" data-position="left" title="<%= error.message %>">
                  <%= link_to hub_efile_error_path(id: error.id) do %>
                    <div class="label label--red"><%= error.code %></div>
                  <% end %>
                </span>
            <% end %>
          </td>
          <td class="index-table__cell"><%= submission.data_source_id %></td>
          <td class="index-table__cell"><%= submission.data_source_type %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
