<% content_for :card do %>
    <div class="slab slab--not-padded spacing-above-25 submission" id="body">
      <div style="display: flex;">
        <h1>
          <%= link_to("E-file Submissions", hub_state_file_efile_submissions_path) %>
          > <%= @efile_submission.irs_submission_id %> (<%= @efile_submission.current_state.humanize %>)</h1>
      </div>
      <div class="field-display">
        <span class="form-question">EfileSubmission id:</span>
        <span class="label-value"><%= @efile_submission.id  %></span>
      </div>
      <div class="field-display">
        <span class="form-question"><%= @efile_submission.data_source_type %> id:</span>
        <span class="label-value"><%= @efile_submission.data_source_id %></span>
      </div>
      <div class="field-display">
        <span class="form-question">federal_submission_id:</span>
        <span class="label-value"><%= @efile_submission.data_source.federal_submission_id  %></span>
      </div>
      <% s3_key = @efile_submission&.submission_bundle&.blob&.key %>
      <% if s3_key %>
        <div class="field-display">
          <span class="form-question">S3 Key:</span>
          <span class="label-value"><%= s3_key %></span>
        </div>
      <% end %>
      <% if @efile_submissions_same_intake.present? %>
        <div class="field-display">
          <span class="form-question">submissions with matching intake:</span>
          <span class="label-value"><%= @efile_submissions_same_intake.map{ |submission| link_to(submission.id, hub_state_file_efile_submission_path(id: submission.id))}.join(', ').html_safe %></span>
        </div>
      <% end %>

      <div style="display: flex;">
        <% unless acts_like_production? %>
          <%= link_to "Show XML", hub_state_file_efile_submission_show_xml_path(efile_submission_id: @efile_submission.id), class: "button button--small" %>
          <div style="margin-left: 10px;">
            <%= link_to "Show direct-file XML", hub_state_file_efile_submission_show_df_xml_path(efile_submission_id: @efile_submission.id), class: "button button--small" %>
          </div>
          <div style="margin-left: 10px;">
            <%= link_to "Download PDF", hub_state_file_efile_submission_show_pdf_path(efile_submission_id: @efile_submission.id), class: "button button--small" %>
          </div>

          <% if @efile_submission.can_transition_to?(:failed) %>
            <div style="margin-left: 10px">
              <%= link_to("Failed",
                          failed_hub_efile_submission_path(id: @efile_submission.id),
                          method: :patch,
                          data: { confirm: "Are you sure you want to mark this tax return submission as 'Failed'?" },
                          class: "button button--danger button--small") %>
            </div>
          <% end %>
        <% end %>
        <% if @efile_submission.can_transition_to?(:resubmitted) %>
          <div style="margin-left: 10px;">
            <%= button_to("Resubmit",
                          resubmit_hub_efile_submission_path(id: @efile_submission.id),
                          method: :patch,
                          # disabled: @efile_submission.intake.refund_payment_method_direct_deposit? && !@efile_submission.intake.bank_account.present?,
                          data: { confirm: "Have you updated the necessary information?" },
                          class: "button button--small button--teal button--no-margin")
            %>
          </div>
        <% end %>
        <% if @efile_submission.in_state?(:rejected) %>
          <div style="margin-left: 10px;">
            <%= button_to("Notify of Rejection",
                          notify_of_rejection_hub_efile_submission_path(id: @efile_submission.id),
                          method: :patch,
                          data: { confirm: "Are you sure you want to notify the filer?" },
                          class: "button button--small button--teal button--no-margin")
            %>
          </div>
        <% end %>

        <% if @efile_submission.can_transition_to?(:cancelled) %>
          <div style="margin-left: 10px">
            <%= link_to("Do not file",
                        cancel_hub_efile_submission_path(id: @efile_submission.id),
                        method: :patch,
                        data: { confirm: "Are you sure you want to mark this tax return submission as 'Not filing'?" },
                        class: "button button--danger button--small") %>
          </div>
        <% end %>

        <% if @efile_submission.can_transition_to?(:rejected) && !Rails.env.production? %>
          <div style="margin-left: 10px">
            <%= link_to("Rejected",
                        reject_hub_efile_submission_path(id: @efile_submission.id),
                        method: :patch,
                        data: { confirm: "Are you sure you want to mark this tax return submission as 'Rejected'?" },
                        class: "button button--danger button--small") %>
          </div>
        <% end %>
      </div>
      <div class="log-wrapper">
        <h4 class="spacing-below-10">Status Logs</h4>
        <ul role="list" class="logs">
          <%= render("log", transitions: @efile_submission.efile_submission_transitions) %>
        </ul>
      </div>
    </div>
<% end %>
