<% is_dropoff ||= false %>
<% is_ctc ||= false %>
<div id="primary-info">
  <div class="hub-form__card card-small">
    <h3><%= t("hub.clients.fields.primary_contact_info") %></h3>
    <%= f.cfa_input_field(:primary_first_name, t("hub.clients.fields.legal_first_name")) %>
    <%= f.cfa_input_field(:primary_last_name, t("hub.clients.fields.legal_last_name")) %>
    <%= f.cfa_input_field(:preferred_name, t("hub.clients.fields.preferred_name")) %>

    <% if is_ctc %>
      <%= f.cfa_select(:primary_suffix, t("hub.clients.fields.suffix"), suffix_options_for_select, include_blank: true) %>
      <%= f.hidden_field :timezone, value: current_user.timezone %>
    <% elsif is_dropoff %>
      <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options, selected: current_user.timezone) %>
    <% else %>
      <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>
    <% end %>

    <% if !is_dropoff && !is_ctc %>
      <%= f.cfa_input_field(:interview_timing_preference, t("hub.clients.show.interview_timing_preference")) %>
    <% end %>

    <% if is_dropoff || !is_ctc %>
      <%= f.cfa_select(
                :preferred_interview_language,
                t("hub.clients.fields.preferred_interview_language"),
                language_options(only_locales: false),
                include_blank: true,
                selected: @form.preferred_interview_language
        ) %>
    <% end %>

    <div class="hub-form__input-with-checkbox">
      <%= f.cfa_input_field(:email_address, t("general.email")) %>
      <%= f.hub_checkbox(:email_notification_opt_in, t("general.opt_in_email"), options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>
    <div class="hub-form__input-with-checkbox">
      <%= f.cfa_input_field(:sms_phone_number, t("general.sms_phone_number")) %>
      <%= f.hub_checkbox(:sms_notification_opt_in, t("general.opt_in_sms"), options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>

    <%= f.cfa_input_field(:phone_number, t("general.phone_number"),  classes: ["form-width--phone"]) %>

    <% if is_ctc %>
      <%= f.vita_min_date_text_fields(
            :primary_birth_date,
            t("hub.clients.show.date_of_birth"),
            help_text: t("hub.clients.show.date_of_birth_help"),
            ) %>
    <% end %>
    <%= f.cfa_select(:primary_tin_type, "Identification Type", tin_options_for_select(include_ssn_no_employment: true, include_itin: true)) %>
    <%= f.cfa_input_field(
        :primary_ssn,
        t("general.ssn_itin"),
        type: :tel,
        classes: ["form-width--name"],
        options: { maxlength: 11, 'data-mask': '000-00-0000'  }
    ) %>
    <% unless f.object.client&.persisted? %>
      <%= f.cfa_input_field(
            :primary_ssn_confirmation,
            "Re-enter SSN/ITIN",
            type: :tel,
            classes: ["form-width--name"],
            options: { maxlength: 11, 'data-mask': '000-00-0000' }
          ) %>
    <% end %>
    <% if is_ctc %>
      <%= f.cfa_input_field(:primary_ip_pin, t("general.ip_pin")) %>
    <% end %>
  </div>
</div>
