<% is_ctc ||= false %>
<div id="spouse-info">
  <div class="hub-form__card card-small">
    <%if is_ctc %>
      <h3><%= t("hub.clients.fields.ctc_spouse_contact_info") %></h3>
    <% else %>
      <h3><%= t("hub.clients.fields.spouse_contact_info") %></h3>
    <% end %>
    <div>
      <%= f.cfa_input_field(:spouse_first_name, t("hub.clients.fields.legal_first_name")) %>
      <%= f.cfa_input_field(:spouse_last_name, t("hub.clients.fields.legal_last_name")) %>
    </div>
    <%= f.cfa_input_field(:spouse_email_address, t("general.email")) %>
    <% if is_ctc %>
      <%= f.vita_min_date_text_fields(
            :spouse_birth_date,
            t("hub.clients.show.date_of_birth"),
            ) %>
      <%= f.cfa_select(:spouse_tin_type, "Identification Type", tin_options_for_select(include_itin: true, include_none: true)) %>
      <%= f.cfa_input_field(
          :spouse_ssn,
          t("general.ssn"),
          type: :tel,
          classes: ["form-width--name"],
          options: { maxlength: 11 }
          ) %>
      <%= f.cfa_input_field(
          :spouse_ssn_confirmation,
          "Re-enter SSN/ITIN",
          type: :tel,
          classes: ["form-width--name"],
          options: { maxlength: 11 }
          ) %>
    <% else %>
      <%= f.cfa_input_field(
          :spouse_last_four_ssn,
          t("general.last_four_ssn"),
          prefix: "XXX-XX-",
          type: :tel,
          classes: ["form-width--name field--last-four-ssn"],
          options: { maxlength: 4 }
          ) %>
    <% end %>
    <% if is_ctc %>
      <%= f.cfa_input_field(:spouse_ip_pin, t("general.ip_pin")) %>
    <% end %>
  </div>
</div>
