<% is_dropoff ||= false %>
<% is_ctc ||= false %>
<div id="primary-info">
  <div class="hub-form__card card-small">
    <h3><%= t("hub.clients.fields.primary_contact_info") %></h3>
    <%= f.cfa_input_field(:primary_first_name, t("hub.clients.fields.legal_first_name")) %>
    <%= f.cfa_input_field(:primary_last_name, t("hub.clients.fields.legal_last_name")) %>
    <%= f.cfa_input_field(:preferred_name, t("hub.clients.fields.preferred_name")) %>

    <% if is_ctc %>
      <%= f.hidden_field :timezone, value: current_user.timezone %>
    <% elsif is_dropoff %>
      <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options, selected: current_user.timezone) %>
    <% else %>
      <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>
    <% end %>

    <% unless is_dropoff %>
      <%= f.cfa_input_field(:interview_timing_preference, t("hub.clients.show.interview_timing_preference")) %>
    <% end %>

    <%= f.cfa_select(
            :preferred_interview_language,
            t("hub.clients.fields.preferred_interview_language"),
            language_options(only_locales: false),
            include_blank: true,
            selected: @form.preferred_interview_language
    ) %>

    <%= error_message(@form, :communication_preference) %>
    <div class="hub-form__input-with-checkbox">
      <%= f.cfa_input_field(:email_address, t("general.email")) %>
      <%= f.hub_checkbox(:email_notification_opt_in, t("general.opt_in_email"), options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>
    <div class="hub-form__input-with-checkbox">
      <%= f.cfa_input_field(:sms_phone_number, t("general.sms_phone_number")) %>
      <%= f.hub_checkbox(:sms_notification_opt_in, t("general.opt_in_sms"), options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>
    <% unless is_ctc %>
      <%= f.cfa_input_field(:phone_number, t("general.phone_number"),  classes: ["form-width--phone"]) %>
    <% end %>
    <% if is_ctc %>
      <%= f.cfa_input_field(
          :primary_ssn,
          t("general.ssn"),
          type: :tel,
          classes: ["form-width--name"],
          options: { maxlength: 11 }
          ) %>
      <%= f.cfa_input_field(
          :primary_ssn_confirmation,
          "Re-enter SSN/ITIN",
          type: :tel,
          classes: ["form-width--name"],
          options: { maxlength: 11 }
          ) %>
    <% else %>
      <%= f.cfa_input_field(
              :primary_last_four_ssn,
              t("general.last_four_ssn"),
              prefix: "XXX-XX-",
              type: :tel,
              classes: ["form-width--name field--last-four-ssn"],
              options: { maxlength: 4 }
          ) %>
    <% end %>
  </div>
</div>
