<h1 class="h2"><%= @main_heading %></h1>
<p>
  <%=t("views.shared.consent_agreement.information_you_provide") %>
</p>
<p>
  <%=t("views.shared.consent_agreement.terms_html", :privacy_link => link_to("www.GetYourRefund.org/privacy", privacy_path)) %>
</p>
<p>
  <%=t("views.shared.consent_agreement.proceed_and_confirm") %>
</p>
<div class="consent-details">
  <h2 class="h3"><%=t("views.shared.consent_agreement.details.header") %></h2>

  <p>
    <%= t("views.shared.consent_agreement.details.intro") %>
  </p>

  <h3 class="h4">
    <%= t("views.shared.consent_agreement.details.site_process_header") %>
  </h3>

  <% t("views.shared.consent_agreement.details.sections").each do |section| %>
    <strong><%= section[:header] %></strong>
    <% section[:content].each do |paragraph| %>
      <p><%= paragraph.html_safe %></p>
    <% end %>
  <% end %>
</div>

