<h1 class="h2"><%= @main_heading %></h1>
<p>
  <%=t("views.shared.consent_agreement.information_you_provide") %>
</p>
<p>
  <%=t("views.shared.consent_agreement.terms_html", :privacy_link => link_to("www.GetYourRefund.org/privacy", privacy_path)) %>
</p>
<p>
  <%=t("views.shared.consent_agreement.proceed_and_confirm") %>
</p>
<div class="consent-details">
  <h2 class="h3"><%=t("views.shared.consent_agreement.details.header") %></h2>

  <p>
    <%= t("views.shared.consent_agreement.details.intro") %>
  </p>

  <h3 class="h4">
    <%= t("views.shared.consent_agreement.details.site_process_header") %>
  </h3>

  <% t("views.shared.consent_agreement.details.sections").each do |section| %>
    <strong><%= section[:header] %></strong>
    <% section[:content].each do |paragraph| %>
      <p><%= paragraph.html_safe %></p>
    <% end %>
  <% end %>

  <strong>Securing Taxpayer Consent Agreement</strong>

  <p>
    <%=t("views.shared.consent_agreement.details.provide_required_info") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.collects_pii") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.interview_and_review") %>
  </p>

  <p>
    <%=t("views.shared.consent_agreement.details.intake_process") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.return_prep_process") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.quality_review_process") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.contacted") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.review_return") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.e_signature") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.responsible") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.irs") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.sign_below") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.efin") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.personal_tax_info") %>
  </p>
  <p>
    <%=t("views.shared.consent_agreement.details.carry_forward") %>
  </p>
</div>

