<div class="client-navigation tab-bar is-selected">
  <%= tab_navigation_link(t("hub.assigned_clients.index.title"), hub_assigned_clients_path) %>
  <%= tab_navigation_link(t("hub.clients.index.title"), hub_clients_path) %>
  <%= tab_navigation_link(t("hub.clients.urgent"), sla_breaches_hub_clients_path) %>
  <% if current_user.admin? %>
    <%= tab_navigation_link(t("hub.clients.unlinked_clients.title"), hub_unlinked_clients_path) %>
  <% end %>
  <% is_selected = locale_agnostic_current_path?(hub_user_notifications_path) ? " is-selected" : "" %>
  <%= link_to hub_user_notifications_path, class: "tab-bar__tab#{is_selected} tab-bar__notifications" do %>
    <%= t("hub.clients.navigation.notifications")%>
    <%= render 'shared/unread_icon', flag: true if current_user.notifications.unread.present? %>
  <% end %>
</div>
