<% is_ctc ||= false %>
<div id="dependents-fields" class="hub-form__card card-small">
  <h3><%= t("general.dependents") %></h3>
  <%= error_message(@form, :dependents_attributes) %>
  <div>
    <%= f.fields_for :dependents do |ff| %>
      <%= render "shared/dependent", f: ff, is_ctc: is_ctc %>
    <% end %>

    <%= link_to_add_fields t("views.shared.dependents_fields.add_dependent"), f, :dependents, { class: "button button--small", locals: { is_ctc: is_ctc } }, partial: "shared/dependent" %>
  </div>
</div>
