<div class="dependent-form hub-form__row align-center">
  <%= f.hidden_field :id %>
  <%= f.cfa_input_field :first_name, t("hub.clients.fields.legal_first_name"), classes: ["form-width--long"] %>
  <%= f.cfa_input_field :last_name, t("hub.clients.fields.legal_last_name"), classes: ["form-width--long"] %>
  <%= f.cfa_date_select(
          :birth_date,
          t("views.questions.consent.birth_date"),
          options: {
              start_year: Time.now.year,
              end_year: Time.now.year - 120,
          }
      ) %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields t("views.shared.dependents_fields.remove"), '.dependent-form', { class: "button button--inline-action"} %>
</div>

