<div class="rounded-box">
  <div class="service-card--title">
    <%= t("views.shared.diy_card.title") %>
  </div>
  <div class="service-card--body">
    <%= t("views.shared.diy_card.subtitle") %>
  </div>
  <div>
    <%= link_to t("general.get_started"), diy_file_yourself_path, class: "button text--centered button--wide button--no-margin" %>
  </div>
  <div class="service-card--list">
    <div class="service-card--list-item">
      <div class="document-list__icon-wrapper">
        <%= image_tag "chat.svg", alt: "" %>
      </div>
      <div class="document-list__item-text">
        <%= t("views.shared.diy_card.bullet_1") %>
      </div>
    </div>

    <div class="service-card--list-item">
      <div class="document-list__icon-wrapper">
        <%= image_tag "account_balance.svg", alt: "" %>
      </div>
      <div class="document-list__item-text">
        <%= t("views.shared.diy_card.bullet_2") %>
      </div>
    </div>

    <div class="service-card--list-item">
      <div class="document-list__icon-wrapper">
        <%= image_tag "timer.svg", alt: "" %>
      </div>
      <div class="document-list__item-text">
        <%= t("views.shared.diy_card.bullet_3") %>
      </div>
    </div>

    <div class="service-card--list-item">
      <div class="document-list__icon-wrapper">
        <%= image_tag "wifi.svg", alt: "" %>
      </div>
      <div class="document-list__item-text">
        <%= t("views.shared.diy_card.bullet_4") %>
      </div>
    </div>

    <div class="service-card--list-item">
      <div class="document-list__icon-wrapper">
        <%= image_tag "id.svg", alt: "" %>
      </div>
      <div class="document-list__item-text">
        <%= t("views.shared.diy_card.bullet_5_html") %>
      </div>
    </div>
  </div>
  <div class="reveal">
    <p><button class="reveal__button"><%= t("views.shared.diy_card.reveal_title")%></button></p>

    <div class="reveal__content">
      <div class="spacing-below-25">
        <%=t('views.shared.diy_card.reveal_body_1') %>
      </div>
      <div class="spacing-below-25">
        <%=t('views.shared.diy_card.reveal_body_2') %>
      </div>
      <div class="spacing-below-25">
        <%=t('views.shared.diy_card.reveal_body_3') %>
        <ul>
          <li><%=t('views.shared.diy_card.reveal_b1') %></li>
          <li><%=t('views.shared.diy_card.reveal_b2') %></li>
          <li><%=t('views.shared.diy_card.reveal_b3') %></li>
        </ul>
      </div>

      <div class="spacing-below-25 with-top-separator">
        <%=t('views.shared.diy_card.reveal_body_4') %>
        <ul>
          <li><%=t('views.shared.diy_card.reveal_b4') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>