<div class="rounded-box">
  <div class="service-card--title">
    <%= t("views.shared.diy_card.title") %>
  </div>
  <div class="service-card--body">
    <%= t("views.shared.diy_card.subtitle") %>
  </div>
  <div class="button-wrapper">
    <div>
      <%= link_to t("general.get_started"), diy_file_yourself_path, class: "button text--centered button--wide" %>
    </div>
  </div>
  <div class="service-card--list">
    <div class="service-card--list-item">
      <div class="service-card__icon-wrapper">
        <%= image_tag "chat.svg", alt: "" %>
      </div>
      <div class="service-card__item-text">
        <%= t("views.shared.diy_card.bullet_1") %>
      </div>
    </div>

    <div class="service-card--list-item">
      <div class="service-card__icon-wrapper">
        <%= image_tag "account_balance.svg", alt: "" %>
      </div>
      <div class="service-card__item-text">
        <%= t("views.shared.diy_card.bullet_2") %>
      </div>
    </div>

    <div class="service-card--list-item">
      <div class="service-card__icon-wrapper">
        <%= image_tag "timer.svg", alt: "" %>
      </div>
      <div class="service-card__item-text">
        <%= t("views.shared.diy_card.bullet_3") %>
      </div>
    </div>

    <div class="service-card--list-item">
      <div class="service-card__icon-wrapper">
        <%= image_tag "wifi.svg", alt: "" %>
      </div>
      <div class="service-card__item-text">
        <%= t("views.shared.diy_card.bullet_4") %>
      </div>
    </div>

    <div class="service-card--list-item">
      <div class="service-card__icon-wrapper">
        <%= image_tag "id.svg", alt: "" %>
      </div>
      <div class="service-card__item-text">
        <%= t("views.shared.diy_card.bullet_5_html") %>
      </div>
    </div>
  </div>
  <div class="reveal reveal--service-card">
    <p><button class="reveal__button"><%= t("views.shared.diy_card.reveal_title")%></button></p>

    <div class="reveal__content">
      <p class="spacing-below-15"><%=t('views.shared.diy_card.reveal_body_1') %></p>
      <p class="spacing-below-15"><%=t('views.shared.diy_card.reveal_body_2') %></p>
      <strong><%=t('views.shared.diy_card.reveal_body_3') %></strong>
      <ul class="list--bulleted no-bottom-margin-children">
        <li class="spacing-below-0"><%=t('views.shared.diy_card.reveal_b1') %></li>
        <li class="spacing-below-0"><%=t('views.shared.diy_card.reveal_b2') %></li>
        <li><%=t('views.shared.diy_card.reveal_b3') %></li>
      </ul>
      <strong><%=t('views.shared.diy_card.reveal_body_4') %></strong>
      <ul class="list--bulleted">
        <li class="spacing-below-0"><%=t('views.shared.diy_card.reveal_b4') %></li>
      </ul>
    </div>
  </div>
</div>
