<footer class="footer">
  <div class="slab slab--footer">
    <div class="grid">
      <div class="grid__item width-three-fourths footer-description">
        <p>
          <%= image_tag("checkbox-logo--white.png", alt: "") %>
        </p>
        <p>
          <%=t("views.shared.footer.service_description_html",
               :cfa_link => link_to("Code for America", "https://www.codeforamerica.org", target: "_blank", rel: "noopener", class: "footer__link"),
               :vita_link => link_to("VITA", "https://www.irs.gov/individuals/free-tax-return-preparation-for-you-by-volunteers", target: "_blank", rel: "noopener", class: "footer__link"))%>
        </p>
      </div>

      <ul class="grid__item width-one-fourth footer-links">
        <% if I18n.locale != :en %>
          <li>
            <%= link_to_english() %>
          </li>
        <% end %>
        <% if I18n.locale != :es %>
          <li>
            <%= link_to_spanish() %>
          </li>
        <% end %>
        <li>
          <%= link_to about_us_path do %>
            <%=t("views.public_pages.about_us.title") %>
          <% end %>
        </li>

        <li>
          <%= link_to faq_path do %>
            <%=t("views.public_pages.faq.title") %>
          <% end %>
        </li>

        <li>
          <%= link_to stimulus_path do %>
            <%=t("views.public_pages.stimulus_payment.title") %>
          <% end %>
        </li>

        <li>
          <%=mail_to "support@getyourrefund.org" %>
        </li>

        <li>
          <%= link_to vita_providers_path do %>
            <%=t("general.find_location") %>
          <% end %>
        </li>

        <li>
          <%= link_to privacy_path do %>
            <%=t("views.public_pages.privacy_policy.title") %>
          <% end %>
        </li>

        <li>
          <%= link_to "https://www.getyourrefundstatus.org/" do %>
            <%= t("views.shared.footer.service_status") %>
          <% end %>
        </li>

        <li>
          <%= link_to new_user_session_path do %>
            <%= t("views.shared.footer.volunteer_sign_in") %>
          <% end %>
        </li>

        <% unless Rails.env.production? %>
          <li><a href="https://walkthroughs-getyourrefund.github.io">Walkthroughs</a></li>
        <% end %>
      </ul>

    </div>
  </div>
</footer>
