<div class="field-display spacing-below-5">
  <span class="form-question"><%= "Score:" %></span>
  <span class="label-value"><%= fraud_score.score %></span>
</div>
<% if fraud_score.snapshot.present? %>
  <hr class="spacing-above-5 spacing-below-5">
  <% fraud_score.snapshot.each do |key, value| %>
  <% indicator = fraud_indicators.find { |indicator| indicator.name == key } %>
  <div class="field-display spacing-below-5">
    <span class="form-question"><%= key.humanize %>:</span>
    <span class="label-value"><%= value["points"] %> points</span>
    <br>
    <span style="font-size: smaller">
      <% if indicator.indicator_type == "duplicates" %>
        <i><%= indicator.reference&.humanize %>s:
          <% value["data"].each_with_index do |id, i| %>
            <%= link_to id, client_finder_hub_client_path(id: id, resource: indicator.reference) %><% unless (i+1 == value["data"].length) %>, <% end %>
          <% end %>
        </i>
      <% else %>
        <i><%= value["data"].join(", ") %></i>
      <% end %>
    </span>
  </div>
<% end %>
<% end %>