<header class="main-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <div class="toolbar__item main-header__title">
        <%= link_to home_link, class: "toolbar__logo-text main-header__logo" do %>
          <%= title %>
        <% end %>
      </div>
    </div>
    <div class="toolbar__right">
      <% if I18n.locale != :en %>
        <%= link_to_english(class: "toolbar__item text--small") %>
      <% end %>
      <% if I18n.locale != :es %>
        <%= link_to_spanish(class: "toolbar__item text--small") %>
      <% end %>
      <% if current_client.present? %>
        <%= form_with url: destroy_client_session_path, local: true, method: :delete, class: "toolbar__item text--small" do |f| %>
          <%= f.submit value: t("general.sign_out"), class: "button--link" %>
        <% end %>
      <% elsif @show_client_sign_in_link %>
        <%= link_to t("general.sign_in"), new_portal_client_login_path, class: "toolbar__item text--small" %>
      <% end %>
    </div>
  </div>
</header>
