<div class="main-header sticky-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <div class="toolbar__item main-header__title">
        <%= link_to home_link, class: "toolbar__logo-text main-header__logo" do %>
          <%= t("general.#{variation}") %>
        <% end %>
      </div>
      <% if variation == "gyr" %>
        <div class="toolbar__item is-mobile-hidden--inline">
          <%= link_to faq_path do %>
            <%= t("general.faq") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="toolbar__right is-mobile-hidden">
      <% if I18n.locale != :en %>
        <%= link_to_english(class: "toolbar__item text--small") %>
      <% end %>
      <% if I18n.locale != :es %>
        <%= link_to_spanish(class: "toolbar__item text--small") %>
      <% end %>
      <% if current_client.present? %>
        <%= form_with url: destroy_client_session_path, local: true, method: :delete, class: "toolbar__item text--small text--bold" do |f| %>
          <%= f.submit value: t("general.sign_out"), class: "button--link" %>
        <% end %>
      <% else %>
        <%= link_to t("general.login"), new_portal_client_login_path, class: "toolbar__item text--small text--bold" %>
        <% if !@in_intake_flow && @get_started_link.present? %>
          <%= link_to t("general.get_started"), @get_started_link, class: "toolbar__item button button--toolbar button--small is-mobile-hidden--inline" %>
        <% end %>
      <% end %>
    </div>
    <a data-component="ClientMenuTrigger" class="client-menu-trigger is-desktop-hidden toolbar__item text--small">Menu</a>
    <a class="is-desktop-hidden client-menu-closer" data-component="ClientMenuCloser">
      <%= image_tag "icons/close.svg"%>
    </a>
  </div>
</div>
