<header class="main-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <div class="toolbar__item main-header__title">
        <%= link_to hub_root_path, class: "toolbar__logo-text main-header__logo" do %>
          The Hub
        <% end %>
      </div>
    </div>
    <div class="toolbar__right">
      <% if I18n.locale != :en %>
        <%= link_to_english(class: "toolbar__item text--small") %>
      <% end %>
      <% if I18n.locale != :es %>
        <%= link_to_spanish(class: "toolbar__item text--small") %>
      <% end %>
      <% if current_user %>
        <%= link_to hub_user_profile_path, class: "toolbar__item" do %>
          <%= t("views.layouts.admin.welcome_user_html", :name => current_user.name) %>
        <% end %>

        <%= form_with url: destroy_user_session_path, local: true, method: :delete, class: "toolbar__item" do |f| %>
          <%= f.submit value: t("general.sign_out"), class: "button--link" %>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
