<button type="button" class="open-intercom button--intercom-blue button--intercom ">
  <%= image_tag("intercom-chat.svg", "aria-hidden": "true", class: "") %>
  <%= I18n.t("general.intercom_cta") %>
</button>

<script>
    const hasIntake = <%= current_intake&.id.present? %>;
    // https://developers.intercom.com/installing-intercom/docs/javascript-api-attributes-objects#section-data-attributes
    let intercomSettings = {
        app_id: "<%= Rails.configuration.intercom_app_id_statefile %>",
        custom_launcher_selector: ".open-intercom",
        language_override: "<%= I18n.locale %>",
        hide_default_launcher: true,
    };
    // avoid sending an empty string for user_id
    if (hasIntake) {
        intercomSettings.user_id = "<%= "#{current_intake&.state_code}#{current_intake&.id}" %>";
        intercomSettings.email = "<%= current_intake&.email_address %>"
        intercomSettings.name = "<%= "#{current_intake&.primary_first_name} #{current_intake&.primary_last_name}" %>";
        intercomSettings.state = "<%= params[:us_state]%>"
        intercomSettings.user_hash = "<%= IntercomService.generate_statefile_user_hash("#{current_intake&.state_code}#{current_intake&.id}") %>"
    }
    window.intercomSettings = intercomSettings;

    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='<%="https://widget.intercom.io/widget/#{Rails.configuration.intercom_app_id_statefile}"%>';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
