<% status_updatable ||= false %>
<% tax_return_creatable ||= false %>
<% show_checkboxes ||= false %>

<ul class="tax-return-list">
  <% client.tax_returns.sort_by(&:year).each do |tax_return| %>
    <li id="tax-return-<%= tax_return.id %>">
      <div class="tax-return-list__assignment">
        <div class="tax-return-list__year">
          <%= tax_return.year %>
        </div>
        <div class="tax-return-list__service-type">
          <% if tax_return.service_type == "drop_off" %>
            <span class="tooltip" data-position="bottom" title="<%= t("general.drop_off") %>">
              <%= image_tag("file-earmark.svg", alt: "") %>
              <span class="sr-only"><%= t("general.drop_off") %></span>
            </span>
          <% end %>
        </div>

        <div class ="tax-return-list__assignee">
          <%= render "hub/tax_returns/assignee", tax_return: tax_return, editable: client.editable? %>
        </div>
      </div>
      <div class="tax-return-list__right">
        <div class="tax-return-list__certification">
          <% if params[:update_cert] && params[:tax_return_id]&.to_i == tax_return.id %>
            <%= render "shared/tax_return_certification_form", tax_return: tax_return %>
          <% else %>
            <% if status_updatable %>
              <%= link_to update_cert: true, tax_return_id: tax_return.id do %>
                <%= certification_label(tax_return) %>
              <% end %>
            <% else %>
              <%= certification_label(tax_return) %>
            <% end %>
          <% end %>
        </div>

        <% if status_updatable %>
          <%= form_with model: tax_return, url: edit_take_action_hub_client_path(id: tax_return.client.id), method: :get, local: true, builder: VitaMinFormBuilder, html: {class: "tax-return-list__status-form form-wrapper"} do |f| %>
            <%= f.hidden_field "id", value: tax_return.id %>
            <%= f.cfa_select(:state, t("general.status"), grouped_status_options_for_select, hide_label: true) %>
            <%= f.submit t("general.update"), class: "button"%>
          <% end %>
        <% else %>
          <div>
             <%= render 'shared/tax_return_status_label', tax_return: tax_return %>
          </div>
        <% end %>
      </div>
      <% if show_checkboxes %>
        <div class="bulk-action-checkbox checkbox--gyr">
              <!-- Using form attribute to connect to a form elsewhere on the page -->
              <input id="tr_ids_<%= tax_return.id %>" type="checkbox" name="tr_ids[]" form="take-action-form" value="<%= tax_return.id %>">
              <label class="sr-only" for="tr_ids_<%= tax_return.id %>"><% t('views.shared.tax_return_list.select_tax_return', tax_year: tax_return.year) %></label>
          </div>
      <% end %>
    </li>
  <% end %>
  <% if tax_return_creatable && client.tax_returns.length != TaxReturn.filing_years.length %>
    <%= link_to t("views.shared.tax_return_list.add_tax_year"), new_hub_client_tax_return_path(client_id: client.id), class: "button button--small" %>
  <% end %>
</ul>
