<% content_for :page_title, "#{@client.preferred_name}, ##{@client.id}" %>

<% content_for :card do %>
  <div class="header">
    <h1 class="h2">
      <%= @client.preferred_name %>
    </h1>
    <h2>#<%= @client.id %></h2>
    <h3>Email: <%= @client.email_address %></h3>
    <h3>Phone: <%= @client.phone_number %></h3>
    <h3>Phone for texting: <%= @client.sms_phone_number %></h3>
  </div>
  <h2>Contact History</h2>
  <% if @contact_history.present? %>
  <ul class="contact-history">
    <% @contact_history.each do |contact_record| %>
      <li class="contact-record contact-record--<%= contact_record.contact_record_type %>">
        <div class="contact-record__heading">
          <span class="contact-record__name">
            <%= contact_record.author %>
          </span>
          <span class="contact-record__time">
            <%= contact_record.datetime %>
          </span>
          <% if contact_record.contact_record_type == :outgoing_text_message %>
            <span class="contact-record__status">
              <%= contact_record.twilio_status || "sending..." %>
            </span>
          <% end %>
          <% if contact_record.contact_record_type == :outgoing_email %>
            <div class="contact-record__subject">
              <%= contact_record.subject %>
            </div>
          <% end %>
        </div>
        <div class="contact-record__body">
          <%= contact_record.body %>
        </div>
      </li>
    <% end %>
  </ul>
  <% end %>
  <div style="text-align: right; width: 100%;">
    <%= form_with url: clients_send_text_path, local: true, builder: VitaMinFormBuilder, method: "post", html: { class: 'form-card form-card--long' } do |f| %>
      <%= label_tag(:body, "Send text message:") %>
      <%= text_field_tag(:body) %>
      <input type="hidden" name="client_id" value="<%= @client.id %>" />
      <button class="button" type="submit">
        Send
      </button>
    <% end %>
  </div>
<% end %>
