<% content_for :page_title, "Great work! Here's a list of what we've collected." %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <h1 class="form-question">
            <%= content_for(:page_title) %>
          </h1>

          <p class="text--help">
            When you’re done sharing the documents you have, we’ll schedule an appointment with your tax preparer.
          </p>

          <div class="document-overview-list">
            <% documents_by_type = @documents.group_by(&:document_type) %>
            <% recommended_document_types.each do |type| %>
              <% documents = documents_by_type[type] || [] %>
              <%= image_tag "paper.svg", alt: "", class: "document-overview-list__icon" %><h2 class="h3 document-overview-list__heading">
                <%= type %>
              </h2>

              <%= link_to 'edit', edit_document_path(type), class: "button button--inline-action" %>

              <ul class="document-overview-list__filenames">
                <% if documents.empty? %>
                  <li><em>No documents of this type were uploaded.</em></li>
                <% end %>
                <% documents.each do |document| %>
                  <li>
                    <%= document.upload.filename %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <%= link_to interview_scheduling_questions_path, class: "button button--icon button--wide button--primary" do %>
            <%= image_tag "checkmark--white.svg", alt: "" %>
            I've shared all my documents
          <% end %>
        </main>
      </div>
    </div>
  </section>
<% end %>
