<% content_for :page_title, t("state_file.questions.shared.review_header.title") %>
<% content_for :card do %>
  <%= render "state_file/questions/shared/review_header" %>

  <section class="review-section">
    <p class="section-header"><%= t(".state_details_title") %></p>
    <% if current_intake.total_purchase_amount.present? %>
      <div id="sales-use-tax" class="white-group">
        <div class="spacing-below-5">
          <p class="text--bold spacing-below-5"><%= t(".purchases_without_sales_tax") %></p>
          <p><%= number_to_currency(current_intake.total_purchase_amount) %></p>
          <%= link_to t("general.edit"), StateFile::Questions::IdSalesUseTaxController.to_path_helper(return_to_review: 'y'), class: "button--small" %>
        </div>
      </div>
    <% end %>

    <div id="health-insurance-premium" class="white-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%=t(".health_insurance_premium_title") %></p>
        <p><%=number_to_currency(current_intake.health_insurance_paid_amount || 0, precision: 2)%></p>
        <%= link_to t("general.edit"), StateFile::Questions::IdHealthInsurancePremiumController.to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>

    </div>

    <div id="grocery-credit-amount" class="white-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%=t(".idaho_grocery_credit") %></p>
        <p><%= number_to_currency(current_intake.calculator.grocery_credit_amount || 0, precision: 2) %></p>
        <%= link_to t("general.edit"), StateFile::Questions::IdGroceryCreditController.to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  </section>

  <% if current_intake.has_filing_requirement? && !current_intake.has_blind_filer? %>
    <div id="permanent-building-fund" class="white-group">
      <div class="spacing-below-5">
        <p class="text--bold spacing-below-5"><%=t(".permanent_building_fund_tax") %></p>
        <p><%= current_intake.received_id_public_assistance_no? ? t("general.affirmative") : t("general.negative") %></p>
        <%= link_to t("general.edit"), StateFile::Questions::IdPermanentBuildingFundController  .to_path_helper(return_to_review: "y"), class: "button--small" %>
      </div>
    </div>
  <% end %>

  <div id="charitable-donations" class="white-group">
    <div class="spacing-below-5">
      <p class="text--bold spacing-below-5"><%= t(".voluntary_charitable_donations") %></p>
      <p class="text spacing-below-2"><%= t(".donations_optional") %></p>

      <% donation_lines = {
        "state_file.questions.id_donations.edit.nongame_wildlife_fund_donation" => current_intake.nongame_wildlife_fund_donation,
        "state_file.questions.id_donations.edit.childrens_trust_fund_donation" => current_intake.childrens_trust_fund_donation,
        "state_file.questions.id_donations.edit.special_olympics_donation" => current_intake.special_olympics_donation,
        "state_file.questions.id_donations.edit.guard_reserve_family_donation" => current_intake.guard_reserve_family_donation,
        "state_file.questions.id_donations.edit.american_red_cross_fund_donation" => current_intake.american_red_cross_fund_donation,
        "state_file.questions.id_donations.edit.veterans_support_fund_donation" => current_intake.veterans_support_fund_donation,
        "state_file.questions.id_donations.edit.food_bank_fund_donation" => current_intake.food_bank_fund_donation,
        "state_file.questions.id_donations.edit.opportunity_scholarship_program_donation" => current_intake.opportunity_scholarship_program_donation
      } %>

      <% if donation_lines.values.all? { |amount| amount.nil? || amount.zero? } %>
        <p class="text"><%= t(".no_donations_selected").html_safe %></p>
    <% else %>
        <% donation_lines.each do |translation_key, amount| %>
          <% if amount.present? && amount.positive? %>
            <p class="text--bold spacing-below-5"><%= t(translation_key) %></p>
            <p><%= number_to_currency(amount, precision: 2) %></p>
          <% end %>
        <% end %>
      <% end %>

      <%= link_to t("general.review_and_edit"), StateFile::Questions::IdDonationsController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <div id="details" class="reveal">
    <p><button class="reveal__button"><%= t("state_file.general.see_detailed_return") %></button></p>
    <div class="reveal__content">
      <div class="spacing-below-25 with-top-separator">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_fed_agi") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_7)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_child_care_expenses") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID39R_B_LINE_6)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_health_insurance") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID39R_B_LINE_18)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_social_security_income") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID39R_B_LINE_7)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_retirement_benefits") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID39R_B_LINE_8f)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_interest_income") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID39R_B_LINE_3)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_adjusted_income") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_11)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_standard_deduction") %></p>
<!--        <p><%#= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_16)) %></p>-->
        WIP
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_taxable_income") %></p>
<!--        <p><%#= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_19)) %></p>-->
        WIP
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_tax") %></p>
<!--        <p><%#= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_20)) %></p>-->
        WIP
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_child_tax_credit") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_25)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_use_tax") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_29)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_building_fund_tax") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_32A)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_tax_after_credits") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_33)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_total_tax_plus_donations") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_42)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_tax_withheld") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_46)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_grocery_credit") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_43)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.id_total_payments") %></p>
<!--        <p><%#= number_to_currency(current_intake.calculator.line_or_zero(:ID40_LINE_50)) %></p>-->
        WIP
      </div>
    </div>
  </div>

  <%= render "state_file/questions/shared/review_footer" %>
<% end %>
