<div class="slab">
  <div class="grid-flex contained">
    <div>
      <%= link_to "##{@verification_attempt.client.id}", hub_client_path(id: @verification_attempt.client.id) , target: :_blank %>
      <h1 class="spacing-above-0"><%= @verification_attempt.client.legal_name %></h1>
      <ul>
        <% @form.fraud_indicators.each do |indicator| %>
          <li><%= indicator.humanize %></li>
        <%end %>
      </ul>

      <div class="grid-flex contained">
        <% if @verification_attempt.selfie.present? %>
          <div class="item-15r">
            <%= image_tag transient_storage_url(@verification_attempt.selfie.blob), id: "selfie" %>
          </div>
        <% end %>
        <% if @verification_attempt.photo_identification.present? %>
          <div>
            <%= image_tag transient_storage_url(@verification_attempt.photo_identification.blob), id: "photo_id" %>
          </div>
        <% end %>
      </div>

      <h2>Notes:</h2>
      <ul class="no-bullets" id="verification-attempt-notes">
        <% @verification_attempt.notes.each do |note| %>
          <li>
            <div class="note">
              <div class="note__heading">
                <div class="note__author">
                  <%= note.user.name %>
                </div>
                <div class="note__time">
                  <%= timestamp(note.created_at) %>
                </div>
              </div>
              <div class="note__body">
                <%= note.body %>
              </div>
            </div>
          </li>
        <% end %>

        <%= form_for @form, url: hub_verification_attempt_path(id: @verification_attempt.id), method: :patch, builder: VitaMinFormBuilder, html: { class: "note-form" } do |f| %>
          <%= f.cfa_textarea :body, "Add a new note" %>
          <div>
            <%= f.submit "Save", class: "button button--primary" %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>