<div class="breadcrumb">
  <%= link_to "All verifications", hub_verification_attempts_path, class: "breadcrumb-item" %>
</div>

<div class="slab slab--half-padded">
  <div class="grid-flex contained verification-attempts-show">
    <div class="verification-attempts-show__container">
      <%= link_to "##{@verification_attempt.client.id}", hub_client_path(id: @verification_attempt.client.id) , target: :_blank %>
      <div class="grid-flex space-between">
        <h1 class="spacing-above-5"><%= @verification_attempt.client.legal_name %></h1>
        <div>
          <div class="label"><%= @verification_attempt.current_state.humanize %></div>
        </div>
      </div>

      <ul class="item-40l">
        <% @form.fraud_indicators.each do |indicator| %>
          <li><%= indicator.humanize %></li>
        <%end %>
      </ul>

      <% if @verification_attempt.client_bypass_request.present? %>
        <div class="note">
          <div class="note__body">
            <%= simple_format(@verification_attempt.client_bypass_request) %>
          </div>
        </div>
      <% else %>
        <div class="grid-flex container">
          <% if @verification_attempt.selfie.present? %>
            <div class="item-15r">
              <%= image_tag transient_storage_url(@verification_attempt.selfie.blob), id: "selfie" %>
            </div>
          <% end %>
          <% if @verification_attempt.photo_identification.present? %>
            <div class="item-15r">
              <%= image_tag transient_storage_url(@verification_attempt.photo_identification.blob), id: "photo_id" %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @previous_verification_attempts.present? %>
          <div class="form-question"><%= "Previous Attempts: "%> </div>
            <%@previous_verification_attempts.each do |attempt|%>
              <div class="grid-flex space-between verification-attempts-show__previous-attempt" id="previous-verification-attempt-<%= attempt.id %>">
                <div class="grid-flex">
                  <div class="item-15r">
                    <% if attempt.selfie.representable? %>
                      <%= image_tag attempt.selfie.representation(resize: "90x90"), alt: "" %>
                    <% else %>
                      <%= image_tag "document.svg", alt: "" %>
                    <% end %>
                  </div>
                  <div class="item">
                    <% if attempt.photo_identification.representable? %>
                      <%= image_tag attempt.photo_identification.representation(resize: "90x90"), alt: "" %>
                    <% else %>
                      <%= image_tag "document.svg", alt: "" %>
                    <% end %>
                  </div>
                </div>
                <div>
                  <div class="spacing-below-0"><%= link_to "#{timestamp(attempt.created_at)}", hub_verification_attempt_path(id:attempt.id), id: "time" %></div>
                  <div class="grid-flex justify-flex-end spacing-above-10">
                    <div class="label"><%= attempt.current_state %></div>
                  </div>
                </div>
              </div>
            <% end %>
          <%end %>

      <ul class="no-bullets" id="verification-attempt-notes">
        <% @verification_attempt.transitions.each do |transition| %>
          <li>
            <div class="note">
              <div class="note__heading">
                <div class="note__author note__weight-normal">
                  <% if transition.to_state == 'requested_replacements'%>
                    <%= transition.initiated_by&.name_with_role %> <strong><%= I18n.t("messages.new_photos_requested.admin_note") %></strong>
                  <%else%>
                    <%= transition.initiated_by&.name_with_role %> <strong><%= transition.to_state %></strong> verification attempt.
                  <%end %>
                </div>
                <div class="note__time">
                  <%= timestamp transition.created_at %>
                </div>
              </div>
              <% if transition.note.present? %>
                <div class="note__body">
                  <%= simple_format transition.note %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <% content_for :sticky_action_footer do %>
        <% if @verification_attempt.current_state == "escalated" && !@form.can_handle_escalations? %>
          <div class="flash--warning slab slab--half-padded verification-attempts-show__actions">
            Your role does not have permissions to take action on this escalated verification attempt.
          </div>
        <% else %>
          <div class="slab slab--half-padded verification-attempts-show__footer-border">
            <div class="grid-flex contained">
              <div class="verification-attempts-show__container spacing-above-15 verification-attempts-show__actions">
                <%= form_for @form, url: hub_verification_attempt_path(id: @verification_attempt.id), method: :patch, builder: VitaMinFormBuilder, html: { class: "note-form verification-attempts-show__form" } do |f| %>
                  <% if @form.can_write_note? %>
                    <div>
                      <%= f.cfa_textarea :note, "Add a new note", classes: ["textarea--short"] %>
                    </div>
                  <% end %>
                  <div>
                    <% if @verification_attempt.can_transition_to? :approved %>
                      <%= f.submit "Approve", formaction: hub_verification_attempt_path(id: @verification_attempt.id, state: "approved"), class: "button button--primary", id: "approve" %>
                    <% end %>
                    <% if @verification_attempt.can_transition_to? :denied %>
                      <%= f.submit "Deny and Close", formaction: hub_verification_attempt_path(id: @verification_attempt.id, state: "denied"), class: "button button--primary", id: "deny" %>
                    <% end %>
                    <% if @verification_attempt.can_transition_to? :escalated %>
                      <%= f.submit "Escalate", formaction: hub_verification_attempt_path(id: @verification_attempt.id, state: "escalated"), class: "button button--primary", id: "escalate" %>
                    <% end %>
                    <% if @verification_attempt.can_transition_to? :requested_replacements %>
                      <%= f.submit "Request replacement photos", formaction: hub_verification_attempt_path(id: @verification_attempt.id, state: "requested_replacements"), class: "button button--primary", id: "request_replacement"%>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
