<div class="slab">
  <div class="grid-flex contained">
    <div>
      <%= link_to "##{@verification_attempt.client.id}", hub_client_path(id: @verification_attempt.client.id) , target: :_blank %>
      <div class="grid-flex space-between">
        <h1 class="spacing-above-5"><%= @verification_attempt.client.legal_name %></h1>
        <div>
          <div class="label"><%= @verification_attempt.current_state %></div>
        </div>
      </div>

      <ul class="item-40l">
        <% @form.fraud_indicators.each do |indicator| %>
          <li><%= indicator.humanize %></li>
        <%end %>
      </ul>

      <div class="grid-flex contained">
        <% if @verification_attempt.selfie.present? %>
          <div class="item-15r">
            <%= image_tag transient_storage_url(@verification_attempt.selfie.blob), id: "selfie" %>
          </div>
        <% end %>
        <% if @verification_attempt.photo_identification.present? %>
          <div>
            <%= image_tag transient_storage_url(@verification_attempt.photo_identification.blob), id: "photo_id" %>
          </div>
        <% end %>
      </div>

      <ul class="no-bullets" id="verification-attempt-notes">
        <% @verification_attempt.transitions.each do |transition| %>
          <li>
            <div class="note">
              <div class="note__heading">
                <div class="note__author note__weight-normal">
                  <%= transition.initiated_by&.name_with_role %> <strong><%= transition.to_state %></strong> verification attempt.

                </div>

                <div class="note__time">
                  <%= timestamp transition.created_at %>
                </div>
              </div>
              <% if transition.note.present? %>
                <div class="note__body">
                  <%= simple_format transition.note %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>

      <div>
        <%= form_for @form, url: hub_verification_attempt_path(id: @verification_attempt.id), method: :patch, builder: VitaMinFormBuilder, html: { class: "note-form" } do |f| %>
          <div>
            <%= f.cfa_textarea :note, "Add a new note", classes: ["textarea--short"] %>
          </div>
          <div>
            <%= f.submit "Approve", formaction: hub_verification_attempt_path(id: @verification_attempt.id, state: "approved"), class: "button button--primary" %>
            <%#= f.submit "Deny and Close", formaction: hub_verification_attempt_path(id: @verification_attempt.id, state: "denied"), class: "button button--primary" %>
            <%#= f.submit "Escalate", formaction: hub_verification_attempt_path(id: @verification_attempt.id, state: "escalated"), class: "button button--primary" %>
            <%#= f.submit "Request replacement photos", formaction: hub_verification_attempt_path(id: @verification_attempt.id, state: "requested_replacements"), class: "button button--primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
