<% content_for :page_title, t(".title") %>

<% content_for :card do %>
  <section class="slab slab--padded">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <h1 class="h1"><%= t(".title") %></h1>
        <p><%= t(".choose_operation") %></p>
        <div class="link-table">
          <div class="link-table__row">
            <div class="link-table__link">
              <%= link_to t(".change_organization"), hub_bulk_actions_edit_change_organization_path(client_selection_id: params[:id]) %>
            </div>
            <p class="link-table__description"><%= t(".change_organization_description_html", count: @client_count) %></p>
          </div>
          <div class="link-table__navigation">
            <%= link_to t("general.cancel"), :back, class: "button" %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

