<div class="form-warnings">
  <% if inaccessible_client_count.nonzero? %>
    <p class="text--bold text--help">
      <i class="icon-warning"></i>
      <%= t(".inaccessible_clients_warning", count: inaccessible_client_count) %>
    </p>
  <% end %>

  <% if locale_counts.values.sum == 0 %>
    <p class="text--bold text--help">
      <i class="icon-warning"></i>
      <%= t(".all_no_contact_info_warning") %>
    </p>
  <% elsif no_contact_info_count.nonzero? %>
    <p class="text--bold text--help">
      <i class="icon-warning"></i>
      <%= t(".no_contact_info_warning", count: no_contact_info_count) %>
    </p>
  <% end %>
</div>

<% if locale_counts["en"].nonzero? %>
  <%= f.cfa_textarea(
        :message_body_en,
        t(".message_label_text_en"),
        help_text: t(".message_help_text_en_html", count: locale_counts["en"]),
        ) %>
<% end %>
<% if locale_counts["es"].nonzero? %>
  <%= f.cfa_textarea(
        :message_body_es,
        t(".message_label_text_es"),
        help_text: t(".message_help_text_es_html", count: locale_counts["es"]),
        ) %>
<% end %>

<%= f.cfa_textarea :note_body, t(".note_body_label"), help_text: t(".note_body_help_text"), classes: ["spacing-below-35"] %>
