<% title = t(".title", owed_amount: taxes_owed) %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2">
    <%= title %>
  </h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: {class: 'form-card form-card--long'} do |f| %>
    <div class="question-with-follow-up">
      <div class="question-with-follow-up__question">
        <%= f.cfa_radio_set(
          :payment_or_deposit_type,
          collection: [
            { value: :mail, label: t(".pay_mail_online_html",
                                               pay_mail_online_link: pay_mail_online_link,
                                               pay_mail_online_text: pay_mail_online_text,
                                               ) },
            { value: :direct_deposit, label: t(".pay_bank"), input_html: { "data-follow-up": "#pay-from-bank" } },
          ]
        ) %>
      </div>
      <div class="question-with-follow-up__follow-up" id="pay-from-bank">
        <div class="question-with-follow-up">
          <div class="question-with-follow-up__question">
              <div class="form-card__content">
                <h1 class="h2">
                  <%= t(".bank_title") %>
                </h1>
                <%= f.cfa_input_field(:withdraw_amount, t('.withdraw_amount', owed_amount: taxes_owed), classes: ["form-width--long"]) %>
                <p>
                  <%= image_tag("icons/exclamation.svg", alt: "") %>
                  <strong>
                    <%= t(".payment_notice", owed_amount: taxes_owed, pay_url: pay_mail_online_link) %>
                  </strong>
                </p>

                <div class="date-select">
                  <%= f.cfa_date_select(
                        :date_electronic_withdrawal,
                        t(".date_withdraw_text"),
                        options: {
                          start_year: Time.now.year,
                          end_year: Time.now.year,
                        }
                      ) %>
                </div>

                <%= f.cfa_input_field(:bank_name, t('.bank_name'), classes: ["form-width--long"]) %>

                <%= f.cfa_radio_set(
                      :account_type,
                      label_text: t('.account_type_description'),
                      collection: [
                        { value: :checking, label: t(".checking")},
                        { value: :savings, label: t(".savings")},
                      ]
                    ) %>

                <%= f.cfa_input_field(:routing_number, t(".routing_number"), classes: ["form-width--long"]) %>
                <%= f.cfa_input_field(:routing_number_confirmation, t(".confirm_routing_number"), classes: ["form-width--long"]) %>
                <%= f.cfa_input_field(:account_number, t(".account_number"), classes: ["form-width--long"]) %>
                <%= f.cfa_input_field(:account_number_confirmation, t(".confirm_account_number"), classes: ["form-width--long"]) %>
                <p class="spacing-above-25"><strong><%= t(".double_check") %></strong></p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <%= f.continue %>
  <% end %>
<% end %>
