<% content_for :page_title, t(".page_title", owed_amount: taxes_owed, state_name: States.name_for_key(params[:us_state].upcase)) %>
<% content_for :card do %>
  <h1 class="h2">
    <%= t(".title_html", owed_amount: taxes_owed, state_name: States.name_for_key(params[:us_state].upcase)) %>
  </h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up">
      <div class="question-with-follow-up__question blue-group">
        <%= f.cfa_radio_set(
          :payment_or_deposit_type,
          collection: [
            { value: :direct_deposit, label: t(".pay_bank"), input_html: { "data-follow-up": "#pay-from-bank" } },
            { value: :mail, label: t(".pay_mail_online_html",
                                               pay_mail_online_link: pay_mail_online_link,
                                               pay_mail_online_text: pay_mail_online_text,
                                               ) },
          ]
        ) %>
      </div>
      <div class="question-with-follow-up__follow-up" id="pay-from-bank">
        <div class="question-with-follow-up">
          <div class="question-with-follow-up__question">
            <%= render 'state_file/questions/tax_refund/bank_details', form: f, owe_taxes: true %>
          </div>
        </div>
      </div>
    </div>
    <%= f.continue %>
  <% end %>
<% end %>

<% content_for :script do %>
  <%= render 'shared/disable_copy_paste' %>
<% end %>
