<% content_for :page_title, "Let’s check a few things." %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35" id="demographic_primary_race_question">
      <%= content_for(:page_title) %>
    </h1>
    <p>
      We have a few additional questions to determine if you qualify for our services.
    </p>
    <p>
      <strong>
        Please check any situation that applies to you.
      </strong>
    </p>
    <div class="form-card__stacked-checkboxes spacing-above-0">
      <%= f.cfa_checkbox(:had_rental_income, "I earned money from a rental property", options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:had_farm_income, "I earned money from owning a farm", options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:income_over_limit, "I earned more than $60,000 in 2019", options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      Continue
    </button>
  <% end %>
<% end %>