<% title = t("state_file.questions.spouse_state_id.edit.title_html") %>
<% content_for :page_title, title %>

<%# Must be above :card content_for %>
<% content_for :info_box do %>
  <div class="reveal">
    <p><button class="reveal__button"><%= t(".why_ask_this") %></a></p>
    <div class="reveal__content">
      <div class="with-top-separator">
        <p>
          <%=  t('.protect_identity') %>
        </p>
        <p>
          <%= t('.encourage_sharing') %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <%= render 'state_file/questions/ny_primary_state_id/state_id', options: {
    info_link: "https://www.ncdot.gov/dmv/license-id/Pages/new-license-id-cards.aspx"
  } %>
<% end %>
