<%
  title = t(".title", filing_year: current_tax_year)
  content_for :page_title, title
%>

<% content_for :card do %>
  <h1 class="h2"><%= t(".title") %></h1>
  <%= t(".description_html", two_percent_of_income: number_to_currency(current_intake.medical_expenses_threshold)) %>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="white-group">
      <%= f.vita_min_money_field(
        :medical_expenses,
        t('.label', filing_year: current_tax_year),
        classes: ["form-width--long"],
        options: { placeholder: "0" }
    ) %>
    </div>

    <p><em><%= t(".do_not_claim") %></em></p>

    <div class="reveal">
        <h2 style="margin-bottom: 0">
            <button class="reveal__button" aria-controls="nj-medical-details" aria-expanded="false">
                <%= t('.learn_more_title') %>
            </button>
        </h2>
        <div class="reveal__content" id="nj-medical-details">
            <%= t('.learn_more_html') %>
        </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>
