<% title = t('.title', grocery_credit_amount: grocery_credit_amount) %>

<% content_for :page_title, t('.title', grocery_credit_amount: grocery_credit_amount) %>

<% content_for :card do %>
  <h1 class="h2"><%= t('.title_html', grocery_credit_amount: grocery_credit_amount) %></h1>

  <%= form_with model: @form, url: { action: :update }, method: :put, local: true, builder: VitaMinFormBuilder, class: 'form-card' do |f| %>
    <div class="white-group">
      <p class="spacing-below-0"><%= t(".would_you_like_to_donate") %></p>
      <%=
        f.cfa_radio_set(
          :donate_grocery_credit,
          collection: [
            { value: :yes, label: t("general.affirmative") },
            { value: :no, label: t("general.negative") },
          ]
        )
      %>

      <div class="notice spacing-below-0">
        <p><%= t('.donate_warning_p1') %>
        <p><%= t('.donate_warning_p2') %>
      </div>
    </div>

    <div class="reveal">
      <p><button class="reveal__button"><%= t('.donate_impact_heading') %></button></p>
      <div class="reveal__content">
        <p><%= t('.donate_impact_content_p1') %></p>
        <p><%= t('.donate_impact_content_p2') %></p>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>
