<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <h1><%= @main_heading %></h1>
      <p>Type the message you want to send to the uploaded signups. The messages will send immediately.</p>

      <%= form_with model: @bulk_signup_message, local: true, url: { action: :create }, builder: VitaMinFormBuilder do |f| %>
        <%= f.hidden_field(:message_type, value: @message_type) %>
        <%= f.hidden_field(:signup_selection_id, value: @signup_selection.id) %>
        <% if @message_type == 'email' %>
          <%= f.cfa_input_field(:subject, "Subject") %>
        <% end %>
        <%= f.cfa_textarea(:message, "Message", help_text: "Immediately send a message to the selected signups") %>
        <%= f.submit(t("general.submit")) %>
      <% end %>
    </div>
  </div>
<% end %>
