<h2>Unique Links</h2>

<% if @success_message %>
  <p aria-live="assertive" class="sr-only"><%= @success %></p>
<% end %>

<ul class="organization-list">
  <% form.vita_partner.source_parameters.each do |sp| %>
    <% next unless sp.id.present? %>
    <li id="<%= "source-param-#{sp.id}" %>">
      <%= sp.code %>
      <%= link_to t("general.delete"), hub_source_param_path(id: sp.id), method: :delete, remote: true, "data-confirm": I18n.t("hub.source_params.confirm", code: sp.code, name: form.vita_partner.name), class: "button button--small spacing-below-0" %>
    </li>
  <% end %>
</ul>

<%= form_with model: form, url: hub_source_params_path(vita_partner_id: form.vita_partner_id), builder: VitaMinFormBuilder do |f| %>
  <div>
    <%= f.cfa_input_field :code, "Unique link", classes: ["form-width--short"] %>
    <div>
      <%= f.submit t("general.save"), class: "button button--cta button--wide" %>
    </div>
  </div>
<% end %>
