<% content_for :form_question, t("views.ctc.questions.dependents.child_claim_anyway.title", name: @form.dependent.first_name&.titleize) %>
<% content_for :form_help_text do %>
  <p class="text--bold"><%= t("views.ctc.questions.dependents.child_claim_anyway.help_text.p1", name: @form.dependent.first_name&.titleize) %></p>
  <ul class="list--bulleted">
    <% t("views.ctc.questions.dependents.child_claim_anyway.help_text.list", current_tax_year: current_tax_year, name: @form.dependent.first_name&.titleize).each do |item| %>
      <li> <%= item %> </li>
    <% end %>
  </ul>
  <p class="text--bold"><%= t("views.ctc.questions.dependents.child_claim_anyway.help_text.p2", name: @form.dependent.first_name&.titleize) %></p>

  <%= render('components/molecules/reveal', title: t("views.ctc.questions.dependents.child_claim_anyway.legal_parent_reveal.title")) do %>
    <p> <%= t("views.ctc.questions.dependents.child_claim_anyway.legal_parent_reveal.p1") %> </p>
    <p> <%= t("views.ctc.questions.dependents.child_claim_anyway.legal_parent_reveal.p2") %> </p>
  <% end %>

  <%= render('components/molecules/reveal', title: t("views.ctc.questions.dependents.child_claim_anyway.not_legal_parent_reveal.title")) do %>
    <p> <%= t("views.ctc.questions.dependents.child_claim_anyway.not_legal_parent_reveal.p1", current_tax_year: current_tax_year, name: @form.dependent.first_name&.titleize) %> </p>
    <p> <%= t("views.ctc.questions.dependents.child_claim_anyway.not_legal_parent_reveal.p2", name: @form.dependent.first_name&.titleize) %> </p>
  <% end %>
<% end %>
