<% @main_heading = t("views.questions.identity.title") %>
<% content_for :page_title, @main_heading %>

<% content_for :main do %>
  <section class="slab slab--white steps--wrapper">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="form-card">
            <h1 class="form-question">
              <%= @main_heading %>
            </h1>

            <div class="step">
              <div class="step-icon-wrapper--large">
                <%= image_tag("id-card.svg", alt: "") %>
              </div>
              <div class="step-text">
                <p>
                  <%=t("views.questions.identity.partner_html", :partner_link => link_to("ID.me", "https://www.id.me/individuals/government", class: "inherit-color", target: "_blank", rel: "noopener")) %>
                </p>
              </div>
            </div>

            <div class="step">
              <div class="step-icon-wrapper--large">
                <%= image_tag("identity-check.svg", alt: "") %>
              </div>
              <div class="step-text">
                <p>
                  <%=t("views.questions.identity.instructions") %>
                </p>
              </div>
            </div>

            <div class="step">
              <div class="step-icon-wrapper--large">
                <%= image_tag("chat-bubble.svg", alt: "") %>
              </div>
              <div class="step-text text--bold">
                <p>
                  <%=t("views.questions.identity.contact_html", :email_link => link_to("hello@getyourrefund", "mailto:hello@getyourrefund.org", class: "inherit-color")) %>
                </p>
                <p>
                  <%=t("views.questions.identity.here_to_help") %>
                </p>
              </div>
            </div>

            <%= link_to user_idme_omniauth_authorize_path(after_login: params[:after_login]), class: "button button--primary button--wide text--centered", method: :post do %>
              <%=t("views.questions.identity.sign_in_html") %> <%= image_tag("ID.me.svg", alt: "", class: "button-logo--inline") %>
            <% end %>

            <p>
              <a class="inherit-color" href="https://www.id.me/individuals/government" target="_blank" rel="noopener">
                <%=t("views.questions.identity.visit_partner") %>
              </a>
            </p>
          </div>
        </main>
      </div>
    </div>
  </section>
<% end %>
