<% @main_heading = "First, let’s get some basic information." %>
<% content_for :page_title, @main_heading %>

<% content_for :main do %>
  <section class="slab slab--white steps--wrapper">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="form-card">
            <h1 class="form-question">
              <%= @main_heading %>
            </h1>

            <div class="step">
              <div class="step-icon-wrapper--large">
                <%= image_tag("id-card.svg", alt: "") %>
              </div>
              <div class="step-text">
                <p>
                  We are partnering with <a class="inherit-color" href="https://www.id.me/individuals/government" target="_blank" rel="noopener">ID.me</a> to protect your identity and ensure that your personal information is accurate and secure.
                </p>
              </div>
            </div>

            <div class="step">
              <div class="step-icon-wrapper--large">
                <%= image_tag("identity-check.svg", alt: "") %>
              </div>
              <div class="step-text">
                <p>
                  You will need to upload your ID and take a selfie, so we can be sure it's you! It usually takes about 5 minutes to complete.
                </p>
              </div>
            </div>

            <div class="step">
              <div class="step-icon-wrapper--large">
                <%= image_tag("chat-bubble.svg", alt: "") %>
              </div>
              <div class="step-text text--bold">
                <p>
                  If you have any trouble please chat with us or e-mail <a class="inherit-color" href="mailto:hello@getyourrefund.org">hello@getyourrefund.org</a>.
                </p>
                <p>
                  We’re here to help!
                </p>
              </div>
            </div>

            <%= link_to user_idme_omniauth_authorize_path(after_login: params[:after_login]), class: "button button--primary button--wide text--centered", method: :post do %>
              Sign in with <span class="sr-only">ID.me</span> <%= image_tag("ID.me.svg", alt: "", class: "button-logo--inline") %>
            <% end %>

            <p>
              <a class="inherit-color" href="https://www.id.me/individuals/government" target="_blank" rel="noopener">
                For more information, please visit ID.me.
              </a>
            </p>
          </div>
        </main>
      </div>
    </div>
  </section>
<% end %>
