<% @main_question = t("views.ctc.questions.filed2020_yes.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_question %></h1>

  <p>
    <%= t("views.ctc.questions.filed2020_yes.p1") %>
  </p>
  <p>
    <%= t("views.ctc.questions.filed2020_yes.p2_html") %>
  </p>
  <p>
    <%= t("views.ctc.questions.filed2020_yes.p3") %>
  </p>
  <div class="spacing-above-60">
    <%= link_to t("views.ctc.questions.filed2020_yes.contact_vita"), url_for(host: MultiTenantService.new(:gyr).host, controller: "/vita_providers", action: 'index'), class: "button button--full-width text--centered" %>
    <%= link_to "https://www.taxpayeradvocate.irs.gov/contact-us/", target: "_blank", rel: "noopener nofollow", class: "button button--full-width text--centered" do %>
      <%=t("views.ctc.questions.filed2020_yes.contact_ta") %>
    <% end %>
  </div>
<% end %>
