<% @main_question = t("views.ctc.questions.filed2020_yes.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_question %></h1>

  <p>
    <%= t("views.ctc.questions.filed2020_yes.p1") %>
  </p>
  <p>
    <%= t("views.ctc.questions.filed2020_yes.p2_html") %>
  </p>

  <%= link_to t("views.ctc.questions.filed2020_yes.visit_ctc_faq"), root_path(anchor: 'ctc_faq'), class: "button button--wide text--centered" %>
  <%= link_to url_for(host: Rails.application.config.gyr_domains[Rails.env.to_sym], controller: "/public_pages", action: 'stimulus'), class: "button button--wide text--centered" do %>
    <%=t("views.ctc.questions.filed2020_yes.visit_stimulus_faq") %>
  <% end %>
<% end %>