<% model_gid = GlobalID.parse(note.data['model']) %>
<% if note.is_a?(SystemNote::CtcPortalUpdate) %>
  <strong>Client updated <%= model_gid.model_name %> #<%= model_gid.model_id %>:</strong>
<% elsif note.is_a?(SystemNote::ClientChange) %>
  <strong><%= note.user.name_with_role %> changed <%= model_gid.model_name %> #<%= model_gid.model_id %>:</strong>
<% end %>

<table class="spacing-above-15 spacing-below-0 changes-table changes-note-<%= note.id %>">
  <thead>
    <th></th>
    <th>Was</th>
    <th>Now</th>
  </thead>
  <tbody>
    <% note.data["changes"].sort.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <%= render 'change_table_value', value: v[0] %>
        <%= render 'change_table_value', value: v[1] %>
      </tr>
    <% end %>
  </tbody>
</table>
