<%= content_for :back_to, "clients" %>
<% content_for :page_title, "#{@client.preferred_name}, ##{@client.id}" %>

<% content_for :card do %>
  <%= render "hub/clients/client_header" %>

  <%= render "hub/clients/navigation" %>

  <div class="slab slab--padded">
    <div class="client-container">
      <% if @messages_by_day.present? %>
        <ul class="day-list" aria-live="polite" data-js="messages-pub-sub" data-client-id="<%=@client.id%>">
          <% @messages_by_day.each_with_index do |(datetime, contact_records), day_index| %>
            <li class="day-heading"><%= date_heading(datetime) %></li>
            <%= render partial: "contact_record", collection: contact_records, locals: { last_day: day_index + 1 == @messages_by_day.length } %>
          <% end %>
        </ul>
      <% else %>
        <%#
          In order to hide this message list using :empty css pseudo selector and
          not break the realtime messaging functionality, we need to render an
          element that has no body whatsoever (even whitespace).
          https://css-tricks.com/almanac/selectors/e/empty/#will-not-match
        %>
        <ul class="day-list" data-js="messages-pub-sub" data-client-id="<%=@client.id%>"></ul>
      <% end %>

      <hr/>
      <div class="communication-preferences">
        <% unless @client&.intake.email_address.present? || @client&.intake.sms_phone_number.present? %>
          <%= t(".no_way_to_communicate") %>
        <% else %>
          <%= t(".preference_intro", preferred_name: @client.preferred_name) %>
          <ul class="with-bullets">
            <% if @client&.intake.sms_notification_opt_in_yes? && @client&.intake.sms_phone_number.present? %>
              <li><%= t("general.text_message") %></li>
            <% end %>
            <% if @client&.intake.email_notification_opt_in_yes? && @client&.intake.email_address.present? %>
              <li><%= t("general.email")%></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <% if @client&.intake.sms_phone_number.present? %>
        <div class="single-input-form no-form-group-padding">
          <%= form_with model: @outgoing_text_message, url: hub_client_outgoing_text_messages_path(client: @client), local: true, builder: VitaMinFormBuilder, method: "post", html: {class: 'text-message-form'} do |f| %>
            <%= f.cfa_textarea :body, t(".text_message_form.label"), options: { spellcheck: true }, classes: ["text-message-body"] %>
            <%= f.hidden_field :client_id %>
            <div id="text-message-length-counter" class="spacing-below-15"></div>
            <div class="grid-flex center-aligned space-between">
              <div>
                <%= f.submit t(".text_message_form.submit"), class: "button" %>
              </div>

            </div>
          <% end %>
        </div>
      <% else %>
        <p><%= t(".no_sms_number") %></p>
      <% end %>

      <% if @client&.intake.email_address.present? %>
        <div class="single-input-form spacing-above-25">
          <%= form_with model: @outgoing_email, url: hub_client_outgoing_emails_path(client: @client), local: true, builder: VitaMinFormBuilder, method: "post", html: {class: 'email-form'} do |f| %>
            <%= f.cfa_textarea :body, t(".email_form.label"), options: { spellcheck: true } %>
            <%= f.hidden_field :client_id %>
            <div class="attachment-uploader">
              <%= f.cfa_file_field :attachment, t('general.attachment'), classes: ['attachment-upload'] %>
              <div id="attachment-image-preview-wrapper">
                <%= image_tag "file-icon.svg", id: "attachment-image-preview", alt: "" %>
              </div>
              <button id="attachment-image-clear" hidden>Remove Attachment</button>
            </div>
            <div>
              <%= f.submit t(".email_form.submit"), class: "button", disabled: @client.intake.email_address.blank? %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p><%= t(".no_email_address") %></p>
      <% end %>

    </div>
  </div>

  <%= render "hub/clients/client_take_action_footer" %>
<% end %>

<% content_for :script do %>
  <script>
      document.addEventListener("DOMContentLoaded", function(){
        var imageUploader = document.querySelector('input.attachment-upload');
        var previewImage = document.querySelector('#attachment-image-preview');
        var previewImageDefaultSrc = previewImage.src
        var clearAttachmentsButton = document.querySelector('button#attachment-image-clear');
        // Start with preview image hidden
        previewImage.hidden = true;

        clearAttachmentsButton.addEventListener('click', function(e)  {
            e.preventDefault();
            imageUploader.value = '';
            previewImage.hidden = true;
            clearAttachmentsButton.hidden = true;
        });

        imageUploader.addEventListener('change', function (event) {
            var files = this.files;
            function readAndPreview(file) {
                // Show preview if can for filetype
                if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
                    var reader = new FileReader();
                    reader.addEventListener("load", function () {
                        previewImage.title = file.name;
                        previewImage.src = this.result;
                    }, false);
                    reader.readAsDataURL(file);

                } else {
                    previewImage.src = previewImageDefaultSrc;
                }
                previewImage.hidden = false;
            }

            if (files) {
                [].forEach.call(files, readAndPreview);
                clearAttachmentsButton.hidden = false;
            }
        });
      });
  </script>
<% end %>
