<%=t(".title") %>
<ul>
  <li><%=t(".tip1_html") %></li>
  <li><%=t(".tip2") %></li>
  <li><%=t(".tip3") %></li>
  <li><%=t(".tip4") %></li>
</ul>
<p><%=t(".learn_more_link_html", link: StateFile::Questions::OtherFilingOptionsController.to_path_helper(us_state: params[:us_state], action: :edit)) %></p>
