<% title = t('.title') %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2">
    <%= title %>
  </h1>

  <p>
    <%= t('.offboarding_reason', reason: ineligible_reason) %>
  </p>

  <p>
    <%= t('.dontworry_html') %>
  </p>

  <div class="accordion spacing-above-10">
    <a href="#" class="accordion__button" aria-expanded="true" aria-controls="gyr">
      <%= image_tag("icons/exclamation-black.svg", alt: "") %>
      <span><%= t('.what_is_gyr') %></span>
    </a>
    <div class="accordion__content" id="gyr">
      <%= render partial: "gyr" %>
    </div>
  </div>

  <div class="accordion spacing-above-10">
    <a href="#" class="accordion__button" aria-expanded="true" aria-controls="other">
      <%= image_tag("icons/exclamation-black.svg", alt: "") %>
      <span><%= t('.other_options') %></span>

    </a>
    <div class="accordion__content" id="other">
      <%= render partial: "other_options" %>
    </div>
  </div>

  <div>
    <% gyr_url = root_url(host: MultiTenantService.new(:gyr).host) %>
    <%= link_to t('.get_started_gyr'), gyr_url %>
  </div>

  <div>
    <%= link_to t('.visit_faq'), url_for(host: MultiTenantService.new(:gyr).host, controller: "/faq") %>
  </div>

<% end %>
