<div>
  <%= form_with model: @coalition, url: url, method: http_method, local: true, builder: VitaMinFormBuilder, id: "coalition-form" do |f| %>
    <h1 class="form-card__title">
      <%= @title %>
    </h1>

    <%= f.cfa_input_field :name, t("general.name") %>
      <div class="form-group state-select">
        <label for="state-select" class="form-question"><%= t("general.state") %></label>
        <div>
          <%= text_field_tag("state_routing_targets[states]", @coalition.state_routing_targets.map(&:state_name).to_json.html_safe, id: "state-select", class: "text-input multi-select-state") %>
        </div>
      </div>
    <div>
      <%= f.submit t("general.save"), class: "button button--primary button--wide" %>
    </div>
  <% end %>
</div>

<% content_for :script do %>
  <script>
      window.taggableItems = <%= States.html_safe_names %>;
  </script>
<% end %>