<% content_for :page_title, t(".header") %>

<% content_for :card do %>
  <div class="header">
    <h1 class="h2">
      <%= t(".header")  %>
    </h1>
  </div>

  <table class="data-table document-table">
    <thead>
    <tr>
      <th scope="col" class="extract-column__filename">
        <%= t(".filename") %>
      </th>
      <th scope="col" class="extract-column__record-count">
        <%= t(".record_count") %>
      </th>
      <th scope="col" class="extract-column__run_at">
        <%= t(".run_at") %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @extracts.each do |extract| %>
      <tr>
        <td scope="row">
          <%= link_to hub_csv_extract_path(extract.id),  target: "_blank", rel: "noopener" do %>
            <%= extract.upload.filename %>
          <% end %>
        </td>
        <td> <%= extract.record_count %> </td>
        <td> <%= extract.run_at %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

