<% @main_heading = "StateFile Automated Messages" %>
<% content_for :page_title, @main_heading %>

<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <h1><%= @main_heading %></h1>

        <% @messages.each do |message_class, email| %>
          <h2>
            <%= message_class.respond_to?(:name) ? message_class.name.capitalize() : message_class %>
          </h2>
          <div class="client-messages-container" style="display: flex;">
            <div class="with-padding-med" style="display: inline-block; width: 60%; margin-right: 16px; z-index: 3;">
              <div class="client-messages__email">
                <div class="email__subject">
                  <%= email.subject %>
                </div>
                <div>
                  <%= content_tag :iframe, nil, style: "width: 100%", sandbox: "allow-same-origin allow-scripts", srcdoc: email.html_part.body.decoded %>
                </div>
              </div>
            </div>
            <% if message_class.respond_to?(:new) and message_class.new.respond_to?(:sms_body) %>
              <div class="with-padding-med" style="display: inline-block; width: 35%; margin-right: 8px;">
                <div class="client-messages__sms">
                  <div style="white-space: pre-line;"><%= message_class.new.sms_body %></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% content_for :script do %>
  <script>
      function resizeIFrameToFitContent( iFrame ) {
          iFrame.height = iFrame.contentWindow.document.body.scrollHeight + 20;
      }
      document.querySelectorAll('iframe').forEach((iframe) => {
          if (iframe.contentDocument.readyState === 'complete') {
              resizeIFrameToFitContent(iframe);
          } else {
              iframe.onload = function () {
                  resizeIFrameToFitContent(iframe);
              }
          }
      });
  </script>
<% end %>