<% content_for :page_title, t("state_file.questions.shared.review_header.title") %>
<% content_for :card do %>
  <%= render "state_file/questions/shared/review_header" %>

  <div id="county-and-subdivision" class="white-group">
    <div class="spacing-below-5">
      <p class="spacing-below-5"><%=t(".county_html") %></p>
      <p><%=current_intake.residence_county %></p>
      <p class="spacing-below-5"><%=t(".political_subdivision_html") %></p>
      <p><%=current_intake.political_subdivision %></p>
      <%= link_to t("general.edit"), StateFile::Questions::MdCountyController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <%= render "state_file/questions/shared/review_footer" %>
<% end %>
