<% content_for :page_title, t("state_file.questions.shared.review_header.title") %>
<% content_for :card do %>
  <%= render "state_file/questions/shared/review_header" %>

  <div id="county-and-subdivision" class="white-group">
    <div class="spacing-below-5">
      <p class="spacing-below-5"><%=t(".county_html") %></p>
      <p><%=current_intake.residence_county %></p>
      <p class="spacing-below-5"><%=t(".political_subdivision_html") %></p>
      <p><%=current_intake.political_subdivision %></p>
      <%= link_to t("general.edit"), StateFile::Questions::MdCountyController.to_path_helper(return_to_review: "y"), class: "button--small" %>
    </div>
  </div>

  <div id="details" class="reveal">
    <p><button class="reveal__button"><%= t("state_file.general.see_detailed_return") %></button></p>
    <div class="reveal__content">
      <div class="spacing-below-25 with-top-separator">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_fed_agi") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_1)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_state_retirement_pickup_addition") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_3)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_subtraction_child_dependent_care_expenses") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_9)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_pension_income_exclusion") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_10A)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_social_security_income_not_taxed") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_11)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_military_retirement_income_exclusion") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD502SU_LINE_U)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_public_safety_retirement_income_exclusion") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD502SU_LINE_V)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_subtraction_income_us_gov_bonds") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD502SU_LINE_AB)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_two_income_subtraction_married_taxpayers") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_14)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_adjusted_gross_income") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_16)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_standard_deduction") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_17)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_total_exemptions_people_household") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_19)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_taxable_net_income") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_20)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_tax") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_21)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_total_tax_after_nonrefundable_credits") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_34)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_tax_withheld") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_40)) %></p>
      </div>

      <div class="spacing-below-25">
        <p class="text--bold spacing-below-5"><%= t("state_file.general.md_total_payments_refundable_credits") %></p>
        <p><%= number_to_currency(current_intake.calculator.line_or_zero(:MD400_LINE_42)) %></p>
      </div>
    </div>
  </div>

  <%= render "state_file/questions/shared/review_footer" %>
<% end %>
