<% content_for :page_title, t("views.questions.file_with_help.title") %>

<% content_for :form_card do %>
  <div class="form-card">
    <h1 class="form-question">
      <%= content_for(:page_title) %>
    </h1>

    <p>
      <%=t("views.questions.file_with_help.info") %>
    </p>

    <p>
      <strong><%=t("views.questions.file_with_help.right_option.header") %></strong>
    </p>

    <ul class="checkmark-list teal">
      <li>
        <%=t("views.questions.file_with_help.right_option.need_assistance") %>
      </li>
      <li>
        <%=t("views.questions.file_with_help.right_option.confused") %>
      </li>
      <li>
        <%=t("views.questions.file_with_help.right_option.nervous") %>
      </li>
    </ul>

    <%= link_to next_path, class: "button button--primary text--centered button--wide spacing-above-60" do %>
      <%=t("general.continue") %>
    <% end %>
  </div>
<% end %>
