<% content_for :page_title, "File with the help of a tax expert!" %>

<% content_for :form_card do %>
  <div class="form-card">
    <h1 class="form-question">
      <%= content_for(:page_title) %>
    </h1>

    <p>
      You selected our full service option. We’ll have you answer a series of questions about your tax situation (to the best of your ability) and have a tax specialist review everything with you.
    </p>

    <p>
    <strong>This is the right option for you if:</strong>
    </p>

    <ul class="checkmark-list">
      <li>
        <%= render "shared/svg/checkmark", fill_class: "teal" %>
        <span>You need assistance with tax filing</span>
      </li>
      <li>
        <%= render "shared/svg/checkmark", fill_class: "teal" %>
        <span>Your tax situation is confusing/complicated</span>
      </li>
      <li>
        <%= render "shared/svg/checkmark", fill_class: "teal" %>
        <span>You’re nervous to file completely on your own</span>
      </li>
    </ul>
    <div class="button--group">
      <%= link_to :back, class: "button text--centered" do %>
        Go Back
      <% end %>
      <%= link_to next_path, class: "button button--primary text--centered" do %>
        Continue
      <% end %>
    </div>
  </div>
<% end %>
