<%= render 'shared/trade_desk_pixel' %>
<% content_for :page_title, t("views.questions.personal_info.title") %>

<% content_for :card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= content_for(:page_title) %></h1>
    <p>
      <%=t("views.questions.personal_info.info") %>
    </p>

    <div class="form-card__content">
      <%= f.hidden_field(:timezone, data: { get_browser_timezone: true }) %>
      <%= f.cfa_input_field(:preferred_name, t("views.questions.personal_info.preferred_name"), classes: ["form-width--long"]) %>
      <div class="date-select">
        <%= f.cfa_date_select(
              :birth_date,
              t("views.questions.spouse_consent.birth_date"),
              options: {
                start_year: Time.now.year - 17,
                end_year: Time.now.year - 120,
              }
            ) %>
      </div>
      <%= f.cfa_input_field(:phone_number, t("views.questions.personal_info.phone_number"), classes: ["form-width--long"]) %>
      <%= f.cfa_input_field(:phone_number_confirmation, t("views.questions.personal_info.phone_number_confirmation"), classes: ["form-width--long"]) %>
      <%= f.cfa_input_field(:zip_code, t("views.questions.personal_info.zip_code"), classes: ["form-width--zip"]) %>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>

<% content_for :script do %>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          let hiddenField = document.querySelector('[data-get-browser-timezone]');
          if (hiddenField) {
              hiddenField.value = timezone;
          }
      });
  </script>
<% end %>
