<% content_for :card do %>
  <h1><%= t(".title") %></h1>

  <div class="actions">
    <%= link_to new_user_invitation_path(user: {role: OrganizationLeadRole::TYPE}), class: "button" do %>
      <%= t(".actions.new_org_lead_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(user: {role: AdminRole::TYPE}), class: "button" do %>
      <%= t(".actions.new_admin_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(user: {role: CoalitionLeadRole::TYPE}), class: "button" do %>
      <%= t(".actions.new_coalition_lead_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(user: {role: SiteCoordinatorRole::TYPE}), class: "button" do %>
      <%= t(".actions.new_site_coordinator_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(user: {role: ClientSuccessRole::TYPE}), class: "button" do %>
      <%= t(".actions.new_client_success_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(user: {role: GreeterRole::TYPE}), class: "button" do %>
      <%= t(".actions.new_greeter_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(user: {role: TeamMemberRole::TYPE}), class: "button" do %>
      <%= t(".actions.new_team_member_invite") %>
    <% end %>
  </div>

  <% if @unaccepted_invitations.present? %>
    <ul class="invitations list--bulleted">
      <% @unaccepted_invitations.each do |invited_user| %>
        <li id="invitation-<%= invited_user.id %>" class="invitation">
          <%= invited_user.name %> (<%= user_role(invited_user) %>) &lt;<%= invited_user.email %>&gt; <%= user_group(invited_user) %> (<%= t(".invitation.sent_at", datetime: invited_user.invitation_sent_at) %>)
          <%= form_with(url: hub_users_invitations_resend_path, method: :post, local: true) do |f| %>
            <%= hidden_field_tag :id, invited_user.id %>
            <%= f.submit value: t(".invitation.create"), class: "button button--small" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
