<% content_for :card do %>
  <h1><%= t(".title") %></h1>

  <div class="actions">
    <%= link_to new_user_invitation_path(role: OrganizationLeadRole::TYPE), class: "button" do %>
      <%= t(".actions.new_org_lead_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(role: AdminRole::TYPE), class: "button" do %>
      <%= t(".actions.new_admin_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(role: CoalitionLeadRole::TYPE), class: "button" do %>
      <%= t(".actions.new_coalition_lead_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(role: SiteCoordinatorRole::TYPE), class: "button" do %>
      <%= t(".actions.new_site_coordinator_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(role: ClientSuccessRole::TYPE), class: "button" do %>
      <%= t(".actions.new_client_success_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(role: GreeterRole::TYPE), class: "button" do %>
      <%= t(".actions.new_greeter_invite") %>
    <% end %>

    <%= link_to new_user_invitation_path(role: TeamMemberRole::TYPE), class: "button" do %>
      <%= t(".actions.new_team_member_invite") %>
    <% end %>
  </div>

  <% if @unaccepted_invitations.present? %>
    <ul class="invitations list--bulleted">
      <% @unaccepted_invitations.each do |invited_user| %>
        <li id="invitation-<%= invited_user.id %>" class="invitation">
          <%= invited_user.name %> (<%= user_role(invited_user) %>) &lt;<%= invited_user.email %>&gt; <%= user_group(invited_user) %> (<%= t(".invitation.sent_at", datetime: invited_user.invitation_sent_at) %>)
          <%= form_with(model: invited_user, url: user_invitation_path, method: :post, local: true) do |f| %>
            <%= f.hidden_field :email %>
            <% if invited_user.role_type == OrganizationLeadRole::TYPE %>
              <%= hidden_field_tag :organization_id, invited_user.role.organization.id %>
            <% elsif invited_user.role_type == CoalitionLeadRole::TYPE %>
              <%= hidden_field_tag :coalition_id, invited_user.role.coalition.id %>
            <% elsif invited_user.role_type == SiteCoordinatorRole::TYPE %>
              <%= hidden_field_tag :site_id, invited_user.role.site.id %>
            <% elsif invited_user.role_type == GreeterRole::TYPE %>
              <%= hidden_field_tag "greeter_coalition_join_record[coalition_ids][]", "" %>
              <% invited_user.role.coalition_ids.each do |coalition_id| %>
                <%= hidden_field_tag "greeter_coalition_join_record[coalition_ids][]", coalition_id %>
              <% end %>
              <%= hidden_field_tag "greeter_organization_join_record[organization_ids][]", "" %>
              <% invited_user.role.organization_ids.each do |organization_id| %>
                <%= hidden_field_tag "greeter_organization_join_record[organization_ids][]", organization_id %>
              <% end %>
            <% end %>
            <%= f.hidden_field :role, value: invited_user.role_type %>

            <%= f.submit value: t(".invitation.create"), class: "button button--small" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
