<% content_for :card do %>
  <div class="slab">
    <h1><%= t(".title") %></h1>
    <%= form_for :invitation, url: "/hub/invitation/new", method: "get" do |f| %>
    <div class="form-group">
      <%= label_tag(:role, "What type of user do you want to invite?", class: "form-question") %>
      <div class="select">
        <%= select_tag :role, options_for_select(User.roles.map {|role_type| [readable_role_from_role_type(role_type), role_type] if can?(:manage, role_type.constantize)}.compact), class: "select__element" %>
      </div>
    </div>
      <%= f.submit "Continue", class: "button" %>
    <% end %>

    <hr/>
    <h3><%= @unaccepted_invitations.length %> outstanding invitations</h3>
    <% if @unaccepted_invitations.present? %>
      <ul class="invitations list--bulleted">
        <% @unaccepted_invitations.each do |invited_user| %>
          <li id="invitation-<%= invited_user.id %>" class="invitation">
            <%= invited_user.name %> (<%= user_role(invited_user) %>) &lt;<%= invited_user.email %>&gt; <%= user_group(invited_user) unless invited_user.role.is_a?(GreeterRole) %> (<%= t(".invitation.sent_at", datetime: invited_user.invitation_sent_at) %>)
            <%= form_with(model: invited_user, url: user_invitation_path, method: :post, local: true) do |f| %>
              <%= link_to t("general.resend_invitation"), user_resend_invitation_path(user_id: invited_user.id), class: "button button-small", method: :put %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

<% end %>
