<% @main_heading = t("views.ctc.questions.file_full_return.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <p><%= t("views.ctc.questions.file_full_return.help_text1", current_tax_year: current_tax_year)%></p>
  <p><%= t("views.ctc.questions.file_full_return.help_text2") %></p>

    <%= render('components/molecules/reveal', title: t("views.ctc.questions.file_full_return.reveal.title")) do %>
      <% t('views.ctc.questions.file_full_return.reveal.body_html').each do |body| %>
        <p><%= body %></p>
        <% end %>
    <% end %>

  <%= link_to next_path, class: "button button--full-width text--centered spacing-above-60 button--primary" do %>
    <%= t("views.ctc.questions.file_full_return.simplified_btn") %>
  <% end %>

  <%= link_to url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: (open_for_gyr_intake? ? 'home' : 'diy'), params: { source: 'gctc_ref' }), class: "button button--full-width text--centered", "data-track-click": "gctc_to_gyr_filefullreturn" do %>
    <%= t("views.ctc.questions.file_full_return.full_btn") %>
  <% end %>
<% end %>
