<% @main_heading = t("views.ctc.questions.file_full_return.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <p><%= t("views.ctc.questions.file_full_return.help_text", current_tax_year: current_tax_year)%></p>

  <div class="reveal-shrink-wrapper">
    <%= render('components/molecules/reveal', title: t("views.ctc.questions.file_full_return.reveal.title")) do %>
      <% t('views.ctc.questions.file_full_return.reveal.body_html',
           link_to_get_your_refund: link_to(t("views.ctc_pages.home.service_name"), url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'home'))).each do |body| %>
        <p><%= body %></p>
        <% end %>
    <% end %>
  </div>

  <%= link_to next_path, class: "button button--full-width text--centered spacing-above-60 button--primary" do %>
    <%= t("views.ctc.questions.file_full_return.simplified_btn") %>
  <% end %>

  <%= link_to url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'diy'), class: "button button--full-width text--centered" do %>
    <%= t("views.ctc.questions.file_full_return.full_btn") %>
  <% end %>
<% end %>
