<% @main_heading = t("views.ctc.questions.file_full_return.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <% t("views.ctc.questions.file_full_return.help_text").each do |help| %>
    <p><%= help %></p>
  <% end %>

  <ul class="list--bulleted">
    <% t("views.ctc.questions.file_full_return.list").each do |list| %>
      <li><%= list %></li>
    <% end %>
  </ul>

  <p><strong><%= t("views.ctc.questions.file_full_return.file_for_free") %></strong></p>

  <%= link_to url_for(host: Rails.application.config.gyr_domains[Rails.env.to_sym], controller: "/public_pages", action: 'diy'), class: "button button--full-width text--centered spacing-above-60" do %>
    <%= t("views.ctc.questions.file_full_return.simplified_btn") %>
  <% end %>

  <%= link_to next_path, class: "button button--full-width text--centered" do %>
    <%= t("views.ctc.questions.file_full_return.full_btn") %>
  <% end %>
<% end %>