<% @main_heading = if current_intake.puerto_rico_filing?
                     t("views.ctc.questions.file_full_return.puerto_rico.title")
                   else
                     Flipper.enabled?(:eitc) ? t("views.ctc.questions.file_full_return.title_eitc") : t("views.ctc.questions.file_full_return.title")
                   end %>
<% content_for :form_question, @main_heading %>

<% content_for :card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <% if current_intake.puerto_rico_filing? %>
    <p><%= t("views.ctc.questions.file_full_return.puerto_rico.help_text") %></p>

    <%= link_to next_path, class: "button button--wide text--centered spacing-above-60 button--primary" do %>
      <%= t("views.ctc.questions.file_full_return.puerto_rico.simplified_btn") %>
    <% end %>

    <%= link_to t("views.ctc.questions.file_full_return.puerto_rico.full_btn"), "https://suri.hacienda.pr.gov/_/", target: "_blank", rel: "noopener", class: "button button--wide text--centered" %>
  <% elsif Flipper.enabled?(:eitc) %>
    <p class="text--bold"><%= t("views.ctc.questions.file_full_return.list_1_eitc_title") %></p>
    <ul class="list--bulleted">
      <% t("views.ctc.questions.file_full_return.list_1_eitc").each do |list| %>
        <li><%= list %></li>
      <% end %>
    </ul>
    <p class="text--bold"><%= t("views.ctc.questions.file_full_return.list_2_eitc_title") %></p>
    <ul class="list--bulleted">
      <% t("views.ctc.questions.file_full_return.list_2_eitc").each do |list| %>
        <li><%= list %></li>
      <% end %>
    </ul>
    <p><%= t("views.ctc.questions.file_full_return.help_text_eitc") %></p>
  <% else %>
    <p><%= t("views.ctc.questions.file_full_return.help_text1", current_tax_year: current_tax_year) %></p>
    <p><%= t("views.ctc.questions.file_full_return.help_text2", current_tax_year: current_tax_year) %></p>
  <% end %>

  <%= render('components/molecules/reveal', title: t("views.ctc.questions.file_full_return.reveal.title")) do %>
    <% t('views.ctc.questions.file_full_return.reveal.body_html').each do |body| %>
      <p><%= body %></p>
    <% end %>
  <% end %>

  <%= link_to next_path, class: "button button--wide text--centered spacing-above-60 button--primary" do %>
    <%= t("views.ctc.questions.file_full_return.simplified_btn") %>
  <% end %>

  <%= link_to url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: (open_for_gyr_intake? ? 'home' : 'diy'), params: { source: 'gctc_ref' }), class: "button button--wide text--centered", "data-track-click": "gctc_to_gyr_filefullreturn" do %>
    <%= t("views.ctc.questions.file_full_return.full_btn") %>
  <% end %>
<% end %>
