<% @main_heading = t("views.ctc.questions.file_full_return.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <p><%= t("views.ctc.questions.file_full_return.help_text", current_tax_year: current_tax_year)%></p>

  <ul class="list--bulleted">
    <% t("views.ctc.questions.file_full_return.list").each do |list| %>
      <li><%= list %></li>
    <% end %>
  </ul>

  <%= link_to next_path, class: "button button--full-width text--centered spacing-above-60 button--primary" do %>
    <%= t("views.ctc.questions.file_full_return.simplified_btn") %>
  <% end %>

  <%= link_to url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'diy'), class: "button button--full-width text--centered" do %>
    <%= t("views.ctc.questions.file_full_return.full_btn") %>
  <% end %>
<% end %>
