<% content_for :card do %>
  <div class="hub-form slab spacing-below-25">
    <p><%= t(".body_html", to_phone_number: local_phone_number(@outbound_call.to_phone_number), from_phone_number: local_phone_number(@outbound_call.from_phone_number)) %></p>
    <p><%= link_to t(".back"), hub_client_path(id: @client.id) %></p>
    <div class="spacing-below-25">
      <div class="spacing-below-10 text--bold"><%= t("general.client_info") %></div>
      <div class="spacing-below-10">
        <span><%= t("general.last_four_ssn") %>:</span>
        <span><%= @client.intake.primary_last_four_ssn %></span>
      </div>
      <% if @client.intake.filing_joint == "yes" %>
        <div class="spacing-below-10">
          <span><%= t("general.spouse_last_four_ssn") %>:</span>
          <span><%= @client.intake.spouse_last_four_ssn %></span>
        </div>
      <% end %>
    </div>
    <%= form_for [:hub, @client, @outbound_call], builder: VitaMinFormBuilder do |f| %>
      <%= f.cfa_textarea(:note, "Call notes") %>
      <%= f.submit t("general.save"), class: "button button--primary button--small" %>
    <% end %>
  </div>
<% end %>
