<% content_for :card do %>
  <div class="hub-form spacing-above-25 spacing-below-25">
    <p><%= t(".body_html", to_phone_number: local_phone_number(@outbound_call.to_phone_number), from_phone_number: local_phone_number(@outbound_call.from_phone_number)) %></p>
    <%= link_to t(".back"), hub_client_path(id: @client.id) %>
    <%= form_for [:hub, @client, @outbound_call], builder: VitaMinFormBuilder do |f| %>
      <%= f.cfa_textarea(:note, "Call notes") %>
      <%= f.submit t("general.save"), class: "button button--primary button--small" %>
    <% end %>
  </div>
<% end %>
