<% content_for :form_question, t("views.ctc.questions.claim_eitc.title") %>

<% content_for :card do %>
  <h1 class="form-question"><%= t("views.ctc.questions.claim_eitc.title") %></h1>
  <p><%= t("views.ctc.questions.claim_eitc.help_text") %></p>

  <div class="info-box">
    <%= image_tag("icons/exclamation-black.svg", alt: "", class: "info-box__title-image") %>
    <p class="spacing-below-15 text--bold"><%= t("views.ctc.questions.claim_eitc.info_box.title") %></p>

    <ul class="list--bulleted spacing-below-10">
      <% t("views.ctc.questions.claim_eitc.info_box.list", current_tax_year: MultiTenantService.new(:ctc).current_tax_year).each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>

  </div>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <%= f.button :submit, name: "#{f.object_name}[claim_eitc]", value: "yes", class: "button button--wide text--centered spacing-above-60" do %>
      <%= t("views.ctc.questions.claim_eitc.buttons.claim") %>
    <% end %>

    <%= f.button :submit, name: "#{f.object_name}[claim_eitc]", value: "no", class: "button button--wide text--centered spacing-above-15" do %>
      <%= t("views.ctc.questions.claim_eitc.buttons.dont_claim") %>
    <% end %>
  <% end %>

<% end %>
