<% @main_heading = "Admin Tools" %>
<% content_for :page_title, @main_heading %>

<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <h1><%= @main_heading %></h1>

      <%= link_to Hub::AdminTogglesController.to_path_helper(action: :index, name: AdminToggle::FORWARD_MESSAGES_TO_INTERCOM), class: "button button--small" do %>
        Intercom Message Forwarding
      <% end %>

      <%= link_to hub_state_routings_path, class: "button button--small" do %>
        Routing
      <% end %>

      <%= link_to hub_automated_messages_path, class: "button button--small" do %>
        Automated Messages
      <% end %>

      <%= link_to hub_metrics_path, class: "button button--small" do %>
        SLA Breaches
      <% end %>

      <%= link_to hub_fraud_indicators_path, class: "button button--small" do %>
        Fraud Indicators
      <% end %>

      <%= link_to hub_efile_submissions_path, class: "button button--small" do %>
        E-file Dashboard
      <% end %>

      <%= link_to hub_efile_errors_path, class: "button button--small" do %>
        E-file Errors
      <% end %>

      <%= link_to hub_verification_attempts_path, class: "button button--small" do %>
        Client Verification
      <% end %>

      <%= link_to hub_bulk_message_csvs_path, class: "button button--small" do %>
        Bulk messaging clients CSV upload
      <% end %>

      <%= link_to hub_signup_selections_path, class: "button button--small" do %>
        Bulk messaging signups CSV upload
      <% end %>
    </div>
  </div>
<% end %>
