<% title = t(".title_html", filing_year: @filing_year) %>
<% content_for :page_title, title %>


<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="white-group">
      <%= f.vita_min_state_file_select(:residence_county, t(".county"), @counties, label_class: 'form-label--bold', prompt: t('general.select_prompt')) %>
    </div>
    <div class="white-group">
      <%= f.vita_min_state_file_select(:political_subdivision, t('.political_subdivision'), [], include_blank: true, prompt: t('general.select_prompt')) %>
    </div>
    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>

<% content_for :script do %>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          const countySelect = document.getElementById('state_file_md_county_form_residence_county');
          const subdivisionSelect = document.getElementById('state_file_md_county_form_political_subdivision');
          const allSubdivisions = <%= raw @subdivisions_by_county.to_json %>;

          function populateSubdivisions(county) {
              subdivisionSelect.innerHTML = '<option value="">' + '<%= t('general.select_prompt') %>' + '</option>';
              if (county) {
                  const subdivisions = allSubdivisions.find(item => item[0] === county)[1];
                  Object.entries(subdivisions).forEach(([name, value]) => {
                      const option = new Option(name, value);
                      subdivisionSelect.add(option);
                  });
              } else {
                  // Show all subdivisions when no county is selected
                  allSubdivisions.forEach(countyData => {
                      const [countyName, subdivisions] = countyData;
                      Object.entries(subdivisions).forEach(([name, value]) => {
                          const option = new Option(`${countyName} - ${name}`, value);
                          subdivisionSelect.add(option);
                      });
                  });
              }
          }

          countySelect.addEventListener('change', function() {
              populateSubdivisions(this.value);
          });

          // Initial population of all subdivisions
          populateSubdivisions(null);
      });
  </script>
<% end %>