<footer class="footer">
  <div class="slab slab--footer">
    <div class="grid">
      <div class="grid__item width-three-fourths footer-description">
        <p>
          <%= image_tag("fyst-logo.svg", alt: "FileYourStateTaxes", title: "FileYourStateTaxes", class_names: "fyst-logo") %>
        </p>

        <p>
          <%=t('.state_file_description_html') %>
        </p>
      </div>


      <ul class="grid__item width-one-fourth footer-links">
        <% unless before_state_file_launch? %>
          <li>
            <%= link_to t(".privacy_policy"), privacy_policy_path %>
          </li>

          <li><%= link_to t(".about"), root_path %></li>

          <% faq_link = params[:us_state].present? ? state_faq_path(us_state: params[:us_state]) : root_path(anchor: "common_questions")  %>
          <li><%= link_to t(".faq"), faq_link %></li>

          <li><%= link_to t(".terms_of_service"), "" %></li>

          <% unless Rails.env.production? %>
            <li class="spacing-above-60">
              <%= link_to "https://www.getyourrefundstatus.org/" do %>
                <%= t("views.shared.footer.service_status") %>
              <% end %>
            </li>

            <li><%= link_to "Flow explorer", flows_path %></li>

            <li>
              <%= link_to url_for(host: MultiTenantService.new(:gyr).host, controller: "/users/sessions", action: 'new') do %>
                <%= "Hub sign in" %>
              <% end %>
            </li>
          <% end %>
        <% end %>

        <% unless Rails.env.production? %>
          <li><%= link_to "Session toggles", session_toggles_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</footer>