<header class="main-header sticky-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <div class="toolbar__item main-header__title">
        <%= link_to state_file_root_path, class: "toolbar__logo-text" do %>
          <%= image_tag("fyst-logo.svg", alt: "FileYourStateTaxes", title: "FileYourStateTaxes", class_names: "fyst-logo") %>
        <% end %>
      </div>
    </div>
    <% unless before_state_file_launch? %>
      <div class="toolbar__right is-mobile-hidden">
        <%= link_to t("general.about"), root_path, class: "toolbar__item text--small" %>

        <% faq_link = params[:us_state].present? ? state_faq_path(us_state: params[:us_state]) : root_path(anchor: "common_questions")  %>
        <%= link_to t("general.faq"), faq_link, class: "toolbar__item text--small" %>

        <%= link_to "Help", "", class: "toolbar__item text--small" %>

        <% if I18n.locale != :en %>
          <%= link_to_english(class: "toolbar__item text--small") %>
        <% end %>
        <% if I18n.locale != :es %>
          <%= link_to_spanish(class: "toolbar__item text--small") %>
        <% end %>
      </div>
      <a data-component="ClientMenuTrigger" class="client-menu-trigger is-desktop-hidden toolbar__item text--small">Menu</a>
      <a class="is-desktop-hidden client-menu-closer" data-component="ClientMenuCloser">
        <%= image_tag "icons/close.svg"%>
      </a>
    <% end %>
  </div>
</header>