<!--TODO - Fill in links when we have them-->

<div class="spacing-above-15">
  <%= link_to t("state_file.state_file_pages.about_page.who_can_use_text"), "" %>
</div>

<div class="spacing-above-15">
  <%= link_to t("state_file.state_file_pages.about_page.credits_deductions"), "" %>
</div>

<div class="spacing-above-15">
  <%= link_to t("state_file.state_file_pages.about_page.credits_deductions_not_html"), "" %>
</div>

<div class="spacing-above-15">
  <%= link_to t("state_file.state_file_pages.about_page.other_options"), "" %>
</div>

<div class="spacing-above-15">
  <%= link_to t("state_file.state_file_pages.about_page.when_file_by"), "" %>
</div>

<div class="spacing-above-15 spacing-below-15">
  <%= t("state_file.state_file_pages.about_page.answers_here_html", answers_url: '') %>
</div>
