<% title = t(".header") %>

<div class="fyst-home-container">
  <div class="fyst-home-content">
    <h1 class="h1 strong"><%= title %></h1>

    <div>
      <%= t(".subheader_1_html") %><br /><br />
      <% unless @intakes_closed %>
        <%= t(".subheader_2_html") %><br /><br />
      <% end %>
      <%= t(".subheader_3_html", login_path: login_options_path(us_state: 'us')) %><br />
    </div><br>

    <div class="blue-group spacing-below-15 spacing-above-15">
      <%= t(".section1_html", faq_link: state_faq_path(us_state: 'us')) %>
    </div>
  </div>
  <%= image_tag 'questions/welcome.svg', class: 'fyst-home-image' %>
</div>

<% unless acts_like_production? %>
<section>
  <%= link_to "Start Test AZ", Navigation::StateFileAzQuestionNavigation::FLOW.first.to_path_helper(us_state: "az"), class: "button" %>
  <%= link_to "Start Test NY", Navigation::StateFileNyQuestionNavigation::FLOW.first.to_path_helper(us_state: "ny"), class: "button" %>
  <% if current_intake %>
    <div class="with-padding-med">
      Your session has this intake: <b><%=current_intake.state_code %> <%= current_intake.id %></b>
      <%= button_to "Clear", StateFile::StateFilePagesController.to_path_helper(action: :clear_session) %>
    </div>
  <% end %>
</section>
<% end %>