<% title = t(".header") %>

<div class="fyst-home-container">
  <div class="fyst-home-content">
    <h1 class="h1 strong" style="font-weight: bold"><%= title %></h1>

    <div>
      <%= t(".subheader_html", login_path: login_options_path(us_state: "az")) %>
    </div><br>

    <div class="blue-group spacing-below-15 spacing-above-15">
      <%= t(".section1_html", faq_link: state_faq_path(us_state: 'us')) %>
    </div>
  </div>
  <%= image_tag 'questions/welcome.svg', class: 'fyst-home-image' %>
</div>

<% unless acts_like_production? %>
<section>
  <%= link_to "Start Test AZ", Navigation::StateFileAzQuestionNavigation::FLOW.first.to_path_helper(us_state: "az"), class: "button" %>
  <%= link_to "Start Test NY", Navigation::StateFileNyQuestionNavigation::FLOW.first.to_path_helper(us_state: "ny"), class: "button" %>
  <% if session[:state_file_intake] %>
    <div class="with-padding-med">
      Your session has this intake: <b><%= session[:state_file_intake] %></b>
      <%= button_to "Clear", StateFile::StateFilePagesController.to_path_helper(action: :clear_session) %>
    </div>
  <% end %>
</section>
<% end %>