<% title = t(".header") %>

<% if Flipper.enabled?(:fyst_sunset_pya_live) %>
  <div class="warning spacing-above-15">
    <%= t(".closed_warning", tax_year: current_tax_year) %>
  </div>
  <h1 class="h1 strong"><%= title %></h1>
  <div class="spacing-below-25">
    <%= t(".closed_forever_subheader_html", faq_link: state_faq_path(us_state: 'us')) %>
  </div>

  <%= link_to "https://pya.fileyourstatetaxes.org/#{I18n.locale}/year_select", class: "button button--primary button--icon button--wide spacing-below-15 no-external", id: "firstCta", role: "button", style: "display: flex; justify-content: center; align-items: center; text-align: center;"  do %>
    <%= t(".download_your_return") %>
  <% end %>

  <div class="spacing-below-25">
    <%= link_to "https://www.getyourrefund.org/#{I18n.locale}", class: "button button--icon button--wide no-external", id: "firstCta", role: "button", style: "display: flex; justify-content: center; align-items: center; text-align: center;" do %>
      <%= image_tag("icons/uswds-launch.svg", alt: "", class: "button__icon") %>
      <%= t(".visit_gyr") %>
    <% end %>
  </div>
<% else %>
  <div class="fyst-home-container">
    <div class="fyst-home-content">
      <% if Flipper.enabled?(:fyst_sunset_pya_live) %>
        <div class="warning">
          <%= t(".closed_warning", tax_year: current_tax_year) %>
        </div>
      <% end %>
      <h1 class="h1 strong"><%= title %></h1>
      <% if Flipper.enabled?(:fyst_sunset_pya_live) %>
        <div class="spacing-below-25">
          <%= t(".closed_forever_subheader_html", faq_link: state_faq_path(us_state: 'us')) %>
        </div>
        <div class="spacing-below-25">
          <%= link_to "https://pya.fileyourstatetaxes.org/#{I18n.locale}", class: "button button--primary button--icon button--full-width spacing-below-15", role: "button", id: "firstCta" do %>
            <%= t(".download_your_return") %>
          <% end %>
        </div>

        <%= link_to "https://getyourrefund.org/#{I18n.locale}", class: "button button--primary button--icon button--full-width", role: "button", id: "firstCta" do %>
          <%= t(".visit_gyr") %>
        <% end %>
      <% else %>
        <% if app_time.before?(Rails.configuration.state_file_end_of_new_intakes) %>
          <div class="warning">
            <%= t("state_file.landing_page.edit.closing_soon_html") %>
          </div>

          <div class="spacing-above-25">
            <p><%= t(".subheader_1_html", login_path: login_options_path) %></p>
            <p>
              <%= t(".subheader_2_html", login_path: login_options_path, faqs_path: state_faq_path(us_state: :us)) %>
            </p>
            <p><%= t(".subheader_3_html", login_path: login_options_path) %></p>
          </div>

          <% if Flipper.enabled?(:get_your_pdf) %>
            <div data-testid="get-your-pdf-sign-in" class="spacing-below-25">
              <%= t(".looking_for_return_html", link: state_file_archived_intakes_edit_email_address_path )%>
            </div>
          <% else %>
            <div class="spacing-below-25">
              <p class="text--bold"><%= t(".check_back_for_prior_year_returns") %></p>
              <%= link_to t(".faq_prior_year_returns"), state_faq_section_path(us_state: :az, section_key: "how_can_i_access_my_2023_state_tax_return") %>
            </div>
          <% end %>

          <div class="reveal">
            <button class="reveal__button"><%= t('.helper_heading_html') %></button>
            <div class="reveal__content">
              <%= t(".section1_html", faq_link: state_faq_path(us_state: 'us')) %>
            </div>
          </div>
        <% else %>
          <div>
            <% if app_time.after?(Rails.configuration.state_file_end_of_in_progress_intakes) %>
              <%= t(".end_of_in_progress_intakes_subheader_html", sign_in_url: StateFile::StateFilePagesController.to_path_helper(action: :login_options)) %>
            <% else %>
              <%= t(".closed_subheader_html", sign_in_url: StateFile::StateFilePagesController.to_path_helper(action: :login_options)) %>
            <% end %>
            <p>
              <%= t(".looking_for_return_html", link: state_file_archived_intakes_edit_email_address_path )%>
            </p>
            <%= link_to questions_return_status_path(locale: I18n.locale), class: "button button--primary button--wide", role: "button", id: "firstCta" do %>
              <%= t(".download_return_button") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= image_tag 'questions/welcome.svg', class: 'fyst-home-image', alt: '' %>
  </div>
<% end %>

<% unless acts_like_production? || Flipper.enabled?(:fyst_sunset_pya_live)%>
<section>
  <% StateFile::StateInformationService.active_state_codes.each do |state_code| %>
    <%= link_to "Start Test #{state_code.upcase}",
                state_landing_page_path(us_state: state_code),
                class: "button" %>
  <% end %>
  <% if current_intake %>
    <div class="with-padding-med">
      Your session has this intake: <b><%= current_state_code %> <%= current_intake.id %></b>
      <%= button_to "Clear", StateFile::StateFilePagesController.to_path_helper(action: :clear_session) %>
    </div>
  <% end %>
</section>
<% end %>