<% title = t(".header") %>

<div class="fyst-home-container">
  <div class="fyst-home-content">
    <h1 class="h1 strong"><%= title %></h1>

    <% if app_time.before?(Rails.configuration.state_file_end_of_in_progress_intakes) %>
      <div>
        <p><%= t(".subheader_1_html", login_path: login_options_path(us_state: 'us')) %></p>
        <% if app_time.before?(Rails.configuration.state_file_end_of_new_intakes) %>
          <p><%= t(".subheader_2_html", login_path: login_options_path(us_state: 'us')) %></p>
        <% end %>
        <p><%= t(".subheader_3_html", login_path: login_options_path(us_state: 'us')) %></p>
      </div>

      <div class="blue-group spacing-below-15 spacing-above-35">
        <%= t(".section1_html", faq_link: state_faq_path(us_state: 'us')) %>
      </div>
    <% else %>
      <div>
        <%= t(".closed_subheader_html") %>
        <%= link_to StateFile::StateFilePagesController.to_path_helper(action: :login_options, us_state: "us"), class: "button button--primary button--wide", id: "firstCta" do %>
          <%= t("general.sign_in") %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= image_tag 'questions/welcome.svg', class: 'fyst-home-image' %>
</div>

<% unless acts_like_production? %>
<section>
  <%= link_to "Start Test AZ", Navigation::StateFileAzQuestionNavigation::FLOW.first.to_path_helper(us_state: "az"), class: "button" %>
  <%= link_to "Start Test NY", Navigation::StateFileNyQuestionNavigation::FLOW.first.to_path_helper(us_state: "ny"), class: "button" %>
  <% if current_intake %>
    <div class="with-padding-med">
      Your session has this intake: <b><%= current_intake.state_code %> <%= current_intake.id %></b> <!--see _state_file_intercom.html.erb line 17-->
      <%= button_to "Clear", StateFile::StateFilePagesController.to_path_helper(action: :clear_session) %>
    </div>
  <% end %>
</section>
<% end %>