<% content_for :page_title, t(".title") %>

<section class="slab slab--white slab--not-padded question-layout">
  <div class="grid">
    <div class="grid__item one-half">
      <div class="offboarding--illustration">
        <%= image_tag("questions/error-circle.svg", alt: "") %>
      </div>
      <h1 class="h2"><%= content_for(:page_title) %></h1>
      <h2 class="h2 spacing-below-35"><%= t(".help_text_html") %></h2>
      <%= link_to StateFile::Questions::InitiateDataTransferController.to_path_helper(us_state: params[:us_state]),
                  class: "button button--primary button--wide" do %>
        <%= I18n.t("general.try_again") %>
      <% end %>
    </div>
  </div>
</section>

