<tr id="<%= to_id_name(resource.name) %>">
  <% form_attributes.each do |key, _| %>
    <td><%= resource.send(key) %></td>
  <% end %>
  <td>
    <%= form_for resource, authenticity_token: true, url: url_for(controller: controller_name, id: resource.id, action: "update"), method: :patch, remote: true do |f|%>
      <label class="toggle-switch">
        <span class="sr-only"><%= resource.activated_at? ? "Active" : "Inactive" %></span>
        <%= f.check_box(:active, onchange: "document.querySelector('#remote-submit-#{resource.id}').click()") %>
        <span class="slider slider-green round"></span>
        <%= f.submit "", id: "remote-submit-#{resource.id}", style: "display:none;" %>
      </label>
    <% end %>
  </td>
</tr>