<% content_for :page_title, "Notes: #{@client.preferred_name} ##{@client.id}" %>

<% content_for :card do %>

  <%= render "case_management/clients/client_header" %>

  <%= render "case_management/clients/navigation" %>

  <% if @all_notes.present? %>
    <ul class="message-list">
      <% @all_notes_by_day.each do |datetime, records| %>
        <li class="message__day-heading"><%= date_heading(datetime) %></li>
        <% records.each do |note| %>
          <% if note.class.name == "SystemNote" %>
            <%= render "system_note", note: note %>
          <% else %>
            <%= render "note", note: note %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: [:case_management, @client, @note], local: true, builder: VitaMinFormBuilder, html: {class: 'note-form'} do |f| %>
    <%= f.cfa_input_field :body, t(".note_form.label") %>
    <%= f.submit t(".note_form.submit"), class: "button" %>
  <% end %>
<% end %>
