<% title = t(".title", state_name: current_state_name) %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <%# Possibly use <%= t(".#{current_state_code}.body_html") once we have all the copies for the different states %>
  <% if current_state_code == "md" %>
    <%= t(".md.body_html") %>
  <% elsif current_state_code == "ny" %>
    <%= t(".ny.body_html") %>
  <% else %>
    <%= t(".az.body_html", filing_year: current_tax_year) %>
  <% end %>
  
  <%= form_with model: @form, url: { action: :update }, data: { efile_security_information: true, form_name: "state_file_esign_declaration_form" }, 
  local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <div class="spacing-above-60">
      <%= f.hidden_field(:device_id) %>
      <% if current_intake.ask_for_signature_pin? %>
        <div class="white-group">
          <%= t(".pin.title") %>
          <%= f.cfa_input_field(:primary_signature_pin, t(".pin.primary_signature_pin", primary_name: current_intake.primary.full_name), classes: ["form-width--long"]) %>
          <% if current_intake.ask_spouse_esign? %>
            <%= f.cfa_input_field(:spouse_signature_pin, t(".pin.spouse_signature_pin", spouse_name: current_intake.spouse.full_name), classes: ["form-width--long"]) %>
          <% end %>
        </div>
      <% end %>
      <%= f.cfa_checkbox(:primary_esigned, t(".primary_esign"), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <% if current_intake.ask_spouse_esign? %>
        <%= f.cfa_checkbox(:spouse_esigned, t(".spouse_esign"), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <% end %>

      <% submission_btn_text = current_intake.efile_submissions.count > 0 ? t(".resubmit") : t(".submit") %>
      <% if @form.intake_already_submitted? %>
        <button class="button button--primary button--wide text--centered button--disabled spacing-below-0" disabled type="submit">
          <%= t(".submit") %>
        </button>
        <p class="text--error spacing-above-5"><%= t(".already_submitted") %></p>
      <% else %>
        <%= f.submit(submission_btn_text, class: "button button--primary button--wide") %>
      <% end %>
    </div>
  <% end %>
<% end %>
