<% title = t(".title", state_name: state_name) %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <%= params[:us_state] == "ny" ? t(".ny.body_html") : t(".az.body_html") %>
  <%= questions_form model: @form, url: { action: :update }, data: { efile_security_information: true, form_name: "state_file_esign_declaration_form" }, local: true, method: "put", html: { class: "form-card" } do |f| %>
    <div class="spacing-above-60">
      <%= f.hidden_field(:device_id) %>
      <%= f.cfa_checkbox(:primary_esigned, t(".primary_esign"), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <% if current_intake.ask_spouse_esign? %>
        <%= f.cfa_checkbox(:spouse_esigned, t(".spouse_esign"), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <% end %>

      <% submission_btn_text = current_intake.efile_submissions.count > 0 ? t(".resubmit") : t(".submit") %>
      <% if current_intake.efile_submissions.count == 0 || (current_intake.efile_submissions.count > 0 && ["rejected", "notified_of_rejection", "waiting"].include?(current_intake.efile_submissions.last.current_state)) %>
        <%= f.submit(submission_btn_text, class: "button button--primary button--wide") %>
      <% else %>
        <button class="button button--primary button--wide text--centered button--disabled spacing-below-0" disabled type="submit">
          <%= t(".submit") %>
        </button>
        <p class="text--error spacing-above-5"><%= t(".already_submitted") %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
