<% content_for :form_question, "Success! Your tax information has been submitted." %>

<% content_for :form_card do %>
  <h1 class="form-question">
    <%= content_for(:form_question) %>
  </h1>
  <% if current_intake&.intake_ticket_id.present? %>
    <h2 class="text--teal h3">
      Your confirmation number is: <%= current_intake.intake_ticket_id %>
    </h2>
  <% end %>

  <p class="text--small">
    <strong>Next Steps</strong>
  </p>

  <ul class="list--bulleted spacing-below-60">
    <li>
      You will receive a confirmation message shortly
    </li>
    <li>
      <% if current_intake&.vita_partner.present? %>
        Your tax preparer at <%= current_intake.vita_partner.display_name %> will review your information
      <% else %>
        Your tax preparer will review your information
      <% end %>
    </li>
    <li>
      <% if current_intake&.vita_partner.present? %>
        <%= current_intake.vita_partner.display_name %> will reach out within 3 business days to talk about your taxes
      <% else %>
        Your tax preparer will reach out within 3 business days to talk about your taxes
      <% end %>
    </li>
  </ul>

  <%= link_to root_path, class: "button button--wide button--primary text--centered" do %>
    Return to home
  <% end %>
<% end %>