<% content_for :form_question, t("views.questions.successfully_submitted.title") %>

<% content_for :card do %>
  <%= render 'shared/facebook_pixel', track_conversion: "SubmitIntake" %>
  <h1 class="form-question">
    <%= content_for(:form_question) %>
  </h1>
  <% if current_intake.present? %>
    <h2 class="text--teal h3">
      <%=t("views.questions.successfully_submitted.client_id", :client_id => current_intake.client_id) %>
    </h2>
    <p class="text--small">
      <%=t("views.questions.successfully_submitted.additional_text") %>
    </p>
  <% end %>

  <p class="text--small">
    <strong><%=t("views.questions.successfully_submitted.next_steps.header") %></strong>
  </p>

  <ul class="list--bulleted spacing-below-60">
    <li>
      <%=t("views.questions.successfully_submitted.next_steps.confirmation_message") %>
    </li>
    <li>
      <% if current_intake&.vita_partner.present? %>
        <%=t("views.questions.successfully_submitted.next_steps.partner_review", :partner_name => current_intake.vita_partner.name) %>
      <% else %>
        <%=t("views.questions.successfully_submitted.next_steps.review") %>
      <% end %>
    </li>
    <li>
      <% if current_intake&.vita_partner.present? %>
        <%=t("views.questions.successfully_submitted.next_steps.partner_timing", :partner_name => current_intake.vita_partner.name) %>
      <% else %>
        <%=t("views.questions.successfully_submitted.next_steps.timing") %>
      <% end %>
    </li>
  </ul>

  <% if current_intake.present? %>
    <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "satisfaction_face_form" } do |f| %>
      <h2 class="h3" id="survey-question"><%= t("views.questions.successfully_submitted.satisfaction_face.question") %></h2>
      <div class="face-container">
        <%= f.button :submit, name: "#{f.object_name}[satisfaction_face]", value: "positive", class: "button positive", "aria-describedby": "survey-question" do %>
          <%= image_tag("questions/csat/positive.svg", alt: "") %>
          <span><%= t("views.questions.successfully_submitted.satisfaction_face.positive") %></span>
        <% end %>
        <%= f.button :submit, name: "#{f.object_name}[satisfaction_face]", value: "neutral", class: "button neutral", "aria-describedby": "survey-question" do %>
          <%= image_tag("questions/csat/neutral.svg", alt: "") %>
          <span><%= t("views.questions.successfully_submitted.satisfaction_face.neutral") %></span>
        <% end %>
        <%= f.button :submit, name: "#{f.object_name}[satisfaction_face]", value: "negative", class: "button negative", "aria-describedby": "survey-question" do %>
          <%= image_tag("questions/csat/negative.svg", alt: "") %>
          <span><%= t("views.questions.successfully_submitted.satisfaction_face.negative") %></span>
        <% end %>
      </div>
      <%= f.cfa_textarea(
            :feedback,
            content_for(:form_question),
            help_text: t("views.questions.feedback.body"),
            options: { rows: '5' }
          ) %>
    <% end %>
  <% end %>
<% end %>
