<% @main_question = t("views.ctc.questions.life_situations_2020.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_question %></h1>

  <p class="spacing-below-15"><%= t("views.ctc.questions.life_situations_2020.p1") %></p>

  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="form-card__stacked-checkboxes spacing-above-0 spacing-below-15">
      <%= f.cfa_checkbox(:cannot_claim_me_as_a_dependent, t("views.ctc.questions.life_situations_2020.cannot_claim_me_as_a_dependent"), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:primary_member_of_the_armed_forces, t("views.ctc.questions.life_situations_2020.primary_member_of_the_armed_forces"), options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>
    <div class="reveal" style="max-width: 47.5rem;">
      <span class="text--small"><a href="#" class="reveal__link"><%= t("views.ctc.questions.life_situations_2020.reveal_label") %></a></span>
      <div class="reveal__content">
        <%= t("views.ctc.questions.life_situations_2020.reveal_content") %>
      </div>
    </div>
    <%= f.submit t("general.continue"), class: "button button--primary button--wide text--centered spacing-above-60" %>
  <% end %>
<% end %>