<% title = t(".title") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2" id="main-question"><%= title %></h1>
    <p><%= t('.description') %></p>

    <%= link_to @link.to_s, class: "button button--primary", id: "firstCta" do %>
      <%= t(".button") %>
    <% end %>
    <div><%= t('.button_help_text') %></div>
<% end %>
