<% @title = t("views.questions.qualifications.title") %>
<% content_for :page_title, @title %>

<% content_for :card do %>
  <div class="form-card">
    <h1 class="form-question">
      <%= @title %>
    </h1>

    <p><%= t("views.questions.qualifications.subtitle") %></p>

    <div class="review-box spacing-above-15">
      <p><strong><%= t("views.questions.qualifications.qualifications.header") %></strong></p>
      <ul class="list--bulleted">
        <li><%= t("views.questions.qualifications.qualifications.p1") %></li>
        <li><%= t("views.questions.qualifications.qualifications.p2") %></li>
        <li><%= t("views.questions.qualifications.qualifications.p3") %></li>
      </ul>
    </div>

    <div class="review-box spacing-above-15">
      <p><strong><%= t("views.questions.qualifications.not_included.header") %></strong></p>
      <ul class="list--bulleted">
        <li><%= t("views.questions.qualifications.not_included.p1") %></li>
        <li><%= t("views.questions.qualifications.not_included.p2") %></li>
        <li><%= t("views.questions.qualifications.not_included.p3") %></li>
      </ul>
    </div>

    <%= link_to next_path, class: "button button--primary button--wide text--centered spacing-above-60" do %>
      <%= t("views.questions.qualifications.button_1") %>
    <% end %>

    <%= link_to root_path(anchor: "service-comparison"), class: "button button--wide text--centered spacing-above-15" do %>
      <%= t("views.questions.qualifications.button_2") %>
    <% end %>
  </div>
<% end %>
