<% content_for :page_title, t(".title") %>

<% content_for :card do %>
  <h1 class="form-question spacing-above-25">
    <%= content_for(:page_title) %>
  </h1>

  <p><%= t(".options") %></p>
  <ul class="list--bulleted">
    <li><%= t(".option_1") %></li>
    <li><%= t(".option_2") %></li>
    <li><%= t(".option_3") %></li>
    <li><%= t(".option_4") %></li>
  </ul>

  <p><%= t(".more_guidance") %></p>

  <%= link_to @faq_path, class: "button button--primary button--wide text--centered spacing-above-60" do %>
    <%= t(".visit_faq") %>
  <% end %>

<% end %>
