<% puerto_rico_filing = current_intake.puerto_rico_filing? %>
<% content_for :form_question, t("views.ctc.questions.had_dependents.title") %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= t("views.ctc.questions.had_dependents.title") %></h1>

  <p><%= t("views.ctc.questions.had_dependents.help_text") %></p>
  <%= render('components/molecules/reveal', title: t("views.ctc.questions.had_dependents.which_relationships_qualify_reveal.title")) do %>
    <ul class="list--bulleted">
      <% if puerto_rico_filing %>
        <% t("views.ctc.questions.had_dependents.which_relationships_qualify_reveal.content_puerto_rico").each do |item| %>
          <li><%= item %></li>
        <% end %>
      <% else %>
        <% t("views.ctc.questions.had_dependents.which_relationships_qualify_reveal.content").each do |item| %>
          <li><%= item %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  
<%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
  <%= f.button :submit, name: "#{f.object_name}[had_dependents]", value: "yes", class: "button button--primary button--icon text--centered button--wide spacing-above-60" do %>
    <%= image_tag("add-person--white.svg", alt: "") %>
    <%= t("views.ctc.questions.had_dependents.add") %>
  <% end %>

  <%= f.button :submit, name: "#{f.object_name}[had_dependents]", value: "no", class: "button button--wide text--centered spacing-above-15" do %>
    <%= t("views.ctc.questions.had_dependents.continue") %>
  <% end %>
<% end %>
<% end %>

