<% @main_heading = t("views.ctc.questions.remove_spouse.title_html", spouse_name: current_intake.spouse_full_name) %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <%= link_to questions_spouse_info_path, class: "button button--primary button--wide text--centered spacing-above-60 spacing-below-15" do %>
    <%=t("views.ctc.questions.remove_spouse.remove_button") %>
  <% end %>
  <%= link_to next_path, class: "button button--wide text--centered" do %>
    <%=t("views.ctc.questions.remove_spouse.nevermind_button") %>
  <% end %>
<% end %>
