<% @main_heading = t("views.ctc.questions.remove_spouse.title_html", spouse_name: current_intake.spouse_full_name) %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="form-question"><%= @main_heading %></h1>

    <button class="button button--primary button--wide text--centered spacing-above-60 spacing-below-15" type="submit">
      <%= t("views.ctc.questions.remove_spouse.remove_button") %>
    </button>
    <%= link_to questions_spouse_review_path, class: "button button--wide text--centered" do %>
      <%= t("views.ctc.questions.remove_spouse.nevermind_button") %>
    <% end %>
  <% end %>
<% end %>
