<% content_for :page_title, t("views.questions.eip_eligibility.title") %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35">
      <%= content_for(:page_title) %>
    </h1>
    <p>
      <strong><%= t("views.questions.eip_eligibility.legend") %></strong>
    </p>
    <div class="form-card__stacked-checkboxes spacing-above-0">
      <%= f.cfa_checkbox(:claimed_by_another, t("views.questions.eip_eligibility.claimed"), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:already_applied_for_stimulus, t("views.questions.eip_eligibility.already_applied"), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:no_ssn, t("views.questions.eip_eligibility.no_ssn", :year => current_intake.most_recent_filing_year), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:no_eligibility_checks_apply, t("general.none_of_the_above"), options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      <%= t("views.questions.eip_eligibility.collect_my_stimulus") %>
    </button>
  <% end %>
<% end %>