<% content_for :additional_review_header_sections do %>
  <% if @income_documents_present %>
    <div class="spacing-below-25">
      <h2 class="text--body text--bold spacing-below-5"><%=t(".income_details") %></h2>
    </div>
    <div id="income-info" class="white-group">
      <div class="spacing-below-5">
        <%= link_to StateFile::Questions::IncomeReviewController.to_path_helper(return_to_review: "y"), class: "button--small" do %>
          <%= t("general.edit") %>
          <span class="sr-only"><%= t(".income_details") %></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render "state_file/questions/shared/abstract_review_header" %>
