<% @main_question = t("views.ctc.questions.stimulus_one.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_question %></h1>

  <%= t("views.ctc.questions.stimulus_one.help_html") %>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, class: "form-card--yes-no" do |f| %>
    <div class="options-wrapper">
      <div class="yes-no-buttons">
        <%= link_to questions_stimulus_one_received_path, class: "button button--icon button--icon--centered" do %>
          <%= image_tag("checkmark.svg", alt: "") %><%= t("general.affirmative") %>
        <% end %>

        <%= f.button :submit, name: "#{f.object_name}[eip1_entry_method]", value: "did_not_receive", class: "button button--icon button--icon--centered" do %>
          <%= image_tag("crossmark.svg", alt: "") %><%= t("general.negative") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
