<% content_for :page_title, t('.title') %>

<% content_for :form_card do %>
  <h1 class="form-question text--line-breaks">
    <%= content_for(:page_title) %>
  </h1>

  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <%= f.cfa_select(
        :triage_filing_status,
        t(".filing_status.label"),
        [
          [t(".filing_status.options.single"), :single],
          [t(".filing_status.options.jointly"), :jointly],
        ],
        include_blank: true
      ) %>
    <%= f.cfa_select(
        :triage_income_level,
        t(".income_level.label_html"),
        [
          [t(".income_level.options.zero"), :zero],
          [t(".income_level.options.1_to_12500"), "1_to_12500"],
          [t(".income_level.options.12500_to_25000"), "12500_to_25000"],
          [t(".income_level.options.25000_to_40000"), "25000_to_40000"],
          [t(".income_level.options.40000_to_65000"), "40000_to_65000"],
          [t(".income_level.options.65000_to_73000"), "65000_to_73000"],
          [t(".income_level.options.over_73000"), :over_73000],
        ],
        include_blank: true
      ) %>
    <%= f.cfa_select(
        :triage_filing_frequency,
        t(".filing_frequency.label_html"),
        [
          [t(".filing_frequency.options.every_year"), :every_year],
          [t(".filing_frequency.options.some_years"), :some_years],
          [t(".filing_frequency.options.not_filed"), :not_filed],
        ],
        include_blank: true
      ) %>
    <%= f.cfa_select(
        :triage_vita_income_ineligible,
        t(".vita_income_ineligible.label"),
        [
          [t("general.affirmative"), :yes],
          [t("general.negative"), :no],
        ],
        include_blank: true
      ) %>

    <div class="spacing-above-60">
      <%= f.submit t("general.continue"), class: "button button--primary button--wide text--centered" %>
    </div>
  <% end %>
<% end %>
