<% @main_title = @not_collecting ?  t("views.ctc.questions.confirm_payment.client_not_collecting") : t("views.ctc.questions.confirm_payment.title") %>
<% content_for :page_title, @main_title %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_title %></h1>

  <div class="review-box">
    <div class="spacing-above-0">
      <p class="spacing-below-15"><strong><%= t('views.ctc.questions.confirm_payment.ctc_due') %></strong></p>
      <p class="spacing-below-15"><%= number_to_currency(@ctc_amount) %></p>
      <%= link_to t('views.ctc.questions.confirm_payment.ctc_0_due_link'), Ctc::Questions::Dependents::InfoController.to_path_helper(id: current_intake.new_record_token), class: "link" if @ctc_amount.zero? %>
    </div>
    <% unless current_intake.puerto_rico_filing? %>
      <div class="spacing-above-35">
        <p class="spacing-below-15"><strong><%= t('views.ctc.questions.confirm_payment.third_stimulus') %></strong></p>
        <p class="spacing-below-15"><%= number_to_currency(@third_stimulus_amount) %></p>
      </div>
    <% end %>
    <% if @eitc_amount %>
      <div class="spacing-above-35">
        <p class="spacing-below-15"><strong><%= t('views.ctc.questions.confirm_payment.eitc') %></strong></p>
        <p class="spacing-below-15"><%= number_to_currency(@eitc_amount) %></p>
      </div>
    <% end %>
    <div class="spacing-above-35 total_fund_amount-box">
      <p class="spacing-below-15"><strong><%= t('views.ctc.questions.confirm_payment.total') %></strong></p>
      <p class="spacing-below-15 h2"><%= number_to_currency(@total_amount) %></p>
    </div>
  </div>

  <%= link_to t("general.continue"), next_path, class: "button button--primary button--wide text--centered spacing-above-60" unless @not_collecting%>
  <%= link_to t('views.ctc.questions.confirm_payment.do_not_file'), questions_do_not_file_path, method: :patch, class: "button button--primary button--wide text--centered spacing-above-60" if @not_collecting %>
<% end %>
