<% title = t('.title', filing_year: current_tax_year) %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p><%= t(".subtitle") %></p>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up spacing-below-25">
      <div class="question-with-follow-up__question">
        <div class="white-group">
          <%=
            f.cfa_radio_set(
              :untaxed_out_of_state_purchases,
              label_text: t('.use_tax_radio_label'),
              collection: [
                { value: :yes, label: t("general.affirmative"), input_html: { "data-follow-up": "#sut-method-field" } },
                { value: :no, label: t(".no_text") },
              ],
              legend_class: "sr-only"
            )
          %>
        </div>
      </div>
      <div class="question-with-follow-up__follow-up" id="sut-method-field">
        <div class="white-group">
          <div class="question-with-follow-up">
            <div class="question-with-follow-up__question">
              <%=
                f.cfa_radio_set(
                  :sales_use_tax_calculation_method,
                  label_text: t(".followup_radio_label"),
                  collection: [
                    { value: :automated, label: t(".use_tax_method_automated"), input_html: { "onclick": "document.querySelector('#sut-field').style.display = 'none'"} },
                    { value: :manual, label: t(".use_tax_method_manual"), input_html: { "data-follow-up": "#sut-field" } },
                  ]
                )
              %>
            </div>
            <div class="question-with-follow-up__follow-up" id="sut-field">
              <%= f.vita_min_money_field(:sales_use_tax, t(".manual_use_tax_label_html"), options: { placeholder: '0' }, classes: ["form-width--long"]) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="reveal">
      <button class="reveal__button"><%= t('.helper_heading') %></button>
      <div class="reveal__content">
        <p><%= t('.helper_description_html') %></p>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>
