<% content_for :page_title, t(".title") %>

<% content_for :card do %>
  <h1 class="h2 spacing-below-5"><%= t(".title") %></h1>
  <p class="spacing-below-15 spacing-above-0"><%= t(".subtitle") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>


    <div class="question-with-follow-up">
      <div class="white-group question-with-follow-up__question">
        <%= f.vita_min_checkbox_set(
          :opt_in,
          [
            {
              method: :sms_notification_opt_in,
              label: t(".sms_notification_opt_in"),
              opens_follow_up_with_id: "sms-opt-in"
            },
            {
              method: :email_notification_opt_in,
              label: t(".email_notification_opt_in"),
              opens_follow_up_with_id: "email-opt-in"
            }
          ], 
          enum: true,
          label_text: t('.opt_in_label')
        ) %>
      </div>

      <div class="question-with-follow-up__follow-up" id="sms-opt-in">
        <% if current_intake.phone_number.present? %>
          <div class="white-group">
            <p class="spacing-below-0"><%= t('.provided_contact', contact_info: PhoneParser.formatted_phone_number(current_intake.phone_number)) %></p>
          </div>
        <% else %>
          <div class="white-group">
            <%= f.cfa_input_field(:phone_number, t(".phone_number"), help_text: t('.phone_number_help_text'), classes: ["form-width--long"], type: "tel", options: { autocomplete: "tel" }) %>
          </div>
        <% end %>
      </div>
      <div class="question-with-follow-up__follow-up" id="email-opt-in">
        <% if current_intake.email_address.present? %>
          <div class="white-group">
            <p class="spacing-below-0"><%= t('.provided_contact', contact_info: current_intake.email_address) %></p>
          </div>
        <% else %>
          <div class="white-group">
            <%= f.cfa_input_field(:email_address, t(".email_address_label"), help_text: 'example@email.com', classes: ["form-width--long"], type: "email", options: { autocomplete: "email" }) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="reveal">
      <p>
        <button class="reveal__button" data-track-click="w2_havent_received_reveal"><%= t(".message_title") %></button>
      </p>
      <div class="reveal__content">
        <p class="spacing-below-0"><%= t(".message_body_one") %></p>
        <p class="text--line-breaks">
          <%= t(".message_body_two_html", privacy_link: state_file_privacy_policy_path, sms_terms_link: sms_terms_path) %>
        </p>
      </div>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
