<% content_for :page_title, t(".title") %>

<% content_for :card do %>
  <h1 class="h2"><%= t(".title") %></h1>
  <p><%= t(".subtitle") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up">
      <div class="question-with-follow-up__question">
        <div class="white-group">
          <%= f.cfa_checkbox(:email_notification_opt_in, t(".email_notification_opt_in"), options: { checked_value: "yes", unchecked_value: "no" }) %>
          <%= f.cfa_checkbox(:sms_notification_opt_in, t(".sms_notification_opt_in"), options: { checked_value: "yes", unchecked_value: "no", "data-follow-up": "#sms-opt-in" }) %>
        </div>
      </div>

      <div class="question-with-follow-up__follow-up" id="sms-opt-in">
        <div class="white-group">
          <%= f.cfa_input_field(:phone_number, t(".phone_number"), classes: ["form-width--long"]) %>
        </div>
      </div>
    </div>

    <div class="reveal">
      <p>
        <button class="reveal__button" data-track-click="w2_havent_received_reveal"><%= t(".message_title") %></button>
      </p>
      <div class="reveal__content">
        <p class="text--line-breaks"><%= t(".message_body_one") %></p>
        <p class="text--line-breaks"><%= t(".message_body_two") %></p>
      </div>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
