<% content_for :page_title, t('.title') %>

<% content_for :form_card do %>
  <h1 class="form-question">
    <%= content_for(:page_title) %>
  </h1>

  <p class="text--line-breaks"><%= t('.help_text_1') %></p>
  <p class="text--bold"><%= t('.help_text_2') %></p>

  <div class="spacing-above-60">
    <%= link_to t('.yes_i_have_id'), next_path, class: "button button--primary button--wide text--centered", "data-track-click": "triage-gyr-id-gyr" %>
  </div>
  <div>
    <%= link_to t('.no_diy'), diy_path, class: "button button--wide text--centered", "data-track-click": "triage-gyr-id-file-myself" %>
  </div>
<% end %>
