<div class="slab">
  <div class="grid">

    <h1>Experiments</h1>

    <table class="data-table">
      <tr>
        <th>id</th>
        <th>key</th>
        <th>name</th>
        <th>enabled</th>
      </tr>

      <% @experiments.each do |experiment| %>
        <tr>
          <td><%= experiment.id %></td>
          <td><%= experiment.key %></td>
          <td><%= experiment.name %></td>
          <td><%= experiment.enabled %></td>
        </tr>
      <% end %>
    </table>

    <h1>Experiment participants</h1>

    <table class="data-table">
      <tr>
        <th>experiment_id</th>
        <th>record</th>
        <th>treatment</th>
      </tr>

      <% @experiment_participants.each do |participant| %>
        <tr>
          <td><%= participant.experiment_id %></td>
          <td><%= participant.record_type %>#<%= participant.record_id %></td>
          <td><%= participant.treatment %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>