<div class="slab">
  <div class="grid">

    <h1>Experiments</h1>

    <table class="data-table experiments-table">
      <tr>
        <th>id</th>
        <th>key</th>
        <th>name</th>
        <th>treatment weights</th>
        <th>participating VITA partners</th>
        <th>enabled</th>
        <th></th>
      </tr>

      <% @experiments.each do |experiment| %>
        <tr>
          <td><%= experiment.id %></td>
          <td><%= link_to experiment.key, hub_admin_experiment_path(experiment.id) %></td>
          <td><%= experiment.name %></td>
          <td style="white-space: pre-line;"><%= experiment.treatment_weights.map { |key, weight| "#{key}: #{weight}" }.join("\n") %></td>
          <td><%= experiment.vita_partners.count %></td>
          <td><%= experiment.enabled %></td>
          <td><%= link_to "Edit", edit_hub_admin_experiment_path(experiment) %></td>
        </tr>
      <% end %>
    </table>

    <% if @experiment_participants.present? %>
      <h1>Experiment participants</h1>

      <section class="slab slab--padded">
        <div class="pagination-wrapper">
          <div class="count-wrapper">
            <div>
              <%= page_entries_info @experiment_participants, model: "experiment participant" %>
            </div>
          </div>
          <div>
            <%= will_paginate(
                  @experiment_participants,
                  previous_label: "<i class=\"icon icon-keyboard_arrow_left\"></i><span class=\"hide-on-mobile\">Previous</span>",
                  next_label: "<span class=\"hide-on-mobile\">Next</span><i class=\"icon icon-keyboard_arrow_right\"></i>",
                  inner_window: 1,
                  outer_window: 1,
                  param_name: "page",
                  ) %>
          </div>
        </div>
      </section>

      <table class="data-table participants-table">
        <tr>
          <th>record</th>
          <th>treatment</th>
          <th>email</th>
          <% if @experiment.key == "diy_high_and_low_experiment" %><th>1099</th><% end %>
          <th>outcome</th>
          <% unless Rails.env.production? %><th></th><% end %>
        </tr>

        <% @experiment_participants.each do |participant| %>
          <tr>
            <% if participant.record_type == "Intake" %>
              <td>Client#<%= participant.record.client_id %></td>
            <% else %>
              <td><%= participant.record_type %>#<%= participant.record_id %></td>
            <% end %>
            <td><%= participant.treatment %></td>
            <td><%= participant.record.email_address if participant.record.has_attribute?(:email_address) %></td>
            <% if @experiment.key == "diy_high_and_low_experiment" %><td><%= participant.record.received_1099 %></td><% end %>
            <td>
              <% if @experiment.key == ExperimentService::DIY_SUPPORT_LEVEL_EXPERIMENT %>
                <% if participant.record.clicked_chat_with_us_at %>
                  clicked chat with us at <%= participant.record.clicked_chat_with_us_at %>
                <% end %>
              <% end %>
            </td>
            <% unless Rails.env.production? %><td><%= link_to "Edit", edit_hub_admin_experiment_participant_path(participant) %></td><% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
