<% content_for :page_title, t("views.ctc.questions.dependents.tin.title", name: @form.dependent.first_name) %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= content_for(:page_title) %></h1>
    <p>
      <%=t("views.ctc.questions.dependents.tin.help_text") %>
    </p>

    <div class="form-card__content">
      <%= f.cfa_select(:tin_type, t("views.ctc.questions.dependents.tin.form_of_identity", name: @form.dependent.first_name), tin_options_for_select(include_atin: true)) %>
      <%= f.cfa_input_field(:ssn, t("views.ctc.questions.dependents.tin.ssn_or_atin", name: @form.dependent.first_name), classes: ["form-width--long"]) %>
      <%= f.cfa_input_field(:ssn_confirmation, t("views.ctc.questions.dependents.tin.ssn_or_atin_confirmation", name: @form.dependent.first_name), classes: ["form-width--long"]) %>
    </div>

    <button class="button button--primary spacing-below-15 button--wide" type="submit">
      <%= image_tag("file-person.svg", alt: "") %>
      <%=t("views.ctc.questions.dependents.tin.save_person") %>
    </button>
    <%= link_to questions_remove_dependent_path, class: "button button--wide button--danger text--centered" do %>
      <%= image_tag("remove-minus.svg", alt: "") %>
      <%= t("views.ctc.questions.dependents.tin.remove_person") %>
    <% end %>
  <% end %>
<% end %>
