<% title = t(".title") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <div>
    <h1 class="h2" id="main-question"><%= title %></h1>
    <% if params[:us_state] == "ny" %>
      <p><%=t(".ny_text_html") %></p>
    <% end %>
    <p><%=t(".body_text_html") %></p>
  </div>
  <p><%=t(".read_text") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="options-wrapper">
      <div class="yes-no-buttons">
        <%= f.button :submit, name: "#{f.object_name}[consented_to_terms_and_conditions]", value: 'yes', class: 'button button--primary' do %>
          <%= t(".accept") %>
        <% end %>
        <%= f.button :submit, name: "#{f.object_name}[consented_to_terms_and_conditions]", value: 'no', class: 'button' do %>
          <%= t(".decline") %>
        <% end %>
      </div>
    </div>
  <%end %>
<% end %>
