<% title = t(".title") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <div>
    <h1 class="h2" id="main-question"><%= title %></h1>
    <% if params[:us_state] == "ny" %>
      <p><%=t(".ny_text_html") %></p>
    <% end %>
    <p><%=t(".body_text_html") %></p>
  </div>
  <p><%=t(".read_text") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <%= f.hidden_field :consented_to_terms_and_conditions, value: 'yes' %>
    <%= link_to next_path, class: "button button--primary", id: "firstCta" do %>
      <%= t(".accept") %>
    <% end %>
    <%= f.hidden_field :consented_to_terms_and_conditions, value: 'no' %>
    <%= link_to(StateFile::Questions::DeclinedTermsAndConditionsController.to_path_helper(action: :edit, us_state: params[:us_state]), class: "button") do %>
      <%= t(".decline") %>
    <% end %>
  <%end %>
<% end %>
