<% content_for :page_title, t('.title') %>

<% content_for :card do %>
  <style>
      .grocery-credit-checkbox .checkbox {
          min-height: auto;
          padding-top: 0;
          padding-bottom: 0;
      }

      .grocery-credit-checkbox .checkbox input[type='checkbox'] {
          top: 0.25rem;
      }

      .grocery-credit-checkbox .form-group {
          margin-bottom: 1.5rem;
      }
  </style>

  <h1 class="h2"><%= t(".title_html") %></h1>

  <%= form_with model: @form, url: { action: :update }, method: :put, local: true, builder: VitaMinFormBuilder, class: 'form-card' do |f| %>

    <div class="question-with-follow-up spacing-below-25">
      <div class="question-with-follow-up__question">
        <div class="white-group">
          <%=
            f.cfa_radio_set(
              :household_has_grocery_credit_ineligible_months,
              collection: [
                { value: :yes, label: t("general.affirmative"), input_html: { "data-follow-up": "#select-household-members" } },
                { value: :no, label: t("general.negative") },
              ]
            )
          %>
        </div>
      </div>
      <div class="question-with-follow-up__follow-up" id="select-household-members">
        <div class="">
          <div class="">
            <div class="white-group">
              <div class="grocery-credit-checkbox spacing-above-0 spacing-below-0">
                <%= f.cfa_checkbox(:primary_has_grocery_credit_ineligible_months, current_intake.primary.full_name, options: { checked_value: "yes", unchecked_value: "no", "data-toggle": "#primary_months_ineligible_for_grocery_credit" }) %>
                <% if current_intake.filing_status_mfj? %>
                  <%= f.cfa_checkbox(:spouse_has_grocery_credit_ineligible_months, current_intake.spouse.full_name, options: { checked_value: "yes", unchecked_value: "no", "data-toggle": "#spouse_months_ineligible_for_grocery_credit" }) %>
                <% end %>
                <%= f.fields_for :dependents do |ff| %>
                  <% dependent = ff.object %>
                  <%= ff.cfa_checkbox(:id_has_grocery_credit_ineligible_months, dependent.full_name, options: { checked_value: "yes", unchecked_value: "no", "data-toggle": "#dependent-#{dependent.id}-months" }) %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="" id="primary_months_ineligible_for_grocery_credit" style="display: none">
            <div class="white-group">
              <%= f.cfa_select(:primary_months_ineligible_for_grocery_credit, "Primary Months", (1..12).to_a, include_blank: true) %>
            </div>
          </div>

          <div class="" id="spouse_months_ineligible_for_grocery_credit" style="display: none">
            <div class="white-group">
              <%= f.cfa_select(:spouse_months_ineligible_for_grocery_credit, "Spouse Months", (1..12).to_a, include_blank: true) %>
            </div>
          </div>

          <%= f.fields_for :dependents do |ff| %>
            <% dependent = ff.object %>
            <div class="" id="dependent-<%= dependent.id %>-months" style="display: none">
              <div class="white-group">
                <%= ff.cfa_select(:id_months_ineligible_for_grocery_credit, "#{dependent.full_name} Months", (1..12).to_a, include_blank: true) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>


<% content_for :script do %>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
          function registerAndCheckToggle(selector) {
              const checkbox = document.querySelector(selector);
              const toggleInput = document.querySelector(checkbox.dataset.toggle);

              function checkToggle() { toggleInput.style.display = checkbox.checked ? 'block' : 'none'; }
              checkToggle();
              checkbox.addEventListener('change', function () {
                  checkToggle();
              });
          }

          registerAndCheckToggle('#state_file_id_grocery_credit_form_primary_has_grocery_credit_ineligible_months')
          registerAndCheckToggle('#state_file_id_grocery_credit_form_spouse_has_grocery_credit_ineligible_months')

          <% current_intake.dependents.each_with_index do |dependent, index| %>
            registerAndCheckToggle("<%= "#state_file_id_grocery_credit_form_dependents_attributes_#{index}_id_has_grocery_credit_ineligible_months" %>")
          <% end %>
      });
  </script>
<% end %>
