<% content_for :page_title, t('.title') %>

<% content_for :card do %>
  <h1 class="h2"><%= t(".title_html") %></h1>

  <%= form_with model: @form, url: { action: :update }, method: :put, local: true, builder: VitaMinFormBuilder, class: 'form-card' do |f| %>

    <div class="question-with-follow-up spacing-below-25">
      <div class="question-with-follow-up__question">
        <div class="white-group">
          <%=
            f.cfa_radio_set(
              :situations_applied_to_household,
              collection: [
                { value: :yes, label: t("general.affirmative"), input_html: { "data-follow-up": "#select-household-members" } },
                { value: :no, label: t("general.negative") },
              ]
            )
          %>
        </div>
      </div>
        <div class="question-with-follow-up__follow-up" id="select-household-members">
          <div class="">
            <div class="">
              <div class="white-group">
              <div class="tight-checkboxes spacing-above-0 spacing-below-0">
                <%= f.cfa_checkbox(:primary, current_intake.primary.full_name, options: { checked_value: "yes", unchecked_value: "no", "data-toggle": "#primary-months" }) %>
                <% if current_intake.filing_status_mfj? %>
                  <%= f.cfa_checkbox(:spouse, current_intake.spouse.full_name, options: { checked_value: "yes", unchecked_value: "no", "data-toggle": "#spouse-months" }) %>
                <% end %>
                <% current_intake.dependents.each do |dependent| %>
                  <% key = "dependent_#{dependent.id}".to_sym %>
                  <%= f.cfa_checkbox(key, dependent.full_name, options: { checked_value: "yes", unchecked_value: "no", "data-toggle": "##{key}-months" }) %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="" id="primary-months" style="display: none">
            <div class="white-group">
              <%= f.cfa_select(:primary_months, "Primary Months", (1..12).to_a, include_blank: true) %>
            </div>
          </div>

          <div class="" id="spouse-months" style="display: none">
            <div class="white-group">
              <%= f.cfa_select(:spouse_months, "Spouse Months", (1..12).to_a, include_blank: true) %>
            </div>
          </div>

          <% current_intake.dependents.each do |dependent| %>
            <% key = "dependent_#{dependent.id}".to_sym %>

            <div class="" id="<%= key %>-months" style="display: none">
              <div class="white-group">
                <%= f.cfa_select(key, "#{dependent.full_name} Months", (1..12).to_a, include_blank: true) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>


<% content_for :script do %>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
        function registerToggle(selector) {
          const checkbox = document.querySelector(selector);
          const toggleInput = document.querySelector(checkbox.dataset.toggle);

          checkbox.addEventListener('change', function () {
            console.log(checkbox.checked);
            toggleInput.style.display = checkbox.checked ? 'block' : 'none';
          });
        }

        registerToggle('#state_file_id_grocery_credit_form_primary')
        registerToggle('#state_file_id_grocery_credit_form_spouse')

        <% current_intake.dependents.each do |dependent| %>
          registerToggle("<%= "#state_file_id_grocery_credit_form_dependent_#{dependent.id}" %>")
        <% end %>
      });
  </script>
<% end %>
