<% @main_question = t("views.ctc.questions.life_situations2019.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_question %></h1>

  <p>
    <%= t("views.ctc.questions.life_situations2019.p1") %>
  </p>
  <ul class="checkmark-list teal">
    <li><%= t("views.ctc.questions.life_situations2019.item1" )%></li>
    <li><%= t("views.ctc.questions.life_situations2019.item2" )%></li>
    <li><%= t("views.ctc.questions.life_situations2019.item3" )%></li>
  </ul>
  <p>
    <%= t("views.ctc.questions.life_situations2019.p2") %>
  </p>

  <%= link_to t("general.continue"), next_path, class: "button button--primary button--wide text--centered spacing-above-60" %>
  <%= link_to t("views.ctc.questions.life_situations2019.visit_ctc_faq"), root_path(anchor: 'ctc_faq'), class: "button button--wide text--centered" %>
  <%= link_to url_for(host: Rails.application.config.gyr_domains[Rails.env.to_sym], controller: "/public_pages", action: 'stimulus'), class: "button button--wide text--centered" do %>
    <%=t("views.ctc.questions.life_situations2019.visit_stimulus_faq") %>
  <% end %>
<% end %>