<li class="label-indented spacing-below-15">
  <div>
    <span class="form-question">Name:</span>
    <span class="label-value"><%= dependent.full_name %></span>
  </div>
  <div>
    <span class="form-question">Relationship:</span>
    <span class="label-value"><%= relationship_label(dependent.relationship) %></span>
  </div>
  <div>
    <span class="form-question">Date of Birth:</span>
    <span class="label-value"><%= default_date_format(dependent.birth_date) %></span>
  </div>
  <% if dependent.ssn.present? %>
    <div class="<%= dom_id(dependent) %>-ssn">
      <span class="form-question">SSN/ITIN:</span>
      <span class="label-value">
        <span id="js-secret-dependent_ssn-<%= dependent.id %>">
          <%= render "hub/clients/hidden_single_field", masked_value: mask(dependent.ssn, 4) %>
        </span>
        <span id="js-toggle-secret-dependent_ssn-<%= dependent.id %>">
          <%= link_to("View", show_secret_hub_client_path(secret_name: :dependent_ssn, secret_record_id: dependent.id), remote: true) %>
        </span>
      </span>
    </div>
  <% end %>
  <% if dependent.ip_pin.present? %>
    <div class="<%= dom_id(dependent) %>-ip-pin">
      <span class="form-question">IP PIN:</span>
      <span class="label-value">
        <span id="js-secret-dependent_ip_pin-<%= dependent.id %>">
          <%= render "hub/clients/hidden_single_field" %>
        </span>
        <span id="js-toggle-secret-dependent_ip_pin-<%= dependent.id %>">
          <%= link_to("View", show_secret_hub_client_path(secret_name: :dependent_ip_pin, secret_record_id: dependent.id), remote: true) %>
        </span>
      </span>
    </div>
  <% end %>
  <% if @client.intake.is_ctc? %>
    <div>
      <span>
        <span class="form-question">
          Dependent Type:
        </span>
        <span class="label-value">
          <% if dependent.yr_2020_qualifying_child? %>
            Qualifying Child
          <% elsif dependent.yr_2020_qualifying_relative? %>
            Qualifying Relative
          <% else %>
            Nonqualifying
          <% end %>
        </span>
      </span>
    </div>
    <div class="spacing-above-5">
      <% if dependent.eligible_for_child_tax_credit_2020? %>
        <span class="label">CTC</span>
      <% end %>
      <% if dependent.eligible_for_eip1? %>
        <span class="label">EIP1</span>
      <% end %>
      <% if dependent.eligible_for_eip2? %>
        <span class="label">EIP2</span>
      <% end %>
      <% if dependent.eligible_for_eip3? %>
        <span class="label">EIP3</span>
      <% end %>
      <% if dependent.soft_deleted_at.present? %>
        <span class="label label--red">REMOVED</span>
      <% end %>
    </div>
  <% end %>
</li>
