<li class="label-indented spacing-below-15">
  <div>
    <span class="form-question">Name:</span>
    <span class="label-value"><%= dependent.full_name %></span>
  </div>
  <div>
    <span class="form-question">Relationship:</span>
    <span class="label-value"><%= relationship_label(dependent.relationship) %></span>
  </div>
  <div>
    <span class="form-question">Date of Birth:</span>
    <span class="label-value"><%= default_date_format(dependent.birth_date) %></span>
  </div>
  <% if dependent.ssn.present? %>
    <div class="<%= dom_id(dependent) %>-ssn">
      <span class="form-question">SSN/ITIN:</span>
      <span class="label-value">
        <span id="js-secret-dependent_ssn-<%= dependent.id %>">
          <%= render "hub/clients/hidden_single_field", masked_value: mask(dependent.ssn, 4) %>
        </span>
        <span id="js-toggle-secret-dependent_ssn-<%= dependent.id %>">
          <%= link_to("View", show_secret_hub_client_path(secret_name: :dependent_ssn, secret_record_id: dependent.id), remote: true) %>
        </span>
      </span>
    </div>
  <% end %>
  <% if dependent.ip_pin.present? %>
    <div class="<%= dom_id(dependent) %>-ip-pin">
      <span class="form-question">IP PIN:</span>
      <span class="label-value">
        <span id="js-secret-dependent_ip_pin-<%= dependent.id %>">
          <%= render "hub/clients/hidden_single_field" %>
        </span>
        <span id="js-toggle-secret-dependent_ip_pin-<%= dependent.id %>">
          <%= link_to("View", show_secret_hub_client_path(secret_name: :dependent_ip_pin, secret_record_id: dependent.id), remote: true) %>
        </span>
      </span>
    </div>
  <% end %>
  <% if @client.intake.is_ctc? %>
    <% if @client.archived? %>
      <%= render 'hub/dependents/archived_2021_ctc_dependent_detail', dependent: dependent %>
    <% else %>
      <%= render 'hub/dependents/dependent_detail', dependent: dependent %>
    <% end %>
  <% end %>
</li>
