<% content_for :page_title, t(".title1") %>
<% content_for :card do %>
  <h1 class="h2" id="main-question"><%= t(".title1") %></h1>
  <p><%= t(".title2") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up spacing-below-15">
      <div class="question-with-follow-up__question">
        <div class="highlight-box highlight-box--blue spacing-below-15">
          <div class="spacing-below-5">
            <%= f.cfa_checkbox(:tribal_member, t(".tribal_member_label_html"),
                               options: { checked_value: "yes", unchecked_value: "no", "data-follow-up": "#tribal-wages" })
            %>
          </div>
        </div>
      </div>
      <div class="question-with-follow-up__follow-up" id="tribal-wages">
        <div class="highlight-box highlight-box--blue spacing-below-15">
          <div class="spacing-below-25">
            <%=t(".tribal_wages_label_html",
                    wages: number_to_currency(f.object&.intake&.direct_file_data&.fed_wages)) %>
          </div>
          <div>
            <%= f.cfa_input_field(
                  :tribal_wages,
                  "",
                  help_text: t(".wages_tip"),
                  classes: ["form-width--long"])
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="question-with-follow-up spacing-below-15">
      <div class="question-with-follow-up__question">
        <div class="highlight-box highlight-box--blue spacing-below-15">
          <div class="spacing-below-5">
            <%= f.cfa_checkbox(:armed_forces_member, t(".armed_forces_member_label"),
                               options: { checked_value: "yes", unchecked_value: "no", "data-follow-up": "#armed-forces-wages" })
            %>
          </div>
        </div>
      </div>
      <div class="question-with-follow-up__follow-up" id="armed-forces-wages">
        <div class="highlight-box highlight-box--blue spacing-below-15">
          <div class="spacing-below-25">
            <%=t(".armed_forces_wages_label_html",
                 wages: number_to_currency(f.object&.intake&.direct_file_data&.fed_wages)) %>
          </div>
          <div>
            <%= f.cfa_input_field(
                  :armed_forces_wages,
                  "",
                  help_text: t(".wages_tip"),
                  classes: ["form-width--long"])
            %>
          </div>
        </div>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>