<% title = t(".title", count: current_intake.filer_count) %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p><%= t(".subtitle", count: current_intake.filer_count) %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up spacing-below-15">
      <div class="question-with-follow-up__question">
        <div class="blue-group">
          <%= f.cfa_checkbox(:tribal_member, t(".tribal_member_label", count: current_intake.filer_count),
                             options: { checked_value: "yes", unchecked_value: "no", "data-follow-up": "#tribal-wages" })
          %>
        </div>
      </div>
      <div class="question-with-follow-up__follow-up" id="tribal-wages">
        <div class="blue-group">
          <div class="spacing-below-25">
            <p><%= t(".tribal_wages_label", count: current_intake.filer_count) %></p>
            <p><%= t(".should_not_exceed_wages_html", wages: number_to_currency(f.object&.intake&.direct_file_data&.fed_wages)) %></p>
          </div>
          <div class="form-group-tight">
            <%= f.cfa_input_field(
                  :tribal_wages,
                  t(".wages_tip"),
                  classes: ["form-width--long"])
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="question-with-follow-up spacing-below-15">
      <div class="question-with-follow-up__question">
        <div class="blue-group">
          <%= f.cfa_checkbox(:armed_forces_member, t(".armed_forces_member_label"),
                             options: { checked_value: "yes", unchecked_value: "no", "data-follow-up": "#armed-forces-wages" })
          %>
        </div>
      </div>
      <div class="question-with-follow-up__follow-up" id="armed-forces-wages">
        <div class="blue-group spacing-below-15">
          <div class="spacing-below-25">
            <p><%=t(".armed_forces_wages_label", count: current_intake.filer_count) %></p>
            <p><%= t(".should_not_exceed_wages_html", wages: number_to_currency(f.object&.intake&.direct_file_data&.fed_wages)) %></p>
          </div>
          <div class="form-group-tight">
            <%= f.cfa_input_field(
                  :armed_forces_wages,
                  t(".wages_tip"),
                  classes: ["form-width--long"])
            %>
          </div>
        </div>
        <div class="reveal">
          <p><a href="#" class="reveal__link"><%= t('.learn_more_title') %></a></p>
          <div class="reveal__content"><%= t('.learn_more_content_html') %></div>
        </div>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>