<% @main_heading = t(".title") %>
<% content_for :page_title, @main_heading %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <h1 class="form-question">
            <%= @main_heading %>
          </h1>

          <ul class="icons-list">
            <li>
              <%= image_tag("diy/info.svg") %>
              <div>
                <h2>1. <%= t(".taxslayer_header") %></h2>
                <span>
                  <%= t(".taxslayer_description") %>
                </span>

              </div>
            </li>
            <li>
              <%= image_tag("diy/documents.svg") %>
              <div>
                <h2>2. <%= t(".documents_header") %></h2>
                <span>
                  <%= t(".documents_description") %>
                </span>
              </div>
            </li>
            <li>
              <%= image_tag("diy/refund.svg") %>
              <div>
                <h2>3. <%= t(".refund_header") %></h2>
                <span>
                  <%= t(".refund_description") %>
                </span>
              </div>
            </li>
          </ul>

          <%= link_to t("general.continue"), next_path, class: "button button--primary text--centered button--wide spacing-above-60" %>

        </main>
      </div>
    </div>
  </section>
</main>