<% @title = "StateFile: Frequently Asked Questions" %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--not-padded spacing-above-25">
    <%= render 'hub/faq_categories/header', titles: [@title]%>
    <% ::StateFile::StateInformationService.active_state_codes.each do |state_code| %>
      <% if current_ability.can?(:read, FaqCategory.new(product_type: "state_file_#{state_code}")) %>
        <%= link_to "##{state_code}-cats", class: "button spacing-below-0" do %>
          <%= "Jump to #{::StateFile::StateInformationService.state_name(state_code)} ↓" %>
        <% end %>
      <% end %>
    <% end %>
    <hr/>
    <% ::StateFile::StateInformationService.active_state_codes.each do |state_code| %>
      <% if current_ability.can?(:read, FaqCategory.new(product_type: "state_file_#{state_code}")) %>
        <h2 id="<%= state_code %>-cats"><%= ::StateFile::StateInformationService.state_name(state_code) %></h2>
        <%= link_to "Add new #{state_code.capitalize} FAQ Category",
                    new_hub_state_file_faq_category_path(product_type: "state_file_#{state_code}"),
                    method: :get, class: "button spacing-below-35" %>
        <% @state_faq_categories[state_code].each do |category| %>
          <%= render 'faq_categories_and_items', category: category %>
        <% end %>
        <% if (!@state_faq_categories.include?(state_code) || @state_faq_categories[state_code].empty?) && current_ability.can?(:create, FaqCategory.new(product_type: "state_file_#{state_code}")) %>
          <p>No <%= ::StateFile::StateInformationService.state_name(state_code) %> FAQ categories currently...perhaps reseed (run `StateFile::FaqDatabaseExportService.export_yml_to_database` in console or rerun data migrations)</p>
        <% end %>
        <hr/>
      <% end %>
    <% end %>
  </div>
<% end %>

