<!--TODO - Fill in links when we have them-->

<div class="spacing-above-15">
  <%= link_to t("state_file.questions.about.edit.who_can_use_text"), "" %>
</div>

<div class="spacing-above-15">
  <%= link_to t("state_file.questions.about.edit.credits_deductions"), "" %>
</div>

<div class="spacing-above-15">
  <%= link_to t("state_file.questions.about.edit.credits_deductions_not_html"), "" %>
</div>

<div class="spacing-above-15">
  <%= link_to t("state_file.questions.about.edit.other_options"), "" %>
</div>

<div class="spacing-above-15">
  <%= link_to t("state_file.questions.about.edit.when_file_by"), "" %>
</div>

<div class="spacing-above-15 spacing-below-15">
  <%= t("state_file.questions.about.edit.answers_here_html", answers_url: '') %>
</div>