<% title = t(".header") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <div>
    <%= t(".subheader_html") %>
  </div><br>
  <div>
    <%= link_to t(".action1_text"), "" %>
  </div><br>
  <div>
    <%= t(".action2") %>
    <%= link_to t(".action2_text"), "" %>
  </div>

  <div class="blue-group spacing-below-15 spacing-above-15">
    <%= t(".section1_html", direct_file_url: '') %>
  </div>

  <h1 class="h2"><%= t('.common_questions') %></h1>

  <section>
    <strong><%= t('.az_section') %></strong>
    <div class="spacing-above-15">
      <%= link_to t(".who_can_use_text"), "" %>
    </div>

    <div class="spacing-above-15">
      <%= link_to t(".credits_deductions"), "" %>
    </div>

    <div class="spacing-above-15">
      <%= link_to t(".credits_deductions_not_html"), "" %>
    </div>

    <div class="spacing-above-15">
      <%= link_to t(".other_options"), "" %>
    </div>

    <div class="spacing-above-15">
      <%= link_to t(".when_file_by"), "" %>
    </div>

    <div class="spacing-above-15 spacing-below-15">
      <%= t(".answers_here_html", answers_url: url_for(host: MultiTenantService.new(:gyr).host, controller: "/faq")) %>
    </div>
  </section>

  <section>
    <strong><%= t('.ny_section') %></strong>

    <div class="spacing-above-15">
      <%= link_to t(".who_can_use_text"), "" %>
    </div>

    <div class="spacing-above-15">
      <%= link_to t(".credits_deductions"), "" %>
    </div>

    <div class="spacing-above-15">
      <%= link_to t(".credits_deductions_not_html"), "" %>
    </div>

    <div class="spacing-above-15">
      <%= link_to t(".other_options"), "" %>
    </div>

    <div class="spacing-above-15">
      <%= link_to t(".when_file_by"), "" %>
    </div>

    <div class="spacing-above-15 spacing-below-15">
      <%= t(".answers_here_html", answers_url: url_for(host: MultiTenantService.new(:gyr).host, controller: "/faq")) %>
    </div>
  </section>
<% end %>

