<% @main_heading = t("general.sign_in") %>
<% content_for :page_title, @main_heading %>
<% content_for :card do %>
  <div class="hub-section">
    <h1 class="h1 spacing-above-60"><%= @main_heading %></h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), local: true, builder: VitaMinFormBuilder ) do |f| %>
      <%= f.cfa_input_field(:email, t("general.email"), type: 'email', classes: ['form-width--long']) %>
      <div class="password">
        <%= f.cfa_input_field(:password, t("general.password"), type: 'password', classes: ['form-width--long', 'password'])%>
        <%= link_to t("general.forgot_password"), new_password_path(resource_name, email: resource.email) %><br />
      </div>

      <div class="actions">
        <%= f.submit t("general.sign_in"), class: "button button--cta spacing-above-60" %>
      </div>
    <% end %>
  </div>
<% end %>
