<div class="spacing-below-25">
  <%=t('.public_school_tax_credit_heading_html') %>
  <ul>
    <li><%=t('.public_school_tax_credit_paid_fees') %></li>
    <li><%=t('.public_school_tax_credit_provide_info_html') %></li>
  </ul>
</div>

<div class="spacing-below-25 with-top-separator">
  <%=t('.property_tax_credit_heading_html') %>
  <ul>
    <li><%=t('.property_tax_credit_age') %></li>
    <li><%=t('.property_tax_credit_income') %></li>
    <li><%=t('.property_tax_credit_paid') %></li>
  </ul>
</div>

<div class="spacing-below-25 with-top-separator">
  <%=t('.other_credits_heading') %>
  <ul>
    <li><%=t('.other_credits_529_html') %></li>
    <li><%=t('.other_credits_qcos_html') %></li>
    <li><%=t('.other_credits_qfcos_html') %></li>
    <li><%=t('.other_credits_301_html') %></li>
    <li><%=t('.other_credits_itemized_deductions') %></li>
    <li><%=t('.other_credits_add_dependents') %></li>
    <li><%=t('.other_credits_change_filing_status') %></li>
  </ul>
</div>