<div class="reveal">
  <p><button class="reveal__button"><%= t("state_file.questions.eligible.edit.credits_not_supported")%></button></p>
  <div class="reveal__content spacing-below-25">
    <ul>
      <li><%=t('.id_college_savings_program') %></li>
      <li><%=t('.id_youth_rehab_contributions') %></li>
      <li><%=t('.maintaining_elderly_disabled_credit') %></li>
      <li><%=t('.long_term_care_insurance_subtraction') %></li>
      <li><%=t('.earned_on_reservation') %></li>
      <li><%=t('.education_contribution_credit') %></li>
      <li><%=t('.itemized_deductions') %></li>
      <li><%=t('.dependents_not_claimed_fed_return') %></li>
      <li><%=t('.change_in_filing_status') %></li>
    </ul>
  </div>
</div>
