<ul class="list--bulleted">
  <li><%= t(".child_care_deduction") %></li>
  <li><%= t(".interest_from_obligations") %></li>
  <li><%= t(".social_security_retirement_deduction") %></li>
  <li><%= t(".id_child_tax_credit") %></li>
  <li><a href=" https://tax.idaho.gov/taxes/income-tax/individual-income/popular-credits-and-deductions/idaho-grocery-credit" target="_blank" rel="noopener nofollow"><%= t(".id_grocery_credit") %></a></li>
</ul>