<div class="reveal">
  <p><button class="reveal__button"><%= t("state_file.questions.eligible.edit.credits_not_supported")%></button></p>
  <div class="reveal__content">
    <%= t(".body1_html") %>
  </div>
</div>

<div class="reveal">
  <p><button class="reveal__button"><%= t(".title2")%></button></p>
  <div class="reveal__content">
    <%= t(".body2_html") %>
  </div>
</div>

<div class="reveal">
  <p><button class="reveal__button"><%= t(".title3")%></button></p>
  <div class="reveal__content">
    <%= t(".body3_html") %>
  </div>
</div>
