<h3 class="h3"><%= t('.heading1') %></h3>
<ul class="list--bulleted">
  <li><%= t('.sub1') %></li>
  <li><%= t('.sub2') %></li>
  <li><%= t('.sub3') %></li>
  <li><%= t('.sub4') %></li>
  <li><%= t('.sub5') %></li>
  <li><%= t('.sub6') %></li>
  <li><%= t('.sub7') %></li>
</ul>

<h3 class="h3"><%= t('.heading2') %></h3>
<ul class="list--bulleted">
  <li><%= t('.sub8') %></li>
  <li><%= t('.sub9') %></li>
  <li><%= t('.sub10') %></li>
  <li><%= t('.sub11') %></li>
  <li><%= t('.sub12') %></li>
</ul>

<p>
  All subtractions and credits are subject to eligibility requirements.
</p>
