<div class="reveal">
  <p><button class="reveal__button"><%= t(".credits_not_supported")%></button></p>
  <div class="reveal__content">
    <ul class="list--bulleted">
      <li><%=t('.personal_education') %></li>
      <li><%=t('.college_savings_account')%></li>
      <% unless Flipper.enabled?(:extension_period) %>
        <li><%=t('.extension_payment')%></li>
      <% end %>
      <li><%=t('.estimated_income_tax_payments') %></li>
      <li><%=t('.credits_for_rehabilitating') %></li>
      <li><%=t('.credits_carried') %></li>
    </ul>
    <p>
      <%= t('state_file.questions.eligible.edit.faq_link_html', url: "#{root_url}/nc/faq/what_north_carolina_credits_and_deductions_does_fileyourstatetaxes_not_support_this_year") %>
    </p>
  </div>
</div>
