<div>
  <ul class="list--bulleted">
    <li><%=t('.deduction_for_qualifying_children') %></li>
    <li><%=t('.deduction_for_taxable_portion')%></li>
    <li><%=t('.deduction_for_retirement_income_bailey')%></li>
    <li><%=t('.deduction_for_retirement_income_uniformed') %></li>
    <li><%=t('.deduction_for_income') %></li>
  </ul>
</div>