<div class="reveal">
  <p><button class="reveal__button"><%= t(".credits_not_supported")%></button></p>
  <div class="reveal__content">
    <ul class="list--bulleted">
      <li><%=t('.personal_education') %></li>
      <li><%=t('.college_savings_account')%></li>
      <li><%=t('.extension_payment')%></li>
      <li><%=t('.estimated_income_tax_payments') %></li>
      <li><%=t('.credits_for_rehabilitating') %></li>
      <li><%=t('.credits_carried') %></li>
    </ul>
  </div>
</div>
