<div class="reveal">
  <button class="reveal__button"><%= t("state_file.questions.eligible.edit.credits_not_supported")%></button>

  <div class="reveal__content">
    <div class="spacing-below-25">
      <ul class="list--bulleted">
        <%=t('.unsupported_html') %>
      </ul>
    </div>

    <div class="spacing-below-25">
      <b><%=t('.also_unsupported_title') %></b>
      <ul class="list--bulleted">
        <% if Flipper.enabled?(:extension_period) %>
          <%=t('.also_unsupported_extensions_html') %>
        <% else %>
          <%=t('.also_unsupported_html') %>
        <% end %>
      </ul>
    </div>
    <p>
      <%= link_to t('state_file.questions.eligible.edit.faq_link'), state_faq_path(us_state: 'nj', locale: I18n.locale) %>
    </p>
  </div>
</div>