<div class="spacing-below-25">
  <ul>
    <li><a href="https://www.tax.ny.gov/pit/credits/child_and_dependent_care_credit.htm" target="_blank" rel="noopener nofollow"><%=t('.nys_child_dependent_care_credit') %></a></li>
    <li><a href="https://www.tax.ny.gov/pit/credits/real_property_tax_credit.htm" target="_blank" rel="noopener nofollow"><%=t('.real_property_tax_credit') %></a></li>
    <li><a href="https://www.tax.ny.gov/pit/credits/college_tuition_credit.htm" target="_blank" rel="noopener nofollow"><%=t('.college_tuition_credit') %></a></li>
    <li><%=t('.non_custodial_nys_eic_html') %></li>
    <li><a href="https://www.tax.ny.gov/pit/credits/volunteerfirefighters.htm" target="_blank" rel="noopener nofollow"><%=t('.firefighter_ambulance_credit') %></a></li>
    <li><a href="https://www.tax.ny.gov/pit/credits/longterm_care_insurance_credit.htm" target="_blank" rel="noopener nofollow"><%=t('.long_term_care_credit') %></a></li>
  </ul>
</div>

<div class="spacing-below-25 with-top-separator">
  <%=t('.subtractions_225_heading_html') %>
  <ul>
    <li><%=t('.subtractions_225_military') %></li>
    <li><%=t('.subtractions_225_native_american') %></li>
    <li><%=t('.subtractions_225_help_loan') %></li>
    <li><%=t('.subtractions_225_student_loan') %></li>
    <li><%=t('.subtractions_225_health_care_worker') %></li>
  </ul>
</div>

<div class="spacing-below-25 with-top-separator">
  <%=t('.other_credits_heading') %>
  <ul>
    <li><%=t('.other_credits_itemized_deductions') %></li>
    <li><%=t('.other_credits_change_filing_status') %></li>
    <li><%=t('.other_credits_est_tax_etc') %></li>
  </ul>
</div>