<% title1 = t(".title1", year: current_tax_year, state: current_intake.state_name(locale: I18n.locale)) %>

<% content_for :page_title, title1 %>
<% content_for :card do %>
  <h1 class="h2"><%= title1 %></h1>
  <% if current_state_code == "md" %>
    <p><%= t(".md_title2_html") %></p>
  <% else %>
    <p><%= t(".title2_html") %></p>
  <% end %>
  <% if current_state_code == "md" %>
    <p class="warning spacing-below-15"><%= t('.warning') %></p>
  <% end %>

  <div class="white-group">
    <%= render partial: "state_file/questions/eligible/#{current_state_code}_supported" %>
  </div>

  <% if current_state_code == "md" %>
    <%= render partial: "state_file/questions/eligible/md_reveals" %>
  <% else %>
    <%= render partial: "state_file/questions/eligible/#{current_state_code}_credits_unsupported" %>

    <div class="reveal">
      <p><button class="reveal__button"><%= t('.not_supported') %></button></p>
      <div class="reveal__content">
        <div>
          <%= render partial: "state_file/questions/eligible/vita_option" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to next_path, class: "button button--primary button--wide", id: "firstCta" do %>
    <%= t("general.continue") %>
  <% end %>
<% end %>
