<% title = t(".title") %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <ul>
    <li><a href="#"><%= t(".nys_hh_credit") %></a></li>
    <li><a href="#"><%= t(".empire_state_ctc") %></a></li>
    <li><a href="#"><%= t(".nys_eic") %></a></li>
    <li><a href="#"><%= t(".real_property_credit") %></a></li>
  </ul>

  <p><%= t(".not_supported") %></p>

  <%= link_to next_path, class: "button button--primary", id: "firstCta" do %>
    <%= t("general.continue") %>
  <% end %>
<% end %>
