<% title1 = t(".title1", year:  MultiTenantService.new(:statefile).current_tax_year, state: current_intake.state_name) %>

<% content_for :page_title, title1 %>
<% content_for :card do %>
  <h1 class="h2"><%= title1 %></h1>
  <h2 class="h2"><%= t(".title2_html") %></h2>

  <div class="white-group">
    <%= render partial: "state_file/questions/eligible/#{current_state_code}_supported" %>
  </div>

  <div class="reveal">
    <p><button class="reveal__button"><%= t('.not_supported') %></button></p>
    <div class="reveal__content">
      <% unless current_intake.disqualifying_eligibility_rules.empty? %>
        <%= render partial: "state_file/questions/eligible/#{current_state_code}_unsupported" %>
      <% end %>
      <div class="with-top-separator">
        <p class="text--bold"><%=t('.want_to_claim_heading') %></p>
        <p><%=t('.want_to_claim_vita', state_name: current_state_name) %></p>
        <p>
          <a href="<%= @vita_link %>" target="_blank" rel="noopener nofollow"><%= t('state_file.questions.eligibility_offboarding.other_options.vita_link') %></a>
        </p>
        <p><%=t('.want_to_claim_learn_more_html', link: @faq_other_options_link) %></p>
      </div>
    </div>
  </div>

  <%= link_to next_path, class: "button button--primary button--wide", id: "firstCta" do %>
    <%= t("general.continue") %>
  <% end %>
<% end %>
