<% title1 = t(".title1", year: current_tax_year, state: current_intake.state_name) %>

<% content_for :page_title, title1 %>
<% content_for :card do %>
  <h1 class="h2"><%= title1 %></h1>
  <p><%= t(".title2_html") %></p>

  <div class="white-group">
    <%= render partial: "state_file/questions/eligible/#{current_state_code}_supported" %>
  </div>

  <div class="reveal">
    <p><button class="reveal__button"><%= t(".credits_not_supported")%></button></p>
    <div class="reveal__content">
        <%= render partial: "state_file/questions/eligible/#{current_state_code}_credits_unsupported" %>
    </div>
  </div>

  <div class="reveal">
    <p><button class="reveal__button"><%= t('.not_supported') %></button></p>
    <div class="reveal__content">
      <% unless current_intake.disqualifying_eligibility_rules.empty? %>
        <%= render partial: "state_file/questions/eligible/#{current_state_code}_unsupported" %>
      <% end %>
      <div>
        <p><%=t('.want_to_claim_vita') %></p>
        <ul class="list--bulleted">
          <li>
            <a href="<%= @vita_link %>" target="_blank" rel="noopener nofollow"><%= t('state_file.questions.eligibility_offboarding.other_options.vita_link') %></a>
          </li>
          <li><%=t('.want_to_claim_learn_more_html', link: @faq_other_options_link) %></li>
        </ul>
      </div>
    </div>
  </div>

  <%= link_to next_path, class: "button button--primary button--wide", id: "firstCta" do %>
    <%= t("general.continue") %>
  <% end %>
<% end %>
