<% title = t(".title") %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <% if params[:us_state] == "az" %>
    <ul>
      <li><%= t(".increased_deduction") %></li>
      <li><a href="#"><%= t(".dependent_credit") %></a></li>
      <li><a href="#"><%= t(".family_income_credit") %></a></li>
      <li><a href="#"><%= t(".increased_excise_credit") %></a></li>
    </ul>
  <% else %>
    <ul>
      <li><a href="#"><%= t(".nys_hh_credit") %></a></li>
      <li><a href="#"><%= t(".empire_state_ctc") %></a></li>
      <li><a href="#"><%= t(".nys_eic") %></a></li>
      <li><a href="#"><%= t(".real_property_credit") %></a></li>
    </ul>
  <% end %>

  <p><%= t(".not_supported") %></p>

  <%= link_to next_path, class: "button button--primary", id: "firstCta" do %>
    <%= t("general.continue") %>
  <% end %>
<% end %>
