<% title1 = t(".title1") %>

<% content_for :page_title, title1 %>
<% content_for :card do %>
  <h1 class="h2"><%= title1 %></h1>
  <h2 class="h2"><%= t(".title2_html") %></h2>

  <div class="blue-group">
      <% if params[:us_state] == "az" %>
        <ul class="list--bulleted">
          <li><%= t(".increased_deduction") %></li>
          <li><a href="https://azdor.gov/individuals/income-tax-filing-assistance/deductions-and-exemptions" target="_blank" rel="noopener nofollow"><%= t(".dependent_credit") %></a></li>
          <li><a href="https://azdor.gov/individuals/income-tax-filing-assistance/tax-credits" target="_blank" rel="noopener nofollow"><%= t(".family_income_credit") %></a></li>
          <li><a href="https://azdor.gov/forms/tax-credits-forms/credit-increased-excise-taxes" target="_blank" rel="noopener nofollow"><%= t(".increased_excise_credit") %></a></li>
        </ul>
      <% else %>
        <ul class="list--bulleted">
          <li><a href="https://www.tax.ny.gov/pit/credits/household_credit.htm" target="_blank" rel="noopener nofollow"><%= t(".nys_hh_credit") %></a></li>
          <li><a href="https://www.tax.ny.gov/pit/credits/empire_state_child_credit.htm" target="_blank" rel="noopener nofollow"><%= t(".empire_state_ctc") %></a></li>
          <li><a href="https://www.tax.ny.gov/pit/credits/earned_income_credit.htm" target="_blank" rel="noopener nofollow"><%= t(".nys_eic") %></a></li>
          <li><%= t(".nyc_school_tax_credit") %></li>
        </ul>
      <% end %>
  </div>

  <div class="reveal">
    <p><a href="#" class="reveal__link"><%= t('.not_supported') %></a></p>
    <div class="reveal__content">
      <% if params[:us_state] == "az" %>
        <%= render partial: "state_file/questions/eligible/az_unsupported" %>
      <% elsif params[:us_state] == "ny" %>
        <%= render partial: "state_file/questions/eligible/ny_unsupported" %>
      <% end %>
      <div class="with-top-separator">
        <p class="text--bold"><%=t('.want_to_claim_heading') %></p>
        <p><%=t('.want_to_claim_vita', state_name: States.name_for_key(params[:us_state].upcase)) %></p>
        <p><%=t('.want_to_claim_learn_more_html', link: @faq_other_options_link) %></p>
      </div>
    </div>
  </div>

  <%= link_to next_path, class: "button button--primary button--wide", id: "firstCta" do %>
    <%= t("general.continue") %>
  <% end %>
<% end %>
