<% content_for :page_title, "Page Title" %>

<% content_for :card do %>
  <div class="header">
    <h1 class="h2">
      <%= t("views.zendesk.extracts.header")  %>
    </h1>
  </div>

  <table class="data-table document-table">
    <thead>
    <tr>
      <th class="extract-column__filename">
        <%= t("views.zendesk.extracts.filename") %>
      </th>
      <th class="extract-column__record-count">
        <%= t("views.zendesk.extracts.record_count") %>
      </th>
      <th class="extract-column__run_at">
        <%= t("views.zendesk.extracts.run_at") %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @extracts.each do |extract| %>
      <tr>
        <td>
          <%= link_to zendesk_csv_extract_path(extract.id),  target: "_blank" do %>
            <%= extract.upload.filename %>
          <% end %>
        </td>
        <td> <%= extract.record_count %> </td>
        <td> <%= extract.run_at %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

