<% title = t(".title_html", email_address: @email_address) %>
<% content_for :page_title, title %>
<%= form_with model: @form, url: { action: :update }, local: true, method: :patch, builder: VitaMinFormBuilder do |f| %>
    <h1 class="h2" id="main-question"><%= title %></h1>
    <p><%= t(".subtitle_html") %></p>
    <div class="white-group">
      <%= f.cfa_input_field(:verification_code, t("state_file.questions.verification_code.edit.verification_code_label"), classes: ["form-width--long"]) %>
    </div>
  <div class="form-actions">
    <button type="submit" class="button button--primary button--wide spacing-below-15">
      <%= t("state_file.questions.email_address.edit.action") %>
    </button>
  </div>
<% end %>