<% @main_heading = t(".title") %>

<% content_for :page_title, @main_heading %>
<% content_for :card do %>
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), method: :put, local: true, builder: VitaMinFormBuilder) do |f| %>
    <h1><%= @main_heading %></h1>

    <% if user_group(resource).present? %>
      <h2 class="form-question"><%= t("general.organization") %>: <%= user_group(resource) %></h2>
    <% end %>
    <h2 class="form-question"><%= t(".email_label") %>: <%= resource.email %></h2>
    <%= f.hidden_field :invitation_token, readonly: true %>
    <%= f.cfa_input_field(:name, t(".name_label")) %>
    <%= f.cfa_select(:timezone, t("general.timezone"), timezone_select_options) %>
    <%= f.cfa_input_field(:password, t(".password_label"), type: "password", help_text: t("views.passwords.password_help_text_html")) %>
    <%= f.cfa_input_field(:password_confirmation, t(".password_confirmation_label"), type: "password") %>

    <%= f.submit t(".submit"), class: "button button--primary" %>
  <% end %>
<% end %>
