<% @main_heading = t(".title") %>
<% content_for :page_title, @main_heading %>
<% content_for :card do %>

  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), local: true, builder: VitaMinFormBuilder, html: { method: :post }) do |f| %>
    <h1><%= @main_heading %></h1>

    <%= f.cfa_input_field(:name, t(".name_label")) %>
    <%= f.cfa_input_field(:email, t(".email_label"), type: 'email', classes: ['form-width--email']) %>

    <% if params[:role] == "OrganizationLeadRole" %>
      <%= label_tag(:organization_id, t(".vita_partner_label")) %>
      <%= select_tag(:organization_id, options_for_select(VitaPartner.organizations.map { |org| [org.name, org.id] })) %>

      <%= f.hidden_field :role, value: params[:role] %>
    <% end %>
    <% if params[:role] == "AdminRole" %>
      <%= f.hidden_field :role, value: params[:role] %>
    <% end %>

    <%= f.submit t(".submit"), class: "button button--primary" %>
  <% end %>
<% end %>
