<% @main_heading = t(".title") %>
<% content_for :page_title, @main_heading %>
<% content_for :card do %>

  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), local: true, builder: VitaMinFormBuilder, html: { method: :post }) do |f| %>
    <h1><%= @main_heading %></h1>

    <%= f.cfa_input_field(:name, t(".name_label")) %>
    <%= f.cfa_input_field(:email, t(".email_label"), type: 'email', classes: ['form-width--email']) %>
    <%= f.hidden_field :role, value: params[:role] %>

    <% if params[:role] == OrganizationLeadRole::TYPE %>
      <%= label_tag(:organization_id, t(".vita_partner_label")) %>
      <%= select_tag(:organization_id, options_for_select(@vita_partners.organizations.map { |org| [org.name, org.id] })) %>
    <% end %>

    <% if params[:role] == CoalitionLeadRole::TYPE %>
      <%= label_tag(:coalition_id, t(".coalition_label")) %>
      <%= select_tag(:coalition_id, options_for_select(@coalitions.all.map { |coalition| [coalition.name, coalition.id] })) %>
    <% end %>

    <% if params[:role] == SiteCoordinatorRole::TYPE %>
      <%= label_tag(:site_id, t(".site_label")) %>
      <%= select_tag(:site_id, options_for_select(@vita_partners.sites.map { |site| [site.name, site.id] })) %>
    <% end %>

    <% if params[:role] == GreeterRole::TYPE %>
      <p><%= t(".select_coalition_and_or_organization") %></p>
      <div class="form-group">
        <p class="form-question"><%= t(".coalition_label") %></p>
          <%= collection_check_boxes(:greeter_coalition_join_record, :coalition_ids, @coalitions.all, :id, :name) do |b| %>
            <%= b.label(class: "checkbox") { b.check_box + b.text } %>
          <% end %>
      </div>
      <div class="form-group">
        <p class="form-question"><%= t(".vita_partner_label") %></p>
        <%= collection_check_boxes(:greeter_organization_join_record, :organization_ids, @vita_partners.organizations, :id, :name) do |b| %>
          <%= b.label(class: "checkbox") { b.check_box + b.text } %>
        <% end %>
      </div>
    <% end %>

    <%= f.submit t(".submit"), class: "button button--primary" %>
  <% end %>
<% end %>
