<% content_for :page_title, t(".title") %>
<% content_for :body_class, "bulk-action-form " %>
<% content_for :card do %>
  <section class="slab slab--padded">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <%= form_with model: @form, method: :put, url: hub_bulk_actions_update_send_a_message_path, local: true, builder: VitaMinFormBuilder do |f| %>

          <h1 class="h1"><%= t(".title") %></h1>
          <p>
            <%= t(".selected_action_and_client_count_html", count: @client_selection.clients.size) %><br/>
          </p>

          <hr class="hr">

          <%= render "hub/bulk_actions/bulk_action_form", f: f, inaccessible_client_count: @inaccessible_client_count, no_contact_info_count: @no_contact_info_count, locale_counts: @locale_counts %>

          <p class="text--help text--bold spacing-below-25"><%= t(".by_clicking_submit") %></p>

          <button type="submit" class="button button--cta">
            <%= t("general.submit") %>
          </button><%= link_to t("general.cancel"), :back, class: "button" %>

        <% end %>
      </div>
    </div>
  </section>
<% end %>
