<% content_for :back_to, "efile_errors" %>
<% content_for :card do %>
  <div class="slab slab--not-padded spacing-above-25">
    <%= render "header" %>
    <hr/>
    <h2>Options</h2>
    <%= form_with model: @efile_error, method: :put, local: true, url: hub_efile_error_path, builder: VitaMinFormBuilder do |f| %>
      <%= f.hub_checkbox :expose, "Exposed to client?" %>
      <%= f.hub_checkbox :auto_cancel, "Auto-cancel?" %>
      <%= f.hub_checkbox :auto_wait, "Auto-wait?" %>

      <div class="spacing-above-25">
        <%= f.label :description_en, "Description (English)", class: "h4" %>
        <%= f.rich_text_area :description_en %>
      </div>

      <div class="spacing-above-25">
        <%= f.label :description_es, "Description (Spanish)", class: "h4" %>
        <%= f.rich_text_area :description_es %>
      </div>


      <div class="spacing-above-25">
        <%= f.label :resolution_en, "Resolution (English)", class: "h4" %>
        <%= f.rich_text_area :resolution_en %>
      </div>


      <div class="spacing-above-25">
        <%= f.label :resolution_es, "Resolution (Spanish)", class: "h4" %>
        <%= f.rich_text_area :resolution_es %>
      </div>

      <div class="spacing-above-35">
        <%= f.submit t("general.save"), class: 'button button--primary' %>
        <%= link_to t("general.cancel"), hub_efile_error_path(id: @efile_error.id), class: 'button' %>
      </div>
    <% end %>
  </div>
<% end %>
