<% title = t(".title") %>

<% content_for :page_title, title %>
<% content_for :card do %>

  <%= questions_form model: @form, url: { action: :update }, local: true, method: "put" do |f| %>
    <div class="blue-group">
      <%= f.cfa_radio_set(
            :eligibility_withdrew_529,
            label_text: t(".withdraw_529"),
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>
    <div class="reveal">
      <p><a href="#" class="reveal__link"><%= t('.non_qualifying_expenses.title') %></a></p>
      <div class="reveal__content">
        <%= t('.non_qualifying_expenses.reveal_info_html') %>
      </div>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
