<% @main_heading = t("views.questions.returning_client.title") %>
<% content_for :page_title, @main_heading %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long", autocomplete: "off" } do |f| %>
    <% @main_heading = t("views.questions.returning_client.title") %>
    <% content_for :page_title, @main_heading %>

    <h1 class="form-question">
      <%= @main_heading %>
    </h1>

    <p>
      <%= t("views.ctc.questions.returning_client.next_steps") %>
    <p>

      <%= link_to new_portal_client_login_path, "data-track-click": "ctc_login_from_returning_clients", class: "button button--primary text--centered button--wide spacing-above-60" do %>
        <%= t("general.sign_in") %>
      <% end %>
  <% end %>
<% end %>