<div class="notification notification--<%= notification.read ? 'read' : 'unread' %>" id="notification-<%=notification.id%>">
  <div class="notification__heading"><%= t(".title") %></div>
  <div class="notification__date"><%= timestamp(notification.created_at) %></div>
  <div class="notification__body <%= notification.read ? 'notification__read' : 'notification__unread' %>">
    <%= render 'shared/unread_icon', flag: true unless notification.read? %>
    <% if notification.notifiable.assigned_user && notification.notifiable.status %>
      <%= t(".body_with_both_html",
              tax_return_selection_link: link_to(t("hub.tax_returns.count", count: notification.notifiable.tax_return_selection.tax_returns.count), hub_tax_return_selection_path(id: notification.notifiable.tax_return_selection.id)),
              status: status_translation(notification.notifiable.status), assigned_user: notification.notifiable.assigned_user.name)
        %>
    <% elsif notification.notifiable.assigned_user %>
      <%= t(".body_with_assignee_html",
            tax_return_selection_link: link_to(t("hub.tax_returns.count", count: notification.notifiable.tax_return_selection.tax_returns.count), hub_tax_return_selection_path(id: notification.notifiable.tax_return_selection.id)),
            assigned_user: notification.notifiable.assigned_user.name)
      %>
    <% elsif notification.notifiable.status %>
      <%= t(".body_with_status_html",
            tax_return_selection_link: link_to(t("hub.tax_returns.count", count: notification.notifiable.tax_return_selection.tax_returns.count), hub_tax_return_selection_path(id: notification.notifiable.tax_return_selection.id)),
            status: status_translation(notification.notifiable.status))
      %>
    <% end %>
  </div>
</div>