<div class="notification notification--<%= notification.read ? 'read' : 'unread' %>" id="notification-<%=notification.id%>">
  <div class="notification__heading"><%= t(".title") %></div>
  <div class="notification__date"><%= timestamp(notification.created_at) %></div>
  <div class="notification__body <%= notification.read ? 'notification__read' : 'notification__unread' %>">
    <%= render 'shared/unread_icon', flag: true unless notification.read? %>
    <%= t(".body_html",
          tax_return_selection_link: link_to(t("hub.clients.count", count: notification.notifiable.tax_return_selection.clients.count), hub_tax_return_selection_path(id: notification.notifiable.tax_return_selection.id)),
          organization_name: notification.notifiable.vita_partner.name)
    %>
  </div>
</div>