<div class="notification notification--<%= notification.read ? 'read' : 'unread' %>" id="notification-<%=notification.id%>">
<div class="notification__heading"><%= t(".title") %></div>
  <div class="notification__date"><%= timestamp(notification.created_at) %></div>
  <div class="notification__body <%= notification.read ? 'notification__read' : 'notification__unread' %>">
    <%= render 'shared/unread_icon', flag: true unless notification.read? %>
    <%= t(".body_html",
          assigner: notification.notifiable.assigner.name,
          tax_return_year: notification.notifiable.tax_return.year.to_s,
          client_link: link_to(t(".body_link", client_name: notification.notifiable.tax_return.client.preferred_name), hub_client_path(id: notification.notifiable.tax_return.client)))
    %>
  </div>
</div>