<% title = "The page with all the info from the 201" %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="form-question"><%= title %></h1>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <%= f.cfa_input_field :primary_email, "email" %>

    <%= f.cfa_input_field :residence_county, "residence county" %>
    <%= f.cfa_input_field :school_district, "school district" %>
    <%= f.cfa_input_field :school_district_number, "school district number" %>

    <%=
        f.cfa_checkbox(
          :nyc_full_year_resident,
          "Were you and your spouse full time residents of NYC in #{current_intake.tax_return_year}?",
          options: { checked_value: "yes", unchecked_value: "no" }
        )
    %>

    <%= f.cfa_input_field :ny_other_additions, "Other (form IT-225, line 9)" %>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>
