<% content_for :card do %>
  <h1 class="form-question"><%= t(".instructions_1_html", employer: @w2.employer_name) %></h1>
  <%= form_with model: @w2, url: { action: :update }, method: :patch, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <div class="white-group">
      <p class="text--bold spacing-below-5"><%= @w2.employee_name %></p>
      <p class="spacing-below-25"><%= @w2.employer_name %></p>

      <% if @box14_codes.present? %>
        <% if @state_code == "nj" %>
          <p><%= t(".nj.box14_intro_html") %></p>
        <% end %>
        <fieldset>
          <legend class="spacing-below-5"><%= t(".box14_html") %></legend>
          <% @box14_codes.each do |code| %>
            <div class="form-question spacing-below-25">
              <% field_name = "box14_#{code.downcase}" %>
              <%= f.vita_min_money_field(
                    field_name.to_sym,
                    t(".box14_#{code.downcase}_html"),
                    classes: ["form-width--long"]
                  ) %>
                  <%= t(".box14_#{code.downcase}_help_text", year: MultiTenantService.statefile.current_tax_year, default: nil) %>
            </div>
          </fieldset>
        <% end %>
      <% end %>
      <div class="form-question spacing-below-25">
        <%= f.cfa_input_field(:employer_state_id_num, t(".box15_html"), classes: ["form-width--long"]) %>
      </div>
      <div class="form-question spacing-below-25">
        <%= f.vita_min_money_field(:state_wages_amount, t(".box16_html"), classes: ["form-width--long"]) %>
      </div>
      <div class="form-question spacing-below-25">
        <%= f.vita_min_money_field(:state_income_tax_amount, t(".box17_html"), classes: ["form-width--long"]) %>
      </div>
      <% if StateFile::StateInformationService.w2_include_local_income_boxes(current_state_code) %>
        <div class="form-question spacing-below-25">
          <%= f.vita_min_money_field(:local_wages_and_tips_amount, t(".box18_html"), classes: ["form-width--long"]) %>
        </div>
        <div class="form-question spacing-below-25">
          <%= f.vita_min_money_field(:local_income_tax_amount, t(".box19_html"), classes: ["form-width--long"]) %>
        </div>
        <div class="form-question spacing-below-25 ny-w2-locality-nm">
          <%= f.cfa_input_field(:locality_nm, t(".box20_locality_name"), classes: ["form-width--long"]) %>
        </div>
      <% end %>
    </div>

    <% explanation_key = @state_code == "nj" ? ".nj.box14_explanation_html" : ".box14_explanation.#{@state_code}_html" %>
    <% button_text = @state_code == "nj" ? ".nj.what_is_box14" : ".what_is_box14" %>
    <% explanation_text = t(explanation_key, year: MultiTenantService.statefile.current_tax_year, default: nil) %>

    <% if explanation_text %>
      <div class="reveal spacing-above-35">
        <p><button href="#" class="reveal__button"><%= t(button_text) %></button></p>
        <div class="reveal__content">
          <p class="spacing-below-15">
            <%= explanation_text %>
          </p>
        </div>
      </div>
    <% end %>

    <button class="button button--primary button--wide" type="submit">
      <%= t(".save_and_continue") %>
    </button>
  <% end %>
<% end %>
