<% title = t(".title") %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <% @w2s_with_metadata.each do |w2_info| %>
    <% w2 = w2_info[:w2] %>
    <% employer_name = w2_info[:employer_name] %>
    <% wages_amount = w2_info[:wages_amount] %>
    <div class="blue-group">
      <div class="spacing-below-15">
        <div class="form-group-tight">
          <div class="form-group<%= w2.errors.present? || (@errors_present && !w2.persisted?) ? " form-group--error" : "" %>">
            <div><strong><%= t(".w2_for", employer_name: employer_name) %></strong></div>
            <div><strong><%= t(".wages_amount", wages_amount: wages_amount) %></strong></div>
            <% if w2.persisted? %>
              <div><i><%= t(".updated") %></i></div>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <%= link_to t("general.update"), StateFile::Questions::W2Controller.to_path_helper(us_state: params[:us_state], action: :edit, id: w2.w2_index, return_to_review: params[:return_to_review]), class: "button--small button--inline-action" %>
      </div>
    </div>
  <% end %>

  <%= form_with model: @w2, url: { action: :create }, method: :post, local: true, builder: QuestionsFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
    <% if @errors_present %>
      <span class="text--error" id="state_file_w2_local_income_tax_amt__errors">
        <i class="icon-warning"></i>
        <%= I18n.t("state_file.questions.w2.edit.w2s_error") %>
      </span>
    <% end %>
  <% end %>
<% end %>
