<%
  title = t(".title")
  content_for :page_title, title
%>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p><%= t(".subtitle", taxpayer_name: @state_file_1099r.recipient_name, sample_name: @state_file_1099r.payer_name) %></p>
  <p><%= t(".subtitle_html") %> <%= link_to t(".go_back"), prev_path %></p>

  <div class="box warning spacing-below-25">
    <p><b><%= t(".warning_1") %></b></p>
    <%= t(".warning_2") %>
  </div>

  <div class="white-group">
    <p><b><%= t(".how_much_title") %></b></p>
    <p><%= t(".how_much_content") %></p>
    <ul class="list--padded">
      <li class="spacing-below-15"><%= t(".how_much_b1") %></li>
      <li><%= t(".how_much_b2_html") %></li>
    </ul>
  </div>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <% if params[:return_to_review_before].present? %>
      <%= hidden_field_tag "return_to_review_before", params[:return_to_review_before] %>
    <% end %>
    <% if params[:return_to_review_after].present? %>
      <%= hidden_field_tag "return_to_review_after", params[:return_to_review_after] %>
    <% end %>
    <% if item_index.present? %>
      <%= hidden_field_tag "item_index", item_index %>
    <% end %>
    <%= f.continue %>

    <%= link_to StateFile::Questions::IdIneligibleRetirementAndPensionIncomeController.to_path_helper(action: :file_with_another_service), class: "button button--wide spacing-above-15" do %>
      <%= t(".another_service") %>
    <% end %>

  <% end %>
<% end %>
