<% @page_title = t("general.state_routing", state: States.name_for_key(@state)) %>
<% content_for :page_title, @page_title %>

<% content_for :card do %>
  <div class="slab">
    <h1> Routing </h1>
    <h1> <%= States.name_for_key(@state) %> </h1>

    <div class="state-routing-grid">
      <div class="grid">
        <div class="state-routing-row__headers">
          <div class="width-one-half">
            Name
          </div>
          <div class="width-one-fourth">
            Org Level Routing
          </div>
          <div class="width-one-fourth">
            Routing Percentage
          </div>
        </div>

        <%= form_with model: @form, url: hub_state_routing_path, method: :put, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card' } do |f| %>
          <div class="state-routing-body">
            <% @coalition_srts.each do |coalition_srt| %>
              <div class="state-routing-row__sub-header">
                <%= coalition_srt.target.name %>
              </div>
              <% coalition_srt.target.organizations.each do |org| %>
                <%= render 'hub/state_routings/organization_routing_entry', f: f, organization: org, state_routing_target: coalition_srt %>
              <% end %>
            <% end %>
            <% if @independent_org_srts.any? %>
              <div class="state-routing-row__sub-header">
                Independent Organizations
              </div>
            <% end %>
            <% @independent_org_srts.each do |org_srt| %>
              <%= render 'hub/state_routings/organization_routing_entry', f: f, organization: org_srt.target, state_routing_target: org_srt %>
            <% end %>

            <% if @form.errors.present? %>
              <% @form.errors.attribute_names.each do |key| %>
                <div class="form-group">
                  <%= error_message(@form, key) %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="state-routing-row__footer spacing-below-60">
            <div class="width-one-half save-button">
              <%= f.submit t("general.save"), class: "button button--primary" %>
            </div>
            <div class="routing-total width-one-half">
              <div class="routing-total-label">Total Routing Percentage:</div>
              <div class="routing-percentage-total"><!-- Placeholder for JS calculation of total !--></div>
            </div>
          </div>
        <% end %>

        <%= form_with url: add_organizations_hub_state_routing_path, method: :put, local: true, builder: VitaMinFormBuilder do |f| %>
          <div id="add-org-form" class="form-group spacing-above-35">
            <label for="add-org-select" class="form-question">Add independent organization(s)</label>
            <div>
              <%= hidden_field_tag("vita_partners", "", id: "add-org-select", class: "text-input multi-select-vita-partner") %>
            </div>
            <div class="spacing-above-10">
              <%= f.submit "Add", class: "button button--no-margin" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :script do %>
  <script>
      window.taggableItems = <%= taggable_independent_organizations(@independent_organizations) %>;
  </script>
<% end %>

