<% title = t(".title") %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="white-group">
      <div class="form-group">
        <%= f.cfa_radio_set(
              :eligibility_all_members_health_insurance,
              label_text: t(".label", filing_year: @filing_year),
              collection: [
                { value: "yes", label: t("general.affirmative") },
                {
                  value: "no",
                  label: t("general.negative"),
                  input_html: {
                    "data-follow-up": "#household-members",
                    "aria-controls": "household-members" 
                  } 
                },
              ],
            ) %>
        </div>
    </div>

    <div class="reveal">
      <button class="reveal__button"><%= t('.coverage_heading') %></button>
      <div class="reveal__content">
        <%= t('state_file.general.nj_minimal_essential_health_coverage_html') %>
      </div>
    </div>

    <div class="reveal">
      <button class="reveal__button"><%= t('.tax_household_heading') %></button>
      <div class="reveal__content">
        <p><%= t('.tax_household_description_html') %></p>
      </div>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
