<% content_for :page_title, "How can we update you on your tax return?" %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="h2"><%= content_for(:page_title) %></h1>

    <p>
      We will reach out with questions and updates. Select the option(s) that you prefer!
    </p>

    <% if @form.errors[:base].any? %>
      <div class="form-group form-group--error">
        <p class="text--error"><i class="icon-warning"></i>
          <%= @form.errors.full_messages.first %>
        </p>
      </div>
    <% end %>

    <div class="form-card__stacked-checkboxes">
      <%= f.cfa_checkbox(:email_notification_opt_in, "Email Me", options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:sms_notification_opt_in, "Text Me", options: { checked_value: "yes", unchecked_value: "no" }) %>
      <div class="text-input--small-label">
        <%= f.cfa_input_field(:sms_phone_number, "Cell phone number", type: "tel", classes: ["form-width--long"]) %>
      </div>

      <p class="text--small">
        Note: We will not share your information with any outside parties.
      </p>
    </div>

    <button class="button button--primary" type="submit">
      Continue
    </button>
  <% end %>
<% end %>
