<% content_for :title, t(".title", partner_name: current_client.vita_partner&.name || t(".your_tax_preparers")) %>

<%= content_for :card do %>
  <h1 class="h2"><%= content_for :title %></h1>
  <p><%= client_contact_preference(current_client) %> <%= t(".wait_time") %></p>
  <%= form_with model: @message, url: portal_messages_path, local: true, builder: VitaMinFormBuilder, class: "portal-message-form" do |f| %>
    <%= f.cfa_textarea(:body, t(".body_label")) %>
    <div>
      <%= f.submit t("general.send_message"), class: "button button--primary button--wide" %>
    </div>
  <% end %>
<% end %>