<% title = t('.title') %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <p><%= t('.reason') %></p>
  <p><%= t('.not_allowed') %></p>

  <div class="reveal spacing-above-25">
    <button class="reveal__button"><%= t('.reveal_one') %></button>
    <div class="reveal__content">
      <p><%= t('.other_options') %></p>
      <ul>
        <li><%= t('.file_for_free') %></li>
        <ul>
          <li><%= t('.if_you_choose') %></li>
          <li><%= t('.get_started_vita_html') %></li>
          <li><%= t('.learn_more_html') %></li>
        </ul>
        <li><%= t('.get_started_comptroller_html') %></li>
      </ul>
    </div>
  </div>

  <div class="reveal">
    <button class="reveal__button"><%= t('.reveal_two') %></button>
    <div class="reveal__content">
      <p><%= t('.quick_tips') %></p>
      <ul>
        <li><%= t('.just_state_return') %></li>
        <li><%= t('.ready_reenter') %></li>
        <li><%= t('.only_state_return') %></li>
      </ul>
      <p><%= t('.fees_may_apply') %></p>
      <p><%= t('.learn_more_here_html') %></p>
    </div>
  </div>
<% end %>
