<div class="client-header spacing-above-15">
  <div class="client-header__left">
    <div class="title-row">
      <p class="h1">
        <%= client.preferred_name %>
      </p>
      <%= render "shared/urgent_icon", client: client %>
      <span class="text--help">#<%= client.id %></span>
    </div>
    <div class="client-header__organization">
      <h2><%= client.vita_partner&.name || t("hub.not_assigned_html") %></h2>
    </div>
    <div class="text--help spacing-below-0"><%= t("hub.last_client_update") + timestamp(client.updated_at) %></div>
  </div>
</div>