<% content_for :page_title, t("views.documents.send_requested_documents_later.success.title") %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="text--centered with-padding-med">
        <%= image_tag("questions/successfully-submitted.svg", alt: "") %>
      </div>
      <div class="grid__item with-padding-large">

        <h1 class="form-question">
          <%=t("views.documents.send_requested_documents_later.success.thank_you") %>
        </h1>

        <p>
          <%=t("views.documents.send_requested_documents_later.success.next_steps") %>
        </p>
      </div>
      <div class="text--centered">
        <%= link_to root_path, class: "button button--primary button--wide", style: "margin: 0 auto" do %>
          <%=t("general.return_home") %>
        <% end %>
      </div>
    </div>

  </section>
<% end %>