<% title = t(".title", tax_year: MultiTenantService.statefile.current_tax_year, count: current_intake.filer_count) %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="blue-group">
      <%= f.cfa_radio_set(:was_incarcerated, label_text: title, collection: [
        { value: "yes", label: t("general.affirmative") },
        { value: "no", label: t("general.negative") },
      ], legend_class: "sr-only") %>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>