<% title = t(".title") %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="blue-group">
      <%= f.cfa_radio_set(:primary_was_incarcerated, label_text: t(".primary_was_incarcerated", tax_year: MultiTenantService.statefile.current_tax_year), collection: [
        { value: "yes", label: t("general.affirmative") },
        { value: "no", label: t("general.negative") },
      ]) %>
    </div>

    <% if current_intake.filing_status_mfj? %>
      <div class="blue-group">
        <%= f.cfa_radio_set(:spouse_was_incarcerated, label_text: t(".spouse_was_incarcerated", tax_year: MultiTenantService.statefile.current_tax_year), collection: [
          { value: "yes", label: t("general.affirmative") },
          { value: "no", label: t("general.negative") },
        ]) %>
      </div>
    <% end %>

    <div class="blue-group">
      <%= f.cfa_radio_set(:ssn_no_employment, label_text: t(".ssn_no_employment_html.label"), collection: [
        { value: "yes", label: t("general.affirmative") },
        { value: "no", label: t("general.negative") },
      ]) %>
    </div>

    <div class="blue-group">
      <div class="question-with-follow-up">
        <div class="question-with-follow-up__question">
          <%= f.cfa_radio_set(:household_excise_credit_claimed, label_text: t(".household_excise_credit_html"), collection: [
            { value: "yes", label: t("general.affirmative"), input_html: { "data-follow-up": "#credit-amt" } },
            { value: "no", label: t("general.negative") },
          ]) %>
        </div>

        <div class="question-with-follow-up__follow-up" id="credit-amt">
          <%= f.cfa_input_field(:household_excise_credit_claimed_amt, t(".household_excise_credit_claimed_amt"), classes: ["form-width--long round-dollar-amount"]) %>
        </div>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>