<% @main_heading = t("views.ctc.questions.use_gyr.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>
  <p class="text--small"><%= t("views.ctc.questions.use_gyr.help_text") %></p>

  <ul class="checkmark-list teal">
    <% standard_deduction = StandardDeduction.new(tax_year: current_tax_year) %>
    <% t("views.ctc.questions.use_gyr.ctc_conditions",
         current_tax_year: current_tax_year,
         single_deduction: number_to_currency(standard_deduction.standard_deduction(:single)),
         joint_deduction: number_to_currency(standard_deduction.standard_deduction(:married_filing_joint))
       ).each do |condition| %>
      <li><%= condition %></li>
    <% end %>
  </ul>

  <p><strong><%= t("views.ctc.questions.use_gyr.still_benefit") %></strong></p>
  <p><strong><%= t("views.ctc.questions.use_gyr.collect_money") %></strong></p>

  <%= link_to url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'home'), class: "button button--wide button--primary text--centered spacing-above-60" do %>
    <%=t("views.ctc.questions.use_gyr.file_gyr") %>
  <% end %>
  <%= link_to root_path(anchor: 'ctc_faq'), class: "button button--wide text--centered" do %>
    <%=t("views.ctc.questions.use_gyr.visit_our_faq") %>
  <% end %>
<% end %>
