<% @main_heading = t("views.ctc.questions.use_gyr.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>

  <div class="reveal-shrink-wrapper">
    <%= render('components/molecules/reveal', title: t("views.ctc.questions.use_gyr.why_ineligible_reveal.title")) do %>
      <p><%= t("views.ctc.questions.use_gyr.why_ineligible_reveal.content.p") %></p>
      <% standard_deductions = StandardDeductions.base_deductions(tax_year: current_tax_year) %>
      <ul class="list--bulleted">
        <% t("views.ctc.questions.use_gyr.why_ineligible_reveal.content.list",
          current_tax_year: current_tax_year,
          single_deduction: number_to_currency(standard_deductions[:single]),
          joint_deduction: number_to_currency(standard_deductions[:married_filing_jointly])).each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <p><strong><%= t("views.ctc.questions.use_gyr.still_benefit") %></strong></p>

  <%= link_to url_for(host: MultiTenantService.new(:gyr).host, controller: "/public_pages", action: 'home', params: { source: 'gctc_ref' }), class: "button button--wide button--primary text--centered spacing-above-60", "data-track-click": "gctc_to_gyr_usegyr" do %>
    <%=t("views.ctc.questions.use_gyr.file_gyr") %>
  <% end %>
  <%= link_to root_path(anchor: 'ctc_faq'), class: "button button--wide text--centered" do %>
    <%=t("views.ctc.questions.use_gyr.visit_our_faq") %>
  <% end %>
<% end %>
