<% content_for :page_title do %>
  <%=t("views.intake_site_drop_offs.show.title") %>
<% end %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-two-thirds shift-one-sixth">
        <div class="form-card">
          <header class="form-card__header">
            <% if @drop_off.prior_drop_off.present? %>
              <h1 class="form-card__title"><%=t("views.intake_site_drop_offs.show.found_ticket") %></h1>
            <% else %>
              <h1 class="form-card__title"><%=t("views.intake_site_drop_offs.show.sent_for_prep") %></h1>
            <% end %>
          </header>
          <div class="form-card__content">
            <%= link_to new_drop_off_path(organization: @organization), class: "button button--primary" do %>
              <i class="button__icon icon-add"></i>
              <%=t("views.intake_site_drop_offs.show.add_another") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
