<% @main_heading = t("state_file.questions.az_public_school_contributions.edit.title_html") %>

<% content_for :page_title, ActionView::Base.full_sanitizer.sanitize(@main_heading) %>
<% content_for :card do %>
  <h1 class="form-question"><%= @main_heading %></h1>
  <%= form_with model: @az322_contribution, url: { action: @az322_contribution.persisted? ? :update : :create }, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>

    <div class="white-group">
      <p class="form-question spacing-below-25"><%= t('state_file.questions.az_public_school_contributions.edit.additional_info') %></p>
      <div class="form-group-tight">
        <%= f.cfa_input_field(
              :school_name,
              t('state_file.questions.az_public_school_contributions.edit.school_name'),
              classes: ["form-width--long"],
              help_text: t("state_file.questions.az_public_school_contributions.edit.school_name_help_text")
            ) %>
        <%= f.cfa_input_field(:ctds_code, t('state_file.questions.az_public_school_contributions.edit.ctds_code'), classes: ["form-width--long"]) %>
        <%= f.cfa_input_field(:district_name, t('state_file.questions.az_public_school_contributions.edit.district_name'), classes: ["form-width--long"]) %>
        <%= f.vita_min_money_field(
              :amount,
              t('state_file.questions.az_public_school_contributions.edit.amount', year: current_tax_year),
              classes: ["form-width--long"],
              help_text: t("state_file.questions.az_public_school_contributions.edit.amount_help_text", count: current_intake.filer_count)
            ) %>
        <div class="date-select">
          <%= f.cfa_date_select(
                :date_of_contribution,
                t("state_file.questions.az_public_school_contributions.edit.date_of_contribution", year: current_tax_year),
                options: {
                  start_year: current_tax_year,
                  end_year: current_tax_year,
                }
              ) %>
        </div>
      </div>
    </div>

    <div class="reveal">
      <button class="reveal__button"><%= t(".school_details_question") %></button>
      <div class="reveal__content">
        <p><%= t(".school_details_answer_html") %></p>
      </div>
    </div>

    <%= f.submit t("general.continue"), class: "button button--primary button--wide" %>
  <% end %>
<% end %>
