<% @main_question = t("views.ctc.questions.contact_preference.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= @main_question %></h1>
    <p>
      <%= t("views.ctc.questions.contact_preference.body") %>
    </p>

    <p class="text--small">
      <%= t("views.ctc.questions.contact_preference.sms_policy") %>
    </p>

    <%= link_to t("views.ctc.questions.contact_preference.text"), questions_cell_phone_number_path,  class: "button button--wide text--centered" %>
    <%= link_to t("views.ctc.questions.contact_preference.email"), questions_email_address_path, class:"button button--wide text--centered"  %>
  <% end %>
<% end %>