<% content_for :page_title, "Calculations explanation" %>

<% content_for :card do %>
  <table class="data-table">
    <thead>
      <tr style="text-align: left;">
        <th>Line ID</th>
        <th>Value</th>
        <th>Inputs</th>
        <th>Source</th>
      </tr>
    </thead>
    <% @calculator.lines.each do |line_id, line| %>
      <tr>
        <td style="vertical-align: top;" id="<%= line.line_id %>">
          <%= line.line_id %>
          <div style="font-weight: 300;"><%= line.pdf_label %></div>
        </td>
        <td style="vertical-align: top;"><%= line.value %></td>
        <td style="vertical-align: top; white-space: nowrap;">
          <% line.inputs&.each do |line_id| %>
            <div>
              <a href="#<%= line_id %>"><%= line_id %></a>: <%= @calculator.lines[line_id]&.value %>
            </div>
          <% end %>
        </td>
        <td style="white-space: pre"><%= line.source_description %></td>
      </tr>
    <% end %>
  </table>
<% end %>
