<% @title = t(".title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--not-padded">
    <div>
      <div>
        <%= form_with model: @form, url: hub_ctc_client_path(id: @client.id), method: :put, local: true, builder: VitaMinFormBuilder do |f| %>
          <h1 class="form-card__title">
            <%= @title %>
          </h1>

          <%= render "shared/client_primary_info_fields", f: f, is_ctc: true, is_dropoff: @is_dropoff %>
          <%= render "shared/filing_status_fields", f: f %>
          <%= render "shared/client_spouse_info_fields", f: f, is_ctc: true %>
          <%= render "shared/dependents_fields", f: f, is_ctc: true %>
          <%= render "shared/address_fields", f: f, is_ctc: true %>
          <%= render "shared/recovery_rebate_amount_fields", f: f %>
          <%= render "shared/bank_account_fields", f: f %>
          <%= render "shared/navigator_fields", f: f %>
          <% if @is_dropoff %>
            <%= render "shared/photo_id_fields", f: f %>
            <%= render "shared/taxpayer_id_fields", f: f %>
          <% end %>

          <div class="hub-form__row">
            <button class="button button--cta" type="submit">
              <%= t("general.save") %>
            </button>

            <%= link_to t("general.cancel"), hub_client_path(id: @client.id), class: "button" %>
          </div>

          <% if current_ability.can?(:destroy, @client) %>
            <div class="hub-form__row spacing-above-25">
              <%= link_to(
                    hub_client_path(id: @client.id),
                    method: :delete,
                    class: "button button--danger",
                    data: { confirm: t("hub.clients.edit.delete_confirmation", name: @client.legal_name) }
                  ) do %>
                <%= t("hub.clients.edit.delete_client") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
