<% @title = t(".title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--not-padded">
    <div>
      <div>
        <%= form_with model: @form, url: hub_ctc_clients_path, method: :post, local: true, builder: VitaMinFormBuilder do |f| %>
          <h1 class="form-card__title">
            <%= @title %>
          </h1>
          <%= f.hidden_field :service_type, value: "drop_off" %>
          <%= f.cfa_select(:signature_method, t("hub.clients.fields.signature_method"), signature_methods_for_select, options: { selected: "online" }) %>
          <%= f.cfa_select(:vita_partner_id, t(".assign_to_label"), grouped_vita_partner_options) %>

          <%= render "shared/client_primary_info_fields", f: f, is_ctc: true, is_dropoff: true %>
          <%= render "shared/filing_status_fields", f: f %>
          <%= render "shared/client_spouse_info_fields", f: f, is_ctc: true %>
          <%= render "shared/dependents_fields", f: f, is_ctc: true %>
          <%= render "shared/address_fields", f: f %>
          <%= render "shared/recovery_rebate_amount_fields", f: f %>
          <%= render "shared/bank_account_fields", f: f %>
          <%= render "shared/navigator_fields", f: f %>
          <%= render "shared/photo_id_fields", f: f %>
          <%= render "shared/identity_verification_fields", f: f %>

          <div>
            <button class="button button--cta" type="submit" name="save">
              <%= t("general.save") %>
            </button>
            <button class="button" type="submit" name="save_and_add">
              <%= t(".save_and_add") %>
            </button>
          </div>
          <div class="spacing-below-25">
            <%= link_to t("general.cancel"), :back %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
