<% current_year = current_tax_year %>
<% prior_year = current_tax_year - 1 %>

<% title = t(".title", current_tax_year: current_year, prior_tax_year: prior_year) %>

<% content_for :page_title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <p><%= t(".subtitle_1", current_tax_year: current_year, prior_tax_year: prior_year) %></p>
  <p><%= t(".subtitle_2_html", current_tax_year: current_year, prior_tax_year: prior_year) %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up">
      <div class="question-with-follow-up__question">
        <div class="white-group">
          <%= f.cfa_radio_set(:paid_prior_year_refund_payments, collection: [
            {
              value: "yes",
              label: t(".affirmative", current_tax_year: current_year, prior_tax_year: prior_year),
              input_html: { "data-follow-up": "#used_refund" }
            },
            {
              value: "no",
              label: t(".negative", current_tax_year: current_year, prior_tax_year: prior_year)
            }
          ]) %>
        </div>
      </div>

      <div class="question-with-follow-up__follow-up" id="used_refund">
        <div class="white-group">
          <p><%= t(".enter_amount_html", current_tax_year: current_year, prior_tax_year: prior_year) %></p>
          <%= f.vita_min_money_field(:prior_year_refund_payments_amount, t(".amount_label", current_tax_year: current_year, prior_tax_year: prior_year), classes: ["form-width--long"]) %>
        </div>
      </div>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
