<% title = t(".title", year: MultiTenantService.statefile.current_tax_year) %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <p class="subtitle"><%= t(".subtitle", year: MultiTenantService.statefile.current_tax_year) %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="white-group">
      <%= f.cfa_radio_set(
            :eligibility_filing_status,
            label_text: t(".eligibility_filing_status_label_text"),
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
