<% @title = "GYR: Frequently Asked Questions" %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--not-padded spacing-above-25">
    <%= render 'header', titles: [@title]%>
    <%= link_to "Add new FAQ Category", new_hub_faq_category_path, method: :get, class: "button spacing-below-0" %>
    <hr/>
    <% @faq_categories.each do |category| %>
      <div class="spacing-below-60">
        <h2 class="spacing-below-10 faq-header"><%= link_to category.name_en, hub_faq_category_path(category) %></h2>
        <div class="grid">
          <div class="grid__item width-one-third">
            <div class="field-display">
              <span class="form-question">Position:</span>
              <span class="label-value"><%= category.position || t("general.NA") %></span>
            </div>
            <div class="field-display break-word--field">
              <span class="form-question">Slug:</span>
              <span class="label-value"><%= category.slug || t("general.NA") %></span>
            </div>
          </div>
          <div class="grid__item width-one-third">
            <div class="field-display">
              <span class="form-question">Name (English):</span>
              <span class="label-value"><%= category.name_en || t("general.NA") %></span>
            </div>
            <div class="field-display">
              <span class="form-question">Name (Spanish):</span>
              <span class="label-value"><%= category.name_es || t("general.NA") %></span>
            </div>
          </div>
          <div class="grid__item width-one-third">
            <%= link_to "Edit", edit_hub_faq_category_path(id: category.id), class: "link--faq" %>
          </div>
        </div>
        <div class="field-display">
          <span class="form-question">FAQ Items:</span>
          <%= render 'faq_items_table', category: category %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
