<% @title = @faq_category.name_en %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--not-padded spacing-above-25 spacing-below-60">
    <% path = @faq_category.product_type_gyr? ? hub_faq_categories_path : hub_state_file_faq_categories_path %>
    <% titles = [["Frequently Asked Questions", path], "#{@title} (##{@faq_category.id})"] %>
    <%= render 'header', titles: titles %>
    <%= render 'header_buttons', category: @faq_category %>
    <hr/>

    <h4 class="spacing-below-5">Position</h4>
    <%= @faq_category.position.present? ? @faq_category.position : "N/A"%>

    <h4 class="spacing-below-5">Name (English)</h4>
    <%= @faq_category.name_en.present? ? @faq_category.name_en : "N/A"%>

    <h4 class="spacing-below-5">Name (English)</h4>
    <%= @faq_category.name_es.present? ? @faq_category.name_es : "N/A"%>

    <h4 class="spacing-below-5">Slug</h4>
    <%= @faq_category.slug.present? ? @faq_category.slug : "N/A"%>

    <h4 class="spacing-below-5">FAQ Items</h4>
    <%= render 'hub/faq_categories/faq_items_table', category: @faq_category %>
  </div>
<% end %>
