<% state_image_path = params[:us_state] == "ny" ? "partner-logos/nygov-logo.svg" : "partner-logos/azgov-logo.svg" %>
<% title = t(".#{params[:us_state]}.title") %>

<% content_for :page_title, title %>

<% content_for :card do %>
  <div class="landing-page-content">
    <h1 class="h1"><%= title %></h1>

    <h2 class="h2">
      <%= t(".#{params[:us_state]}.built_with_html") %>
    </h2>

    <div class="partner-logo-wrapper spacing-below-35">
      <div class="partner-logo-image">
        <%= image_tag state_image_path, alt: "#{state_name} state logo", class: "" %>
      </div>
      <div class="partner-logo-text text--body text--bold">
        <%=t(".#{params[:us_state]}.supported_by") %>
      </div>
    </div>

    <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
      <%= f.submit t("general.get_started"), class: "button button--primary button--wide", id: "firstCta" %>
    <% end %>

    <h2 class="h2">
      <%= t(".already_started_html", sign_in_url: StateFile::StateFilePagesController.to_path_helper(action: :login_options, us_state: params[:us_state])) %>
    </h2>

  </div>
<% end %>
