<%
  title = t(".title", filing_year: current_tax_year)
  content_for :page_title, title
%>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="white-group">
      <%= f.vita_min_state_file_select(:residence_county, t(".county"), @counties, label_class: 'form-label--bold', prompt: t('general.select_prompt')) %>
    </div>

    <div class="question-with-follow-up spacing-below-25">
      <div class="question-with-follow-up__question">
        <div class="white-group" id="address-during-hurricane" style="display:none">
          <p class="spacing-below-15"><%= t(".moved_after_hurricane") %></p>
          <%=
            f.cfa_radio_set(
              :moved_after_hurricane_helene,
              collection: [
                { value: :yes, label: t("general.affirmative"), input_html: { "data-follow-up": "#county-during-hurricane" } },
                { value: :no, label: t("general.negative") },
              ]
            )
          %>
        </div>
      </div>
    </div>

    <div class="question-with-follow-up__follow-up" id="county-during-hurricane">
      <div class="question-with-follow-up">
        <div class="question-with-follow-up__question">
          <div class="white-group">
            <p class="spacing-below-15"><%= t(".county_during_hurricane") %></p>
            <%= f.vita_min_state_file_select(:county_during_hurricane_helene, t(".county"), @counties, label_class: 'form-label--bold', prompt: t('general.select_prompt')) %>
          </div>
        </div>
      </div>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>

<% content_for :script do %>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          const countySelect = document.getElementById('state_file_nc_county_form_residence_county');
          const addressDuringHurricane = document.getElementById('address-during-hurricane');
          const designated_counties = <%= raw @designated_hurricane_relief_counties.to_json %>;

          countySelect.addEventListener('change', function () {
              const selectedCounty = countySelect.value;
              console.log(`Selected value: "${countySelect.value}"`);

              if (designated_counties.includes(selectedCounty)) {
                  addressDuringHurricane.style.display = 'none';
              } else {
                  addressDuringHurricane.style.display = '';
              }
          });
      });
  </script>
<% end %>