<% title = t(".title", filing_year: Rails.configuration.statefile_current_tax_year  ) %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="blue-group">
      <%= f.vita_min_state_file_select(:residence_county , t(".county"), ny_county_options_for_select, label_class: 'form-label--bold', prompt: t('general.select_prompt')) %>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>
