<%
title = t(".title", filing_year: @filing_year )
nyc_counties = [
  "Bronx",
  "Kings (Brooklyn)",
  "Manhattan (see New York)",
  "New York (Manhattan)",
  "Queens",
  "Richmond (Staten Isand)"
]
nyc_residency_full_year = @nyc_residency == :full_year
permitted_counties = NySchoolDistricts.county_labels.filter { |c| nyc_counties.include?(c) == nyc_residency_full_year }
content_for :page_title, title
%>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <p><%= t(".nyc_residency_#{@nyc_residency}_html", filing_year: @filing_year) %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="blue-group">
      <p
        class="warning"
        data-select="state_file_ny_county_form_residence_county"
        data-permitted='<%= permitted_counties.to_json %>'
      >
        <%= t(".nyc_residency_#{@nyc_residency}_warning") %>
      </p>
      <%= f.vita_min_state_file_select(:residence_county , t(".county"), NySchoolDistricts.county_labels, label_class: 'form-label--bold', prompt: t('general.select_prompt'), "data-warning": true ) %>
    </div>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>
