<% @main_question = t("views.ctc.questions.filing_status.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= @main_question %></h1>

    <div class="form-card__content">
      <%= f.cfa_radio_set(
            :filing_status,
            collection: [
              { value: "single", label: t("views.ctc.questions.filing_status.single") },
              { value: "married_filing_jointly", label: t("views.ctc.questions.filing_status.married_filing_jointly") }
            ]
          ) %>

      <%= render('components/molecules/reveal', title: t("views.ctc.questions.filing_status.reveal_title")) do %>
        <p><%= t("views.ctc.questions.filing_status.reveal_body") %></p>
      <% end %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      <%= t("general.continue") %>
    </button>
  <% end %>
<% end %>