<% @title = t(".title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--padded">
    <%= form_for(@form, url: hub_client_outbound_calls_path, method: :post, local: true, builder: VitaMinFormBuilder) do |f| %>
      <h1 class="form-card__title">
        <%= @title %>
      </h1>
      <p><%= t(".notice_html", receiving_number: formatted_phone_number(@form.twilio_phone_number))  %></p>
      <ul class="with-bullets">
        <% t(".notice_list").each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>

      <%= f.cfa_input_field(:user_phone_number,
                            t(".your_phone_number"),
                            type: 'phone',
                            classes: ['form-width--phone'],
                            ) %>
      <%= f.cfa_input_field(:client_phone_number,
                            t(".client_phone_number"),
                            type: 'phone',
                            classes: ['form-width--phone'],
                            ) %>

      <div class="actions">
        <%= f.submit t(".call"), class: "button button--primary" %>
      </div>
    <% end %>
  </div>
<% end %>

