<% if current_intake.primary_veteran_yes? || current_intake.spouse_veteran_yes? %>
  <div class="white-group">
    <h2 class="h3"><%=t('.header') %></h2>
    <p><%= current_intake.filing_status_mfj? ? t('.body_mfj_html') : t('.body_html') %></p>
  </div>
  <div class="reveal">
  <button class="reveal__button"><%= t('.veterans_reveal') %></button>
  <div class="reveal__content">
    <p><%= t('.veterans_reveal_html') %></p>
  </div>
</div>
<% end %>

<% if current_intake.refund_or_owe_taxes_type == :owe && current_intake.payment_or_deposit_type_mail? %>
  <%= t('.taxes_owed_pay_by_mail_html') %>
<% end %>