<% if current_intake.efile_submissions.count > 1 %>
  <% title = t('.title_resubmit', state_name: current_state_name, filing_year: current_tax_year) %>
<% else %>
  <% title = t('.title', state_name: current_state_name, filing_year: current_tax_year) %>
<% end %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <div class='return-status'>
    <p>
      <%= image_tag("icons/check.svg", alt: "") %>
    </p>
  </div>

  <h1 class="h2"><%= title %></h1>

  <p>
    <% if current_intake.email_notification_opt_in_yes? && current_intake.sms_notification_opt_in_yes? %>
      <%= t('.email_text_update') %>
    <% elsif current_intake.email_notification_opt_in_yes? %>
      <%= t('.email_update') %>
    <% elsif current_intake.sms_notification_opt_in_yes? %>
      <%= t('.text_update') %>
    <% end %>
  </p>

  <p>
    <a target="_blank" rel="noopener nofollow" href="https://vote.gov/"><%= t('state_file.general.register_to_vote') %></a>
  </p>

  <% # i18n-tasks-use t("state_file.questions.return_status.additional_content.#{current_state_code}_html") # hint for the i18n linter that, yes, we are using this key (sometimes) %>
  <% additional_content_key = "state_file.questions.return_status.additional_content.#{current_state_code}_html" %>
  <% if I18n.exists?(additional_content_key) %>
    <p><%= t(additional_content_key) %></p>
  <% end %>

  <p><%= t('general.spread_the_word_html') %></p>

  <%= link_to t(".download_state_return_pdf"), StateFile::Questions::SubmissionPdfsController.to_path_helper(action: :show, id: EfileSubmission.where(data_source: current_intake).first), class: "button button--primary button--wide" %>

  <% if show_xml? %>
    <p>
      <% xml_bundle = EfileSubmission.where(data_source: current_intake).last&.submission_bundle %>
      <%= link_to "Main XML Doc", StateFile::Questions::ConfirmationController.to_path_helper(action: :show_xml), class: 'dev-button' %>
      <% if xml_bundle.present? %>
        <%= link_to "Full XML Bundle", rails_blob_path(xml_bundle, disposition: "attachment"), class: 'dev-button' %>
      <% end %>
      <%= link_to "Explain Calculations", StateFile::Questions::ConfirmationController.to_path_helper(action: :explain_calculations), class: 'dev-button' %>
    </p>
  <% end %>
<% end %>
