<% title = t('.title', state_name: States.name_for_key(params[:us_state].upcase)) %>

<% content_for :page_title, title %>
<% content_for :card do %>
  <%= image_tag("icons/check.svg", alt: "") %>

  <h1 class="h2"><%= title %></h1>

  <p><%= t(".email_text_update") %></p>

  <p><%= link_to t(".register_to_vote"), "https://vote.gov/" %></p>

  <% if params[:us_state] == "ny" %>
    <p><%= t(".ny_notifications_signup_html") %></p>
  <% end %>

  <%= link_to t(".download_state_return_pdf"), StateFile::Questions::SubmissionPdfsController.to_path_helper(us_state: params[:us_state], action: :show, id: EfileSubmission.where(data_source: current_intake).first), class: "button button--primary" %>
  <% if Rails.env != "production" %>
    <p>
      <% xml_bundle = EfileSubmission.where(data_source: current_intake).last&.submission_bundle %>
      <%= link_to "Main XML Doc", StateFile::Questions::ConfirmationController.to_path_helper(us_state: params[:us_state], action: :show_xml), class: 'dev-button' %>
      <% if xml_bundle.present? %>
        <%= link_to "Full XML Bundle", rails_blob_path(xml_bundle, disposition: "attachment"), class: 'dev-button' %>
      <% end %>
      <%= link_to "Explain Calculations", StateFile::Questions::ConfirmationController.to_path_helper(us_state: params[:us_state], action: :explain_calculations), class: 'dev-button' %>
    </p>
  <% end %>
<% end %>
