<% content_for :page_title, "#{@ticket.subject}, ##{@ticket.id}" %>

<% content_for :card do %>
  <div class="header">
    <h1 class="h2">
      <%= @ticket.subject %>
    </h1>
    <h2>
      <%= link_to(
              "##{@ticket.id}", "https://eitc.zendesk.com/agent/tickets/#{@ticket.id}",
              class: "ticket-link",
              target: "_blank"
          ) %>
    </h2>
    <p class="text--smaller">
      <%=t("views.zendesk.tickets.show.chart.header") %>
    </p>
  </div>

  <% if !Rails.env.production? && current_user.role == "admin" %>
    <%= form_with(url: case_management_clients_path, method: "post", local: true) do %>
      <button type="submit" name="intake_id" value="<%= @intakes.first.id %>" class="button">
        Create client
      </button>
    <% end %>
  <% end %>

  <table class="data-table document-table">
    <thead>
      <tr>
        <th class="document-column__doc-type"><%=t("views.zendesk.tickets.show.chart.doc_type") %></th>
        <th class="document-column__link"><%=t("views.zendesk.tickets.show.chart.link") %></th>
        <th class="document-column__upload-date"><%=t("views.zendesk.tickets.show.chart.upload_date") %></th>
        <th class="document-column__notes"><%=t("views.zendesk.tickets.show.chart.notes") %></th>
      </tr>
    </thead>
    <tbody>
      <% @intakes.each do |intake| %>
        <tr>
          <td> 13614-C </td>
          <td>
            <%= link_to pdf_zendesk_intake_path(
              id: intake.id,
              filename: "13614c_#{intake.name_for_filename}.pdf"
            ), target: "_blank" do %>
              <%= "13614c_#{intake.name_for_filename}.pdf" %>
            <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      <% @intakes.each do |intake| %>
        <tr>
          <td> <%=t("views.zendesk.tickets.show.chart.consent") %> </td>
          <td>
            <%= link_to consent_pdf_zendesk_intake_path(
              id: intake.id,
              filename: "Consent_#{intake.name_for_filename}.pdf",
            ), target: "_blank" do %>
              <%= "Consent_#{intake.name_for_filename}.pdf" %>
            <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      <% if @document_groups.present? %>
        <% @document_groups.each do |type, documents| %>
          <% documents.each do |document| %>
            <tr>
              <td>
                <%= t("general.document_type.#{type.parameterize(separator: "_")}", default: type) %>
              </td>
              <td>
                <%= link_to zendesk_document_path(document.id), target: "_blank" do %>
                  <%= document.upload.filename %>
                <% end %>
              </td>
              <td> <%= document.uploaded_ago %> </td>
              <td class="document-notes">
                <% if document.notes.present? %>
                  <%= image_tag "document-notes.svg", alt: "", class: "icon--inline-notice" %>
                  <%= document.notes %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      <% @intakes.select { |intake| intake.bank_account_number.present? }.each do |intake| %>
        <tr>
          <td> <%=t("views.zendesk.tickets.show.chart.bank_info") %> </td>
          <td>
            <%= link_to t("views.zendesk.tickets.show.chart.bank_info"),
              banking_info_zendesk_intake_path(intake.id),
              target: "_blank" %>
          </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      <% if @drop_offs.present? %>
        <% @drop_offs.each do |drop_off| %>
          <tr>
            <td><%=t("views.zendesk.tickets.show.chart.drop_off_document_bundle") %></td>
            <td>
              <%= link_to drop_off.document_bundle.filename,
                zendesk_drop_off_path(id: drop_off.id),
                target: "_blank" %>
            </td>
            <td><%= drop_off_upload_date(drop_off) %></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
