<%
    title = t(".title")
    content_for :page_title, title
%>

<% content_for :card do %>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= title %></h1>
    <p><%= t(".details_1") %></p>
    <p><%= t(".details_2_html") %></p>
    <p><%= t(".details_3") %></p>

    <div class="white-group">
      <%= f.cfa_radio_set(:primary_contribution_gubernatorial_elections, label_text: t(".primary_contribute"), collection: [
        { value: "yes", label: t("general.affirmative") },
        { value: "no", label: t("general.negative") },
      ]) %>
    </div>

    <% if current_intake.filing_status_mfj? %>
      <div class="white-group">
        <%= f.cfa_radio_set(:spouse_contribution_gubernatorial_elections, label_text: t(".spouse_contribute"), collection: [
          { value: "yes", label: t("general.affirmative") },
          { value: "no", label: t("general.negative") },
        ]) %>
      </div>
    <% end %>

    <% if params[:return_to_review].present? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>

    <%= f.continue %>
  <% end %>
<% end %>