<% content_for :page_title, "#{@client.preferred_name}, ##{@client.id}" %>

<% content_for :card do %>
  <%= render "case_management/clients/client_header" %>

  <%= render "case_management/clients/navigation" %>

  <h2>Contact History</h2>
  <% if @contact_history.present? %>
    <ul class="message-list">

      <% @messages_by_day.each do |datetime, contact_records| %>

        <li class="message__day-heading"><%= date_heading(datetime) %></li>

        <% contact_records.each do |contact_record| %>
          <li class="message message--<%= contact_record.contact_record_type %>">

            <div class="message__heading">
              <div>
                <span class="message__author">
                  <span role="img" aria-label="client">👤</span>
                  <% if contact_record.contact_record_type == :outgoing_text_message || contact_record.contact_record_type == :outgoing_email %>
                    <%= contact_record.author %>
                  <% end %>
                </span>

                <% if contact_record.contact_record_type == :outgoing_text_message %>
                  <span class="message__phone_number">
                    Text to <%= local_phone_number(contact_record.to_phone_number) %>
                  </span>
                  <span class="message__status">
                    <%= contact_record.twilio_status || "sending..." %>
                  </span>
                <% end %>

                <% if contact_record.contact_record_type == :incoming_text_message %>
                  <span class="message__phone_number">
                    Text from <%= local_phone_number(contact_record.from_phone_number) %>
                  </span>
                <% end %>

                <% if contact_record.contact_record_type == :outgoing_email %>
                  <span class="message__phone_number">
                    Email to <%= contact_record.to %>
                  </span>
                <% end %>

                <% if contact_record.contact_record_type == :incoming_email %>
                  <span class="message__phone_number">
                    Email from <%= contact_record.from %>
                  </span>
                <% end %>

                <% if contact_record.contact_record_type.to_s.include? "email" %>
                  <div class="message__subject">
                    <%= contact_record.subject %>
                  </div>
                <% end %>
              </div>

              <div>
                <span class="message__time">
                  <%= contact_record.formatted_time %>
                </span>
              </div>
            </div>

            <div class="message__body">

              <% if contact_record.contact_record_type == :outgoing_email %>

                <%= render "shared/email_body", body: contact_record.body %>
                <% if contact_record.attachment.present? && contact_record.attachment.filename %>
                  <hr class="message--hr" />
                  <h4 class="message--attachments__heading">Attachments:</h4>
                  <ul>
                    <li><%= contact_record.attachment.filename %></li>
                  </ul>
                <% end %>

              <% else %>

                <%= contact_record.body %>

              <% end %>
            </div>

          </li>
        <% end %>

      <% end %> <%# end of day %>

    </ul>
  <% end %>

  <%= form_with model: @outgoing_text_message, url: case_management_client_outgoing_text_messages_path(client: @client), local: true, builder: VitaMinFormBuilder, method: "post", html: {class: 'text-message-form'} do |f| %>
    <%= f.cfa_input_field :body, t(".text_message_form.label") %>
    <%= f.hidden_field :client_id %>
    <%= f.submit t(".text_message_form.submit"), class: "button" %>
  <% end %>

  <%= form_with model: @outgoing_email, url: case_management_client_outgoing_emails_path(client: @client), local: true, builder: VitaMinFormBuilder, method: "post", html: {class: 'email-form'} do |f| %>
    <%= f.cfa_textarea :body, t(".email_form.label") %>
    <%= f.hidden_field :client_id %>
    <div class="attachment-uploader">
      <%= f.file_field :attachment, id: 'attachment-upload' %>
      <div id="attachment-image-preview-wrapper">
        <%= image_tag "file-icon.svg", id: "attachment-image-preview-default" %>
        <div id="attachment-custom-preview"></div>
      </div>
      <button id="attachment-image-clear" hidden>Remove Attachment</button>
    </div>

    <%= f.submit t(".email_form.submit"), class: "button" %>
  <% end %>

<% end %>
