<% content_for :back_to, "efile_errors" %>
<% content_for :card do %>
  <div class="slab slab--not-padded spacing-above-25">
    <%= render "header" %>
    <hr/>
    <h2>Options</h2>
    <%= form_with model: @efile_error, method: :put, local: true, url: hub_state_file_efile_error_path, builder: VitaMinFormBuilder do |f| %>
      <div>
        <span class="tooltip" data-position="right" title="will expose the error code & message and/or custom description & resolution on the /return-status page">
          <%= f.hub_checkbox :expose, "Exposed to client?" %>
        </span>
      </div>

      <div>
        <span class="tooltip" data-position="right" title="will show 'what can I do next' text on /return-status page">
          <%= f.hub_checkbox :auto_cancel, "Auto-cancel?" %>
        </span>
      </div>

      <div>
        <span class="tooltip" data-position="right" title="will allow the client to resubmit their return">
          <%= f.hub_checkbox :auto_wait, "Auto-wait?" %>
        </span>
      </div>

      <div>
        <%= f.label "Correction Path", class: "h4"  %>
        <p class="help-text">directs clients to path when resubmitting</p>
        <%= f.select :correction_path, @correction_path_options_for_select, selected: @efile_error.correction_path %>
      </div>

      <div class="spacing-above-25">
        <%= f.label :description_en, "English Description", class: "h4" %>
        <p class="help-text">overwrites default reject description on <em>en/questions/return-status</em> page if exposed</p>
        <%= f.rich_text_area :description_en %>
      </div>

      <div class="spacing-above-25">
        <%= f.label :description_es, "Spanish Description", class: "h4" %>
        <p class="help-text">overwrites default reject description on <em>es/questions/return-status</em> page if exposed</p>
        <%= f.rich_text_area :description_es %>
      </div>


      <div class="spacing-above-25">
        <%= f.label :resolution_en, "English Resolution", class: "h4" %>
        <p class="help-text">overwrites default 'what's next' message on <em>en/questions/return-status</em> page if exposed and auto-wait true</p>
        <%= f.rich_text_area :resolution_en %>
      </div>


      <div class="spacing-above-25">
        <%= f.label :resolution_es, "Spanish Resolution", class: "h4" %>
        <p class="help-text">overwrites default 'what's next' message on <em>en/questions/return-status</em> page if exposed and auto-wait true</p>
        <%= f.rich_text_area :resolution_es %>
      </div>

      <div class="spacing-above-35">
        <%= f.submit t("general.save"), class: 'button button--primary' %>
        <%= link_to t("general.cancel"), hub_state_file_efile_error_path(id: @efile_error.id), class: 'button' %>
      </div>
    <% end %>
  </div>
<% end %>
