<%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
  <div class="question-with-follow-up spacing-below-25">
    <div class="question-with-follow-up__question highlight-box highlight-box--blue spacing-below-15">
      <%=
        f.cfa_radio_set(
          :id_type,
          label_text: t(".id_type_question.label"),
          collection: [
            { value: :driver_license, label: t(".id_type_question.drivers_license"), input_html: { "data-follow-up": "#id-details-fields" } },
            { value: :dmv_bmv, label: t(".id_type_question.dmv"), input_html: { "data-follow-up": "#id-details-fields" } },
            { value: :no_id, label: t(".id_type_question.no_id") },
          ]
        )
      %>
    </div>
    <div class="question-with-follow-up__follow-up" id="id-details-fields">
      <div class="highlight-box highlight-box--blue spacing-below-15">
        <%= f.cfa_input_field(:id_number, t(".id_details.number"), classes: ["form-width--long, spacing-below-15"]) %>
        <%= f.cfa_date_select(:issue_date,
                              t(".id_details.issue_month") + " / " + t(".id_details.issue_day") + " / " + t(".id_details.issue_year"),
                              options: {
                                start_year: Time.now.year,
                                end_year: Time.now.year - 9,
                              }
            ) %>
        <%= f.cfa_date_select(:expiration_date,
                              t(".id_details.expiration_month") + " / " + t(".id_details.expiration_day") + " / " + t(".id_details.expiration_year"),
                              options: {
                                start_year: Time.now.year + 9,
                                end_year: Time.now.year - 2,
                              }) %>
        <%= f.cfa_select(:state, t(".id_details.issue_state"), States.name_value_pairs, include_blank: true, classes: ["form-width--short"]) %>
        <%= f.cfa_input_field(:first_three_doc_num, t(".id_details.first_three_doc_num"), classes: ["form-width--short"]) %>
        <div class="spacing-above-25">
          <a href="https://dmv.ny.gov/id-card/sample-photo-documents" target="_blank" rel="nofollow noopener"><%= t('.info_link') %></a>
        </div>
      </div>
    </div>
  </div>
  <%= f.continue %>
<% end %>