<% @main_question = t("views.ctc.questions.stimulus_one_received.title") %>

<% content_for :page_title, @main_question %>
<% content_for :body_class, "stimulus-one-received" %>

<% content_for :form_card do %>
  <h1 class="h2"><%= @main_question %></h1>

  <%= t("views.ctc.questions.stimulus_one_received.help_html") %>
  <div class="reveal">
    <span class="text--small"><a href="#" class="reveal__link"><%= t("views.ctc.questions.stimulus_one_received.reveal_label") %></a></span>
    <div class="reveal__content">
      <%= t("views.ctc.questions.stimulus_one_received.reveal_content") %>
    </div>
  </div>

  <%= form_with model: @form, url: questions_stimulus_one_received_path, local: true, method: "put", builder: VitaMinFormBuilder, class: "stimulus-one-received-form" do |f| %>
    <%= f.cfa_input_field(:eip_one, t("views.ctc.questions.stimulus_one_received.eip_one_label"), prefix: "$") %>

    <%= f.button :submit, class: "button button--wide button--primary" do %>
      <%= t("general.continue") %>
    <% end %>
  <% end %>
<% end %>