<% @main_heading = "StateFile Transition Intakes" %>
<% content_for :page_title, @main_heading %>

<% content_for :card do %>
  <div class="slab">
    <h2>Intake Transitions</h2>
    <div class="pagination-header">
      <div class="paginator">
        <%= will_paginate(
              @intakes,
              previous_label: "<i class=\"icon icon-keyboard_arrow_left\"></i><span class=\"hide-on-mobile\">Previous</span>",
              next_label: "<span class=\"hide-on-mobile\">Next</span><i class=\"icon icon-keyboard_arrow_right\"></i>",
              inner_window: 1,
              outer_window: 1,
              param_name: "page",
              ) %>
      </div>
      <div class="page-entries-info">
        <%= page_entries_info @intakes %>
      </div>
    </div>
    <table class="index-table spacing-above-25">
      <thead class="index-table__head">
        <tr class="index-table__row">
          <th scope="col" class="index-table__header sortable">
            ID
          </th>
          <th scope="col" class="index-table__header sortable">
            Email
          </th>
          <th scope="col" class="index-table__header sortable">
            Current Status
          </th>
          <th scope="col" class="index-table__header sortable">
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
      <% @intakes.each do |intake| %>
        <tr class="index-table__row">
          <td class="index-table__cell status">
            <%= intake.id %>
          </td>
          <td class="index-table__cell status">
            <%= intake.email_address %>
          </td>
          <td class="index-table__cell status">
            <%= intake.efile_submissions.last&.efile_submission_transitions&.where(most_recent: true)&.last&.to_state %>
          </td>
          <td class="index-table__cell status">
          </td>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>