<% if organization && state_routing_target %>
  <div class="state-routing-item" id="state-routing-org-<%= organization.id %>">
    <%= f.cfa_input_field :routing_percentage, organization.name, classes: ["form-width--short"] %>
    <%= f.hidden_field :state_routing_target_id, value: state_routing_target.id %>
    <%= f.hidden_field :vita_partner_id, value: organization.id %>
    <% organization.child_sites.each do |site| %>
      <%= render 'hub/state_routings/site_routing_entry', f: f, site: site, state_routing_target: state_routing_target %>
    <% end %>
  </div>
<% end %>
