<li class="state-routing-item" id="vita_partner_state-<%= f.object.id %>">
  <% if f.object.persisted? %>
    <%= f.object.vita_partner.name %>
    <%= f.hidden_field :vita_partner_id %>
  <% else %>
    <%= f.cfa_select(:vita_partner_id, t("general.organization"), @vita_partners.organizations.map{|org| [org.name, org.id]}) %>
  <% end %>
  <div class="routing-percentage-input-wrapper">
    <%= f.cfa_input_field :routing_percentage, t(".routing_percentage")%>
  </div>

  <!-- show delete button for persisted routing only if routing percentage is 0 and id is present!-->
  <% if f.object.routing_percentage == 0 && f.object.id.present? %>
    <div class="delete-item">
      <%= link_to destroy_hub_state_routing_path(id: f.object.id), method: :delete, data: {confirm: t(".delete_confirmation", name: (f.object.vita_partner.name if f.object.persisted?) )} do %>
        <i class="icon-delete_forever"></i>
        <span class="sr-only">Delete routing entry</span>
      <% end %>
    </div>
  <% end %>

  <!-- if id is not present, hide entry using js. -->
  <% unless f.object.id %>
    <a href="javascript:;" class="delete-item delete-unpersisted-state-routing-item">
      <i class="icon-delete_forever"></i>
      <span class="sr-only">Delete routing entry</span>
    </a>
  <% end %>
</li>
