<% @page_title = t("general.state_routing", state: States.name_for_key(@state)) %>
<% content_for :page_title, @page_title %>

<% content_for :card do %>
  <div class="slab slab state-routings-edit">
    <div class="grid">
      <h1 class="spacing-below-0"><%= @page_title %></h1>
      <div class="grid__item width-one-half">
        <div class="organization-list">
            <%= form_with model: @form, url: hub_state_routing_path, method: :put, local: true, builder: VitaMinFormBuilder, html: { class: 'form-card' } do |f| %>
              <ul>
                <%= f.fields_for :vita_partner_states do |state_routing_fields| %>
                  <%= render 'hub/state_routings/routing_entry', f: state_routing_fields %>
                <% end %>
                <%= link_to_add_fields t(".add_routing"), f, :vita_partner_states, { class: "button button--small spacing-above-35", no_association: true }, partial: "hub/state_routings/routing_entry"  %>
                <div class="routing-percentage-total"><!-- Placeholder for JS calculation of total !--></div>
              </ul>

              <% if @form.errors.present? %>
                <% @form.errors.keys.each do |key| %>
                    <div class="form-group">
                      <%= error_message(@form, key) %>
                    </div>
                <% end %>
              <% end %>

              <div class="spacing-above-35">
                <%= f.submit t("general.save"), class: "button button--primary" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


