<% @main_heading = t("questions.stimulus_recommendation.title") %>
<% content_for :page_title, @main_heading %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="question__illustration spacing-above-0">
            <%= image_tag("questions/filing-for-stimulus.svg", alt: "") %>
          </div>

          <h1 class="form-question">
            <%= @main_heading %>
          </h1>
          <p>
            <%=t("questions.stimulus_recommendation.already_filed") %>
          <p>

          <%= link_to stimulus_path, class: "button button--primary text--centered button--wide spacing-above-60" do %>
            <%=t("questions.stimulus_recommendation.visit_stimulus_faq") %>
          <% end %>
        </main>
      </div>
    </div>
  </section>
</main>
