<% title = t(".title") %>

<% content_for :page_title, title %>
<% content_for :card do %>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="white-group">
      <%= f.cfa_radio_set(
            :eligibility_out_of_state_income,
            label_text: t(".out_of_state_income_html", filing_year: Rails.configuration.statefile_current_tax_year),
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>

    <div class="white-group">
      <%= f.cfa_radio_set(
            :eligibility_withdrew_529,
            label_text: t(".withdraw_529_html", filing_year: Rails.configuration.statefile_current_tax_year),
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>

    <div class="reveal">
      <p><button class="reveal__button"><%= t('.reveal.title') %></button></p>
      <div class="reveal__content">
        <p><%= t('.reveal.p1') %></p>
        <p><%= t('.reveal.p2') %></p>
        <p><strong><%= t('.reveal.subtitle') %></strong></p>
        <ul>
          <li><%= t('.reveal.list1') %></li>
          <li><%= t('.reveal.list2') %></li>
        </ul>
      </div>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
