<% content_for :page_title, "Out-of-state purchases" %>

<% content_for :card do %>
  <h1 class="h2"><%= t('.title', year: "2023") %></h1>
  <p><%= t(".subtitle") %></p>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up spacing-below-25">
      <div class="question-with-follow-up__question">
        <%=
          f.cfa_radio_set(
            :untaxed_out_of_state_purchases,
            collection: [
              { value: :yes, label: "Yes" },
              { value: :no, label: "No", input_html: { "data-follow-up": "#use-tax-method-field" } },
            ]
          )
        %>
      </div>
      <div class="question-with-follow-up__follow-up highlight-box highlight-box--blue" id="use-tax-method-field">
        <%=
          f.cfa_radio_set(
            :sales_use_tax_calculation_method,
            label_text: "Select one of the following:",
            collection: [
              { value: :automated, label: "All of your purchases were less than $1,000 each. We’ll calculate the amount of use tax." },
              { value: :calculated, label: "I will calculate my use tax manually. (Learn more)" },
            ]
          )
        %>
        <div>
          <%= f.cfa_input_field(:sales_use_tax, "Use tax amount", classes: ["form-width--long"], options: { maxlength: 20}) %>
        </div>
      </div>
    </div>
    <%= f.continue %>
  <% end %>
<% end %>