<% @main_question = t("views.ctc.questions.cell_phone_number.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= @main_question %></h1>

    <div class="form-card__content">
      <%= f.cfa_input_field(:sms_phone_number, t("views.ctc.questions.cell_phone_number.label"), classes: ["form-width--long"]) %>
      <%= f.cfa_input_field(:sms_phone_number_confirmation, t("views.ctc.questions.cell_phone_number.confirm_label"), classes: ["form-width--long"]) %>
      <%= f.cfa_checkbox(:can_receive_texts, t("views.questions.phone_number.phone_number_can_receive_texts"), options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      <%=t("general.continue") %>
    </button>
  <% end %>
<% end %>
