<% content_for :page_title, t(".title") %>
<% content_for :card do %>
  <h1 class="h2" id="main-question"><%= t(".title") %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up">
      <div class="question-with-follow-up__question">
        <div class="highlight-box highlight-box--blue spacing-below-15">
          <div class="spacing-below-5">
            <%= f.cfa_radio_set(:charitable_contributions, collection: [
              { value: "yes", label: t("general.affirmative"), input_html: { "data-follow-up": "#charitable_contributions" } },
              { value: "no", label: t("general.negative") },
            ]) %>
          </div>
        </div>
      </div>
      <div class="question-with-follow-up__follow-up" id="charitable_contributions">
        <div class="highlight-box highlight-box--blue spacing-below-15">
          <div class="spacing-below-25">
            <%= f.cfa_input_field(:charitable_cash, t(".charitable_cash"), classes: ["form-width--long"]) %>
          </div>
          <div class="spacing-below-5">
            <%= f.cfa_input_field(:charitable_noncash, t(".charitable_noncash"), classes: ["form-width--long"]) %>
          </div>
        </div>
      </div>
    </div>

    <% unless params[:return_to_review].nil? %>
      <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
    <% end %>
    <%= f.continue %>
  <% end %>
<% end %>