<% @page_title = t(".title", name: @client.preferred_name) %>
<% content_for :page_title, @page_title %>

<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <h1 class="spacing-below-0"><%= @page_title %></h1>
      <p><%= t(".current_years") %> <%= @tax_return_years.join(", ") %> </p>
      <div class="grid__item width-one-half">
        <%= form_with model: @tax_return, url: [:hub, @client, @tax_return], builder: VitaMinFormBuilder, local: true do |f| %>
          <%= f.cfa_select :year, t(".tax_year"), @remaining_years %>
          <%= f.cfa_select :assigned_user_id, t(".assigned_user"), @assignable_users.map { |u| [u.name, u.id]} , { include_blank: true } %>
          <%= f.cfa_select :certification_level, t(".certification_level"), certification_options_for_select, { include_blank: true } %>
          <div>
            <label for="tax_return_status">
              <p class="form-question"><%= t("general.status") %></p>
              <div class="select">
                <select name="tax_return[status]" class="select__element" id="tax_return_status">
                  <option value></option>
                  <% TaxReturnStatus.statuses_by_role_type(current_user.role_type).each do |stage, statuses| %>
                    <optgroup label=<%= stage_translation(stage) %>></optgroup>
                    <% statuses.each do |status| %>
                      <option value="<%= status %>" <%= status == :intake_in_progress && "selected" %>>&emsp;<%= status_translation(status) %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </label>
          </div>

          <% if @tax_return.errors.present? %>
            <% @tax_return.errors.keys.each do |key| %>
              <div class="form-group">
                <%= error_message(@tax_return, key) %>
              </div>
            <% end %>
          <% end %>

          <div>
            <%= f.submit t("general.save"), class: "button button--cta spacing-above-35" %>
            <%= link_to t("general.cancel"), :back, class: "button" %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
