<% content_for :page_title, t('views.ctc.questions.home.title', current_tax_year: current_tax_year) %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35">
      <%= content_for(:page_title) %>
    </h1>
    <p>
      <%=t('views.ctc.questions.home.help_text') %>
    </p>
    <%= f.cfa_radio_set(
          :home_location,
          collection: [
            { value: :lived_in_fifty_states, label: t('views.ctc.questions.home.options.fifty_states') },
            { value: :lived_at_military_facility, label: t('views.ctc.questions.home.options.military_facility') },
            { value: :lived_in_us_territory, label:  t('views.ctc.questions.home.options.us_territory') },
            { value: :lived_at_foreign_address, label: t('views.ctc.questions.home.options.foreign_address') },
          ]
        )
    %>
    <button class="button button--primary button--wide" type="submit">
      <%=t("general.continue") %>
    </button>
  <% end %>
<% end %>