<% content_for :page_title, t('views.ctc.questions.home.title', current_tax_year: current_tax_year) %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="form-question spacing-below-35">
      <%= content_for(:page_title) %>
    </h1>
    <p>
      <%=t('views.ctc.questions.home.help_text') %>
    </p>
    <div class="form-card__stacked-checkboxes spacing-above-0">
      <%= f.cfa_checkbox(:lived_in_fifty_states, t('views.ctc.questions.home.options.fifty_states'), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:lived_at_military_facility, t('views.ctc.questions.home.options.military_facility'), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:lived_in_us_territory, t('views.ctc.questions.home.options.us_territory'), options: { checked_value: "yes", unchecked_value: "no" }) %>
      <%= f.cfa_checkbox(:lived_at_foreign_address, t('views.ctc.questions.home.options.foreign_address'), options: { checked_value: "yes", unchecked_value: "no" }) %>
    </div>

    <button class="button button--primary button--wide" type="submit">
      <%=t("general.continue") %>
    </button>
  <% end %>
<% end %>