<% content_for :page_title, t("views.questions.welcome.title") %>

<% content_for :notice do %>
  <% if show_offseason_filing_banner? %>
    <%= render 'shared/offseason_filing_banner' %>
  <% end %>
  <% if open_for_gyr_intake? && !show_offseason_filing_banner? %>
    <%= render 'shared/document_deadline_warning' %>
  <% end %>
<% end %>

<%= render 'shared/trade_desk_pixel' %>
<% content_for :main do %>
  <section class="slab slab--white welcome">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <main role="main">
          <div class="question__illustration">
            <%= image_tag "questions/welcome.svg"%>
          </div>

          <h1 class="form-question">
            <%= content_for(:page_title) %>
          </h1>

          <p><%= t("views.questions.welcome.content")%></p>

          <div class="spacing-above-60">
            <%= link_to t('general.continue'), next_path, class: "button button--primary button--wide text--centered" %>
          </div>
        </main>
      </div>
    </div>
  </section>
<% end %>
