<div class="client-header">
  <div>
    <h1 class="h2">
      <%= @client.preferred_name %>
    </h1>
    <h2 class="h4">Client Id: #<%= @client.id %></h2>
    <p><%= t("case_management.clients.index.needs_response_heading") %> <%= render "shared/client_needs_response", client: @client %></p>
    <%= form_for [:case_management, @client], method: :patch, url: response_needed_case_management_client_path(id: @client.id) do |f| %>
      <%= f.hidden_field :action, value: @client.needs_response? ? "clear" : "set" %>
      <%= f.submit @client.needs_response? ? t("general.resolve") : t("general.needs_response"), class: "button button--small" %>
    <% end %>
  </div>
  <div>
    <%= render "shared/tax_return_assignees", client: @client %>
  </div>
</div>