<div class="client-header">
  <div>
    <div class="response-wrapper">
      <h1 class="h2">
        <%= @client.preferred_name %>
      </h1>
      <%= render "shared/client_needs_response", client: @client %>
    </div>
    <div class="client-header__organization">
      <h2 class="h3"><%= @client.vita_partner&.name %></h2>
      <div><%= link_to("Edit", edit_organization_case_management_client_path(id: client.id), class: "button button--inline-action") if can?(:edit_organization, @client) %></div>
    </div>
    <h2 class="h4">Client Id: #<%= @client.id %></h2>
    <%= form_for [:case_management, @client], method: :patch, url: response_needed_case_management_client_path(id: @client.id) do |f| %>
      <%= f.hidden_field :action, value: @client.needs_response? ? "clear" : "set" %>
      <%= f.submit @client.needs_response? ? t("general.resolve") : t("general.mark_for_response"), class: "button button--small" %>
    <% end %>
  </div>
  <div>
    <%= render "shared/tax_return_list", client: @client, status_updateable: true %>
  </div>
</div>