<% content_for :page_title, t(".title") %>

<% content_for :card do %>
  <table class="index-table client-table">
    <caption class="index-table__title">
      <h1 class="h2"><%= t(".title") %></h1>
    </caption>

    <thead class="index-table__head">
      <tr class="index-table__row">
        <th scope="col" class="index-table__header"><%= t("general.name") %></th>
        <th scope="col" class="index-table__header"><%= t(".client_id_heading") %></th>
        <th scope="col" class="index-table__header"><%= t("general.partner") %></th>
      </tr>
    </thead>

    <tbody class="index-table__body clients-table">

      <% @clients.each do |client| %>
        <tr id="client-<%= client.id %>" class="index-table__row">
          <th class="index-table__row-header client-attribute__name">
            <%= link_to case_management_client_path(id: client) do %>
              <%= client.preferred_name %>
            <% end %>
          </th>
          <td class="index-table__cell"><%= client.id %></td>
          <td class="index-table__cell"><%= client.intakes.exists? ? client.intakes.first.vita_partner.display_name : "No intake for this client" %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
