<% content_for :page_title, t(".title") %>

<% content_for :card do %>
  <table class="index-table client-table">
    <caption class="index-table__title">
      <h1 class="h2"><%= t(".title") %></h1>
    </caption>

    <thead class="index-table__head">
      <tr class="index-table__row">
        <th scope="col" class="index-table__header"><%= t("general.name") %></th>
        <th scope="col" class="index-table__header"><%= t(".client_id_heading") %></th>
        <th scope="col" class="index-table__header"><%= t("general.partner") %></th>
        <th scope="col" class="index-table__header"><%= t("general.language") %></th>
        <th scope="col" class="index-table__header"><%= t("general.updated_at") %></th>
        <th scope="col" class="index-table__header"><%= t(".filing_year") %></th>
        <th scope="col" class="index-table__header"><%= t("general.assignee") %></th>
      </tr>
    </thead>

    <tbody class="index-table__body clients-table">

      <% @clients.each do |client| %>
        <tr id="client-<%= client.id %>" class="index-table__row">
          <th class="index-table__row-header client-attribute__name">
            <%= link_to case_management_client_path(id: client) do %>
              <%= client.preferred_name %>
            <% end %>
          </th>
          <td class="index-table__cell"><%= client.id %></td>
          <td class="index-table__cell"><%= client.intake&.vita_partner&.display_name || t("general.no_intake")  %></td>
          <td class="index-table__cell"><%= client.intake&.locale ? t("general.language_options.#{client.intake&.locale}") : "N/A" %></td>
          <td class="index-table__cell"><%= formatted_datetime(client.updated_at) %></td>
          <td class="index-table__cell" colspan="2">
            <% client.tax_returns.each do |tax_return| %>
              <table>
                <tbody>
                  <tr id="tax-return-<%= tax_return.id %>">
                    <td class="index-table__cell"><%= tax_return.year %></td>
                    <td class="index-table__cell">
                      <% if tax_return.assigned_user.present? %>
                        <%= tax_return.assigned_user&.name %>
                      <% else %>
                        <%= link_to t(".assign"),
                            edit_case_management_client_tax_return_path(client_id: client.id, id: tax_return.id),
                            class: "button button--inline-action" %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
