<% title = t(".title") %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <p>
    <%= t('.mark_no_hint_html') %>
  </p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="question-with-follow-up spacing-below-15">
      <div class="question-with-follow-up__question">
        <div class="highlight-box highlight-box--blue spacing-below-15">
          <div class="spacing-below-5">
            <% content_for :address_text do %>
              <div class="text--bold"><%=t(".address_header") %></div>
              <div><%= current_intake.direct_file_data.mailing_street %></div>
              <div><%= current_intake.direct_file_data.mailing_city %>, New
                York <%= current_intake.direct_file_data.mailing_zip %></div>
            <% end %>
          </div>
          <div class="spacing-below-5">
            <%=
              f.cfa_radio_set(
                :confirmed_permanent_address,
                label_text: content_for(:address_text),
                collection: [
                  { value: :yes, label: t("general.affirmative") },
                  { value: :no, label: t("general.negative"), input_html: { "data-follow-up": "#permanent-address-fields" } },
                ]
              )
            %>
          </div>
        </div>
      </div>

      <div class="question-with-follow-up__follow-up" id="permanent-address-fields">
        <div class="highlight-box highlight-box--blue spacing-below-15">
          <div class="spacing-below-25">
            <%=t(".where_did_you_live") %>
          </div>
          <div class="form-group-tight">
            <%= f.cfa_input_field(:permanent_street, t(".street_address_label")) %>
            <%= f.cfa_input_field(:permanent_apartment, t(".apartment_number_label")) %>
            <%= f.cfa_input_field(:permanent_city, t(".city_label")) %>
            <%= f.cfa_input_field(:unfillable, t(".state_label"), options: { value: "New York", disabled: true }) %>
            <%= f.cfa_input_field(:permanent_zip, t(".zip_label")) %>
          </div>
        </div>
      </div>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
