<div class='return-status'>
  <p>
    <%= image_tag('icons/check.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= t("state_file.questions.return_status.accepted.title", state_name: current_state_name, filing_year: current_tax_year) %>
</h1>

<% refund_or_owed_amount = current_intake.calculated_refund_or_owed_amount %>
<% if refund_or_owed_amount.positive? %>
  <% # i18n-tasks-use t('state_file.questions.return_status.accepted.refund_details_html') # hint for the i18n linter that, yes, we are using this key (sometimes) %>
  <p><%= t(".#{current_state_code}.refund_details_html", default: :'.refund_details_html', website_name: @department_of_taxation_initials, tax_refund_url: @tax_refund_url) %></p>
<% elsif refund_or_owed_amount.negative? %>
  <p><%= t('.direct_debit_html', tax_payment_url: @tax_payment_url) %></p>
<% end %>

<hr class="spacing-above-25 spacing-below-25"/>

<p>
  <a target="_blank" rel="noopener nofollow" href="https://vote.gov/"><%= t('state_file.general.register_to_vote') %></a>
</p>

<% # i18n-tasks-use t("state_file.questions.return_status.additional_content.#{current_state_code}_html") # hint for the i18n linter that, yes, we are using this key (sometimes) %>
<% additional_content_key = "state_file.questions.return_status.additional_content.#{current_state_code}_html" %>
<% if I18n.exists?(additional_content_key) %>
  <p><%= t(additional_content_key) %></p>
<% end %>

<p><%= t('general.spread_the_word_html') %></p>

<% if refund_or_owed_amount.negative? %>
  <div class="white-group">
    <p>
      <strong><%= t('.pay_by_mail_or_moneyorder') %></strong>
    </p>
    <ul class="list--bulleted">
      <li>
        <%= t('.include_payment') %>
        (<%= @voucher_form_name %>)
      </li>

      <li>
        <%= link_to t('.download_voucher'), ActionController::Base.helpers.asset_path(@voucher_path) %>
      </li>

      <% # i18n-tasks-use t("state_file.questions.return_status.accepted.check_payable_html") # hint for the i18n linter that, yes, we are using this key (sometimes) %>
      <%= t(".#{current_state_code}.check_payable_html", default: :'.check_payable_html', payable_to: @department_of_taxation, filing_year: current_tax_year, form_number: @tax_form_number) %>
    </ul>

    <p>
      <%= t('.mail_voucher_and_payment') %>
    </p>

    <strong>
      <%= @mail_voucher_address %>
    </strong>
  </div>
<% end %>
