<div class='return-status'>
  <p>
    <%= image_tag('icons/check.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= t("state_file.questions.return_status.pending.title", state_name: current_state_name) %>
</h1>

<p>
<% if Flipper.enabled?(:sms_notifications) %>
  <%= t('.receive_email_sms') %>
<% else %>
  <%= t('.receive_email') %>
<% end %>
</p>

<p>
  <%= app_time.before?(Rails.configuration.state_file_end_of_in_progress_intakes) ? t('.more_than_two_days') : t('.more_than_two_days_closed_html') %>
</p>