<div class='return-status'>
  <p>
    <%= image_tag('icons/clock--green.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= t("state_file.questions.return_status.pending.title", state_name: current_state_name, filing_year: current_tax_year) %>
</h1>

<p>
  <%= t(".waiting_for acceptance") %>
</p>

<p>
  <% if current_intake.email_notification_opt_in_yes? && current_intake.sms_notification_opt_in_yes? %>
    <%= t('state_file.questions.submission_confirmation.edit.email_text_update') %>
  <% elsif current_intake.email_notification_opt_in_yes? %>
    <%= t('state_file.questions.submission_confirmation.edit.email_update') %>
  <% elsif current_intake.sms_notification_opt_in_yes? %>
    <%= t('state_file.questions.submission_confirmation.edit.text_update') %>
  <% end %>
</p>

<% if current_intake.email_notification_opt_in_yes? %>
  <p>
    <%= t('.check_spam') %>
  </p>
<% end %>

<section>
  <p class="spacing-below-5"><strong><%= t('state_file.questions.return_status.rejected.have_questions') %></strong></p>
  <ul class="list--bulleted">
    <li class="text--underline open-intercom">
      <%= t("general.chat_with_us") %>
    </li>
    <li>
      <%= t("state_file.questions.return_status.rejected.email_us_html") %>
    </li>
  </ul>
</section>