<div class='return-status'>
  <p>
    <%= image_tag('icons/check.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= t("state_file.questions.return_status.pending.title", state_name: current_state_name, filing_year: current_tax_year) %>
</h1>

<p>
<% if current_intake.email_notification_opt_in_yes? && current_intake.sms_notification_opt_in_yes? %>
  <%= t('.receive_email_sms') %>
<% elsif current_intake.email_notification_opt_in_yes? %>
  <%= t('.receive_email') %>
<% elsif current_intake.sms_notification_opt_in_yes? %>
  <%= t('.receive_sms') %>
<% end %>
</p>

<p>
  <%= app_time.before?(Rails.configuration.state_file_end_of_in_progress_intakes) ? t('.more_than_two_days') : t('.more_than_two_days_closed_html') %>
</p>

<p><a target="_blank" rel="noopener nofollow" href="https://vote.gov/"><%= t('state_file.general.register_to_vote') %></a></p>

<% # i18n-tasks-use t("state_file.questions.return_status.pending.#{current_state_code}.additional_content_html") # hint for the i18n linter that, yes, we are using this key (sometimes) %>
<% additional_content_key = "state_file.questions.return_status.pending.#{current_state_code}.additional_content_html" %>
<% if I18n.exists?(additional_content_key) %>
  <p><%= t(additional_content_key) %></p>
<% end %>

<p class="spacing-below-0"><%= t('general.spread_the_word_html') %></p>
