<div class='return-status'>
  <p>
    <%= image_tag('icons/check.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= t("state_file.questions.return_status.pending.title", state_name: States.name_for_key(params[:us_state].upcase)) %>
</h1>

<p>
<% if Flipper.enabled?(:sms_notifications) %>
  <%= t('.receive_email_sms') %>
<% else %>
  <%= t('.receive_email') %>
<% end %>
</p>

<p>
  <%= t('.more_than_two_days') %>
</p>