<div class='return-status'>
  <p>
    <%= image_tag('icons/rejected.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= t("state_file.questions.return_status.rejected.title", state_name: States.name_for_key(params[:us_state].upcase)) %>
</h1>

<% if @error&.expose %>
  <% if @error.code.present? %>
    <section class="spacing-below-15">
      <strong><%= t('.reject_code') %></strong>
      <%= @error.code %>
    </section>
  <% end %>

  <% if @error&.message.present? || @error&.description(I18n.locale).present? %>
    <section class="spacing-below-15">
      <strong><%= t('.reject_desc') %></strong>
      <%= @error.description(I18n.locale).present? ? @error.description(I18n.locale) : @error.message %>
    </section>
  <% end %>

  <% if @error&.resolution(I18n.locale)&.present? && !(@error&.auto_cancel || @error&.auto_wait) %>
    <section class="spacing-below-15">
      <p class="spacing-below-5"><strong><%= t('.next_steps.can_edit.title') %></strong></p>
      <%= @error.resolution(I18n.locale) %>
    </section>
  <% end %>
<% end %>

<% if @error&.auto_cancel %>
  <section class="spacing-below-15">
    <p class="spacing-below-5"><strong><%= t('.next_steps.no_edit.title') %></strong></p>
    <%= @error.resolution(I18n.locale).present? ? @error.resolution(I18n.locale) : t('.next_steps.no_edit.body_html') %>
  </section>
<% end %>

<% if @error&.auto_wait %>
  <% if app_time.before?(Rails.configuration.state_file_end_of_in_progress_intakes) %>
    <section class="spacing-below-15">
      <p class="spacing-below-5"><strong><%= t('.next_steps.can_edit.title') %></strong></p>
      <%= @error.resolution(I18n.locale).present? ? @error.resolution(I18n.locale) : t('.next_steps.can_edit.body') %>
    </section>
  <% end %>

  <% if app_time.before?(Rails.configuration.state_file_end_of_in_progress_intakes) %>
    <section>
      <p class="spacing-below-5"><strong><%= t('.have_questions') %></strong></p>
      <%= t('.contact_us') %>
    </section>
  <% end %>

  <% if app_time.before?(Rails.configuration.state_file_end_of_in_progress_intakes) %>
    <% edit_return_controller = @error.correction_path.present? ? EfileError.path_to_controller(@error.correction_path) : EfileError.default_controller %>
    <%= link_to t('.edit_return'), edit_return_controller.to_path_helper(
      action: edit_return_controller.navigation_actions.first,
      return_to_review: :y,
      us_state: current_intake.state_code
    ), class: "button button--primary button--wide spacing-above-60" %>
  <% end %>
<% end %>
