<div class='return-status'>
  <p>
    <%= image_tag('icons/rejected.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= t("state_file.questions.return_status.rejected.title", state_name: States.name_for_key(params[:us_state].upcase)) %>
</h1>

<% if @error.expose %>
  <% if @error.code.present? %>
    <section class="spacing-below-15">
      <strong><%= t('.reject_code') %></strong>
      <%= @error.code %>
    </section>
  <% end %>

  <% if @error.message.present? %>
    <section class="spacing-below-15">
      <strong><%= t('.reject_desc') %></strong>
      <%= @error.description(I18n.locale).present? ? @error.description(I18n.locale) : @error.message %>
    </section>
  <% end %>
<% end %>

<% if @reject_description.present? %>
  <section class="spacing-below-15">
    <strong><%= t('.reject_desc') %></strong>
    <%= @reject_description %>
  </section>
<% end %>

<% if @error.auto_cancel %>
  <section class="spacing-below-15">
    <p class="spacing-below-5"><strong><%= t('.next_steps.no_edit.title') %></strong></p>
    <%= t('.next_steps.no_edit.body_html') %>
  </section>
<% end %>

<% if @error&.auto_wait %>
  <section class="spacing-below-15">
    <p class="spacing-below-5"><strong><%= t('.next_steps.can_edit.title') %></strong></p>
    <%= @error.resolution(I18n.locale).present? && @error.expose ? @error.resolution(I18n.locale) : t('.next_steps.can_edit.body') %>
  </section>

  <section>
    <p class="spacing-below-5"><strong><%= t('.have_questions') %></strong></p>
    <%= t('.contact_us') %>
  </section>
<% end %>

<% if @error&.auto_wait %>
  <% edit_return_path = params[:us_state] == 'az' ? az_questions_name_dob_path : ny_questions_name_dob_path %>
  <%= link_to t('.edit_return'), edit_return_path, class: "button button--primary spacing-above-60" %>
<% end %>
