<div class='return-status'>
  <p>
    <%= image_tag('icons/rejected.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= title %>
</h1>

<p>
  <%= t('.receive_email') %>
</p>


<p>
  <%= t('.more_than_two_days') %>
</p>

<p>
  <strong><%= t('.whats_next') %></strong>
  <%= t('.receive_email') %>
</p>


<p>
  <strong><%= t('.have_questions') %></strong>
  <%= t('.more_than_two_days') %>
</p>
