<% content_for :page_title, t(".title") %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <main role="main">
          <div class="question__illustration">
            <%= image_tag("portal/still-need-help.svg", alt: "") %>
          </div>
          <h1 class="h2 spacing-above-0"><%= t(".title") %></h1>

          <% docs_deadline = I18n.l(Rails.configuration.end_of_docs.to_date, format: :medium, locale: locale) %>
          <% end_of_closing = I18n.l(Rails.configuration.end_of_closing.to_date, format: :medium, locale: locale) %>

          <p class="help-text"><%= t(".help_text", docs_deadline: docs_deadline, end_of_closing: end_of_closing) %></p>

          <%= form_with(url: portal_update_still_needs_help_path, local: true, method: :put, builder: VitaMinFormBuilder) do |f| %>
            <%= f.button name: "still_needs_help", value: "yes", class: "button button--primary button--wide" do %>
              <span><%=t(".still_needs_help")%></span>
            <% end %>
          <% end %>

          <%= form_with(url: portal_update_still_needs_help_path, local: true, method: :put, builder: VitaMinFormBuilder) do |f| %>
            <%= f.button name: "still_needs_help", value: "no", class: "button button--wide" do %>
              <span><%=t(".not_interested")%></span>
            <% end %>
          <% end %>
        </main>
      </div>
    </div>
  </section>
<% end %>
