<% content_for :form_question, t("views.documents.selfie_instructions.header") %>

<% content_for :form_card do %>
  <h1 class="form-question">
    <%= content_for :form_question %>
  </h1>
  <div class="text--centered with-padding-med">
    <%= image_tag("selfie-illustration.svg", alt: "") %>
  </div>

  <p>
    <%=t("views.documents.selfie_instructions.info") %>
  </p>

  <div class="selfie-instructions-list with-padding-large">
    <div class="text--centered">
      <span class="emoji emoji--small emoji--star"></span>
    </div>

    <p class="text--bold">
      <%=t("views.documents.selfie_instructions.steps.header") %>
    </p>

    <ul class="list--bulleted">
      <li><%=t("views.documents.selfie_instructions.steps.face_visible") %></li>
      <li><%=t("views.documents.selfie_instructions.steps.id_visible") %></li>
      <li><%=t("views.documents.selfie_instructions.steps.face_camera") %></li>
      <li><%=t("views.documents.selfie_instructions.steps.plain_background") %></li>
      <li><%=t("views.documents.selfie_instructions.steps.wear_glasses") %></li>
    </ul>
  </div>

<div class="text--centered">
  <%= link_to next_path, class: "button button--wide button--primary" do %>
    <%=t("views.documents.selfie_instructions.submit_photo") %>
  <% end %>
</div>
<% end %>
