<% content_for :toolbar_right do %>
  <%= link_to user_profile_path, class: "toolbar__item" do %>
    <%= t("views.layouts.admin.welcome_user_html", :name => current_user.name) %>
  <% end %>

  <%= form_with url: destroy_user_session_path, local: true, method: :delete, class: "toolbar__item" do |f| %>
    <%= f.submit value: t("general.sign_out"), class: "button--link" %>
  <% end %>
<% end if current_user %>
<% content_for :body_class, "admin" %>
<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item">
        <main role="main">
          <div class="form-card">
            <%= yield(:card) %>
          </div>
        </main>
      </div>
    </div>
  </section>
<% end %>

<%= render template: "layouts/application" %>
