<!DOCTYPE html>
<html lang="<%= I18n.locale %>" <% if content_for :html_class %>class="<%= yield :html_class %>"<% end %>>
  <head>
    <%= render 'shared/combined_analytics' if include_analytics? && Rails.env.production? %>
    <% unless content_for? :page_title %>
      <%= content_for :page_title do %>Free tax help from IRS-certified volunteers.<% end %>
    <% end %>

    <% unless content_for? :app_name %>
      <%= content_for :app_name do %>GetYourRefund<% end %>
    <% end %>

    <title><%= content_for(:page_title) %> | <%= content_for(:app_name) %></title>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if content_for :meta_tags %>
      <%= yield :meta_tags %>
    <% else %>
      <meta name="description" content="<%=t("views.layouts.application.meta.description") %>">
      <meta property="og:title" content="<%= content_for(:page_title) -%> | GetYourRefund">
      <meta property="og:description" content="<%=t("views.layouts.application.meta.description") %>">
      <meta property="og:image" content="<%= image_url("social_share_banner.png") %>">
      <meta property="twitter:title" content="<%= content_for(:page_title) -%> | GetYourRefund">
      <meta property="twitter:description" content="<%=t("views.layouts.application.meta.description") %>">
      <meta property="twitter:image" content="<%= image_url("social_share_banner.png") %>">
    <% end %>
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= canonical_url %>">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= canonical_url %>">

    <link rel="canonical" href="<%= canonical_url %>" />
    <link rel="alternate" href="<%= canonical_url(:en) %>" hreflang="x-default" />
    <link rel="alternate" href="<%= canonical_url(:en) %>" hreflang="en" />
    <link rel="alternate" href="<%= canonical_url(:es) %>" hreflang="es" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= favicon_link_tag image_path('checkbox-logo--black.png'), :type=>'image/png', :sizes => '57x57' %>
    <script>
      window.appData = JSON.parse(<%= JSON.generate(
        controller_action: "#{controller.class.name}##{action_name}",
        full_path: request.fullpath
      ).inspect.html_safe %>);
      window.mixpanelData = window.appData;
    </script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body <% if content_for :body_class %>class="<%= yield :body_class %>"<% end %>>
    <div class="page-wrapper">
      <a href="#maincontent" id="skip-content-link" class="skip-link button--green"><%= t('views.layouts.application.skip_content')%></a>
      <% if content_for :header %>
        <%= yield :header %>
      <% elsif hub? %>
        <%= render 'shared/hub_header' %>
      <% else %>
        <%= render 'shared/header', title: "GetYourRefund", home_link: root_path %>
      <% end %>

      <%= render "shared/environment_warning" %>

      <% if content_for(:back_to) %>
        <%= render "hub/back_to", back_to: content_for(:back_to)%>
      <% end %>
      <div id="maincontent">
        <div class="flash-alerts">
          <%= render "shared/flash_alerts", flash: flash %>
        </div>
        <%= yield(:notice) if content_for?(:notice) %>

        <%= content_for?(:main) ? yield(:main) : yield %>
        <%= content_for?(:footer) ? yield(:footer) : render('shared/footer') %>
      </div>
    </div>
    <% if content_for?(:sticky_action_footer) %>
      <div class="sticky-action-footer">
        <%= yield(:sticky_action_footer) %>
      </div>
    <% end %>
    <%= yield(:script) if content_for?(:script) %>
    <!-- hiding intercom on hub again until we tackle styling it into the sticky action footer -->
    <%= render("shared/intercom", isHub: hub?) unless hub? %>
  </body>
</html>
