<!DOCTYPE html>
<html>
  <head>
    <title>VitaMin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag image_path('vitamin.png'), :type=>'image/png', :sizes => '57x57' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
