<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/combined_analytics' if include_analytics? && Rails.env.production? %>
    <% unless content_for? :page_title %>
      <%= content_for :page_title do %>Free tax help from IRS-certified volunteers.<% end %>
    <% end %>

    <title><%= content_for(:page_title) %> | GetYourRefund.org</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%=t("views.layouts.application.meta.description") %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= url_for(only_path: false) %>">
    <meta property="og:title" content="<%= content_for(:page_title) -%> | GetYourRefund.org">
    <meta property="og:description" content="<%=t("views.layouts.application.meta.description") %>">
    <meta property="og:image" content="<%= image_url("social_share_banner.png") %>">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= url_for(only_path: false) %>">
    <meta property="twitter:title" content="<%= content_for(:page_title) -%> | GetYourRefund.org">
    <meta property="twitter:description" content="<%=t("views.layouts.application.meta.description") %>">
    <meta property="twitter:image" content="<%= image_url("social_share_banner.png") %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag image_path('checkbox-logo--black.png'), :type=>'image/png', :sizes => '57x57' %>
    <script>
      window.mixpanelData = JSON.parse(<%= JSON.generate(
        controller_action: "#{controller.class.name}##{action_name}",
        full_path: request.fullpath
      ).inspect.html_safe %>);
    </script>
  </head>

  <body <% if content_for :body_class %>class="<%= yield :body_class %>"<% end %>>
    <div class="page-wrapper">
      <%= render 'shared/header' %>

      <%= render "shared/environment_warning" %>

      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <div class="slab slab--flash flash--<%= type %>">
            <div class="grid">
              <div class="grid__item">
                <%= message %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= content_for?(:main) ? yield(:main) : yield %>

      <%= render 'shared/footer' %>
    </div>
    <!-- Start of eitc Zendesk Widget script -->

    <%= yield(:script) if content_for?(:script) %>
    <script type="text/javascript">
        window.zESettings = {
            webWidget: {
                chat: {
                    connectOnPageLoad: false
                }
            }
        };
    </script>
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=05866b72-a822-42e2-b72e-df1d9f6cf1bc"></script>
    <script type="text/javascript">
        zE('webWidget', 'setLocale', '<%= I18n.locale %>');
    </script>

    <!-- End of eitc Zendesk Widget script -->
  </body>
</html>
