<!DOCTYPE html>
<html lang="en">
  <head>
    <% if include_google_analytics? && Rails.env.production? %>
      <%= render 'shared/google_analytics' %>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      <% if content_for? :page_title %>
        <%= content_for :page_title %>
      <% else %>
        Free tax help from IRS-certified volunteers.
      <% end %> | GetYourRefund.org
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag image_path('checkbox-logo--black.png'), :type=>'image/png', :sizes => '57x57' %>
  </head>

  <body <% if content_for :body_class %>class="<%= content_for :body_class %>"<% end %>>
    <div class="page-wrapper">
      <header class="main-header">
        <div class="toolbar">
          <div class="toolbar__left">
            <div class="toolbar__item main-header__title">
              <%= link_to root_path, class: "toolbar__logo-text main-header__logo" do %>
                GetYourRefund.org
              <% end %>
            </div>
          </div>
          <div class="toolbar__right">
            <% if user_signed_in? %>
              <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: 'main-header__link') %>
            <% end %>
<!--            <button class="toolbar__item button button--small">Feedback</button>-->
          </div>
        </div>
      </header>

      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <div class="slab slab--flash flash--<%= type %>">
            <div class="grid">
              <div class="grid__item">
                <%= message %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= content_for?(:main) ? yield(:main) : yield %>

      <footer class="footer">
        <div class="slab slab--footer">
          <div class="grid">
            <div class="grid__item width-three-fourths footer-description">
              <p>
                <%= image_tag("checkbox-logo--white.png", alt: "") %>
              </p>
              <p>
                GetYourRefund.org is a non-profit service built by
                <a href="https://www.codeforamerica.org/" target="_blank" class="footer__link">Code for America</a>
                in partnership with IRS-certified Volunteer Income Tax Assistance
                (<a href="https://www.irs.gov/individuals/free-tax-return-preparation-for-you-by-volunteers" target="_blank" class="footer__link">VITA</a>)
                sites nationally.
              </p>
            </div>

            <ul class="grid__item width-one-fourth footer-links">
              <li>
                <%= link_to about_us_path do %>
                  About Us
                <% end %>
              </li>

              <li>
                <%= link_to privacy_path do %>
                  Privacy Policy
                <% end %>
              </li>

              <li>
                <a href="mailto:hello@getyourrefund.org">
                  hello@getyourrefund.org
                </a>
              </li>
            </ul>

          </div>
        </div>
      </footer>
    </div>
    <!-- Start of eitc Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=05866b72-a822-42e2-b72e-df1d9f6cf1bc"> </script>
    <!-- End of eitc Zendesk Widget script -->
  </body>
</html>
