<!DOCTYPE html>
<html lang="en">
  <head>
    <% if include_google_analytics? && Rails.env.production? %>
      <%= render 'shared/google_analytics' %>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      <% if content_for? :page_title %>
        <%= content_for :page_title %>
      <% else %>
        Free tax help from IRS-certified volunteers.
      <% end %> | GetYourRefund.org
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag image_path('checkbox-logo--black.png'), :type=>'image/png', :sizes => '57x57' %>
  </head>

  <body <% if content_for :body_class %>class="<%= content_for :body_class %>"<% end %>>
    <div class="page-wrapper">
      <header class="main-header">
        <div class="toolbar">
          <div class="toolbar__left">
            <div class="toolbar__item main-header__title">
              <%= link_to root_path, class: "toolbar__logo-text main-header__logo" do %>
                GetYourRefund.org
              <% end %>
            </div>
          </div>
          <div class="toolbar__right">
            <% if user_signed_in? %>
              <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: 'main-header__link') %>
            <% end %>
<!--            <button class="toolbar__item button button--small">Feedback</button>-->
          </div>
        </div>
      </header>

      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <div class="slab slab--flash flash--<%= type %>">
            <div class="grid">
              <div class="grid__item">
                <%= message %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= content_for?(:main) ? yield(:main) : yield %>

      <footer class="footer">
        <div class="slab slab--footer">
          <div class="grid">
            <div class="grid__item width-seven-twelfths spacing-below-60">
              <p>
                GetYourRefund.org is a service delivered by Code for America in
                partnership with VITA organizations nationally.
              </p>
              <p>
                <%= link_to privacy_path, class: "footer__link" do %>
                  Privacy Policy
                <% end %>
              </p>
            </div>
            <div class="grid__item width-five-twelfths">
              <div class="footer__logos">
                <%= link_to("https://www.codeforamerica.org", target: "_blank", class: "footer__cfa-logo") do %>
                  <%= image_tag("cfa-logo--white.svg", alt: "Code for America website") %>
                <% end %>

                <%= link_to("https://www.irs.gov/individuals/free-tax-return-preparation-for-you-by-volunteers", target: "_blank", class: "footer__vita-logo") do %>
                  <%= image_tag("vita-logo--white.png", alt: "IRS website for the Volunteer Income Tax Assistance program") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Start of eitc Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=05866b72-a822-42e2-b72e-df1d9f6cf1bc"> </script>
    <!-- End of eitc Zendesk Widget script -->
  </body>
</html>
