<!DOCTYPE html>
<html lang="en">
  <head>
    <% if include_google_analytics? && Rails.env.production? %>
      <%= render 'shared/google_analytics' %>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      <% if content_for? :page_title %>
        <%= content_for :page_title %>
      <% else %>
        Free tax help from IRS-certified volunteers.
      <% end %> | VitaTaxHelp.org
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag image_path('checkbox-logo--black.png'), :type=>'image/png', :sizes => '57x57' %>
  </head>

  <body <% if content_for :body_class %>class="<%= content_for :body_class %>"<% end %>>
    <div class="page-wrapper">
      <header class="main-header">
        <div class="toolbar">
          <div class="toolbar__left">
            <div class="toolbar__item main-header__title">
              <%= link_to root_path, class: "toolbar__logo-text main-header__logo" do %>
                VitaTaxHelp.org
              <% end %>
            </div>
          </div>
          <!--        <div class="toolbar__right">-->
          <!--          <button class="toolbar__item button button--small">Feedback</button>-->
          <!--        </div>-->
        </div>
      </header>

      <% if notice.present? %>
        <section class="slab notice">
          <div class="grid">
            <div class="grid__item width-three-fourths shift-one-eighth">
              <p class="flash__message">
                <%= notice %>
              </p>
            </div>
          </div>
        </section>
      <% end %>

      <% if alert.present? %>
        <section class="slab alert">
          <div class="grid">
            <div class="grid__item width-three-fourths shift-one-eighth">
              <p class="flash__message">
                <%= alert %>
              </p>
            </div>
          </div>
        </section>
      <% end %>



      <%= content_for?(:main) ? yield(:main) : yield %>

      <footer class="footer">
        <div class="slab slab--footer">
          <div class="grid">
            <div class="grid__item width-seven-twelfths spacing-below-60">
              <p>
                VitaTaxHelp.org is a service delivered by Code for America in
                partnership with VITA organizations nationally.
              </p>
            </div>
            <div class="grid__item width-five-twelfths">
              <div class="footer__logos">
                <%= link_to("https://www.codeforamerica.org", target: "_blank", class: "footer__cfa-logo") do %>
                  <%= image_tag("cfa-logo--white.svg", alt: "Code for America website") %>
                <% end %>

                <%= link_to("https://www.irs.gov/individuals/free-tax-return-preparation-for-you-by-volunteers", target: "_blank", class: "footer__vita-logo") do %>
                  <%= image_tag("vita-logo--white.png", alt: "IRS website for the Volunteer Income Tax Assistance program") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
