<% content_for :page_title, (yield :form_question) %>
<% content_for :main do %>
  <section class="slab slab--white slab--not-padded question-layout">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <% if prev_path %>
          <div class="back grid">
            <%= link_to t("general.back"), prev_path %>
          </div>
        <% end %>
        <%= render "shared/progress_bar" %>
        <div class="main-content-inner form-card--long">
          <% if illustration_path.present? %>
            <div class="question__illustration">
              <%= image_tag("#{illustration_folder}/#{illustration_path}", alt: "") %>
            </div>
          <% end %>
          <h1 class="form-question">
            <%= yield :form_question %>
          </h1>
          <% if content_for? :form_help_content %>
            <%= yield :form_help_content %>
          <% else %>
            <p><%= yield :form_help_text %></p>
          <% end %>

          <%# uploaded documents %>
          <ul class="doc-preview-container">
            <% if @documents.present? %>
              <% @documents.each do |document| %>
                <li class="doc-preview">
                  <div class="doc-preview__thumb">
                    <% if document.upload.representable? %>
                      <%= image_tag document.upload.representation(resize: "140x140"), alt: "" %>
                    <% else %>
                      <%= image_tag "document.svg", alt: "" %>
                    <% end %>
                  </div>
                  <div class="doc-preview__info">
                    <h2 class="h3 doc-preview__filename"><%= document.upload.filename %></h2>
                    <% if @selectable_document_types %>
                      <div class="text--small spacing-below-0"><%= document.document_type_label %></div>
                    <% end %>
                    <%= link_to(destroy_document_path(document), method: :delete, class: "link--delete", data: { confirm: t("views.layouts.document_upload.remove_confirmation", :filename => "#{document.upload.filename}")  }) do %>
                      <%=t("general.remove") %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
            <li class="doc-preview hidden-until-submit">
              <div class="doc-preview__thumb">
                <%= image_tag "loading.gif", alt: "" %>
              </div>
              <div class="doc-preview__info">
                <h2 class="h3 doc-preview__filename">Uploading...</h2>
              </div>
            </li>
          </ul>

          <%# document upload form %>
          <%= form_with model: @form, url: current_path, method: "put", local: true, builder: VitaMinFormBuilder, id: "file-upload-form" do |f| %>
            <% if @selectable_document_types %>
              <%= f.cfa_select :document_type, t(".id_type"), @selectable_document_types, include_blank: true %>
            <% end %>
            <% if @document_type %>
              <%= f.hidden_field :document_type, value: @document_type.key %>
            <% end %>
            <div class="document-upload">
              <div class="file-upload">
                <% file_input_data = { "upload-immediately" => true } %>
                <% if @selectable_document_types %>
                  <% file_input_data.merge!("requires-value-for" => 'document_type_upload_form_document_type') %>
                <% end %>
                <%= f.file_field(:upload, class: "form__documentuploader file-input", data: file_input_data) %>
                <%= f.label(:upload, class: "button button--wide button--icon js-only", style: "display: none !important;") do %>
                  <span class="is-tablet-hidden--inline">
                    <%= image_tag "upload.svg", alt: "" %>
                    <%= t("views.layouts.document_upload.select_file") %>
                  </span>
                  <span class="is-desktop-hidden--inline">
                    <%= image_tag "camera.svg", alt: "" %>
                    <%= t("views.layouts.document_upload.take_picture") %>
                  </span>
                <% end %>
                <span class="is-tablet-hidden--inline text--small"><%= t("views.layouts.document_upload.accepted_file_types", accepted_types: FileTypeAllowedValidator.extensions(Document).to_sentence) %></span>
              </div>
            </div>

            <% if @form.errors.any? %>
              <div class="form-group form-group--error">
                <% @form.errors.map { |error| error.message }.flatten.each do |error_message| %>
                  <p class="text--error"><i class="icon-warning"></i>
                    <%= error_message %>
                  </p>
                <% end %>
              </div>
            <% end %>

            <%= f.continue t("general.upload") %>
          <% end %>

          <div class="spacing-above-60">
            <% if @documents.present? || !document_type.provide_doc_help? %>
              <%= link_to next_path, class: "button button--primary button--wide text--centered", "data-track-click": "continue", "data-track-attribute-document_type": "#{document_type.key}", disabled: document_type.blocks_progress? && @documents&.count&.zero? do %>
                <%= t("general.continue") %>
              <% end %>
            <% else %>
              <button class="button button--primary button--disabled button--wide text--centered" disabled>
                <%= t("general.continue") %>
              </button>
            <% end %>
            <% unless document_type.skip_dont_have? || (@documents.present? && @selectable_document_types) || @document_type %>
              <%= link_to (document_type.provide_doc_help? ? documents_help_path(doc_type: document_type.to_param, next_path: next_path) : next_path), class: "link--cta spacing-above-25", "data-track-click": "dont_have_doc", "data-track-attribute-document_type": "#{document_type.key}" do %>
                <%= t("views.layouts.document_upload.dont_have") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<%= render template: "layouts/application" %>
