<% @hide_dont_have ||= false %>
<% content_for :page_title, (yield :form_question) %>
<% content_for :main do %>
  <section class="slab slab--white slab--not-padded question-layout">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <% if prev_path %>
          <div class="back grid">
            <%= link_to t("general.back"), prev_path %>
          </div>
        <% end %>
        <%= render "shared/progress_bar" %>
        <main role="main">
          <% if illustration_path.present? %>
            <div class="question__illustration">
              <%= image_tag("#{illustration_folder}/#{illustration_path}", alt: "") %>
            </div>
          <% end %>
          <h1 class="form-question">
            <%= yield :form_question %>
          </h1>
          <% if content_for? :form_help_content %>
            <%= yield :form_help_content %>
          <% else %>
            <p><%= yield :form_help_text %></p>
          <% end %>

          <%# uploaded documents %>
          <ul class="doc-preview-container">
            <% if @documents.present? %>
              <% @documents.each do |document| %>
                <li class="doc-preview">
                  <div class="doc-preview__thumb">
                    <% if document.upload.representable? %>
                      <%= image_tag document.upload.representation(resize: "140x140"), alt: "" %>
                    <% else %>
                      <%= image_tag "document.svg", alt: "" %>
                    <% end %>
                  </div>
                  <div class="doc-preview__info">
                    <h2 class="h3 doc-preview__filename"><%= document.upload.filename %></h2>
                    <%= link_to(destroy_document_path(document), method: :delete, class: "link--delete", data: { confirm: t("views.layouts.document_upload.remove_confirmation", :filename => "#{document.upload.filename}")  }) do %>
                      <%=t("general.remove") %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
            <li class="doc-preview hidden-until-submit">
              <div class="doc-preview__thumb">
                <%= image_tag "loading.gif", alt: "" %>
              </div>
              <div class="doc-preview__info">
                <h2 class="h3 doc-preview__filename">Uploading...</h2>
              </div>
            </li>
          </ul>

          <%# document upload form %>
          <%= form_with model: @form, url: current_path, method: "put", local: true, builder: VitaMinFormBuilder, id: "file-upload-form" do |f| %>
            <div class="document-upload">
              <div class="file-upload">
                <%= f.file_field(:document, class: "form__documentuploader file-input", data: { "upload-immediately" => true}) %>
                <%= f.label(:document, class: "button button--wide button--icon js-only", style: "display: none !important;") do %>
                  <span class="is-tablet-hidden--inline">
                    <%= image_tag "upload.svg", alt: "" %>
                    <%=t("views.layouts.document_upload.select_file") %>
                  </span>
                  <span class="is-desktop-hidden--inline">
                    <%= image_tag "camera.svg", alt: "" %>
                    <%=t("views.layouts.document_upload.take_picture") %>
                  </span>
                <% end %>
              </div>
            </div>

            <% if @form.errors[:document].any? %>
              <div class="form-group form-group--error">
                <% @form.errors.values.flatten.each do |error_message| %>
                  <p class="text--error"><i class="icon-warning"></i>
                    <%= error_message %>
                  </p>
                <% end %>
              </div>
            <% end %>

            <%= f.button class: "button button--primary button--wide" do %>
              <%=t("general.upload") %>
            <% end %>
          <% end %>

          <div class="spacing-above-60">
            <% if @documents.present? || !document_type.provide_doc_help? %>
              <%= link_to next_path, class: "button button--primary button--wide text--centered", "data-track-click": "continue", "data-track-attribute-document_type": "#{document_type.key}", disabled: document_type.blocks_progress? && @documents.count.zero? do %>
                <%=t("general.continue") %>
              <% end %>
            <% else %>
              <button class="button button--primary button--disabled button--wide text--centered" disabled>
                <%=t("general.continue") %>
              </button>
            <% end %>
            <% unless @hide_dont_have %>
              <%= link_to (document_type.provide_doc_help? ? documents_help_path(doc_type: document_type.name) : next_path), class: "link--cta spacing-above-25", "data-track-click": "dont_have_doc", "data-track-attribute-document_type": "#{document_type.key}" do %>
                <%=t("views.layouts.document_upload.dont_have") %>
              <% end %>
            <% end %>
          </div>

        </main>
      </div>
    </div>
  </section>
<% end %>

<%= render template: "layouts/application" %>
