<% content_for :page_title do %>
  <% if @form.errors.present? %>
    <%= @form.error_summary %>
  <% end %>
  <%= yield :form_question %>
<% end %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <div class="form-card form-card--yes-no">
          <!--        progress bar-->
          <h3 class="section-title">
            <%= image_tag("#{section_title.parameterize}.svg", alt: "") %>
            <%= section_title %>
          </h3>

          <main role="main">
            <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
              <div class="question__illustration">
                <% if illustration_path.present? %>
                  <%= image_tag("questions/#{illustration_path}", alt: "") %>
                <% else %>
                  <div class="placeholder_illustration">
                    Placeholder for an illustration.
                  </div>
                <% end %>
              </div>
              <h1 class="form-question" id="had_wages_question">
                <%= yield :form_question %>
              </h1>
              <% if content_for? :form_help_text %>
                <p class="text--help">
                  <%= yield :form_help_text %>
                </p>
              <% end %>
              <div class="yes-no-buttons">
                <%= f.button :submit, name: "#{f.object_name}[#{yield :method_name}]", value: "yes", class: "button button--icon", "aria-describedby": "#{yield :method_name}_question" do %>
                  <%= image_tag("checkmark.svg", alt: "") %>Yes
                <% end %>
                <%= f.button :submit, name: "#{f.object_name}[#{yield :method_name}]", value: "no", class: "button button--icon", "aria-describedby": "#{yield :method_name}_question" do %>
                  <%= image_tag("crossmark.svg", alt: "") %>No
                <% end %>
              </div>
            <% end %>
          </main>
        </div>
      </div>
    </div>
  </section>
<% end %>

<%= render template: "layouts/application" %>