<%= extends wrapping_layout do  %>
  <% content_for :page_title do %>
    <% if @form.errors.present? %>
      <%= @form.error_summary %>
    <% end %>
    <%= yield :form_question %>
  <% end %>

  <section class="slab slab--white slab--not-padded question-layout">
    <div class="grid">
      <div class="grid__item question-wrapper">
        <div class="form-card form-card--yes-no">
          <% if prev_path %>
            <div class="back grid">
              <%= link_to t("general.back"), prev_path %>
            </div>
          <% end %>
          <div>
            <%= render "shared/progress_bar" %>
          </div>
          <main role="main">
            <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
              <% if illustration_path.present? %>
                <div class="question__illustration">
                  <%= image_tag("#{illustration_folder}/#{illustration_path}", alt: "") %>
                </div>
              <% end %>
              <h1 class="form-question" id="main-question">
                <%= yield :form_question %>
              </h1>
              <% if content_for? :form_help_text %>
                <p>
                  <%= yield :form_help_text %>
                </p>
              <% end %>
              <div class="options-wrapper">
                <div class="yes-no-buttons">
                  <%= f.button :submit, name: "#{f.object_name}[#{method_name}]", value: "yes", class: "button button--icon button--icon--centered", "aria-describedby": "main-question" do %>
                    <%= image_tag("checkmark.svg", alt: "") %><%=t("general.affirmative") %>
                  <% end %>
                  <%= f.button :submit, name: "#{f.object_name}[#{method_name}]", value: "no", class: "button button--icon button--icon--centered", "aria-describedby": "main-question" do %>
                    <%= image_tag("crossmark.svg", alt: "") %><%=t("general.negative") %>
                  <% end %>
                </div>
                <% if has_unsure_option? %>
                  <div class="i-dont-know">
                    <%= f.button :submit, name: "#{f.object_name}[#{method_name}", value: "unsure", class: "button button--link", "aria-describedby": "main-question" do %>
                      <%= t("general.unsure") %>
                    <% end %>
                  </div>
                <% end %>
            <% end %>
            </div>
          </main>
          <p class="text--small">
            <%= yield :after_form_question_text %>
          </p>
        </div>
      </div>
    </div>
  </section>
<% end %>

