<%
  title = t(".title")
  content_for :page_title, title
%>

<% content_for :card do %>
  <h1 class="h2"><%= t(".title") %></h1>
  <p><%= t(".helper_1_html") %></p>
  <p><%= t(".helper_2") %></p>
  <p><%= t(".helper_3") %></p>
  <p><%= t(".helper_4") %></p>
  <p><%= t(".helper_5") %></p>
  <p><%= t(".helper_6") %></p>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <%= f.continue %>
  <% end %>
<% end %>
