<% title = t('.lets_review') %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <% if @state_file1099_gs.present? %>
    <% @state_file1099_gs.each do |form1099| %>
      <div class="white-group form1099">
        <div class="form1099__details">
          <h3 class="form1099__label">
            <%= t('.1099_label', name: form1099.recipient_name) %>
          </h3>
          <p class="form1099__info spacing-below-25">
            <%= t('.unemployment_compensation', amount: form1099.unemployment_compensation) %>
          </p>
          <div>
            <%= link_to t("general.edit"), StateFile::Questions::UnemploymentController.to_path_helper(id: form1099, return_to_review: params[:return_to_review]), class: "button--small button--inline-action" %>
            <%= link_to t("general.delete"), StateFile::Questions::UnemploymentController.to_path_helper(action: :destroy, id: form1099, return_to_review: params[:return_to_review]), method: :delete, data: {confirm: t(".delete_confirmation")}, class: "button--small button--inline-action last" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= link_to(next_path, class: "button button--primary button--wide spacing-below-10") do %>
    <%= t('general.continue') %>
  <% end %>
  <%= link_to(StateFile::Questions::UnemploymentController.to_path_helper(action: :new, return_to_review: params[:return_to_review]), class: "button button--wide") do %>
    <%= t('.add_another') %>
  <% end %>
<% end %>
