<% if current_user.admin? && !acts_like_production? %>
  <div id="doc-assessments-table">
    <%= button_to "Re-run screener",
                  rerun_screener_hub_client_document_path(client_id: @document.client.id, id: @document.id),
                  method: :post %>
    <br>
    <% if @document.assessments.present? %>
      <table class="index-table">
        <tr>
          <th>job complete?</th>
          <th>error?</th>
          <th>updated at</th>
          <th>matches doc type verdict</th>
          <th>suggested document type</th>
          <th>document quality issues</th>
          <th>confidence</th>
          <th>explanation</th>
        </tr>
        <% @document.assessments.order('created_at DESC').each do |assessment| %>
          <% result = assessment&.result_json %>
          <% error = assessment&.error %>
          <tr class="<%= error.present? ? "error" : result["matches_doc_type_verdict"] %>">
            <td><%= assessment.status %></td>
            <td><%= "Error: #{JSON.pretty_generate(error)}" unless error.blank? %></td>
            <td><%= long_formatted_datetime(assessment.updated_at) %></td>
            <td><%= result["matches_doc_type_verdict"] %></td>
            <td><%= result["suggested_document_type"] || "—" %></td>
            <td><%= result["document_quality_issues"]&.presence&.join(", ") || "none" %></td>
            <td><%= result["confidence"] %></td>
            <td><%= result["explanation"] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>