<% @title = "#{t(".title")} | #{@client.legal_name}" %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--not-padded">
    <%= render "hub/read_only_client_header", client: @client %>
    <hr/>
    <div class="grid-flex">
      <div class="item no-shrink">
        <%= render 'form', url: [:hub, @client, @document], method: "patch", file_upload_enabled: false %>
      </div>
      <div id="image-and-button-wrapper">
        <div class="item" id="image-container">
          <% if @document.is_pdf? %>
            <embed src="<%= transient_storage_url(@document.upload.blob) %>" width="800px" height="100%" type="application/pdf"/>
          <% else %>
            <%= image_tag transient_storage_url(@document.upload.blob), id: 'image', class: 'rotatable-image', data: { rotation: 0 } %>
          <% end %>
        </div>
        <% unless @document.is_pdf? || @document.is_txt_file? %>
          <button id="rotate-button" class="button">Rotate Image <%= image_tag("rotate.svg", alt: "") %></button>
        <% end %>
      </div>
    </div>

  </div>

  <% if !acts_like_production? && current_user.admin? %>
    <div id="doc-assessments-table">
      <%= button_to "Re-run screener",
                    rerun_screener_hub_client_document_path(client_id: @document.client.id, id: @document.id),
                    method: :post %>
      <br>
      <% if @document.assessments.present? %>
        <table class="index-table">
          <tr>
            <th>job complete?</th>
            <th>error?</th>
            <th>updated at</th>
            <th>matches doc type verdict</th>
            <th>suggested document type</th>
            <th>document quality issues</th>
            <th>confidence</th>
            <th>explanation</th>
          </tr>
          <% @document.assessments.order('created_at DESC').each do |assessment| %>
            <% result = assessment&.result_json %>
            <% error = assessment&.error %>
            <tr class="<%= error.present? ? "error" : result["matches_doc_type_verdict"] %>">
              <td><%= assessment.status %></td>
              <td><%= "Error: #{JSON.pretty_generate(error)}" unless error.blank? %></td>
              <td><%= long_formatted_datetime(assessment.updated_at) %></td>
              <td><%= result["matches_doc_type_verdict"] %></td>
              <td><%= result["suggested_document_type"] || "—" %></td>
              <td><%= result["document_quality_issues"]&.presence&.join(", ") || "none" %></td>
              <td><%= result["confidence"] %></td>
              <td><%= result["explanation"] %></td>
            </tr>
          <% end %>
        </table>
  <% end %>
  </div>
<% end %>
<% end %>
