<%= content_for :back_to, "all_clients" %>
<% content_for :page_title, "#{@client.preferred_name} ##{@client.id} documents" %>

<% content_for :card do %>
  <%= render "hub/clients/client_header" %>

  <%= render "hub/clients/navigation" %>

  <table class="data-table spacing-above-25">
    <thead>
    <tr>
      <th scope="col" class="document-column__doc-type">
        <%= render "shared/column_sort_link", title: t("general.document_type"), column_name: "document_type" %>
      </th>
      <th scope="col" class="document-column__link">
        <%= render "shared/column_sort_link", title: t(".file_name"), column_name: "display_name" %>
      </th>
      <th class="document-column__link">
        <%= render "shared/column_sort_link", title: t("general.tax_return"), column_name: "tax_return" %>
      </th>
      <th scope="col" class="document-column__upload-date">
        <%= render "shared/column_sort_link", title: t(".upload_date"), column_name: "created_at" %>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% if @documents.present? %>
      <% @documents.each do |document| %>
        <tr id="document-<%= document.id %>">
          <td><%= document.document_type_label %></td>
          <td>
            <%= link_to hub_client_document_path(client_id: @client.id, id: document.id), target: "_blank", rel: "noopener noreferrer" do %>
              <%= document.display_name %>
            <% end %>
          </td>
          <td>
            <%= document.tax_return&.year %>
          </td>
          <td><%= t(".uploaded_ago", time: time_ago_in_words(document.created_at)) %></td>
          <td class="edit">
            <%= link_to t("general.edit"), edit_hub_client_document_path(client_id: @client.id, id: document.id) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <%= link_to t(".add_client_envelope_doc"), new_hub_client_document_path, class: "button" %>

  <%= form_with model: @document, url: [:hub, @client, :documents], local: true, method: "post", builder: VitaMinFormBuilder, id: "file-upload-form" do |f| %>
    <div class="document-upload">
      <div class="file-upload">
        <%= f.file_field(:upload, multiple: "multiple", class: "form__documentuploader file-input", data: { "upload-immediately" => true}) %>
        <%= f.label(:upload, class: "button button--wide button--icon js-only", style: "display: none !important;") do %>
          <span class="is-tablet-hidden--inline">
            <%= image_tag "upload.svg", alt: "" %>
            <%=t("general.select_files") %>
          </span>
          <span class="is-desktop-hidden--inline">
            <%= image_tag "camera.svg", alt: "" %>
            <%=t("general.take_picture") %>
          </span>
        <% end %>
      </div>
    </div>

    <% if @document.errors[:upload].any? %>
      <div class="form-group form-group--error">
        <% @document.errors.values.flatten.each do |error_message| %>
          <p class="text--error"><i class="icon-warning"></i>
            <%= error_message %>
          </p>
        <% end %>
      </div>
    <% end %>

    <%= f.button class: "button button--primary button--wide" do %>
      <%=t("general.upload") %>
    <% end %>
  <% end %>


  <%= render "hub/clients/client_take_action_footer" %>
<% end %>
